<div class="my-trainings__container">
  <div class="my-trainings__main">

    <div class="flex-row-between-centered rounded-30px bkt-bg-white bkt-box-shadow mb-5rem overflow-hidden">

      <div class='p-2rem'>
        <h1 class='fs-2_4rem font-weight-700 mb-2rem'>Hello, <%= "#{@current_user.firstname}" %> !</h1>
        <% if TrainingPolicy.new(current_user, nil).create? %>
          <p class='fs-1_4rem font-weight-500 bkt-dark-grey line-height-2rem'> Welcome to My Trainings section, you have <%= @trainings.count %> trainings to do and/or validate, please see them below.</p>
        <% end %>
      </div>

      <%= render_component AsClAssetComponent.new(
        model: current_user.company,
        asset: :my_trainings_bg_picture,
        style: 'object-fit: cover; width: 50%; height: 30rem;',
        class_name: 'd-none d-sm-flex'
      ) %>

    </div>

      <div id='searchbar'
           class="d-none d-sm-block mb-5rem">

        <div class="d-flex justify-content-start align-items-center mb-4rem">

          <i class="fas fa-search searchbar-icon"></i>

          <%= simple_form_for(:search, url: my_trainings_path, method: :get, remote: true,
            data: {
              controller:'remember-search',
              remember_search_key_value: 'bookletInterviewFormsSearches',
            }
          ) do |f| %>

            <%=
              f.input(
                :title,
                placeholder: 'Search',
                input_html: {
                  autocomplete: 'off',
                  data: {
                    remember_search_target: :search,
                    action: 'keyup->remember-search#storeSearch'
                  }
                },
                label: false,
                required: false
              )
            %>

            <%= f.input :period,
                        collection: ['Current', 'Completed'],
                        label: false,
                        required: false,
                        selected: 'Current',
                        input_html: {onchange: 'autoSubmit(this);'} %>

            <%=
              f.submit(
                '',
                class: 'hidden-submit hidden',
                data: {
                  remember_search_target: :submit,
                }
              )
            %>

            <button type='submit' class="btn-search d-block d-sm-none">
              <i class="fas fa-search"></i>
            </button>

            <button class='btn-reset bkt-orange'
                    onclick='resetAllFilter(this);'>Reset</button>

          <% end %>

        </div>

      </div>

      <div id="my-trainings__list">

        <%= render 'trainings/my_trainings/my_trainings_list', trainings: @trainings %>

      </div>

  </div>
</div>

<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>

  ///////////
  // TOOLS //
  ///////////

  formGuardian = false;

  <%# TODO refacto into stimulus controller %>
  function outsideClick(event, notelem) {
    notelem = $(notelem); // jquerize (optional)
    // check outside click for multiple elements
    var clickedOut = true, i, len = notelem.length;
    for (i = 0;i < len;i++)  {
        if (event.target == notelem[i] || notelem[i].contains(event.target)) {
            clickedOut = false;
        }
    }
    if (clickedOut) return true;
    else return false;
  }


  ///////////////
  // SEARCHBAR //
  ///////////////

  function resetAllFilter(element, recommendation = false) {
    searchbar = element.closest('#searchbar')

    searchbar.querySelectorAll('input').forEach((input) => {
      if (input.type == 'text') {
        input.value = ''
      } else if (input.type == 'checkbox') {
        input.checked = false
      }
    })

    searchbar.querySelectorAll('select').forEach((select) => {
      select.selectedIndex = 0
    })

    searchbar.querySelector('.btn-search').click()
    localStorage.setItem('bookletInterviewFormsSearches', '')
  }

  function autoSubmit(element) {
    form = element.closest('form')
    document.querySelector('body').classList.add('wait')
    form.querySelector('button[type="submit"]').click()
  }
</script>
