<div id="user-trainings__container" class='flex-column-start-centered bkt-bg-light-orange pos-rel bkt-box-shadow-compact-top' style='min-height: calc(100vh - 7.5rem);'>

  <div class="bkt-bg-white rounded-20px p-2rem bkt-box-shadow pos-rel" style='width: 75%; max-width: 85rem; margin-top: 9rem;'>
    <%= render_component BackComponent.new(fallback: my_team_trainings_path) %>

    <div class='flex-column-start-centered'>
      <img src="<%= @user.picture %>" alt="<%= @user.fullname %>" class='avatar-large mb-2rem' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
      <p class='fs-2rem font-weight-600 bkt-dark-grey mb-1rem'><%= @user.fullname %></p>
      <p class='fs-1_6rem bkt-light-grey5 mb-1rem'><%= @user.job_title %></p>
    </div>

    <div class="flex-column-start-centered p-2rem " >

      <div class="flex-row-start-centered mb-1rem">

        <div class="flex-row-between-centered">
          <div class="centered-item height-4rem width-4rem rounded-20px bkt-bg-light-orange mr-1rem">
            <%= render_component Icons::ProfessorHatComponent.new %>
          </div>
          <p class='fs-1_6rem font-weight-600 bkt-dark-grey'>Trainings</p>
        </div>

      </div>

      <div class="flex-row-between-centered px-5rem">

        <div id='command__team_trainings-completed'
             class="command-tab flex-column-between-centered bkt-bg-light-orange rounded-5px p-1rem mr-1rem cursor-pointer border-bkt-orange-2px"
             style='height: 14rem; width: 14rem; border: 2px solid transparent;'
             onclick="displaySelectedTab(this);">
          <p class='fs-3rem'>🙌</p>
          <p class='fs-3rem font-weight-600 bkt-orange'><%= @attendee_status.done %></p>
          <p class='width-70 fs-1_4rem font-weight-500 text-center'>Trainings done</p>
        </div>

        <div id='command__team_trainings-current'
             class="command-tab flex-column-between-centered bkt-bg-light-orange rounded-5px p-1rem ml-1rem cursor-pointer"
             style='height: 14rem; width: 14rem; border: 2px solid transparent;'
             onclick="displaySelectedTab(this);">
          <p class='fs-3rem'>👉</p>
          <p class='fs-3rem font-weight-600 bkt-orange'><%= @attendee_status.to_do %></p>
          <p class='width-70 fs-1_4rem font-weight-500 text-center'>Trainings to do</p>
        </div>

      </div>

    </div>

    <div id='display__team_trainings-completed' class="display-tab width-100">
      <%= render 'users/show/show_attendees_list', attendees: @attendees_done %>
    </div>

    <div id='display__team_trainings-current' class="display-tab width-100 hidden">
      <%= render 'users/show/show_attendees_list', attendees: @attendees_to_do %>
    </div>

  </div>

</div>

<!---------------->
<!-- JAVASCRIPT -->
<!---------------->
<script>
    function displaySelectedTab(element) {
        target = element.id.split('__')[1]
        selected_tab = document.querySelector('#display__' + target)
        current_button = document.querySelector('.command-tab.border-bkt-orange-2px')
        current_tab = document.querySelector('.display-tab:not(.hidden)')

        current_button.classList.remove('border-bkt-orange-2px')
        current_tab.classList.add('hidden')
        element.classList.add('border-bkt-orange-2px')
        selected_tab.classList.remove('hidden')
    }
</script>
