<div id="show-controls" class='flex-row-between-centered'>
  <%= link_to dashboard_path, class: 'btn return-arrow' do %><i class='fas fa-arrow-left'></i><% end %>
  <div id='show-buttons'>
    <% if ['Super Admin', 'Admin', 'HR'].include? current_user.access_level %>
      <a data-toggle='modal' data-target='#editTraining'><button class='btn-edit-white btn-edit-icon'><i class='fas fa-pen'></i></button></a>
      <%= link_to training_path(@training), method: :delete, data: { confirm: 'Are you sure ?'} do %>
        <button class='btn-edit-white btn-edit-icon'><i class="far fa-trash-alt"></i></button>
      <% end %>
    <% end %>
  </div>
</div>
<div id="container-workshop-booked" class='flex-row-between-start'>
  <div id="workshop-booked-infos" class='flex-column-between-left'>
    <div class="flex-row-between-centered">
      <% if Attendee.find_by(training_workshop_id: [@training.training_workshops.ids], user_id: current_user.id)&.status == 'Invited' %>
        <button id="workshop-booked-infos-main" class='btn btn-edit-green btn-disabled'>Program Available</button>
        <%= link_to attendee_path(status: 'Registered'), method: :patch do %>
          <button class="btn btn-edit-green">Register Now!</button>
        <% end %>
      <% elsif Attendee.find_by(training_workshop_id: @training_workshop.id, user_id: current_user.id)&.status == 'Completed' %>
        <button id="workshop-booked-infos-main" class='btn btn-edit-red btn-disabled'>Program Completed</button>
      <% elsif Attendee.find_by(training_workshop_id: @training_workshop.id, user_id: current_user.id)&.status == 'Registered' %>
        <button id="workshop-booked-infos-main" class='btn btn-edit-red btn-disabled'>Program Booked</button>
      <% end %>
    </div>
  </div>
  <% if ['Super Admin', 'Admin', 'HR', 'Manager'].include? current_user.access_level %>
    <div id="workshop-booked-participants">
      <a data-toggle='modal' data-target='#inviteUsers'><button class='btn btn-edit-green'>Manage Users</button></a>
      <ul id='workshop-booked-attendee-list'>
        <% ind = 0 %>
        <% @training_workshop.attendees.each do |attendee| %>
          <% unless ind >= 10 %>
            <li><img src="<%= attendee.user.picture %>" alt="" class='avatar-sm'></li>
            <% ind += 1 %>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div id="container-show">
  <div class='workshop-show-type'>
    <h3>Program</h3>
  </div>
  <div class='training-program-show-card'>
    <div class='training-program-show-card-main flex-column-between-left'>
      <h1><%= @training.title %></h1>
      <p>By <%= @training.training_program.author.firstname %></p>
      <p><%= @training.description %></p>
    </div>
  </div>
  <div class='training-program-workshop-index'>
    <div>
      <% duration = @training.workshops.map(&:duration).sum %>
      <% if duration >= 60 %>
        <% duration_hour = duration/60 %>
        <% duration_min = duration%60 %>
        <h3><%= "#{@training.workshops.count} workshops for a total of #{duration_hour} hours and #{duration_min} minutes" %></h3>
      <% else %>
        <h3><%= "#{@training.workshops.count} workshops for a total of #{duration} minutes" %></h3>
      <% end %>
    </div>
    <div id="workshops">
      <%= render 'training_workshops/index', training_program: @training %>
    </div>
  </div>
</div>


<!-- Modal -->
<div class='modal fade' id='editTraining' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'edit', training: @training %>
  </div>
</div>

<div class='modal fade' id='addWorkshop' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'training_workshops/add', training: @training %>
  </div>
</div>

<!-- <div class='modal fade' id='inviteUsers' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%# render 'attendees/invite_users_to_training', training: @training %>
  </div>
</div> -->

<% @training.training_workshops.each do |training_workshop| %>
  <div class='modal fade' id='editTrainingWorkshop<%= training_workshop.id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
    <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
      <%= render 'training_workshops/edit', training_workshop: training_workshop %>
    </div>
  </div>
  <div class='modal fade' id='copyTrainingWorkshop<%= training_workshop.id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
    <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
      <%= render 'training_workshops/copy', training_workshop: training_workshop %>
    </div>
  </div>
<% end %>
