<!-- TEMP -->

<div class="centered-item p-2rem bkt-bg-white bkt-box-shadow-light pos-fix z-index-150" style='top: 7.5rem; left:  0; right: 0; height: 9rem;'>
  <%= render_component BackComponent.new(fallback: catalogue_path) %>
  <h2>Training</h2>
  </div>
</div>

<div id="content-edit__container" class='flex-row-between-start bkt-bg-light-orange pos-rel bkt-box-shadow-compact-top' style='margin-top: 9rem;'>
  <div id="content-edit__container-left" class='bkt-bg-white py-3rem px-5rem border-right-bkt-light-grey pos-fix z-index-100' style='top: 16.5rem; left: 0;'>
    <%= render 'workshops/edit/edit_show_summary', workshop: @workshop %>
  </div>

  <div id="content-edit__container-right" style='margin-left: 30rem;'>

      <div id="content-edit__content" class='flex-row-between-start'>

        <div id="content-edit__content-center" class='flex-column-start-centered'>

          <div id="content-edit__attributes-center" class='bkt-bg-white rounded-10px p-2rem mb-2rem' style='width: 100%; max-width: 64rem;'>
            <div class="flex-row-end-centered mb-1rem">
              <span class='bkt-light-grey5 italic'>Available on: <%= "#{@workshop.first_session.date} at #{@workshop.first_session.starts_at.strftime('%H:%M')}" %></span>
            </div>
            <div class="flex-row-start-centered mb-2rem">
              <span class="iconify fs-2_4rem bkt-orange mr-1rem" data-icon="akar-icons:file"></span>
              <p class='fs-1_8rem font-weight-500 bkt-dark-grey'><%= @workshop.title %></p>
            </div>
            <% if @workshop.access_granted? %>
              <%= render 'workshops/show/show_workshop_mods', workshop: @workshop %>
            <% else %>
              <%= render 'workshops/show/show_workshop_mods_teaser', workshop: @workshop %>
            <% end %>

          </div>

          <% if (@workshop.users).include?(current_user) && @workshop.sessions.order(date: :asc).last.date <= Time.zone.today %>

            <div id='workshop-show__completed-options' class='flex-row-between-centered width-100 bkt-bg-white rounded-10px p-2rem mb-2rem' style='max-width: 64rem;'>
              <%= render 'workshops/show/show_workshop_completed_options', workshop: @workshop, workshop_completed: @workshop_completed %>
            </div>

          <% end %>
      </div>

      <div id="template-edit__content-right" style=''>
        <div class="template-show-attributes-right">
          <div id="workshop-show__settings" class='bkt-bg-white mb-2rem p-2rem rounded-10px'>
            <div class='flex-row-between-centered mb-2rem pb-1rem border-bottom-bkt-light-grey5'>
              <p>Training</p>
              <% if current_user == @workshop.training.creator || current_user.hr_or_above? %>
                <%= link_to edit_workshop_path(@workshop) do %>
                  <div class="centered-item height-2_5rem width-2_5rem">
                    <span class="iconify fs-2_4rem bkt-orange" data-icon="ci:edit"></span>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="flex-row-between-centered mb-2rem">
              <div class="flex-row-between-centered">
                <div class="centered-item height-2_5rem width-2_5rem mr-1rem">
                  <span class="iconify fs-1_6rem bkt-orange" data-icon="fa6-solid:user-group"></span>
                </div>
                <p class='fs-1_4rem bkt-dark-grey'><%= @workshop.synchronous? ? 'Face-to-face' : 'Online' %></p>
              </div>
              <div class="flex-row-between-centered p-0_75rem border-bkt-dark-grey rounded-20px">
                <div class="centered-item height-2_5rem width-2_5rem">
                  <span class="iconify fs-1_6rem bkt-dark-grey" data-icon="akar-icons:clock"></span>
                </div>
                <p class='fs-1_4rem bkt-dark-grey'><%= TimeConversion.convert(@workshop.duration) %></p>
              </div>
            </div>
            <div class='flex-row-start-centered mb-2rem pb-1rem border-bottom-bkt-light-grey5'>
              <p>Training tags</p>
            </div>
            <div id="template-edit__tags" class="flex-wrap mt-2rem">
              <%= render 'workshops/show/show_workshop_tags_list', workshop: @workshop %>
            </div>
          </div>

          <% if current_user == @training.creator || current_user.hr_or_above? %>
            <% attendees_acquired = @workshop.attendees.completed %>
            <% attendees_not_acquired = @workshop.attendees.not_completed %>

            <div id="workshop-show__attendees" class="bkt-bg-white mb-2rem p-2rem rounded-10px">
              <div class='flex-row-between-centered mb-2rem pb-1rem border-bottom-bkt-light-grey5'>
                <p>Acquired (<%= attendees_acquired.count %>)</p>
                <a data-toggle='modal' data-target='#manageAttendees'>
                  <span class="iconify fs-2_4rem bkt-orange" data-icon="ic:baseline-remove-red-eye"></span>
                </a>
              </div>
              <div class="flex-row-start-centered flex-wrap mb-2rem">

                <% attendees_acquired.first(11).each do |attendee| %>
                  <% user = attendee.user %>

                  <div class="flex-column-start-centered width-10rem mb-2rem">
                    <img src="<%= user.picture %>" class='avatar mb-0_75rem' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
                    <p class="fs-1rem bkt-dark-grey"><%= user.firstname %></p>
                    <p class="fs-1rem bkt-dark-grey"><%= user.lastname %></p>
                  </div>

                <% end %>

                <% if attendees_acquired.count > 11 %>
                  <a class='flex-column-start-centered width-10rem mb-2rem' data-toggle='modal' data-target='#manageAttendees'>
                    <div class="centered-item bkt-bg-light-orange avatar mb-0_75rem">
                      <span class="iconify height-2_5rem width-2_5rem bkt-orange" data-icon="fluent:add-12-regular"></span>
                    </div>
                    <p class="fs-1rem bkt-dark-grey"><%= attendees_acquired.count - 11 %></p>
                    <p class="fs-1rem bkt-dark-grey">more</p>
                  </a>
                <% end %>

              </div>

              <div class='flex-row-between-centered mb-2rem pb-1rem border-bottom-bkt-light-grey5'>
                <p>Not acquired yet(<%= attendees_not_acquired.count %>)</p>
                <a data-toggle='modal' data-target='#manageAttendees'>
                  <span class="iconify fs-2_4rem bkt-orange" data-icon="ic:baseline-remove-red-eye"></span>
                </a>
              </div>
              <div class="flex-row-start-centered flex-wrap">

                <% attendees_not_acquired.first(11).each do |attendee| %>
                  <% user = attendee.user %>

                  <div class="flex-column-start-centered width-10rem mb-2rem">
                    <img src="<%= user.picture %>" class='avatar mb-0_75rem' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
                    <p class="fs-1rem bkt-dark-grey"><%= user.firstname %></p>
                    <p class="fs-1rem bkt-dark-grey"><%= user.lastname %></p>
                  </div>

                <% end %>

                <% if attendees_not_acquired.count > 11 %>
                  <a class='flex-column-start-centered width-10rem mb-2rem' data-toggle='modal' data-target='#manageAttendees'>
                    <div class="centered-item bkt-bg-light-orange avatar mb-0_75rem">
                      <span class="iconify height-2_5rem width-2_5rem bkt-orange" data-icon="fluent:add-12-regular"></span>
                    </div>
                    <p class="fs-1rem bkt-dark-grey"><%= attendees_not_acquired.count - 11 %></p>
                    <p class="fs-1rem bkt-dark-grey">more</p>
                  </a>
                <% end %>

              </div>
            </div>
          <% end %>

        </div>
      </div>

    </div>

  </div>
</div>



<!------------>
<!-- MODALS -->
<!------------>

<div class='modal fade' id='manageAttendees' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'workshops/modals/manage_attendees',
                workshop: @workshop,
                attendees_acquired: attendees_acquired.presence || [],
                attendees_not_acquired: attendees_not_acquired.presence || [] %>
  </div>
</div>

<div class='modal fade' id='manageAttendeesEmailSent' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'workshops/modals/manage_attendees_email_sent' %>
  </div>
</div>


<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>

  function selectCompletion(element) {
    const chosen_value = element.getAttribute('data-value')
    const link = document.getElementById('complete_workshop_link')
    var link_url = new URL(link.href)

    link_url.searchParams.set('status', chosen_value)
    link.href = link_url.href
    link.click()
  }

</script>
