<div class="flex-row-center-centered p-2rem bkt-bg-white bkt-box-shadow-light pos-fix z-index-150" style='top: 7.5rem; left: 0; right: 0; height: 9rem;'>
  <%= render_component BackComponent.new(fallback: catalogue_path) %>
  <h2>Edit Workshop</h2>
  <div class="height-5rem flex-row-between-centered pos-abs" style='top: 2rem; right: 2rem;'>
    <p id='content-edit__update-status' class='bkt-green mr-2rem'>Up to date</p>
  </div>
</div>

<div id="content-edit__container" class='flex-row-between-start bkt-bg-light-orange pos-rel bkt-box-shadow-compact-top' style='margin-top: 9rem;'>
  <div id="content-edit__container-left" class='bkt-bg-white py-3rem px-5rem border-right-bkt-light-grey pos-fix z-index-100' style='top: 16.5rem; left: 0;'>
    <%= render 'workshops/edit/edit_show_summary', workshop: @workshop %>
  </div>

  <div id="content-edit__container-right" style='margin-left: 30rem;'>

      <div id="content-edit__content" class='flex-row-between-start'>

        <div id="content-edit__content-center" class='flex-column-start-centered'>

          <div id="content-edit__attributes-center" class='rounded-10px mb-2rem overflow-hidden' style='width: 100%; max-width: 64rem; height: 20rem;'>
            <%= render 'contents/edit/edit_content_picture', content: @workshop.content %>
          </div>

          <div id="content-edit__attributes-center" class='bkt-bg-white rounded-10px p-2rem mb-2rem' style='width: 100%; max-width: 64rem;'>
            <%= render 'workshops/edit/edit_workshop_attributes', workshop: @workshop %>
          </div>

          <div style='width: 100%; max-width: 64rem;'>
            <%= render 'workshops/edit/edit_add_mod', position: 0 %>
          </div>

          <div id="content-edit__lines" style='width: 100%; max-width: 64rem;'>
            <%= render 'workshops/edit/edit_mods_index', workshop: @workshop %>
          </div>

      </div>

      <div id="template-edit__content-right" style=''>
        <div class="template-show-attributes-right">
          <%= render 'workshops/edit/edit_workshop_settings', workshop: @workshop %>
        </div>
      </div>

    </div>

  </div>
</div>


<div class='mod-templates hidden'>

  <div class="add-text add-text-template hidden active">
    <%= render 'contents/edit/edit_mod_form_template', mod_type: 'text', content: @workshop %>
  </div>

  <div class="add-video add-video-template hidden active">
    <%= render 'contents/edit/edit_mod_form_template', mod_type: 'video', content: @workshop %>
  </div>

  <div class="add-assessment add-assessment-template hidden">
    <%= render 'contents/edit/edit_mod_form_template', mod_type: 'assessment', content: @workshop %>
  </div>

</div>


<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>

  ///////////
  // TOOLS //
  ///////////

  doubleClickGuardian = false
  saving = false

  function outsideClick(event, notelem) {
    notelem = $(notelem); // jquerize (optional)
    // check outside click for multiple elements
    var clickedOut = true, i, len = notelem.length;
    for (i = 0;i < len;i++)  {
        if (event.target == notelem[i] || notelem[i].contains(event.target)) {
            clickedOut = false;
        }
    }
    if (clickedOut) return true;
    else return false;
  }

  function submitForm(element) {
    element.closest('form').querySelector('.hidden-submit').click()
  }

  function updateStatusMessage(message) {
    message_storage = document.getElementById('content-edit__update-status')

    if (message == 'Up to date') {
      message_storage.classList.remove('bkt-red')
      message_storage.classList.remove('bkt-yellow')
      message_storage.classList.add('bkt-green')
    } else if (message == 'Update failed') {
      message_storage.classList.remove('bkt-green')
      message_storage.classList.remove('bkt-yellow')
      message_storage.classList.add('bkt-red')
    } else {
      message_storage.classList.remove('bkt-green')
      message_storage.classList.remove('bkt-red')
      message_storage.classList.add('bkt-yellow')
    }

    message_storage.innerText = message
  }

  function checkVideoCompatibility(element) {
    video_link = element.value
    if (video_link.split('=')[0].replace("https://", "") == 'www.youtube.com/watch?v' || video_link == '') {
      element.style.color = '#333333'
      saveForm(element)
    } else {
      updateStatusMessage("Update failed")
      element.style.color = '#FF5656'
    }
  }

  // EXPAND / COLLAPSE MOD //

  function toggleMod(element) {
    caret = element.querySelector('i')
    angle = parseInt(caret.getAttribute('data-rotated'), 10)
    caret.style.webkitTransform = 'rotate('+ (angle + 180).toString() +'deg)'
    caret.style.mozTransform    = 'rotate('+ (angle + 180).toString() +'deg)'
    caret.style.msTransform     = 'rotate('+ (angle + 180).toString() +'deg)'
    caret.style.oTransform      = 'rotate('+ (angle + 180).toString() +'deg)'
    caret.style.transform       = 'rotate('+ (angle + 180).toString() +'deg)'
    caret.setAttribute('data-rotated', (angle + 180).toString())
    block = element.parentNode.parentNode
    p = element.querySelector('p')
    block_width = block.offsetWidth
    if (block.style.maxHeight == '61px' || block.style.maxHeight == '') {
      block.style.maxHeight = '100000px'
      p.style.maxHeight = '100000px'
      p.style.whiteSpace = 'normal'
      block.style.width = block_width.toString() + 'px'
      block.classList.add('active')
    } else if (block.style.maxHeight == '100000px') {
      block.style.maxHeight = '61px'
      p.style.maxHeight = '18px'
      p.style.whiteSpace = 'nowrap'
      block.style.width = 'auto'
      block.classList.remove('active')
    }
  }

  // AUTO UPDATE TEXTAREA HEIGHT //

  const tx = document.getElementsByTagName("textarea");
  for (let i = 0; i < tx.length; i++) {
    tx[i].setAttribute("style", "height:auto;overflow-y:hidden;");
    tx[i].addEventListener("click", OnInput, false);
    tx[i].addEventListener("input", OnInput, false);
    tx[i].click()
  }

  function OnInput() {
    this.style.height = "auto";
    this.style.height = (this.scrollHeight) + "px";
  }


  ///////////////////////
  // ADD QUESTION MENU //
  ///////////////////////

  function addModMenu(element) {

    if (doubleClickGuardian == false) {
      doubleClickGuardian = true
      container = element.parentNode
      button_add = element
      button_remove = container.querySelector('.add_button_hide')
      menu = container.querySelector('.content-edit__add-mod-menu')

      container.classList.add('active')
      button_add.classList.add('hidden')
      button_remove.classList.remove('hidden')
      menu.classList.remove('hidden')

      window.addEventListener('click', function(e) {
        if (doubleClickGuardian == false) {
          container.classList.remove('active')
          button_add.classList.remove('hidden')
          button_remove.classList.add('hidden')
          menu.classList.add('hidden')
          this.removeEventListener('click', arguments.callee, false);
        }
      });

      setTimeout(function(){doubleClickGuardian = false}, 100)
    }
  }

  function addMod(type, referenceNode) {
    newDiv = document.createElement("div")
    newDiv.classList.add('add-' + type)
    template = document.querySelector('.add-' + type + '-template')
    templateinfo = template.innerHTML
    newDiv.innerHTML = templateinfo
    position = referenceNode.id.split('-')[1]
    position_storage = newDiv.querySelector('#mod_position')

    position_storage.value = position
    content = document.querySelector('#content-edit__lines')
    if (position == 0) {
      content.insertBefore(newDiv, content.firstChild)
    } else {
      content.insertBefore(newDiv, referenceNode.nextSibling)
    }
  }

  //////////////////////
  // QUESTION OPTIONS //
  //////////////////////

  function checkBookletCheckbox(element) {
    updateStatusMessage("Updating...")
    checkbox = element.querySelector('input')
    icon = element.querySelector('svg')

    if (checkbox.value == 'true') {
      checkbox.value = 'false'
      icon.classList.add('hidden')
    } else {
      checkbox.value = 'true'
      icon.classList.remove('hidden')
    }
    saveForm(element)
  }

  function switchSide(element, save = true) {
    updateStatusMessage("Updating...")
    switch_button = element.parentNode
    form = element.closest('form')
    hidden_submit = form.querySelector('.hidden-submit')

    if (element.checked == true) {
      setTimeout(function(){switch_button.classList.add('switch_checked')}, 100)
    } else {
      setTimeout(function(){switch_button.classList.remove('switch_checked')}, 100)
    }
    if (hidden_submit != undefined && save) {
      hidden_submit.click();
    }
  }

  ///////////////////
  // SAVE QUESTION //
  ///////////////////

  function saveForm(element, keyup = false) {
    updateStatusMessage("Updating...")
    form = element.closest('form')

    if (doubleClickGuardian == false) {
      doubleClickGuardian = true
      initial_value = element.value;

      if (keyup && !saving) {
        saving = true
        setTimeout(function(){
          form.querySelector('.hidden-submit').click()
          saving = false
        }, 3000)
      } else {
        form.querySelector('.hidden-submit').click()
      }

      setTimeout(function(){doubleClickGuardian = false}, 500)
    }
  }

</script>
