<div class="container-new-form">
  <div class="training-info-headers">
    <%= link_to url_for(:back), class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <h3>Add a new workshop</h3>

  <%= simple_form_for @workshop do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :duration, label: 'Duration (min)' %>
    <%= f.input :image, label: 'Image URL' %>
    <div id='checkbox' style=" display:flex;justify-content:space-between;flex-direction:column;">
      <%= collection_check_boxes(:workshop, :category_ids, Category.all, :id, :title) do |b| %>
        <%= b.label class: 'label-checkbox', style: 'color:black;' do %>
          <%= b.check_box + b.text %>
        <% end %>
      <% end %>
    </div>
    <script>
      $('#checkbox input:checkbox:checked').parent().toggleClass('checked-box');
      $('#checkbox input:checkbox').change(function () {
        $(this).parent().toggleClass('checked-box');
      });
    </script>
    <div style="display:flex;justify-content:center;margin-top:30px;">
      <%= button_tag :submit, class: 'btn btn-edit-green btn-edit-icon' do %>
        <i class="fas fa-save"></i>
      <% end %>
    </div>
  <% end %>
</div>




