<div id="show-controls" class='flex-row-between-centered'>
  <%= link_to url_for(:back), class: 'btn return-arrow' do %><i class='fas fa-arrow-left'></i><% end %>
  <div id='show-buttons'>
    <%= link_to view_workshop_path(@workshop), class: 'btn btn-edit-white btn-edit-icon' do %>
      <i class="far fa-eye"></i>
    <% end %>
    <% if ['Super Admin', 'Admin', 'HR', 'Manager'].include? current_user.access_level %>
      <%= link_to edit_workshop_path(@workshop) do %>
        <button class='btn-edit-white btn-edit-icon'><i class='fas fa-pen'></i></button>
      <% end %>
      <a data-toggle='modal' data-target='#editCategory'><button class='btn-edit-white btn-edit-icon'><i class="fas fa-swatchbook"></i></button></a>
      <%= link_to workshop_path(@workshop), method: :delete, data: { confirm: 'Are you sure ?'} do %>
        <button class='btn-edit-white btn-edit-icon btn-last'><i class="far fa-trash-alt"></i></button>
      <% end %>
    <% end %>
  </div>
</div>
<div id="container-show">
  <div class='workshop-show-type'>
    <h3>Workshop</h3>
  </div>
  <div class='workshop-show-card'>
    <div class='workshop-show-card-main flex-column-centered'>
      <h1><%= @workshop.title %></h1>
      <div id='workshop-show-author' class="flex-row-between-centered">
        <h3>By <%= @workshop.author.firstname %></h3>
        <% if ['Super Admin', 'Admin', 'HR', 'Manager'].include? current_user.access_level %>
          <div class='icon-btn' onclick="openForm(this);">
            <i class="fas fa-pencil-alt"></i>
          </div>
          <div class='hidden hidden-form-ajax'>
            <%= form_with url: change_author_path, id: 'author_form', local: true, method: :get do |f| %>
              <%= f.hidden_field :ajax, value: true %>
              <%= f.hidden_field :user_id %>
              <%= f.hidden_field :workshop_id, value: @workshop.id %>
              <%= f.text_field :search, placeholder: 'Search', label: false, data: {behavior: 'autocomplete'} %>
            <% end %>
          </div>
        <% end %>
      </div>
      <img src='<%= @workshop.author.picture %>' alt="" class='avatar-large-workshop-card'>

      <p><%= "#{@workshop.duration} min" %></p>
    </div>
    <div class="workshop-show-card centered-item">
      <div>
        <p><%= @workshop.description %></p>
      </div>
    </div>
    <div class="workshop-show-card-footer  centered-item">
      <button class='booking-btn btn-last'><%= link_to 'Book', book_workshop_path(@workshop) %></button>
    </div>
  </div>
  <% if ['Super Admin', 'Admin', 'HR', 'Manager'].include? current_user.access_level %>
    <div class="workshop-show-module-controls flex-row-between-centered">
      <h3><b>Modules</b></h3>
      <div class="flex-row-between-centered">
        <a data-toggle='modal' data-target='#editWorkshopContent'>
        <button class='icon-btn'><i class="far fa-clipboard"></i></button>
        </a>
        <div id='mod-create-assessment-div' class='centered-item'>
          <button id='mod-create-assessment-button' class='icon-btn'>
            <i class="fas fa-tasks"></i>
          </button>
          <div id='mod-create-assessment-form' style='display: none;'>
            <%= simple_form_for Assessment.new do |f| %>
              <div class='flex-row-between-centered'>
                <%= f.text_field :title, placeholder: 'Quiz title', style: 'height: 100%;' %>
                <%= button_tag :submit, name: 'workshop_id', value: "#{@workshop.id}", class: 'btn btn-edit-white btn-edit-icon' do %>
                  <i class="fas fa-save"></i>
                <% end %>
              </div>
            <% end %>
          </div>
          <script>
            $('#mod-create-assessment-button').click(function(event){
              event.preventDefault();
              $(this).hide();
              $(this).parent().children('#mod-create-assessment-form').show();
            });
          </script>
        </div>
      </div>
    </div>
  <% else %>
    <div class="workshop-show-module-controls flex-row-start-centered">
      <h3>Modules</h3>
    </div>
  <% end %>
  <div id="workshop-show-module-index">
    <%= render 'module_index' %>
  </div>
</div>


<!-- Modal -->
<div class='modal fade' id='editSkills' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'workshop_skills/new', workshop: @workshop %>
  </div>
</div>

<div class='modal fade' id='editCategory' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'workshop_categories/new', workshop: @workshop %>
  </div>
</div>

<div class='modal fade' id='editWorkshopContent' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'edit_content', workshop: @workshop %>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>

<script>
  function openForm(element) {
    element.classList.toggle('hidden');
    element.parentNode.querySelector('.hidden-form-ajax').classList.toggle('hidden');
  }

  $input = $("[data-behavior='autocomplete']");

  var options = {
    listLocation: "users",
    getValue: 'name',
    url: function(phrase) {
      return "/users_search.json?search=" + phrase
    },
    list: {
      onChooseEvent: function() {
        var id = $input.getSelectedItemData().id;
        $('#user_id').val(id);
        $('#author_form').submit();
      },
      match: {
        enabled: true
      }
    }
  }


  $input.easyAutocomplete(options);
</script>
