<% if ['Super Admin'].include?(current_user.access_level) || (@workshop.content.company_id == current_user.company_id) %>
  <% @workshop.access_granted? ? access = 'granted' : access = '' %>
  <% if params[:session_id].present? && Session.find(params[:session_id]).date <= Date.today && Attendee.find_by(session_id: params[:session_id], user_id: current_user.id).present? %>
    <% session = Session.find(params[:session_id]) %>
    <% access = 'granted' unless session.available_date.present? && session.available_date < Date.today %>
  <% end %>
  <div id="content-show-container">
    <div id="content-show-container-left">
      <%= render 'contents/partials/show_summary', content: @workshop, page: 'show', access: access %>
    </div>
    <div id="content-show-container-right">
      <div class="content-add">
        <div class="content-center-div">
          <div class="content-show-attributes-center">
            <%= render 'contents/partials/show_attributes_center', content: @workshop, page: 'show', access: access %>
          </div>
          <div class="content-show-mods-edit-mode">
            <%= render 'mods/partials/content_show_mods_index', content: @workshop, page: 'show', access: access %>
          </div>
        </div>
        <div class="content-add-right">
          <div class="content-show-attributes-right">
            <%= render 'contents/partials/show_attributes_right', content: @workshop, page: 'show', access: access %>
          </div>
          
          <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
            <div class="content-show-attributes-right-acquired">
              <%= render 'workshops/partials/show_attendees', attendees: @attendees, page: 'show', access: access %>
            </div>
          <% end %>

          <% if @workshop.content_type == "Asynchronous" || ['Super Admin'].include?(current_user.access_level) %>
            <div class="content-show-attributes-right-acquired">
              <%= render 'workshops/partials/show_attributes_acquired', page: 'show', access: access %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="access-restricted centered-item">
    <h1>Access restricted</h1>
  </div>
<% end %>
