<h3>New question</h3>
<%= simple_form_for AssessmentQuestion.new, url: mod_add_questions_assessment_path(@form.mod, @form), method: :post do |f| %>
  <%= f.collection_radio_buttons :question_type, [['MCQ', 'MCQ'] ,['open question', 'Open question'], ['rating', 'Rating']], :first, :last %>
  <div>
    <%= f.input :question, id: "ckeditor#{@form.assessment_questions.count}" %>
    <%= f.input :answer, label: 'Answer (optional)' %>
  </div>
  <div style=" display: flex; justify-content: space-between;margin-top:3rem;">
    <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-edit-icon' do %>
      <i class="fas fa-save"></i>
    <% end %>
  </div>
<% end %>
