<div id='mod-assessment-questions-list'>
  <% @form.assessment_questions.each do |question| %>
    <div class="mod-assessment-questions-card">
      <div class='flex-row-between-start'>
        <p class='mod-assessment-questions-position'>Question n°<%= question&.position %></p>
        <div class='flex-row-between-start'>
          <a data-toggle='modal' data-target='#editQuestion<%= question.id %>'>
            <button class="btn btn-edit-icon"><i class='fas fa-pen'></i></button>
          </a>
          <%= link_to assessment_assessment_question_path(question.mod, question), method: :delete, data: { confirm: 'Are you sure ?'} do %>
            <button class="btn btn-edit-icon"><i class="far fa-trash-alt"></i></button>
          <% end %>
        </div>
      </div>
      <div class='modal fade' id='editQuestion<%= question.id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
        <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
          <%= render 'assessment_questions/edit', question: question %>
        </div>
      </div>
      <p style="white-space: pre-line"><%= question&.question %></p>
      <% if question.options.present? && question.question_type == 'MCQ' %>
        <% i = 1 %>
        <% question.options.each do |key, value| %>
          <% if question.options[key] == 'true' %>
            <p style='color: #4AC2C7;'><%= i %> - <%= key %></p>
          <% else %>
            <p style='color: #E64259;'><%= i %> - <%= key %></p>
          <% end %>
          <% i += 1 %>
        <% end %>
      <% elsif question.options.present? && question.question_type == 'rating' %>
        <p class='mod-assessment-questions-answer'>Rating values :</p>
        <p><%= question.options[:start] %> => <%= question.options[:end] %></p>
      <% end %>
    </div>
  <% end %>
</div>
<a href="javascript:;" id='addQuestion' class='btn btn-edit'>Add Question</a>

<div class="hidden" id="add_questions_form">
  <%= render 'add_questions', form: @form %>
</div>

<script>
  $("#addQuestion").click(function(){
    $(this).hide();
    $("#assessment-show-content").append($("#add_questions_form").html());
  });
</script>
