<div id='mod-assessment-questions-list'>
  <% form.assessment_questions.order(position: :asc).each do |question| %>
    <div class="mod-assessment-questions-card">
      <div class='flex-row-between-start'>
        <p class='mod-assessment-questions-position'>Question n°<%= question&.position %></p>
        <div class='mod-assessment-questions-controls flex-column-between-centered'>
          <%= link_to assessment_assessment_question_path(question.mod, question), method: :delete, data: {confirm: 'Are you sure ?'}, remote: true do %>
            <button class="btn btn-icon"><i class="far fa-trash-alt"></i></button>
          <% end %>
          <% if question.position == 1 %>
            <%= link_to assessment_move_up_assessment_question_path(question.mod, question), remote: true do %>
              <i class="fas fa-caret-up" style='color:grey;cursor:default;'></i>
            <% end %>
          <% else %>
            <%= link_to assessment_move_up_assessment_question_path(question.mod, question), remote: true do %>
              <i class="fas fa-caret-up"></i>
            <% end %>
          <% end %>
          <% if question.position == question.mod.assessment_questions.count %>
            <%= link_to assessment_move_down_assessment_question_path(question.mod, question), remote: true do %>
              <i class="fas fa-caret-down" style='color:grey;cursor:default;'></i>
            <% end %>
          <% else %>
            <%= link_to assessment_move_down_assessment_question_path(question.mod, question), remote: true do %>
              <i class="fas fa-caret-down"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <p style="white-space: pre-line"><%= question&.question %></p>
        <% i = 1 %>
        <% question.options.each do |key, value| %>
          <% if question.options[key] == 'true' %>
            <p style='color: #56690A;'><%= i %> - <%= key %></p>
          <% else %>
            <p style='color: #888888;'><%= i %> - <%= key %></p>
          <% end %>
          <% i += 1 %>
        <% end %>
    </div>
  <% end %>
</div>

