<%= simple_form_for :update_assessment, url: update_ajax_assessment_path(@form), method: :patch, remote: true, input_html: {multipart: true} do |f| %>
  <%= f.input :title, input_html: {value: @form.title } %>
  <%= f.submit 'Save' %>
<% end %>
<%= simple_form_for :questions, url: add_questions_ajax_assessment_path(@form) , method: :post do |f| %>
  <div id='quizadd'>
  </div>
  <%= f.submit 'Save', class: 'hidden question-save' %>
<% end %>
<div class='add-questions' onclick='addQuestion();'>Add Question</div>
