<%= simple_form_for assessment_question, url: edit_question_assessment_path(form, assessment_question), method: :patch, remote: true do |f| %>
  <div class='mod-assessment-questions-form'>
    <%= f.input :question, as: :text %>
    <div class='mod-assessment-questions-options-mcq'>
      <div class='flex-column-between-left'>
        <% assessment_question.options.each do |option| %>
          <div class="options_line">
            <div class="flex-row-between-centered">
              <%= label_tag 'Option' %>
              <%= f.text_field 'options[]', value: option[0], name: 'options[]'%>
              <%# text_field_tag 'options[]', value: option[0] %>
            </div>
            <div class="flex-row-between-centered">
              <%= label_tag 'Correct Answer' %>
              <% option[1] == 'true' ? checked = true : checked = false %>
              <%= check_box_tag 'test[]', true, false, class: 'checkbox', checked: checked %>
              <%= hidden_field_tag 'answer[]', checked %>
            </div>
            <div style='cursor: pointer;' onclick='removeAnswer(this)'>
              <i class="fas fa-times"></i>
            </div>
          </div>
        <% end %>
      </div>
      <a href="javascript:;" class='assessment_add_option btn btn-edit-white' onclick="addAnswer(this);">Add Answer</a>
    </div>
    <div class="hidden" id="add_options_form">
      <div class="options_line">
        <div class="flex-row-between-centered">
          <%= label_tag 'Option' %>
          <%= text_field_tag 'options[]' %>
        </div>
        <div class="flex-row-between-centered">
          <%= label_tag 'Correct Answer' %>
          <%= check_box_tag 'test[]', true, false, class: 'checkbox' %>
          <%= hidden_field_tag 'answer[]', false %>
        </div>
        <div style='cursor: pointer;' onclick='removeAnswer(this)'>
          <i class="fas fa-times"></i>
        </div>
      </div>
      <script>
        $('input[type="checkbox"]').on('change', function(e){
          if($(this).prop('checked'))
          {
              $(this).next().val(true);
          } else {
              $(this).next().val(false);
          }
        });
      </script>
    </div>
  </div>
  <div style=" display: flex; justify-content: flex-start;margin-top:3rem;">
    <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-icon' do %>
      <i class="fas fa-save"></i>
    <% end %>
    <div class="btn btn-edit-red btn-icon btn-close" onclick="removeQuestion(this)">
      <i class="fas fa-times"></i>
    </div>
  </div>
<% end %>

<script>
  $('input[type="checkbox"]').on('change', function(e){
    if($(this).prop('checked'))
    {
        $(this).next().val(1);
    } else {
        $(this).next().val(0);
    }
  });
</script>
