<div id="show-controls" class='flex-row-between-centered'>
  <%= link_to content_path(@form.content, content_access: 'granted'), class: 'btn return-arrow' do %><i class='fas fa-arrow-left'></i><% end %>
  <div id='show-buttons'>
    <% if ['Super Admin', 'Account Owner', 'HR', 'Manager'].include? current_user.access_level %>
      <!-- <a data-toggle='modal' data-target='#editContent'><button class='btn-edit-white btn-icon'><i class='fas fa-pen'></i></button></a> -->
      <a data-toggle='modal' data-target='#editModule'>
        <button class='btn-edit-white btn-icon'><i class='fas fa-pen'></i></button>
      </a>
      <%= link_to assessment_path(@form, content_id: Content.joins(:content_mods).find_by(content_mods: {mod_id: @form.id}).id), method: :delete, data: { confirm: 'Are you sure ?'} do %>
        <button class='btn-edit-white btn-icon btn-last'><i class="far fa-trash-alt"></i></button>
      <% end %>
    <% end %>
  </div>
</div>
<div id="container-show">
  <p><b><%= @form.title %></b></p>
  <p>Duration : <%= @form.duration %> min</p>
  <div id="assessment-show-content">
    <%= render 'content', form: @form %>
  </div>
  <a href="javascript:;" id='addQuestion' class='btn btn-edit'>Add Question</a>

  <div class="hidden" id="add_questions_form" onclick='addQuestionsToQuiz(this)'>
    <%= render 'add_questions', form: @form %>
  </div>
</div>

<!-- Modals -->
<div class='modal fade' id='editModule' tabindex='-1' role='dialog' aria-labelledby='editModule'  data-backdrop="static" data-keyboard="false" data-focus='false'>
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'mods/edit', mod: @form %>
  </div>
</div>
