<div id="container-show">
  <div id="show-controls">
    <%= link_to organisation_path, class: 'btn return-arrow' do %><i class='fas fa-arrow-left'></i><% end %>
    <div id='show-buttons'>
      <% if ['Super Admin', 'Admin', 'HR', 'Manager'].include? current_user.access_level %>
        <a data-toggle='modal' data-target='#editTeam'><button class='btn-edit-white btn-edit-icon'><i class='fas fa-pen'></i></button></a>
        <a data-toggle='modal' data-target='#editUserTeams'><button class='btn-edit-white btn-edit-icon'><i class="fas fa-users-cog"></i></button></a>
        <a data-toggle='modal' data-target='#editTeamCategories'><button class='btn-edit-white btn-edit-icon'><i class="far fa-flag"></i></button></a>
        <%= link_to team_path(@team), method: :delete, data: { confirm: 'Are you sure ?'} do %>
          <button class='btn-edit-white btn-edit-icon btn-last'><i class="far fa-trash-alt"></i></button>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class='team-show-card'>
    <div class='team-show-card-main flex-column-centered' style="background-image: linear-gradient(to top, rgba(67, 67, 67, 0.3), rgba(0, 0, 0, 0.5)), url('<%= @team.image %>');background-position: center center;
  background-repeat: no-repeat;">
      <h2><%= @team.name %></h2>
    </div>
    <div class="team-show-card-footer flex-row-between-centered">
      <div class="team-show-card-footer-description centered-item">
      </div>
      <div class="team-show-card-footer-infos centered-item">
      </div>
    </div>
  </div>
  <div class="team-show-users">
    <% if @team.users.present? %>
      <% @team.users.each do |user| %>
        <%= link_to user_path(user) do %>
          <div class='workshop-index-card'>
            <div class='workshop-index-image' style="background-image:url('<%= user.picture %>');">
            </div>
            <div class="workshop-index-infos">
              <p><%= "#{user.firstname} #{user.lastname}" %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<!-- Modal -->
<div class='modal fade' id='editTeam' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'edit', team: @team %>
  </div>
</div>

<div class='modal fade' id='editUserTeams' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'user_teams/edit', team: @team %>
  </div>
</div>

<div class='modal fade' id='editTeamCategories' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'team_categories/edit', team: @team %>
  </div>
</div>
