<div id="show-controls" class='flex-row-between-centered'>
  <%= link_to organisation_path, class: 'btn return-arrow' do %><i class='fas fa-arrow-left'></i><% end %>
  <div id='show-buttons'>
    <% if ['Super Admin', 'Admin', 'HR', 'Manager'].include? current_user.access_level %>
      <a data-toggle='modal' data-target='#editTeam'><button class='btn-edit-white btn-edit-icon'><i class='fas fa-pen'></i></button></a>
      <a data-toggle='modal' data-target='#editUserTeams'><button class='btn-edit-white btn-edit-icon'><i class="fas fa-users-cog"></i></button></a>
      <a data-toggle='modal' data-target='#editTeamCategories'><button class='btn-edit-white btn-edit-icon'><i class="far fa-flag"></i></button></a>
      <%= link_to team_path(@team), method: :delete, data: { confirm: 'Are you sure ?'} do %>
        <button class='btn-edit-white btn-edit-icon btn-last'><i class="far fa-trash-alt"></i></button>
      <% end %>
    <% end %>
  </div>
</div>
<div id="container-show">
  <div class="user-show-card flex-column-between-centered">
    <% if @team.image.present? %>
      <div class="center-cropped" style='background-image: url(<%= @team.image %>);'>
      </div>
    <% else %>
      <a data-toggle='modal' data-target='#editImage' class="avatar-xlarge-empty centered-item">
        <h6>Add picture</h6>
      </a>
    <% end %>
    <div class="user-show-card-info">
      <div class='user-show-card-info-line flex-row-between-centered'>
        <p>Name:</p>
        <p><strong><%=  @team.team_name %></strong></p>
      </div>
    </div>
  </div>
</div>
<div id="container-show">
  <div class='training-index-list-dashboard-md'>
    <% if @team.users.present? %>
      <% @team.users.each do |user| %>
        <%= link_to user_path(user) do %>
          <div class='workshop-index-card'>
            <img src="<%= user.picture %>" alt="" class='avatar-sm'>
            <div class="training-index-infos-group-dashboard flex-row-around-centered">
              <div class="training-index-infos-dashboard">
                <% if user.fullname.length < 23 %>
                  <p><%= user.fullname %></p>
                <% else %>
                  <p><%= "#{user.fullname[0..19]}..." %><span><%= user.fullname %></span></p>
                <% end %>
              </div>
              <div class="training-index-infos-dashboard">
                <% if user.email.length < 26 %>
                  <p><%= user.email %></p>
                <% else %>
                  <p><%= "#{user.email[0..22]}..." %><span><%= user.email %></span></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<!-- Modal -->
<div class='modal fade' id='editTeam' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'edit', team: @team %>
  </div>
</div>

<div class='modal fade' id='editUserTeams' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'user_teams/edit', team: @team %>
  </div>
</div>

<div class='modal fade' id='editTeamCategories' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'team_categories/edit', team: @team %>
  </div>
</div>

<div class="modal fade" id="editImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'edit_image', team: @team %>
  </div>
</div>
