<div class="content-show-infos-delete my-3 orange">
  <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
    <% unless page == 'edit' %>
      <% if content.class.to_s == 'Content' %>
        <%= link_to edit_content_path(content) do %>
          <i class="fas fa-pencil-alt py-3 pr-3 mr-3"></i>
        <% end %>
      <% else %>
        <%= link_to edit_workshop_path(content) do %>
          <i class="fas fa-pencil-alt py-3 pr-3 mr-3"></i>
        <% end %>
      <% end %>
    <% end %>
    <% if page == 'edit' && content.class.to_s == 'Content' %>
      <%= link_to destroy_content_path(content_id: content.id), data: {confirm: 'Are you sure ?'} do %>
        <i class="fas fa-trash-alt py-3"></i>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="content-show-infos-duration" >
  <p style='color:#808080;'><b>Duration</b> <i class="fas fa-info-circle" data-toggle='tooltip' title='Duration is automatically calculated from the duration of each text, video, or quiz element.'></i></p>
  <p><%= content.duration %> min <i class="far fa-clock"></i></p>
</div>
<div class="content-show-infos-themes">
    <p style='color:#808080;'><b>Themes</b></p>
    <div class="theme-btns">
      <% content.class.to_s == 'Content' ? categories = content.categories : categories = content.content.categories %>
      <% categories.order(title: :asc).each do |category| %>
        <p class="category-tag"><%= category.title %></p>
      <% end %>
      <% if params[:controller] == 'contents' && page == 'edit' %>
        <a data-toggle='modal' data-target='#addTheme' data-toggle='tooltip' title='Add Theme' class='add-theme'><i class="fas fa-plus" style='color:#F26419;'></i></a><br>
      <% end %>
    </div>
</div>
<div>
  <p style='color:#808080;'>
    <b>Workshop Type</b>
  </p>
  <div class="content-type-radio">
    <% if page == 'edit' %>
      <%= simple_form_for content, remote: true do |f| %>
        <%= f.input :content_type, as: :radio_buttons, collection: [['Synchronous', 'In Person'], ['Asynchronous', 'Online']], :checked => [content.content_type, content.content_type], label_method: :second, value_method: :first, legend_tag: false, input_html: {onclick: 'saveOnSelect(this);'}, class: 'content-type-radio' %>
        <%= f.submit '', class: 'hidden-submit hidden' %>
      <% end %>
      <div class="content-type-icons">
        <i class="fas fa-chalkboard-teacher" style='margin: 3px 0px 13px 0px; color:#F26419;'></i>
        <i class="fas fa-laptop"></i>
      </div>
    <% else %>
      <div class="flex-row-between-centered">
        <% if content.content_type == 'Synchronous' %>
          <p style='margin-right: 5px;'>In Person</p>
          <i class="fas fa-chalkboard-teacher" style='margin-left: 13px; color:#F26419;'></i>
        <% else %>
          <p style='margin-right: 5px;'>Online</p>
          <i class="fas fa-laptop"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
