<div class="content-info">
  <% if page == 'edit' %>
    <%= simple_form_for content, remote: true do |f| %>
      <%= f.input :title, input_html: {autocomplete: "off", style:'margin-bottom: 0px;', onclick: 'try{updateContent(this)}catch{}'}, placeholder: 'Untitled' %>
      <%= f.input :description, input_html: {autocomplete: "off", onclick: 'try{updateContent(this)}catch{}',  style: "height: 150px;"}, placeholder: 'Write the objective or purpose of the workshop here.' %>
      <%= f.submit '', class: 'hidden-submit hidden' %>
    <% end %>
  <% else %>
    <h2 class="d-flex align-items-center"><i class="far fa-file workshop-title__show"></i><%= @content.title %></h2>
    <p class="description"><%= content.description %></p>
  <% end %>
  <div class="content-add-right-mobile">
    <div style='display: flex; justify-content: space-between; margin-top:20px'>
      <div class="content-show-infos-duration" >
        <p style='color:#808080;'><b>Duration</b><i class="fas fa-info-circle" data-toggle='tooltip' title='Duration is automatically calculated from the duration of each text, video, or quiz element.'></i></p>
        <p><%= TimeConversion.convert(content.duration) %> <i class="far fa-clock"></i></p>
      </div>
      <div><p style='color:#808080;'><b>Type</b></p>
        <div class="content-type-radio">
          <% if page == 'edit' %>
            <%= simple_form_for content, remote: true do |f| %>
              <%= f.input :content_type, as: :radio_buttons, collection: [['Synchronous', 'In Person'], ['Asynchronous', 'Online']], :checked => [content.content_type, content.content_type], label_method: :second, value_method: :first, legend_tag: false, input_html: {onclick: 'saveOnSelect(this);'}, class: 'content-type-radio' %>
              <%= f.submit '', class: 'hidden-submit hidden' %>
            <% end %>
            <div class="content-type-icons">
              <i class="fas fa-chalkboard-teacher" style='margin: 3px 0px 13px 0px; color:#F26419;'></i>
              <i class="fas fa-laptop"></i>
            </div>
          <% else %>
            <div class="flex-row-between-centered">
              <% if content.content_type == 'Synchronous' %>
                <p>In Person</p>
                <i class="fas fa-chalkboard-teacher" style='margin-left: 13px; color:#F26419;'></i>
              <% else %>
                <p>Online</p>
                <i class="fas fa-laptop"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="content-show-infos-themes">
      <p style='color:#808080;'><b>Themes</b></p>
      <div class="theme-btns">
        <% content.class.to_s == 'Content' ? categories = content.categories : categories = content.content.categories %>
        <% categories.each do |category| %>
          <p class="category-tag"><%= category.title %></p>
        <% end %>
        <a data-toggle='modal' data-target='#addTheme' data-toggle='tooltip' title='Add Theme' class='add-theme'><i class="fas fa-plus" style='color:#F26419;'></i></a><br>
      </div>
    </div>
  </div>
</div>
