<div class='content-summary-container'>
  <div>
    <h3><b>SUMMARY</b></h3>
  </div>
  <% content.mods.order(position: :asc).each do |mod| %>
    <% if mod.mod_type == 'text' %>
      <a href="#anchor-<%= mod.id %>"><div class='anchor'><div class="icon-container"><i class="far fa-file-alt"></i></div><p><%= mod.title %></p></div></a>
    <% elsif mod.mod_type == 'video' %>
      <a href="#anchor-<%= mod.id %>"><div class='anchor'><div class="icon-container"><i class="fas fa-video"></i></div><p><%= mod.title %></p></div></a>
    <% elsif mod.mod_type == 'assessment' %>
      <a href="#anchor-<%= mod.id %>"><div class='anchor'><div class="icon-container"><i class="fas fa-star-half-alt"></i></div><p><%= mod.title %></p></div></a>
    <% end %>
  <% end %>
</div>

