<% content.mods.order(position: :asc).each do |mod| %>
  <div class="mod-card">
    <a id="anchor-<%= mod.id %>"></a>
    <% if mod.mod_type == 'text' %>
      <div class="content-show-mods-card-text">
        <p><b><%= mod.title %></b></p>
        <%= mod.text %>
      </div>
    <% elsif mod.mod_type == 'video' %>
      <div class="content-show-mods-card-video" style='padding:10px;'>
        <p style='padding: 10px;'><b><%= mod.title %></b></p>
        <%= embed_video(mod.video) %>
      </div>
    <% elsif mod.mod_type == 'image' %>
      <div class="content-show-mods-card-image">
        <img src="<%= mod.image %>" alt="<%= mod.title %>">
      </div>
    <% elsif mod.mod_type == 'assessment' %>
      <% if params[:content_access] == 'granted' %>
        <div class="content-show-mods-card-text">
          <h3 style='margin-bottom: 15px;'>Assessment: <%= mod.title %></h3>
          <% if !UserForm.find_by(user_id: current_user, mod_id: mod.id).present? %>
            <button class='btn-orange'><%= link_to 'Start Quiz', assessment_view_mode_assessment_question_path(mod, mod.assessment_questions.order(position: :asc).first), class: 'btn btn-edit-green', target: '_blank' %></button>
          <% else %>
            <div class="flex-row-between-centered">
              <%= link_to 'Try again', assessment_view_mode_assessment_question_path(mod, mod.assessment_questions.order(position: :asc).first), class: 'btn btn-edit-green' %>
              <p>Grade : <%= UserForm.find_by(user_id: current_user, mod_id: mod.id)&.grade %>%</p>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="content-show-mods-card-assessment" id="assessment-<%= mod.id %>">
          <%= render 'assessments/show', form: mod %>
        </div>
      <% end %>
    <% end %>
    <% if ['Super Admin', 'Admin', 'HR'].include?(current_user.access_level) && !params[:content_access].present? %>
      <% if mod.mod_type == 'text' %>
        <a data-toggle='modal' data-target='#editMod-<%= mod.id %>' class='mod-edit'><i class="fas fa-pencil-alt" data-toggle='tooltip' title='Edit'></i></a>
      <% end %>
      <div class='modal fade' id='editMod-<%= mod.id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
        <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
          <%= render 'mods/edit_mod_text', mod: mod %>
        </div>
      </div>
      <%= link_to mod_path(mod), method: :delete, class: 'mod-delete', data: {confirm: 'Are you sure ?'}, remote: true do %>
        <i class="fas fa-times" id='mod-delete' data-toggle='tooltip' title='Delete'></i>
      <% end %>
      <% if mod.position == 1 %>
        <a disabled class="mod-move-up" style='cursor: default;'>
          <i class="fas fa-arrow-up" style='color:#5B5959;'></i>
        </a>
      <% else %>
        <%= link_to move_up_mod_path(mod), class: 'mod-move-up', remote: true do %>
          <i class="fas fa-arrow-up"></i>
        <% end %>
      <% end %>
      <% if mod.position >= mod.content.mods.count %>
        <a disabled class="mod-move-down" style='cursor: default;'>
          <i class="fas fa-arrow-down" style='color:#5B5959;'></i>
        </a>
      <% else %>
        <%= link_to move_down_mod_path(mod), class: 'mod-move-down', remote: true do %>
          <i class="fas fa-arrow-down"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
