<% content.mods.order(position: :asc).each do |mod| %>
  <% if mod.mod_type == 'text' %>
    <% if page == 'edit' %>
      <div class="content-text active">
        <div class="content-show-view-mode-anchor" id="anchor-<%= mod.id %>"></div>
        <div class="mod-top">
          <div class="mod-title" onclick='toggleMod(this);'>
            <i class="fas fa-angle-down" data-rotated='0'></i>
            <p>Text</p>
          </div>
          <div class="mod-controls">
          <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) && !params[:content_access].present? %>
            <% if mod.position == 1 %>
              <a disabled class="mod-move-up" style='cursor: default;'>
                <i class="fas fa-arrow-up" style='color:#5B5959;'></i>
              </a>
            <% else %>
              <%= link_to move_up_mod_path(mod), class: 'mod-move-up', remote: true do %>
                <i class="fas fa-arrow-up"></i>
              <% end %>
            <% end %>
            <% if mod.position >= mod.content.mods.count %>
              <a disabled class="mod-move-down" style='cursor: default;'>
                <i class="fas fa-arrow-down" style='color:#5B5959;'></i>
              </a>
            <% else %>
              <%= link_to move_down_mod_path(mod), class: 'mod-move-down', remote: true do %>
                <i class="fas fa-arrow-down"></i>
              <% end %>
            <% end %>
            <%= link_to mod_path(mod), method: :delete, class: 'mod-delete', data: {confirm: 'Are you sure ?'}, remote: true do %>
              <i class="far fa-trash-alt" id='mod-delete' data-toggle='tooltip' title='Delete'></i>
            <% end %>
          <% end %>
          </div>
        </div>
        <%= simple_form_for mod, remote: true do |f| %>
          <div class="form-row">
            <div class="form-group col-9">
              <%= f.input :title, placeholder: '*Required', label: 'Title', input_html: {onclick: 'saveMod(this)'}, required: true %>
            </div>
            <div class="form-group col-3">
              <% duration = mod.duration.to_s + ' Mins' %>
              <%= f.input :duration, :collection => ['5 Mins', '10 Mins', '15 Mins', '20 Mins', '25 Mins', '30 Mins', '35 Mins', '40 Mins', '45 Mins', '50 Mins', '55 Mins', '60 Mins'], input_html: {min: 0, onclick: 'saveMod(this)', class:'form-group col'}, label: 'Duration', include_blank: false, selected: duration %>
            </div>
          </div>
          <%= f.rich_text_area :text, placeholder: 'Content', label: false, onclick: 'saveMod(this)' %>
          <%= f.submit '', class: 'hidden-submit hidden' %>
        <% end %>
      </div>
    <% else %>
      <div class='mods'>
        <div class="content-show-view-mode-anchor" id="anchor-<%= mod.id %>"></div>
        <div class="form-row mod-type">
          <div class="form-group col-9">
            <h3><strong><%= mod.title %></strong></h3>
          </div>
          <div class="form-group col-3 mod-duration">
            <% duration = mod.duration.to_s + ' Mins' %>
            <p class='form-group col'><%= duration %></p>
          </div>
        </div>
        <% if access == 'granted' %>
          <div class="form-row mod-content">
            <div class="form-group col-12">
              <%= mod.text %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% elsif mod.mod_type == 'video' %>
    <% if page == 'edit' %>
      <div class="content-video active">
        <div class="content-show-view-mode-anchor" id="anchor-<%= mod.id %>"></div>
        <div class="mod-top">
          <div class="mod-title" onclick='toggleMod(this);'>
            <i class="fas fa-angle-down" data-rotated='0'></i>
            <p>Video</p>
          </div>
          <div class="mod-controls">
          <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) && !params[:content_access].present? %>
            <% if mod.position == 1 %>
              <a disabled class="mod-move-up" style='cursor: default;'>
                <i class="fas fa-arrow-up" style='color:#5B5959;'></i>
              </a>
            <% else %>
              <%= link_to move_up_mod_path(mod), class: 'mod-move-up', remote: true do %>
                <i class="fas fa-arrow-up"></i>
              <% end %>
            <% end %>
            <% if mod.position >= mod.content.mods.count %>
              <a disabled class="mod-move-down" style='cursor: default;'>
                <i class="fas fa-arrow-down" style='color:#5B5959;'></i>
              </a>
            <% else %>
              <%= link_to move_down_mod_path(mod), class: 'mod-move-down', remote: true do %>
                <i class="fas fa-arrow-down"></i>
              <% end %>
            <% end %>
            <%= link_to mod_path(mod), method: :delete, class: 'mod-delete', data: {confirm: 'Are you sure ?'}, remote: true do %>
              <i class="far fa-trash-alt" id='mod-delete' data-toggle='tooltip' title='Delete'></i>
            <% end %>
          <% end %>
          </div>
        </div>
        <%= simple_form_for mod, remote: true do |f| %>
          <div class="form-row">
            <div class="form-group col-9">
              <%= f.input :title, placeholder: '*Required', label: 'Title', input_html: {onclick: 'saveMod(this)'}, required: true %>
            </div>
            <div class="form-group col-3">
              <% duration = mod.duration.to_s + ' Mins' %>
              <%= f.input :duration, :collection => ['5 Mins', '10 Mins', '15 Mins', '20 Mins', '25 Mins', '30 Mins', '35 Mins', '40 Mins', '45 Mins', '50 Mins', '55 Mins', '60 Mins'], input_html: {min: 0, onclick: 'saveMod(this)', class:'form-group col'}, label: 'Duration', include_blank: false, selected: duration %>
            </div>
          </div>
          <%= f.input :video, placeholder: 'Youtube URL', label: 'Video Link:', value: '', input_html: {onclick: 'saveMod(this)'} %>
          <%= f.submit '', class: 'hidden-submit hidden' %>
        <% end %>
      </div>
    <% else %>
      <div class="mods">
        <div class="content-show-view-mode-anchor" id="anchor-<%= mod.id %>"></div>
        <div class="form-row mod-type">
          <div class="form-group col-9">
            <h3><strong><%= mod.title %></strong></h3>
          </div>
          <div class="form-group col-3 mod-duration">
            <% duration = mod.duration.to_s + ' Mins' %>
            <p class='form-group col'><%= duration %></p>
          </div>
        </div>
        <% if access == 'granted' %>
          <div class="form-row mod-content">
            <div class="form-group col-12">
              <% video_id = mod.video.split("=")[1].split("&")[0] %>
              <%= content_tag(:iframe, nil, src: "//www.youtube.com/embed/#{video_id}", allowfullscreen: "allowfullscreen") %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% elsif mod.mod_type == 'assessment' %>
    <% if page == 'edit' %>
      <div class="content-quiz active">
        <div class="content-show-view-mode-anchor" id="anchor-<%= mod.id %>"></div>
        <div class="mod-top">
          <div class="mod-title" onclick='toggleMod(this);'>
            <i class="fas fa-angle-down" data-rotated='0'></i>
            <p>Quiz</p>
          </div>
          <div class="mod-controls">
          <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) && !params[:content_access].present? %>
            <% if mod.position == 1 %>
              <a disabled class="mod-move-up" style='cursor: default;'>
                <i class="fas fa-arrow-up" style='color:#5B5959;'></i>
              </a>
            <% else %>
              <%= link_to move_up_mod_path(mod), class: 'mod-move-up', remote: true do %>
                <i class="fas fa-arrow-up"></i>
              <% end %>
            <% end %>
            <% if mod.position >= mod.content.mods.count %>
              <a disabled class="mod-move-down" style='cursor: default;'>
                <i class="fas fa-arrow-down" style='color:#5B5959;'></i>
              </a>
            <% else %>
              <%= link_to move_down_mod_path(mod), class: 'mod-move-down', remote: true do %>
                <i class="fas fa-arrow-down"></i>
              <% end %>
            <% end %>
            <%= link_to mod_path(mod), method: :delete, class: 'mod-delete', data: {confirm: 'Are you sure ?'}, remote: true do %>
              <i class="far fa-trash-alt" id='mod-delete' data-toggle='tooltip' title='Delete'></i>
            <% end %>
          <% end %>
          </div>
        </div>
        <%= simple_form_for mod, remote: true do |f| %>
          <div class="form-row">
            <div class="form-group col-9">
              <%= f.input :title, placeholder: '*Required', label: 'Title', input_html: {onclick: 'saveMod(this)'}, required: true %>
            </div>
            <div class="form-group col-3">
              <% duration = mod.duration.to_s + ' Mins' %>
              <%= f.input :duration, :collection => ['5 Mins', '10 Mins', '15 Mins', '20 Mins', '25 Mins', '30 Mins', '35 Mins', '40 Mins', '45 Mins', '50 Mins', '55 Mins', '60 Mins'], input_html: {min: 0, onclick: 'saveMod(this)', class:'form-group col'}, label: 'Duration', include_blank: false, selected: duration %>
            </div>
          </div>
          <%= f.submit '', class: 'hidden-submit hidden' %>
        <% end %>
        <div id='assessment-<%= mod.id %>'>
          <%= render 'assessments/show', form: mod %>
        </div>
      </div>
    <% else %>
      <div class="mods">
        <div class="content-show-view-mode-anchor" id="anchor-<%= mod.id %>"></div>
        <div class="form-row mod-type">
          <div class="form-group col-9">
            <h3><strong><%= mod.title %></strong></h3>
          </div>
          <div class="form-group col-3 mod-duration">
            <% duration = mod.duration.to_s + ' Mins' %>
            <p class='form-group col'><%= duration %></p>
          </div>
        </div>
        <% if access == 'granted' %>
          <div class="form-row mod-content">
            <div class="form-group col-12 mod-btn">
              <div class="quiz-start">
                <% if !UserForm.find_by(user_id: current_user, mod_id: mod.id).present? && mod.assessment_questions.present? %>
                  <button class='btn-orange'><%= link_to 'Start Quiz', assessment_view_mode_assessment_question_path(mod, mod.assessment_questions.order(position: :asc).first), class: 'btn btn-edit-green', target: '_blank' %></button>
                <% elsif mod.assessment_questions.present? %>
                  <div class="flex-row-between-centered" style='flex-direction: column'>
                    <p>Grade : <%= UserForm.find_by(user_id: current_user, mod_id: mod.id)&.grade %>%</p>
                    <%= link_to 'Try again', assessment_view_mode_assessment_question_path(mod, mod.assessment_questions.order(position: :asc).first), class: 'btn btn-edit-green' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="content-add-mods">

</div>

<% if access == 'granted' %>
  <div style='display: inline-block; margin-top: 5rem;'>
    <% if UserInterest.find_by(user_id: current_user.id, content_id: @content.id, interest_type: 'Completed').present? %>
      <div class="btn-complete completed">
        <p>Training Completed</p>
      </div>
    <% else %>
      <%= link_to complete_content_path(content_id: @content.id), class: 'btn-orange btn-complete', remote: true do %>
        <p>Complete Training</p>
      <% end %>
    <% end %>
  </div>
<% end %>
