<% content.mods.each do |mod| %>
  <div class="mod-card">
    <a id="anchor-<%= mod.id %>"></a>
    <% if mod.mod_type == 'text' %>
      <div class="content-show-mods-card-text">
        <p><%= mod.title %></p>
        <%= mod.text %>
      </div>
    <% elsif mod.mod_type == 'video' %>
      <div class="content-show-mods-card-video">
        <%= embed_video(mod.video) %>
      </div>
    <% elsif mod.mod_type == 'image' %>
      <div class="content-show-mods-card-image">
        <img src="<%= mod.image %>" alt="<%= mod.title %>">
      </div>
    <% elsif mod.mod_type == 'assessment' %>
      <div class="content-show-mods-card-assessment" id="assessment-<%= mod.id %>">
        <%= render 'assessments/show', form: mod %>
      </div>
    <% end %>
    <% if ['Super Admin', 'Admin', 'HR'].include?(current_user.access_level) %>
      <%= link_to mod_path(mod), method: :delete, class: 'mod-delete', data: {confirm: 'Are you sure ?'}, remote: true do %>
        <i class="fas fa-times"></i>
      <% end %>
    <% end %>
  </div>
<% end %>
