<% content.mods.each do |mod| %>
  <a id="anchor-<%= mod.id %>"></a>
  <% if mod.mod_type == 'text' %>
    <div class="content-show-mods-card-text">
      <p><%= mod.title %></p>
      <%= mod.text %>
    </div>
  <% elsif mod.mod_type == 'video' %>
    <div class="content-show-mods-card-video">
      <%= embed_video(mod.video) %>
    </div>
  <% elsif mod.mod_type == 'image' %>
    <div class="content-show-mods-card-image">
      <img src="<%= mod.image %>" alt="<%= mod.title %>">
    </div>
  <% end %>
<% end %>
