<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= "Edit #{mod.title}" %></h3>
    </div>
    <button type="button" class="btn btn-edit-icon" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body modal-body<%= mod.id %>" id="modalNewBookinBody">
    <%= simple_form_for mod do |f| %>
      <%= f.input :title %>
      <%= f.input :duration %>
      <%= f.input :document, label: 'Document (url)' %>
      <%= f.input :media, label: 'Media (url)' %>
      <% unless mod.mod_type == 'Assessment'  %>
        <%= f.label :content %>
        <%= f.cktext_area :content, id: "ckeditor#{mod.id}" %>
      <% end %>
      <div style=" display: flex; justify-content: space-between;margin-top:3rem;">
        <div class='flex-row-between-centered'>
          <% if @workshop.present? %>
            <%= button_tag type: 'submit', name: 'workshop_id', value: "#{@workshop.id}", class: 'btn btn-edit-green btn-edit-icon' do %>
              <i class="fas fa-save"></i>
            <% end %>
            <%= link_to mod_path(mod, workshop_id: @workshop.id), method: :delete, data: { confirm: 'Are you sure ?'} do %>
              <button class="btn btn-edit-red btn-edit-trash btn-edit-icon btn-last">
                <i class="fas fa-trash-alt"></i>
              </button>
            <% end %>
          <% elsif @training_workshop.present? %>
            <%= button_tag type: 'submit', name: 'training_workshop_id', value: "#{@training_workshop.id}", class: 'btn btn-edit-green btn-edit-icon' do %>
              <i class="fas fa-save"></i>
            <% end %>
          <% else %>
            <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-edit-icon' do %>
              <i class="fas fa-save"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
