<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Add Quiz to <%= @content.title %></h3>
    </div>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for :new_assessment, url: create_ajax_assessment_path, remote: true do |f| %>
      <%= f.text_field :title, placeholder: 'Quiz Title' %>
      <%= f.hidden_field :content_id, value: @content.id %>
      <div class="cancel-submit-btns">
        <button type="button" class="btn-orange-text cancel-close" data-dismiss="modal" aria-label="Close">Cancel</button>
        <%= button_tag type: 'submit', data: { toggle: 'tooltip' }, title: 'Save', class: 'btn-orange', onclick: 'closeModalOnSubmit(this);' do %>
          <p>Add Quiz</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
