<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Add Quiz to <%= @content.title %></h3>
    </div>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for :new_assessment, url: create_ajax_assessment_path, remote: true do |f| %>
      <%= f.text_field :title, placeholder: 'Quiz Title' %>
      <%= f.input :duration, input_html: {min: 0} %>
      <%= f.hidden_field :content_id, value: @content.id %>
      <%= f.submit '', class: 'hidden-submit hidden' %>
      <div class="cancel-submit-btns">
        <div type="button" class="btn-orange-text cancel-close" data-dismiss="modal" aria-label="Close">Cancel</div>
        <div class="btn-orange" onclick="closeModalOnSubmit(this);">
          <p>Add Quizz</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
