<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Add text to <%= @content.title %></h3>
    </div>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for Mod.new, remote: true do |f| %>
      <%= f.hidden_field :content_id, value: @content.id %>
      <%= f.hidden_field :mod_type, value: 'text' %>
      <%= f.input :title, placeholder: 'Title', label: false, required: true %>
      <%= f.trix_editor :text, placeholder: 'Content', label: false %>
      <%= f.submit '', class: 'hidden-submit hidden' %>
      <div class="cancel-submit-btns">
        <div type="button" class="btn-orange-text cancel-close" data-dismiss="modal" aria-label="Close">Cancel</div>
        <button class="btn-orange" disabled='true' onclick="closeModalOnSubmit(this);">
          <p>Add Text</p>
        </button>
      </div>
    <% end %>
  </div>
</div>
