<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style="display:flex;justify-content:center;text-align:center;">
      <h3 class="modal-title" id="myModalLabel"><%= "Themes" %></h3>
    </div>
    <button type="button" class="btn btn-edit-icon" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody" style='display:flex;flex-direction:column;align-items:center;'>
    <% if Category.where(company_id:current_user.company_id).present? %>
      <%= simple_form_for [@training_program, @program_category] do |f| %>
        <div id='checkbox2' style=" display:flex;justify-content:space-between;flex-direction:column;">
          <%= collection_check_boxes(:training_program, :category_ids, Category.where(company_id: current_user.company_id).order(title: :asc), :id, :title) do |b| %>
            <%= b.label class: 'label-checkbox', style: 'color:black; font-weight:400 !important;' do %>
              <%= b.check_box + b.text %>
            <% end %>
          <% end %>
        </div>
        <div style="display:flex;justify-content:center;margin-top:30px;">
          <%= button_tag :submit, class: 'btn btn-edit-green' do %>
            <p><b>SAVE</b> <i class="fas fa-save"></i></p>
          <% end %>
        </div>
      <% end %>
    <% else %>
     <p><%= 'Sorry there are no themes.' %></p>
    <% end %>
  </div>
</div>


<script>
  $('#checkbox2 input:checkbox:checked').parent().toggleClass('checked-box');
  $('#checkbox2 input:checkbox').change(function () {
    $(this).parent().toggleClass('checked-box');
  });
</script>
