<% trainings.each do |training| %>
  <% training_creator = training.creator %>

  <% lines = [
    training.title,
    training.employees.count,
    training_creator&.fullname
    ] %>
  <% width = (1/lines.count.to_f)*100 %>
  <div
    data-interview-form-id="<%= training.id %>"
    class="d-flex justify-content-between align-items-center px-0 pt-2rem pb-2rem border-top-bkt-light-grey position-relative">
    <% lines.each do |line| %>
      <div class='flex-row-start-centered fs-1_6rem' style='flex-basis: <%= width %>%;'>
        <% if line == training_creator&.fullname %>
          <img src="<%= training_creator.picture %>" class='avatar-sm mr-1rem' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
        <% end %>
        <%= line %>
      </div>
    <% end %>
    <%= link_to '', training_path(training), class: 'stretched-link' %>

    <div class="cursor-pointer z-index-5" onclick="openContentMenu(this);">
      <% if current_user.manager_or_above? %>
        <i class="fas fa-ellipsis-v"></i>
      <% end %>
    </div>

    <div
      data-actions="interview-form"
      class="position-absolute rounded-5px z-index-100 bkt-box-shadow-compact d-flex flex-column align-items-start bkt-bg-white bkt-dark-grey hidden"
      style='right: 0; top: 4rem;'
    >
      <%= link_to 'Delete', training_path(training),
        method: :delete,
        remote: true,
        data: {
          confirm: 'Are you sure ?'
        },
        class: 'px-3 py-2 bkt-light-grey-hover w-100'
      %>
    </div>
  </div>

<% end %>

<% if @any_more %>
  <div class="paginate-container paginate-container-orange">
    <% if params.dig(:search, :page).present? && params.dig(:search, :page).to_i > 1 %>
      <div class="paginate__previous-button paginate__button-orange" onclick='changePage("previous");'>
        <span class="iconify" data-icon="fontisto:angle-left"></span>
        <p>Previous</p>
      </div>
    <% end %>

    <%= paginate @trainings, left: 3, right: 1 %>

    <% if @trainings.count == 10 && @any_more %>
      <div class="paginate__next-button paginate__button-orange" onclick='changePage("next");'>
        <p>Next</p>
        <span class="iconify" data-icon="fontisto:angle-right"></span>
      </div>
    <% end %>
  </div>
<% end %>

