<% trainings.each do |training| %>
  <% training_creator = training.creator %>

  <% lines = [
    training.title,
    training.employees.count,
    training_creator&.fullname
    ] %>
  <% width = (1/lines.count.to_f)*100 %>
  <div
    data-interview-form-id="<%= training.id %>"
    class="d-flex justify-content-between align-items-center px-0 pt-2rem pb-2rem border-top-bkt-light-grey position-relative">
    <% lines.each do |line| %>
      <div class='flex-row-start-centered fs-1_6rem' style='flex-basis: <%= width %>%;'>
        <% if line == training_creator&.fullname %>
          <img src="<%= training_creator&.picture %>" class='avatar-sm mr-1rem' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
        <% end %>
        <%= line %>
      </div>
    <% end %>
    <%= link_to '', training_path(training), class: 'stretched-link' %>

    <% if TrainingPolicy.new(current_user, training).destroy? %>

      <div data-controller="dropdown"
           class="pos-rel d-flex justify-content-end">

        <div class="flex-row-center-centered height-2_5rem width-2_5rem-forced rounded-15px bkt-light-grey bkt-white-hover            bkt-bg-light-grey-hover cursor-pointer z-index-5"
              data-action="click->dropdown#toggle dropdown:click:outside->dropdown#hide">
          <i class="fas fa-ellipsis-v"></i>
        </div>

        <div
          data-dropdown-target="menu"
          class="pos-abs rounded-5px z-index-100 bkt-box-shadow-compact d-flex flex-column align-items-start bkt-bg-white bkt-dark-grey hidden"
          style='right: 0; top: 3rem; width: 120px;'
        >
          <%= link_to 'Delete', training_path(training),
            method: :delete,
            remote: true,
            class: 'px-3 py-2 bkt-light-grey-hover w-100',
            data: {
              confirm: 'Are you sure ?'
            }
          %>
        </div>

      </div>
    <% end %>
  </div>

<% end %>

<% if @any_more %>

  <div class="paginate-container paginate-container-orange">

    <% if params.dig(:search, :page).present? && params.dig(:search, :page).to_i > 1 %>

      <div class="paginate__previous-button paginate__button-orange"
           data-action='click->change-page#previous'>
        <span class="iconify" data-icon="fontisto:angle-left"></span>
        <p>Previous</p>
      </div>

    <% end %>

    <%= paginate @trainings, left: 3, right: 1 %>

    <% if @trainings.count == 10 && @any_more %>

      <div class="paginate__next-button paginate__button-orange"
           data-action='click->change-page#next'>
        <p>Next</p>
        <span class="iconify" data-icon="fontisto:angle-right"></span>
      </div>

    <% end %>

  </div>

<% end %>

