<% if @content.mods.present? %>
  <% @content.content_mods.order(position: :asc).each do |content_mod| %>
      <div class="content-show-content flex-row-between-centered">
        <div class='flex-row-start-centered'>
          <div class="content-show-content-controls flex-column-centered">
            <% if content_mod.position == 1 %>
              <i class="fas fa-caret-up" style='color:grey;cursor:default;'></i>
            <% else %>
              <%= link_to move_up_content_mod_path(content_mod), remote: true do %>
                <i class="fas fa-caret-up"></i>
              <% end %>
            <% end %>
            <% if content_mod.position == @content.content_mods.count %>
              <i class="fas fa-caret-down" style='color:grey;cursor:default;'></i>
            <% else %>
              <%= link_to move_down_content_mod_path(content_mod), remote: true do %>
                <i class="fas fa-caret-down"></i>
              <% end %>
            <% end %>
          </div>
          <div class="content-show-content-index centered-item">
            <p><%= content_mod.position %></p>
          </div>
          <% if content_mod.mod.mod_type == 'Assessment' %>
            <%= link_to assessment_path(content_mod.mod, content_id: @content.id) do %>
              <div class="flex-row-between-centered">
                <i class="fas fa-question-circle" style='margin-right: 1rem;font-size:2rem;'></i>
                <p><%= "#{content_mod.mod.title} - #{content_mod.mod.duration} min" %></p>
              </div>
            <% end %>
          <% else %>
            <%= link_to mod_path(content_mod.mod, content_id: @content.id) do %>
              <p><%= "#{content_mod.mod.title} - #{content_mod.mod.duration} min" %></p>
            <% end %>
          <% end %>
        </div>
          <a data-toggle='modal' data-target='#editModule<%= content_mod.id %>'>
            <button class="pencil-btn"><i class='fas fa-pen'></i></button>
          </a>
      </div>
    <div class='modal fade' id='editModule<%= content_mod.id %>' tabindex='-1' role='dialog' aria-labelledby='editModule<%= content_mod.id %>'  data-backdrop="static" data-keyboard="false" data-focus='false'>
      <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
        <%= render 'mods/edit', mod: content_mod.mod %>
      </div>
    </div>
  <% end %>
<% end %>
