<% if (['Super Admin', 'Admin', 'HR'].include?(current_user.access_level) && params[:redirect_from] != 'dashboard' && params[:redirect_from] != 'user_show') && params[:content_access] != 'granted' %>
  <%= simple_form_for content, remote: true do |f| %>
    <div class="flex-row-between-centered">
      <div class="content-show-infos" onclick="openInput(this);">
        <p class='content.title'><b><%= content.title %></b></p>
        <div class="content-show-input hidden">
          <%= f.input :title, label: false, input_html: { autocomplete: "off" } %>
        </div>
      </div>
    </div>
    <div class="duration-content-type">
      <div class="content-show-infos content-show-infos-duration" >
        <div class="slidecontainer">
        <p><%= f.input :duration, label: false, input_html: { autocomplete: "off",  type: 'range', min: '0', max: '600', id: 'myRange', value: content.duration, onmouseup: 'saveOnSelect();' }%></p>
        <p class='sliding'>Duration: <span id="demo"></span> Minutes</p>
        </div>
      </div>
      <div class="content-type-radio">
        <%= f.input :content_type, as: :radio_buttons, collection: [['Synchronous', 'In Person'], ['Asynchronous', 'Online']], :checked => [content.content_type, content.content_type], label_method: :second, value_method: :first, legend_tag: false, input_html: {onclick: 'saveOnSelect();'}, class: 'content-type-radio' %>
      <div class="content-type-icons">
        <i class="fas fa-chalkboard-teacher" style='margin: 3px 0px 13px 0px; color:#F26419;'></i>
        <i class="fas fa-laptop"></i>
      </div>
      </div>
    </div>
    <div class="content-show-infos content-show-infos-themes">
      <% content.categories.order(title: :asc).each do |category| %>
        <p class="category-tag"><%= category.title %></p>
      <% end %>
      <a data-toggle='modal' data-target='#addTheme' class='btn-text-white'><i class="fas fa-plus"></i> Themes </a><br>
    </div>
    <div>
      <div class="content-show-infos content-show-infos-trix" onclick="openInputTrix(this);">
        <p>Objectives :
          <br>
          <% if content.description.present? %>
            <p><%= content.description %></p>
          <% else %>
            <p style='color:#888888;'>Write the objective or purpose of the workshop here.</p>
          <% end %>
        </p>
      </div>
      <div class="content-show-input-trix hidden">
        <%= f.trix_editor :description, label: false, input_html: { autocomplete: "off"}, placeholder: 'Objectives' %>
      </div>
    </div>
    <%= f.submit '', class: 'hidden-submit hidden' %>
  <% end %>
<% else %>
  <div class="content-info">
    <div class="content-type-categories">
      <div class="content-employee">
        <div class="content-show-infos-employee">
          <p class='content.title'><b><%= content.title %></b></p>
        </div>
        <div class="content-show-infos-employee content-show-infos-themes" style='margin-top:10px;'>
          <% content.categories.order(title: :asc).each do |category| %>
            <p class="category-tag"><%= category.title %></p>
          <% end %>
        </div>
      </div>
      <div class="content-type-radio-employee">
        <div class="slidecontainer">
          <p class='sliding'><i class="far fa-clock"></i> <%= content.duration %> Minutes</p>
        </div>
        <% if content.content_type == 'Synchronous' %>
          <p><i class="fas fa-chalkboard-teacher" style='color:#F26419'></i> In Person</p>
        <% else %>
          <p><i class="fas fa-laptop"></i> Online</p>
        <% end %>
      </div>
    </div>
      <div class="content-show-infos-employee content-show-infos-trix"style='margin-top:20px;'>
        <p>
          <% if content.description.present? %>
            <p><%= content.description %></p>
          <% end %>
        </p>
      </div>
    </div>
<% end %>

<div class='modal fade' id='addTheme' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'contents/manage_categories', content: content %>
  </div>
</div>

<script>
  slider = document.getElementById("myRange");
  output = document.getElementById("demo");
  output.innerHTML = slider.value; // Display the default slider value

  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function() {
    output.innerHTML = this.value;
  }

</script>
