<div id="content-show-container">
  <div id="content-show-container-right">
    <%= simple_form_for @content do |f| %>
      <div class="content-add">
        <div class="content-add-left">
          <div class="content-show-attributes-left">
            <div class="content-info">
                <%= f.input :title, label: false, input_html: {autocomplete: "off", style:'margin-bottom: 0px;'}, placeholder: 'Untitled' %>
                <%= f.input :description, label: false, input_html: {autocomplete: "off"}, placeholder: 'Write the objective or purpose of the workshop here.' %>
            </div>
          </div>
          <div class="button-add-catalogue">
            <%= button_tag type: 'submit' do %>
              <div class="btn-orange">
                <p>Create Workshop</p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="content-add-right">
          <div class="content-show-attributes-right">
            <div>
              <p style='color:#808080;'>
                <b>Workshop Type</b>
              </p>
              <div class="content-type-radio">
                <%= f.input :content_type, as: :radio_buttons, collection: [['Synchronous', 'In Person'], ['Asynchronous', 'Online']], :checked => [@content.content_type, @content.content_type], label_method: :second, value_method: :first, legend_tag: false, class: 'content-type-radio' %>
                <div class="content-type-icons">
                  <i class="fas fa-chalkboard-teacher" style='margin: 3px 0px 13px 0px; color:#F26419;'></i>
                  <i class="fas fa-laptop"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <div class='modal fade' id='addTheme' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
    <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'contents/partials/manage_categories', content: @content %>
    </div>
  </div>
</div>
