<div class="centered-item p-2rem bkt-bg-white bkt-box-shadow-light pos-fix z-index-150" style='top: 7.5rem; left:  0; right: 0; height: 9rem;'>
  <%= render_component BackComponent.new(fallback: catalogue_path) %>
  <h2>Workshop</h2>
  </div>
</div>

<div id="content-edit__container" class='flex-row-between-start bkt-bg-light-orange pos-rel bkt-box-shadow-compact-top' style='margin-top: 9rem;'>
  <div id="content-edit__container-left" class='bkt-bg-white py-3rem px-5rem border-right-bkt-light-grey pos-fix z-index-100' style='top: 16.5rem; left: 0;'>
    <%= render 'contents/edit/edit_show_summary', content: @content %>
  </div>

  <div id="content-edit__container-right" style='margin-left: 30rem;'>

      <div id="content-edit__content" class='flex-row-between-start'>

        <div id="content-edit__content-center" class='flex-column-start-centered'>

          <div id="content-edit__attributes-center" class='bkt-bg-white rounded-10px p-2rem mb-2rem' style='width: 100%; max-width: 64rem;'>
            <div class="flex-row-start-centered mb-2rem">
              <span class="iconify fs-2_4rem bkt-orange mr-1rem" data-icon="akar-icons:file"></span>
              <p class='fs-1_8rem font-weight-500 bkt-dark-grey'><%= @content.title %></p>
            </div>
            <% if current_user.hr_or_above? %>
              <%= render 'contents/show/show_content_mods', content: @content %>
            <% else %>
              <%= render 'contents/show/show_content_mods_teaser', content: @content %>
            <% end %>
          </div>

      </div>

      <div id="template-edit__content-right" style=''>
        <div class="template-show-attributes-right">
          <%= render 'contents/show/show_content_settings', content: @content %>
        </div>
      </div>

    </div>

  </div>
</div>
