<% access = '' %>
<% if params[:session_id].present? && Session.find(params[:session_id]).date <= Date.today %>
  <% session = Session.find(params[:session_id]) %>
  <% access = 'granted' unless session.available_date.present? && session.available_date < Date.today %>
<% end %>
<div id="content-show-container">
  <div id="content-show-container-left">
    <%= render 'contents/show_anchors', content: @content, page: 'show', access: access %>
  </div>
  <div id="content-show-container-right">
    <div class="content-add">
      <div class="content-add-left">
        <div class="content-show-attributes-left">
          <%= render 'contents/show_attributes_left', content: @content, page: 'show', access: access %>
        </div>
        <div class="content-show-mods-edit-mode">
          <%= render 'mods/content_show_mods_index', content: @content, page: 'show', access: access %>
        </div>
      </div>
      <div class="content-add-right">
        <div class="content-show-attributes-right">
          <%= render 'contents/show_attributes_right', content: @content, page: 'show', access: access %>
        </div>
      </div>
    </div>
  </div>
  <% if params[:content_access] == 'granted' %>
    <div style='display: inline-block; margin-top: 5rem;'>
      <% if UserInterest.find_by(user_id: current_user.id, content_id: @content.id, interest_type: 'Completed').present? %>
        <div class="btn-complete completed">
          <p>Training Completed</p>
        </div>
      <% else %>
        <%= link_to complete_content_path(content_id: @content.id), class: 'btn-orange btn-complete', remote: true do %>
          <p>Complete Training</p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
