<div id="content-show-container">
  <div id="content-show-container-left"></div>
  <div id="content-show-container-right">
    <div class="content-show-attributes">
      <%= render 'show_attributes', content: @content %>
    </div>
    <div class="content-show-mods-container">
      <div class="content-show-mods-controls">
        <div class="content-show-mods-controls-block">
          <i class="far fa-file-alt"></i>
          <p>Text</p>
          <div class="hidden-mod-form hidden">
            <%= simple_form_for Mod.new do |f| %>
              <%= f.text_field :content, placeholder: 'Content' %>
            <% end %>
          </div>
        </div>
        <div class="content-show-mods-controls-block">
          <i class="fas fa-video"></i>
          <p>Video</p>
          <div class="hidden-mod-form hidden">
            <%= simple_form_for Mod.new do |f| %>
              <%= f.text_field :video, placeholder: 'Youtube link' %>
            <% end %>
          </div>
        </div>
        <div class="content-show-mods-controls-block">
          <i class="fas fa-image"></i>
          <p>Image</p>
          <div class="hidden-mod-form hidden">
            <%= simple_form_for Mod.new do |f| %>
              <%= f.text_field :image, placeholder: 'Image link' %>
            <% end %>
          </div>
        </div>
        <div class="content-show-mods-controls-block">
          <i class="fas fa-star-half-alt"></i>
          <p>Quiz</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function openInput(element) {
    input = element.parentNode.querySelector('.content-show-input');
    element.querySelector('p').classList.add('hidden');
    input.classList.remove('hidden');
  }
</script>
