<div class="organisation__users-headers-div">
  <div class="organisation__user-checkbox-container">
    <input type="checkbox" class='hidden'>
    <div class="organisation__user-checkbox" onclick="selects()"></div>
  </div>
</div>
<div class="organisation__users-headers-div">
  <p>Name</p>
</div>
<div class="organisation__users-headers-div">
  <p>Job Title</p>
</div>
<div class="organisation__users-headers-div">
  <p>Email</p>
</div>
<div class="organisation__users-headers-div">
  <p>Access Level</p>
</div>
<div class="organisation__users-headers-div">
  <p>Manager</p>
</div>

<% unless @tag_categories.empty? %>
  <% @tag_categories.where.not(name: 'Job Title').order(position: :asc).each do |tag_category| %>
    <div class="organisation__users-headers-div">
      <% if params[:edit] == "edit" %>
        <% if tag_category.position > 1 %>
          <%= link_to organisation_path(edit: "edit", tag_position: 'left', tag_category_id: tag_category.id, users: users.map(&:id).join(',')) do %>
            <i class="fas fa-chevron-left pr-3 move-tag-category"></i>
          <% end %>
        <% end %>
      <% end %>
      <p><%= tag_category.name %></p>
      <% if params[:edit] == "edit"  %>
        <% if tag_category.position < @tag_categories.count %>
          <%= link_to organisation_path(edit: "edit", tag_position: 'right', tag_category_id: tag_category.id, users: users.map(&:id).join(',')) do %>
            <i class="fas fa-chevron-right pl-3 move-tag-category"></i>
          <% end %>
        <% end %>
      <% end %>
      <% if params[:edit] == "edit"  %>
        <%= link_to tag_category_path(tag_category), data: { confirm: "Are you sure?" }, method: :delete do %>
          <i class="fas fa-times delete-tag-category"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if params[:edit] == "edit" %>
    <%= link_to organisation_path(edit: "none") do %>
      <i class="fas fa-check editing-tag-category"></i>
    <% end %>
  <% elsif params[:edit] == "none" || !params[:edit].present? %>
    <%= link_to organisation_path(edit: "edit") do %>
      <%# <i class="fas fa-pencil-alt editing-tag-category"></i> %>
    <% end %>
  <% end %>
<% end %>


<script type="text/javascript">
function selects(){
    var ele=document.getElementsByName('chk');
    for(var i=0; i<ele.length; i++){
        if(ele[i].type=='checkbox')
            ele[i].checked=true;
    }
}
function deSelect(){
    var ele=document.getElementsByName('chk');
    for(var i=0; i<ele.length; i++){
        if(ele[i].type=='checkbox')
            ele[i].checked=false;

    }
}

function selectUser(element) {
    user_card = element
    user_card_infos = user_card.querySelector('.book-users-card-infos')
    selected_container = document.querySelector('.book-users-selected')
    selected_array = []
    checkbox = user_card.querySelector('input[type="checkbox"]')
    next_button = document.querySelector('.campaign__next-button')
    next_button_arrow = document.querySelector('.campaign__next-button-arrow')
    next_arrow_btn_mobile = document.querySelector('.next-arrow-btn-mobile')
    checkbox.checked = !checkbox.checked
    document.querySelectorAll('#' + user_card.id).forEach((card) => {
      if(checkbox.checked == true) {
        card.classList.add('selected')
      } else {
        card.classList.remove('selected')
      }
      card.querySelector('input[type="checkbox"]').checked = checkbox.checked
    })
    if (checkbox.checked == true) {
      new_card = document.createElement('div')
      new_card.classList.add('book-users-card', 'selected')
      new_card.id = user_card.id
      template = document.querySelector('.book-users-card-template')
      new_card.innerHTML = template.innerHTML
      new_card.onclick = function(e) {selectUser(this)}
      new_card_infos = new_card.querySelector('.book-users-card-infos')
      new_info_name = document.createElement('div')
      new_info_name.innerHTML = user_card_infos.querySelectorAll('div')[0].innerHTML
      new_info_email = document.createElement('div')
      new_info_email.innerHTML = user_card_infos.querySelectorAll('div')[1].innerHTML
      new_card_checkbox = new_card.querySelector('input[type="checkbox"]')
      new_card_checkbox.checked = true
      new_card_checkbox.id = 'user' + new_card.id.split('-')[2]
      new_card_infos.appendChild(new_info_name)
      new_card_infos.appendChild(new_info_email)
      next_arrow_btn_mobile.classList.remove('disabled')
      document.querySelector('.book-users-selected').appendChild(new_card)
    } else {
      selected_container.querySelector('#' + user_card.id).remove();
      next_button.classList.remove('hilight-next-step')
      next_arrow_btn_mobile.classList.add('disabled')
    }
    selected_container.querySelectorAll('.selected:not(.book-users-card-template)').forEach((card) => {
      selected_array.push(card.id.split('-')[1])
    })
    document.querySelectorAll('#campaign_selected_users').forEach((storage) => {
      storage.value = selected_array
    })
    document.getElementById('search_campaign_selected_users').value = selected_array
    if (selected_array.length == 0) {
      next_button.disabled = true
      next_button.classList.add('disabled')
      next_button_arrow.classList.add('disabled')
      next_button.classList.remove('hilight-next-step')
    } else {
      next_button.disabled = false
      next_button.classList.remove('disabled')
      next_button_arrow.classList.remove('disabled')
      next_button.classList.add('hilight-next-step')
    }
    document.querySelector('.book-users-headers-selected').innerHTML = '<p>' + selected_array.length + ' SELECTED EMPLOYEES</p>'
  }

  function selectAllUsers(element) {
    list = document.querySelector('.book-users-list:not(.hidden)')
    list.querySelectorAll('.book-users-card').forEach((button) => {
      selectUser(button)
    })
    checkbox = element.closest('.book-users-card').querySelector('input')
    checkbox.checked = !checkbox.checked
    if (checkbox.checked) {
      element.style.backgroundColor = '#3177B7'
    } else {
      element.style.backgroundColor = 'transparent'
    }
  }
</script>
