<div class='organisation__controls'>
  <div class="organisation__title-tags">
    <h1>Employees (<%= User.where(company_id: current_user.company_id).count %>)</h1>
  </div>
  <% if UserPolicy.new(current_user, nil).create? %>
    <button data-toggle='modal' data-target='#newUser' class="fs-1_6rem p-3 bkt-bg-dark-grey bkt-white rounded-5px font-weight-700">
      + Add a user
    </button>
  <% end %>
</div>

<div class='organisation__users-list' data-fl-scrolls='{"orientation": "horizontal"}' data-controller="employees-list">

  <div class="organisation__searchbar">
    <i class="fas fa-search organisation__search-trainings-icon"></i>
    <%= simple_form_for :search, url: organisation_path, method: :get, remote: true do |f| %>
      <%= f.input :name, placeholder: 'Search', input_html: {autocomplete: 'off', onkeyup: 'resetPage(this);'}, label: false, required: false %>
      <%= f.hidden_field :tags %>
      <%= f.hidden_field :page, value: '1' %>
      <%= f.submit 'Search', class: 'btn-search', onclick: "document.querySelector('body').classList.add('wait');" %>
      <button type='submit' class="btn-search btn-search--mobile">
        <i class="fas fa-search"></i>
      </button>
    <% end %>
    <button class='btn-reset bkt-blue' onclick='resetAllFilter(this);'>Reset</button>

    <% if UserPolicy.new(current_user, nil).create? %>
      <div class="organisation__control-dropdown" data-employees-list-target="usersListOpt">
        <div class="dropdown">
          <div class="btn-icon" id="dropdownMenu" data-toggle="dropdown">
            <i class="fas fa-ellipsis-h"></i>
          </div>
          <ul class="dropdown-menu dropdown-menu-right organisation__dropdown-menu" aria-labelledby="dropdownMenu">
            <li class="hidden"><a id='organisation-dropdown__create-user-redirect' data-toggle='modal' data-target='#userCreated'></a></li>
            <li class='hidden'><a id='organisation-dropdown__remove-user-redirect' data-toggle='modal' data-target='#removeUser'>Remove Selected User</a></li>
            <% if current_user.admin? %>
              <li><a data-toggle='modal' data-target='#importUsers'>Import Users</a></li>
            <% end %>
            <li><a data-toggle='modal' data-target='#exportUsers' id="export-users-modal-link">Export All Users</a></li>
            <li class='hidden'><a id='organisation-dropdown__import-infos-link' data-toggle='modal' data-target='#importUsersInfos'></a></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class='organisation__users'>
    <div class='organisation__users-headers'>
      <%= render 'pages/organisation/organisation_headers', users: users %>
    </div>
    <div class='organisation__users-index'>
      <%= render 'pages/organisation/organisation_user_cards', users: users %>
    </div>
  </div>
  <div class="paginate-container paginate-container-blue">
    <%= render 'pages/organisation/organisation_paginate', users: users %>
  </div>
</div>

