<% string_collection = @collection.first.class == (String || Integer || Float) %>

<% default_value =
  if @selected.present?
    string_collection ? @selected : @selected.id
  else
    string_collection ? @collection.first : @collection.first.id
  end %>

<div class="bkt-select-container"
     data-controller="tools--select">

  <div class="bkt-select-display"
       style="width:  <%= @width %>;"
       data-action="click->tools--select#toggle tools--select:click:outside->tools--select#hide">

    <div class="<%= 'bkt-dark-grey' unless @title.present? %>"
         data-tools--select-target="display">
      <%= @title.presence || default_value %>
    </div>

  </div>

  <div class="bkt-select-menu hidden"
       style="width: <%= @width %>; max-height: <%= @menu_max_height.presence %>"
       data-tools--select-target="menu">

    <% @collection.each do |element| %>

      <% if string_collection %>
        <div class="cursor-pointer"
             data-action="click->tools--select#selectOption <%= @data_action %>"
             data-value="<%= element %>"><%= element %></div>
      <% else %>
        <div class="cursor-pointer"
             data-action="click->tools--select#selectOption <%= @data_action %>"
             data-value="<%= element.id %>"><%= element.name %></div>
      <% end %>

    <% end %>

  </div>

  <% if @input_name.present? %>

    <input type="hidden"
           name="<%= @input_name %>"
           value="<%= default_value %>"
           data-action="">

  <% end %>
</div>
