<div class='bkt-bg-light-grey2 bkt-page-container-min-height d-flex justify-content-center align-items-start pt-2rem'>

  <div class="from_medium__h-60vh"
                             <%# top navbar1 + navbar2 + pt-2rem %>
    style="position: sticky; top: calc(7.5rem + 7.5rem + 2rem);"
  >
    <div class="bkt-progress">
      <div class="bkt-progress-thread"></div>
      <% TrainingDraft::PROGRESS_STATES.each do |state, state_label| %>
        <%= link_to send "edit_training_draft_#{state}_path".to_sym do %>
          <div class="bkt-progress-pearl bkt-progress-pearl-orange <%= @training.progress_state_klass(state, controller_name) %>" data-title='<%= state_label %>'>
            <% if @training.state_set_or_above?(state) %>
              <i class="fas fa-check"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div style='margin: 0 5%;'></div>
  <div class="bkt-box-shadow p-4 bkt-bg-white rounded-20px min-w-40vw">
    <%= form_with url: send("training_draft_#{controller_name}_path".to_sym), method: :patch, local: true do |f| %>
      <%= render "training_draft/form_#{controller_name}", training: @training %>
      <% if @controller_action.to_sym == :launches_edit %>
        <%= f.hidden_field :send_email %>
        <a class='bkt-btn-orange bkt-white' data-toggle='modal' data-target='#launchTraining'>
            Launch Training
          </a>
          <%= f.submit '', class: 'hidden-submit hidden' %>

          <!----------->
          <!-- MODAL -->
          <!----------->

          <div id='launchTraining'
               class='modal action-modal fade'
               tabindex='-1'
               role='dialog'
               data-keyboard="false"
               data-backdrop="static">

            <div class='modal-dialog action-modal__dialog'
                 role='document'>
              <%= render 'trainings/modals/send_notification_email_on_confirm' %>
            </div>

          </div>

          <!----------->
      <% else %>
        <div class="d-flex justify-content-end pt-5">
          <button class='bkt-btn-orange'><p class="mr-3">Next</p> <i class="fa fa-arrow-right"></i></button>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% if params[:debug] %>
  <div class="fs-2_4rem">
    <%= @training.data %>
  </div>
<% end %>
