<% @templates.each do |template| %>
  <% lines = [
    template.class,
    template.interview_questions.count,
    template.updated_at.strftime("%d/%m/%Y")
    ] %>
  <% width = (1/lines.count.to_f)*100 %>
  <div
    data-interview-form-id="<%= template.id %>"
    class="d-flex justify-content-between align-items-center px-0 py-2rem border-top-bkt-light-grey position-relative">

    <%= link_to '', edit_interview_form_path(template), class: 'stretched-link', title: template.title %>

    <div class='fs-1_6rem font-weight-600 overflow-ellipsis'
         style='flex-basis: <%= width %>%;'
         title='<%= template.title %>'>
      <%= template.title %>
    </div>

    <% lines.each do |line| %>
      <div class='fs-1_6rem' style='flex-basis: <%= width %>%;'>
        <%= line %>
      </div>
    <% end %>

    <% if CampaignPolicy.new(current_user, nil).create? %>
      <div class="cursor-pointer z-index-5 pr-1rem" onclick="openContentMenu(this);">
        <i class="fas fa-ellipsis-v bkt-light-grey"></i>
      </div>

      <div
        data-actions="interview-form"
        class="position-absolute rounded-5px z-index-100 bkt-box-shadow-compact d-flex flex-column align-items-start bkt-bg-white bkt-dark-grey hidden"
        style='right: 0; top: 6rem;'
      >
        <%= link_to 'Duplicate', duplicate_interview_form_path(template),
          class: 'px-3 py-2 bkt-light-grey-hover w-100'
        %>
        <% unless Campaign.where(interview_form: template).exists? %>
          <%= link_to 'Delete', interview_form_path(template),
            method: :delete,
            remote: true,
            data: {
              confirm: 'Are you sure ?'
            },
            class: 'px-3 py-2 bkt-light-grey-hover w-100'
          %>
        <% end %>
      </div>
    <% end %>
  </div>

<% end %>

<% if @any_more %>

  <div class="paginate-container paginate-container-blue">

    <% if params.dig(:search, :page).present? && params.dig(:search, :page).to_i > 1 %>

      <div class="paginate__previous-button paginate__button-blue"
           data-action='click->change-page#previous'>
        <span class="iconify" data-icon="fontisto:angle-left"></span>
        <p><%= t('previous') %></p>
      </div>

    <% end %>

    <%= paginate @templates, left: 3, right: 1 %>

    <% if @templates.count == 10 && @any_more %>

      <div class="paginate__next-button paginate__button-blue"
           data-action='click->change-page#next'>
        <p><%= t('next') %></p>
        <span class="iconify" data-icon="fontisto:angle-right"></span>
      </div>

    <% end %>

  </div>

<% end %>

