<% @templates.each do |template| %>

  <% template_id = template.id %>

  <div id='template-line-<%= template_id %>'
       class="d-flex justify-content-between align-items-center px-0 py-2rem border-top-bkt-light-grey position-relative"
       data-interview-form-id="<%= template_id %>">

    <%= render 'interview_forms/index/index_interview_form_line', template: template %>

  </div>

  <!------------>
  <!-- MODALS -->
  <!------------>

  <div id='editTags-<%= template_id %>'
     class='modal action-modal fade'
     tabindex='-1'
     role='dialog'
     data-keyboard="false"
     data-backdrop="static">

    <div class='modal-dialog action-modal__dialog min-w-65rem'
         role='document'>

      <%= render 'interview_forms/modals/edit_tags', template: template %>

    </div>

  </div>

  <!------------>

<% end %>

<% if @any_more %>

  <div class="paginate-container paginate-container-blue">

    <% if params.dig(:search, :page).present? && params.dig(:search, :page).to_i > 1 %>

      <div class="paginate__previous-button paginate__button-blue"
           data-action='click->change-page#previous'>
        <span class="iconify" data-icon="fontisto:angle-left"></span>
        <p>Previous</p>
      </div>

    <% end %>

    <%= paginate @templates, left: 3, right: 1 %>

    <% if @templates.count == 10 && @any_more %>

      <div class="paginate__next-button paginate__button-blue"
           data-action='click->change-page#next'>
        <p>Next</p>
        <span class="iconify" data-icon="fontisto:angle-right"></span>
      </div>

    <% end %>

  </div>

<% end %>

