<% read_only = true if interview.locked? %>

<div class="interview-summary">
  <h1><%= interview.interview_form.title %> - <em>Crossed Review</em></h1>

  <div class="manager-answers-colors-info">
    <div class="manager-color-point"></div>
    <p>This color refer to <span style="font-weight:900">manager's</span> answers</p>
  </div>

  <div class="employee-answers-colors-info">
    <div class="employee-color-point"></div>
    <p>This color refer to <span style="font-weight:900">employee's</span> answers</p>
  </div>

  <% questions.order(position: :asc).each do |question| %>

    <% if question.separator? %>
      <p class='interview-summary__separator'><%= question.question %></p>
      <% next %>
    <% end %>

    <% employee_answer = InterviewAnswer.joins(:interview).find_by(
        interview: interview.campaign.employee_interview(employee.id),
        interview_question: question,
        user: employee
      ) %>
    <% manager_answer = InterviewAnswer.joins(:interview).find_by(
        interview: interview.campaign.hr_interview(employee.id),
        interview_question: question,
        user: manager
      ) %>
    <% crossed_answer = InterviewAnswer.joins(:interview).find_by(
        interview: interview.campaign.crossed_interview(employee.id),
        interview_question: question,
        user: manager
      ) %>

    <% current_answer = crossed_answer || manager_answer %>

    <%# actual questions %>

    <% summary_klasses = {
      'open_question' => 'interview-summary__open-question',
      'rating' => 'interview-summary__rating',
      'mcq' => 'interview-summary__mcq',
      'objective' => 'interview-summary__objective'
      } %>
    <% fa_klasses = {
      'open_question' => 'fas fa-question',
      'rating' => 'far fa-star',
      'mcq' => 'fas fa-check',
      'objective' => 'fas fa-bullseye'
      } %>

    <div class="<%= summary_klasses[question.question_type] %>">
      <div class="flex-row-start-centered">
        <i class="<%= fa_klasses[question.question_type] %>"></i>
        <p><%= question.question %></p>
      </div>

        <%= simple_form_for(:interview_answer,
          url: answer_interview_question_path,
          remote: true,
          data: {
            question_type: question.question_type
          }) do |f| %>

          <% if question.open_question? %>

            <div class="employee_answer">
              <p><%= "#{employee.firstname}: " %></p>
              <%= sanitize employee_answer&.answer %>
            </div>
            <div class="manager_answer">
              <p><%= "#{manager.firstname}: " %></p>
              <%= sanitize manager_answer&.answer %>
            </div>
            <%= f.input :answer, as: :trix_editor, label: false, input_html: {value: current_answer&.answer}, disabled: read_only %>

          <% elsif question.mcq? || question.objective? %>

            <div class="employee_comments">
              <p><%= "Objective: " %></p>
              <%= sanitize employee_answer&.objective %>
            </div>

            <fieldset class="mcq">
              <%= f.collection_radio_buttons(:answer, question.options.keys.map{|c| [c, c]}, :first, :last) do |b| %>
                <label class="rad-label">
                  <%= b.radio_button({
                    class: 'rad-input',
                    checked: ('checked' if b.text == current_answer&.answer),
                    disabled: read_only
                    }.compact) %>
                  <div class="rad-design"></div>
                  <div class="rad-text">
                    <%= b.text %>
                    <% if b.text == manager_answer&.answer %>
                      <i class="fas fa-circle manager_answer"></i>
                    <% end %>
                    <% if b.text == employee_answer&.answer %>
                      <i class="fas fa-circle employee_answer"></i>
                    <% end %>
                  </div>
                </label>
              <% end %>
            </fieldset>

            <% if employee_answer&.comments.present? %>
              <div class="employee_comments">
                <p><%= "#{employee.firstname}: " %></p>
                <%= sanitize employee_answer&.comments %>
              </div>
            <% end %>
            <% if manager_answer&.comments.present? %>
              <div class="manager_comments">
                <p><%= "#{manager.firstname}: " %></p>
                <%= sanitize manager_answer&.comments %>
              </div>
            <% end %>

            <%= f.input(:comments,
                as: :trix_editor,
                input_html: { value: current_answer&.comments },
                required: false,
                disabled: read_only
              ) if question.allow_comments %>

          <% elsif question.rating? %>

            <fieldset class="rating<%= ' read_only' if read_only %>">
              <% for i in 1..question.options.keys.first.to_i %>
                <% stars_count = question.options.keys.first.to_i - i + 1 %>
                <% input_label_key = "star-position(#{question.position})-#{i}" %>

                <input
                  type="radio"
                  class="radio-rating"
                  value="<%= stars_count %>"
                  name="interview_answer[answer]"
                  id="<%= input_label_key %>"
                  onchange='selectRating(this);'
                  <% if current_answer&.answer.to_i == stars_count %> checked <% end %>
                  <%= 'disabled' if read_only %>
                />
                <label
                  class="full"
                  title="<%= stars_count %> stars"
                  for="<%= input_label_key %>"
                >
                  <%= stars_count %>
                  <div class="saved_answers">
                    <% if manager_answer&.answer.to_i == stars_count %>
                      <i class="fas fa-circle manager_answer"></i>
                    <% end %>
                    <% if employee_answer&.answer.to_i == stars_count %>
                      <i class="fas fa-circle employee_answer"></i>
                    <% end %>
                  </div>
                </label>
              <% end %>
            </fieldset>

            <% if employee_answer&.comments.present? %>
              <div class="employee_comments">
                <p><%= "#{employee.firstname}: " %></p>
                <%= sanitize employee_answer&.comments %>
              </div>
            <% end %>
            <% if manager_answer&.comments.present? %>
              <div class="manager_comments">
                <p><%= "#{manager.firstname}: " %></p>
                <%= sanitize manager_answer&.comments %>
              </div>
            <% end %>

            <%= f.input(:comments,
                as: :trix_editor,
                input_html: { value: current_answer&.comments },
                required: false,
                disabled: read_only
              ) if question.allow_comments %>


          <% end # question_types %>

        <%= f.hidden_field :interview_id, value: interview.id %>
        <%= f.hidden_field :interview_question_id, value: question.id %>
        <%= f.submit '', class: 'hidden-submit hidden' %>
      <% end # form %>

    </div>
  <% end # questions %>

  <div class="interview-question__controls">
    <% if interview.locked? %>
      <div class="flex-row-between-centered">
        <button class="btn-white-blue" style='margin-right: 2rem;'>
          <%= link_to campaign_path(interview.campaign) do %>
            <p>EXIT</p>
          <% end %>
        </button>
        <button class="btn-blue btn-blue-disabled">
          <p>Form Locked <i class="fas fa-lock"></i></p>
        </button>
      </div>
    <% elsif Interview::LockPolicy.new(current_user, interview).create? %>
      <div class="flex-row-between-centered">
        <button class="btn-white-blue" style='margin-right: 2rem;'>
          <%= link_to campaign_path(interview.campaign) do %>
            <p>EXIT</p>
          <% end %>
        </button>
        <button class="btn-blue">
          <%= link_to interview_locks_path(interview), method: :post do %>
            <p>Lock Form <i class="fas fa-unlock"></i></p>
          <% end %>
        </button>
      </div>
    <% else %>
      <%= link_to '', campaign_path(interview.campaign, employee_id: interview.employee_id), class: 'hidden-link hidden' %>
      <% if read_only %>
        <button class="btn-blue" onclick='document.querySelector(".hidden-link").click()'><p>Exit</p></button>
      <% else %>
        <button class="btn-blue" onclick='submitAnswers(this, "Crossed")'><p>Submit Form</p></button>
      <% end %>
    <% end %>
  </div>
</div>
