<% visibility = ['all', interview.label.downcase] %>
<% questions = interview.interview_form.interview_questions.where.not(question_type: 'separator') %>
<% questions = interview.crossed? ? questions.where(visible_for: visibility).order(position: :asc) : questions.order(position: :asc) %>

<h1><%= interview.interview_form.title %> - <em>Summary</em></h1>
<h3 class="summary-info">Click on a question to change your answer</h3>
<% user = interview.label == 'Employee' ? interview.employee : interview.owner %>
<% n = 1 %>
<% questions.each do |question| %>
  <% if question.separator? %>
    <p class='interview-summary__separator'><%= question.question %></p>
    <% n += 1 %>
    <% next %>
  <% end %>

  <% target_id = "target-#{n}" %>
  <% current_answer = InterviewAnswer.find_by(interview: interview, interview_question: question, user: user) %>

  <% if question.open_question? %>

    <div class="interview-summary__open-question" onclick='goToQuestion(this)' id='<%= target_id %>'>
      <div class="flex-row-start-centered">
        <i class="fas fa-question"></i>
        <p><%= question.question %></p>
      </div>
      <div class="user_answer">
        <p><%= "#{user.firstname}: " %></p>
        <p><%= current_answer&.answer %></p>
      </div>
    </div>

  <% elsif question.mcq? || question.objective? %>

    <div class="interview-summary__mcq" onclick='goToQuestion(this)' id='<%= target_id %>'>
      <div class="flex-row-start-centered">
        <i class="fas fa-check"></i>
        <p><%= question.question %></p>
      </div>
      <%= simple_form_for(:interview_answer,
        url: answer_interview_question_path,
        remote: true,
        data: {
          question_type: question.question_type
        }) do |f| %>

        <% if question.objective? %>
          <div class="user_answer">
            <p><%= "#{user.firstname}: " %></p>
            <p><%= current_answer&.objective %></p>
          </div>
        <% end %>

        <fieldset class="mcq">
          <%= f.collection_radio_buttons(:answer, question.options.keys.map{|c| [c, c]}, :first, :last) do |b| %>
            <label class="rad-label disabled">
              <%= b.radio_button({
                class: 'rad-input',
                checked: ('checked' if b.text == current_answer&.answer),
                disabled: true
                }.compact) %>
              <div class="rad-design"></div>
              <div class="rad-text"><%= b.text %></div>
            </label>
          <% end %>
        </fieldset>
        <div class="user_comments">
          <p><%= current_answer&.comments %></p>
        </div>
      <% end %>
    </div>

  <% elsif question.rating? %>

    <div class="interview-summary__rating" onclick='goToQuestion(this)' id='<%= target_id %>'>
      <div class="flex-row-start-centered">
        <i class="far fa-star"></i>
        <p><%= question.question %></p>
      </div>
      <fieldset class="rating<%= ' rating-pizza' if current_user.company_id == 2 %> read_only">
        <% for i in 1..question.options.keys.first.to_i %>
          <% if current_answer&.answer&.html_safe.to_i == question.options.keys.first.to_i - i + 1 %>
            <input type="radio" class='radio-rating'checked disabled/>
            <label class="full" title="<%= question.options.keys.first.to_i - i + 1 %> stars">
              <%= question.options.keys.first.to_i - i + 1 %>
            </label>
          <% else %>
            <input type="radio" class='radio-rating' disabled/>
            <label class="full" title="<%= question.options.keys.first.to_i - i + 1 %> stars">
              <%= question.options.keys.first.to_i - i + 1 %>
            </label>
          <% end %>
        <% end %>
      </fieldset>
      <div class="user_comments">
        <p><%= current_answer&.comments %></p>
      </div>
    </div>

  <% end %>
  <% n += 1 %>
<% end %>
<div class="interview-question__controls review-controls">
    <% if user == current_user %>
      <button class="btn-blue btn-blue" onclick='thankYou();'><p>Submit Form</p></button>
    <% else %>
      <%= link_to campaign_path(interview.campaign, employee_id: interview.employee_id) do %>
        <button class="btn-blue btn-blue"><p>Exit</p></button>
      <% end %>
    <% end %>
</div>
