<div class="interview-container">
  <div class="interview-start">
    <div class="interview-title">
      <h1><%= @interview.interview_form.title %></h1>
      <p><%= @interview.interview_form.description %></p>
    </div>
    <button class="btn-blue btn-blue-start btn-blue-start-mobile" onclick='nextQuestion(this);'><p'>Start !</p></button>
  </div>
  <% questions = @interview.interview_form.interview_questions.order(position: :asc) %>
  <% j = 1 %>
  <% questions.where.not(question_type: 'separator').each do |question| %>
    <div class="interview-question hidden" id='question-<%= j %>'>
      <div class="interview-separator">
        <% previous_separators = questions.where(question_type: 'separator').where('position <= ?', j) %>
        <h2><%= previous_separators.last.question if previous_separators.present? %></h2>
      </div>
      <%= render 'interview_questions/partials/show_interview_question_form', questions: questions, question: question, j: j %>
    </div>
    <% j += 1 %>
  <% end %>
</div>


<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>
  document.querySelector('body').classList.add('interview-form-body')

  $('.radio-rating').click(function() {
    var theNumber = $(this).attr('id').slice(-1);
    $(this).siblings('label').each(function() {
      var sibNumber = $(this).attr('for').slice(-1);
      if (sibNumber <= theNumber) {
        $(this).addClass('on');
        // this.classList.add('on')
      } else {
        $(this).removeClass('on');
        // this.classList.remove('on')
      }
    });
  });

  // function selectRating(element) {
  //   var theNumber = element.attr('id').slice(-1);
  //   element.siblings('label').each(function() {
  //     var sibNumber = element.attr('for').slice(-1);
  //     if (sibNumber <= theNumber) {
  //       element.addClass('on');
  //     } else {
  //       element.removeClass('on');
  //     }
  //   });
  // }

  function enableNext(element) {
    button = element.closest('.interview-question__display-container').querySelectorAll('.btn-blue')[1]
    if (element.value.length > 0 && button != undefined) {
      button.classList.remove('btn-blue-disabled')
      button.disabled = false
    } else if (element.value.length == 0 && button != undefined) {
      button.classList.add('btn-blue-disabled')
      button.disabled = true
    }
  }

  function nextQuestion(element) {
    if (element.classList.contains('btn-blue-start')) {
      question = document.querySelectorAll('.interview-question')[0]
      start = document.querySelector('.interview-start')
      question.classList.remove('hidden')
      start.classList.add('hidden')
    } else {
      position = parseInt(element.closest('.interview-question').id.split('-')[1],10)
      question = document.querySelectorAll('.interview-question')[position]
      previous_question = document.querySelectorAll('.interview-question')[position - 1]
      previous_question.classList.add('hidden')
      question.classList.remove('hidden')
    }
  }

  function previousQuestion(element) {
    position = parseInt(element.closest('.interview-question').id.split('-')[1],10)
    question = document.querySelectorAll('.interview-question')[position - 1]
    if (position - 1 == 0) {
      start = document.querySelector('.interview-start')
      start.classList.remove('hidden')
      question.classList.add('hidden')
    } else {
      previous_question = document.querySelectorAll('.interview-question')[position - 2]
      previous_question.classList.remove('hidden')
      question.classList.add('hidden')
    }
  }

  function submitAnswers() {
    document.querySelectorAll('.hidden-submit').forEach((button) => {
      setTimeout(function(){button.click()}, 100)
    })
    setTimeout(function(){document.querySelector('.hidden-link').click()},500)
  }
</script>
