<div class="interview-container">
  <div class="interview-start">
    <div class='empty-div'></div>
    <div class="interview-title">
      <h1><%= @interview.interview_form.title %></h1>
      <p><%= @interview.interview_form.description %></p>
    </div>
    <button class="btn-blue btn-blue-start btn-blue-start--mobile" onclick='nextQuestion(this);'><p'>Start !</p></button>
  </div>
  <% questions = @interview.interview_form.interview_questions.order(position: :asc) %>
  <% j = 1 %>
  <% questions.where.not(question_type: 'separator').each do |question| %>
    <div class="interview-question hidden" id='question-<%= j %>'>
      <div class="interview-separator">
        <% previous_separators = questions.where(question_type: 'separator').where('position <= ?', j) %>
        <h2><%= previous_separators.last.question if previous_separators.present? %></h2>
      </div>
    <%= render 'interview_questions/partials/show_interview_question_form', questions: questions, question: question, j: j, read_only: (@interview.label == 'Employee' && @interview.employee != current_user)%>
    </div>
    <% j += 1 %>
  <% end %>
</div>
<div class="interview-progress-bar-container">
  <div class="interview-progress-bar"></div>
  <div class='interview-progress-bar__white'><p>0%</p></div>
  <div class='interview-progress-bar__blue'><p>0%</p></div>
</div>


<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>
  document.querySelector('body').classList.add('interview-form-body')

  function selectRating(element) {
    fieldset = element.closest('fieldset')
    fieldset.querySelectorAll('.radio-rating').forEach((radio_button) => {
      if (parseInt(radio_button.id.split('-')[2],10) <= element.id.split('-')[2]) {
        radio_button.classList.add('on')
      } else {
        radio_button.classList.remove('on')
      }
    })
  }

  function enableNext(element) {
    button = element.closest('.interview-question').querySelectorAll('.btn-blue')[1]
    if (element.value.length > 0 && button != undefined) {
      button.classList.remove('btn-blue-disabled')
      button.disabled = false
    } else if (element.value.length == 0 && button != undefined) {
      button.classList.add('btn-blue-disabled')
      button.disabled = true
    }
  }

  function nextQuestion(element) {
    if (element.classList.contains('btn-blue-start')) {
      question = document.querySelectorAll('.interview-question')[0]
      start = document.querySelector('.interview-start')
      question.classList.remove('hidden')
      start.classList.add('hidden')
    } else {
      position = parseInt(element.closest('.interview-question').id.split('-')[1],10)
      question = document.querySelectorAll('.interview-question')[position]
      previous_question = document.querySelectorAll('.interview-question')[position - 1]
      previous_question.classList.add('hidden')
      question.classList.remove('hidden')
    }
    updateProgressionBar()
  }

  function previousQuestion(element) {
    position = parseInt(element.closest('.interview-question').id.split('-')[1],10)
    question = document.querySelectorAll('.interview-question')[position - 1]
    if (position - 1 == 0) {
      start = document.querySelector('.interview-start')
      start.classList.remove('hidden')
      question.classList.add('hidden')
    } else {
      previous_question = document.querySelectorAll('.interview-question')[position - 2]
      previous_question.classList.remove('hidden')
      question.classList.add('hidden')
    }
    updateProgressionBar()
  }

  function submitAnswers() {
    i = 1
    document.querySelectorAll('.hidden-submit').forEach((button) => {
      setTimeout(function(){button.click()}, 100)
      i += 1
    })
    setTimeout(function(){document.querySelector('.hidden-link').click()},(i+1)*200)
  }

  function updateProgressionBar() {
    container = document.querySelector('.interview-progress-bar-container')
    center_blue = document.querySelector('.interview-progress-bar__blue')
    center_white = document.querySelector('.interview-progress-bar__white')
    if (document.querySelector('.interview-question:not(.hidden)') != null) {
      result = (parseInt(document.querySelector('.interview-question:not(.hidden)').id.split('-')[1],10) / document.querySelectorAll('.interview-question').length * 100).toString() + '%'
      center_white.querySelector('p').innerText = result
      center_blue.querySelector('p').innerText = result
    } else {
      center_white.querySelector('p').innerText = '0%'
      center_blue.querySelector('p').innerText = '0%'
    }
    progression = document.querySelector('.interview-progress-bar__white').querySelector('p').innerText
    filling_bar = document.querySelector('.interview-progress-bar')
    filling_bar.style.width = progression
    if (filling_bar.offsetWidth == 0) {
      center_white.style.width = '0px'
      center_blue.style.width = '100px'
    } else if (filling_bar.offsetWidth > (container.offsetWidth / 2) - 25) {
      center_white.style.width = parseInt(progression.split('%'),10).toString() + 'px'
      center_blue.style.width = (100 - parseInt(progression.split('%')[0],10)).toString() + 'px'
    }
  }
</script>
