
<div class="container d-none" data-mobile-displayer-target="menu">

  <div class="row mt-5rem">
    <%= render_component MobileMenuFieldComponent.new(title: 'Home', path: root_path) do %>
      <span style="position: relative; top: -1px" class="iconify" data-icon="bx:home-alt-2"></span>
    <% end %>
    <%= render_component MobileMenuFieldComponent.new(title: 'My interviews', class_name_logo: 'bkt-blue', path: my_interviews_path) do %>
      <span class="iconify" data-icon="fluent:chat-multiple-16-regular"></span>
    <% end %>
    <%= render_component MobileMenuFieldComponent.new(title: 'My team interviews', class_name_logo: 'bkt-blue', path: my_team_interviews_path) do %>
      <span class="iconify" data-icon="fluent:chat-multiple-16-regular"></span>
    <% end %>
    <%= render_component MobileMenuFieldComponent.new(title: 'My trainings', path: my_trainings_path) do %>
      <%= render_component Icons::ProfessorHatUnfilledComponent.new %>
    <% end %>
    <%= render_component MobileMenuFieldComponent.new(title: 'My teams trainings', path: my_team_trainings_path) do %>
      <%= render_component Icons::ProfessorHatUnfilledComponent.new %>
    <% end %>
    <%= render_component MobileMenuFieldComponent.new(title: 'Profile', divider: false, path: user_path(@current_user)) do %>
      <span class="iconify" data-icon="clarity:user-line"></span>
    <% end %>
    <%= render_component MobileMenuFieldComponent.new(title: 'Log out', divider: false, class_name: 'bkt-red mt-5 pt-5', path: destroy_user_session_path, method: :delete) do %>
      <span class="iconify" data-icon="lucide:log-out"></span>
    <% end %>
  </div>

</div>
