<% if @user %>
  <div class="container d-none" data-mobile-displayer-target="menu">

    <div class="row mt-5rem">
      <%= render_component MobileMenuFieldComponent.new(title: 'Home', path: root_path) do %>
        <span style="position: relative; top: -1px" class="iconify" data-icon="bx:home-alt-2"></span>
      <% end %>

      <% active_applications.each do |application| %>

        <%= render_component MobileMenuFieldComponent.new(title: application[:perso], class_name_logo: application[:color], path: send(application[:link])) do %>
          <span class="iconify" data-icon="<%= application[:icon] %>"></span>
        <% end %>
        <%= render_component MobileMenuFieldComponent.new(title: application[:team], class_name_logo: application[:color], path: send(application[:link_team])) do %>
          <span class="iconify" data-icon="<%= application[:icon] %>"></span>
        <% end %>

      <% end %>

      <%= render_component MobileMenuFieldComponent.new(title: 'Profile', divider: false, path: user_path(@user)) do %>
        <span class="iconify" data-icon="clarity:user-line"></span>
      <% end %>
      <%= render_component MobileMenuFieldComponent.new(title: 'Log out', divider: false, class_name: 'bkt-red mt-5 pt-5', path: destroy_user_session_path, method: :delete) do %>
        <span class="iconify" data-icon="lucide:log-out"></span>
      <% end %>
    </div>

  </div>
<% end %>
