<li class="nav-item dropdown">
  <div class="dropdown show">
    <a class="navbar-user-card  dropdown-toggle flex-row-between-centered" href="#" role="button" id="dropdownMenuLogout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="<%= @user.picture %>" alt="<%= @user.fullname %>" class='avatar-md border-transparent-2px border-bkt-dark-grey-hover-2px smooth-transition' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
    </a>
    <div class="dropdown-menu dropdown-menu-right" id='dropdown-user-menu' aria-labelledby="dropdownMenuLogout">
      <div class="dropdown-card">
        <div class="user-info">
          <p><%= @user.fullname%></p>
          <h6><%= @user.email%></h6>
        </div>
      </div>
      <%= link_to user_path(@user) do %>
        <div class="dropdown-card dropdown-item ">
          <div class='dropdown-card-text'>
            <h6>Profile</h6>
          </div>
        </div>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <div class="dropdown-card dropdown-item flex-row-between-centered">
          <div class='dropdown-card-text'>
            <h6>Log out</h6>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</li>
