<div class="mx-4 w-10 py-1 relative my-1 cursor-pointer"
     data-controller='toggle-switch'>

  <input
    type="checkbox"
    name="<%= @name %>"
    id="<%= @name %>"
    class="hidden"
    <% if @checked %> checked <% end %>
    value='true'
    data-toggle-switch-target="input"/>

  <div
    class="<%= @checked ? 'bg-teal-600' : 'bg-gray-300' %> rounded-full" style="height: 16px;"
    data-toggle-switch-target='container'
    data-action="click->toggle-switch#toggle">
    <label
      data-remember-initial-state='<%= @remember_initial_state %>'
      data-toggle-switch-target="togglable"
      class="-ml-4  w-8 h-8 absolute transition-all transform ease-linear duration-100 flex items-center justify-center rounded-full bg-white shadow-toggle border-gray-300 top-0 cursor-pointer <%= @checked ? 'left-96pc' : 'left-4pc' %>"
    ></label>
  </div>

</div>
