<div class="<%= 'trix__toolbar-within' if @toolbar_within %> <%= 'trix__hide-toolbar' if @hide_toolbar %>"
     data-controller="<%= 'trix' unless @ignore_stimulus_controller %>"
     data-action="focus->trix#showToolbar <%= @optional_data_action %>">
  <input
    type="hidden"
    id="<%= @rand_uuid %>"
    value="<%= @value %>"
    data-trix-target="<%= 'input' unless @ignore_stimulus_controller %>"
    data-untouched-value="<%= @value unless @ignore_stimulus_controller %>"
    name="<%= @name %>"
  >
  <trix-editor
    data-action="window@trix-initialize->trix#setup <%= 'focus->trix#showToolbar focusout->trix#hideToolbar' if @toolbar_within %> <%= 'keyup->trix#update ' if @auto_update %>"
    data-trix-target="<%= 'editor' unless @ignore_stimulus_controller %>"
    data-direct-upload-url="<%= rails_direct_uploads_url %>"
    data-blob-url-template="<%= rails_service_blob_url(filename: ':filename', signed_id: ':signed_id') %>"
    class="min-h-20rem bkt-bg-light-grey9-important mb-2rem p-input-lg border-transparent-1px fs-1_4rem font-weight-500 bkt-placeholder-dark-grey bkt-placeholder-fs-1_4rem bkt-input-focus <%= @klasses %>"
    input="<%= @rand_uuid %>"
    placeholder="<%= @placeholder %>"
  ></trix-editor>
</div>
