
<h1 class="my-5">Guidelines</h1>


<h2 class="my-5">Colors</h2>

<div class="d-flex">
  <% %w[
    bkt-bg-blue
    bkt-bg-blue-hover
    bkt-bg-white
    bkt-bg-light-grey
    bkt-bg-light-grey2
    bkt-bg-light-grey3
    bkt-bg-light-grey4
    bkt-bg-light-grey5
    bkt-bg-light-grey6
    bkt-bg-dark-grey
    bkt-bg-green
    bkt-bg-orange
    bkt-bg-red
   ].each do |color_bg_class| %>
   <div class="d-flex flex-column align-items-center m-2">
    <%= color_bg_class.gsub('-bg', '') %>
    <div style='height: 20px; width: 100px; border-radius: 10px;'
      class='my-1 <%= color_bg_class %>'
    ></div>
    </div>
  <% end %>
</div>


<h2 class="my-5">Borders</h2>


<div class="d-flex m-5" style='gap: 5px;'>
  <% %w[
    border-bkt-blue
    border-top-bkt-blue
    border-right-bkt-blue
    border-left-bkt-blue
    border-bottom-bkt-blue
    border-bkt-dark-blue
    border-top-bkt-dark-blue
    border-right-bkt-dark-blue
    border-left-bkt-dark-blue
    border-bottom-bkt-dark-blue
    border-bkt-light-grey
    border-top-bkt-light-grey
    border-right-bkt-light-grey
    border-left-bkt-light-grey
    border-bottom-bkt-light-grey
  ].each do |klass| %>
    <div style="width: 50px; height: 50px;" class='<%= klass %>'><%= klass %></div>
  <% end %>
</div>


<h2 class="my-5">Fonts</h2>
<div class="m-5 fs-1_6rem">Basically one single font: Montserrat</div>


<h2 class="my-5">Tags</h2>

<div class="d-flex m-5" style='gap: 5px;'>
  <% %w[cow cat crow dog].each do |tag| %>
    <div class="bkt-tag-blue"><%= tag %></div>
  <% end %>
</div>


<h2 class="my-5">Buttons</h2>
<h3 class="my-2">bkt-btn-blue</h3>
<div class="d-flex m-5" style='gap: 5px;'>
  <div>
    <button class='bkt-btn-blue'>
      <i class="fas fa-plus"></i>
      button
    </button>
  </div>

  <div>
    <div class='bkt-btn-blue'>
      <i class="fas fa-plus"></i>
      div
    </div>
  </div>

  <div>
    <div class='bkt-btn-blue disabled'>
      disabled
    </div>
  </div>

  <div>
    <div class='bkt-btn-blue pressed'>
      pressed
    </div>
  </div>

  <div>
    <div class='bkt-btn-blue
      ' style='width: 225px;'>
      bkt-btn-blue with a long text that does not fit a width constraint
    </div>
  </div>
</div>

<h3 class="my-2">bkt-btn-white</h3>
<div class="d-flex m-5" style='gap: 5px;'>
  <div>
    <button class='bkt-btn-white'>
      <i class="fas fa-plus"></i>
      button
    </button>
  </div>

  <div>
    <div class='bkt-btn-white'>
      <i class="fas fa-plus"></i>
      div
    </div>
  </div>

  <div>
    <div class='bkt-btn-white disabled'>
      disabled
    </div>
  </div>

  <div>
    <div class='bkt-btn-white pressed'>
      pressed
    </div>
  </div>

  <div>
    <div class='bkt-btn-white
      ' style='width: 225px;'>
      bkt-btn-white with a long text that does not fit a width constraint
    </div>
  </div>
</div>


<h2 class="my-5">Actions Ellipsis</h2>

<div class="position-relative bkt-bg-light-grey3 d-flex justify-content-end p-2" style="width: 500px;">
  <div class="cursor-pointer z-index-5" onclick="openContentMenu(this);">
    <i class="fas fa-ellipsis-v"></i>
  </div>

  <div
    data-actions="interview-form"
    class="position-absolute rounded-5px z-index-100 bkt-box-shadow-compact d-flex flex-column align-items-start bkt-bg-white bkt-dark-grey hidden"
    style='right: 0; top: 3rem;'
  >
    <% %w[Create Duplicate Delete].each do |action| %>
      <%= link_to action, '#', class: 'px-3 py-2 hover-bkt-light-grey w-100' %>
    <% end %>
  </div>
</div>

<script>
  <%# TODO refacto into stimulus controller %>
  function openContentMenu(element) {
    dropdown = element.parentNode.querySelector('[data-actions="interview-form"]')
    dropdown.classList.remove('hidden')
    formGuardian = true
    card_link = element.closest('[data-interview-form-id]').querySelector('.stretched-link')
    card_link.classList.add('disabled')
    card_link_href = card_link.href
    card_link.href = "javascript:void(0)";
    setTimeout(function(){
      formGuardian = false
    }, 1);
    window.addEventListener('click', function(e) {
      if (outsideClick(e, dropdown) && formGuardian == false) {
        formGuardian = true
        setTimeout(function(){
          formGuardian = false
        }, 1);
        dropdown.classList.add('hidden')
        setTimeout(function(){
          card_link.classList.remove('disabled')
          card_link.href = card_link_href
        }, 1);
        this.removeEventListener('click', arguments.callee, false)
      }
    });
  }
</script>


<h2 class="my-5">Form</h2>

<h3 class="my-2">form with bootstrap</h3>

<div
  class='d-flex justify-content-start align-items-center position-relative p-2'
>
  <i class="fas fa-search position-absolute z-index-150 bkt-light-grey"
    style='left: 25rem; bottom: 16.6px;'
  ></i>
  <%= simple_form_for(:search, url: guidelines_path, method: :get, remote: true,
    html: {
      class: 'd-flex align-items-center'
    },
    data: {
      # controller:'remember-search',
      # remember_search_key_value: 'TODOUniqueKey',
    }
  ) do |f| %>
    <%=
      f.input(
        :title,
        placeholder: 'Search',
        wrapper_html: {
          class: 'my-0 height-5rem'
        },
        input_html: {
          class: 'border-bkt-light-grey bkt-bg-light-grey3 rounded-5px height-5rem',
          style: 'width: 28rem; padding: 0 4rem 0 1rem;',
          autocomplete: 'off',
          onkeyup: 'resetPage(this);',
          data: {
            remember_search_target: :search,
            action: 'keyup->remember-search#storeSearch'
          }
        },
        label: false,
        required: false
      )
    %>
    <div class="mr-3"></div>
    <%=
      f.submit(
        'Search',
        class: 'py-0 px-3 border-bkt-light-grey bkt-bg-light-grey3 rounded-5px height-5rem',
        onclick: "document.querySelector('body').classList.add('wait');",
        data: {
          remember_search_target: :submit,
        }
      )
    %>
    <button type='submit' class="btn-search d-block d-sm-none">
      <i class="fas fa-search"></i>
    </button>
  <% end %>
</div>


<h3 class="my-2">form without bootstrap</h3>

<h4 class="my-2">text inputs</h4>

<div class="p-2">
  <%= text_field_tag :title, nil, placeholder: 'Enter title', class: 'border-bkt-light-grey bkt-bg-light-grey3 rounded-5px py-3 px-3' %>
</div>

<div class="p-2">
  <%= text_field_tag :title, 'some value', placeholder: 'Enter title', class: 'border-bkt-light-grey bkt-bg-light-grey3 rounded-5px py-3 px-3' %>
</div>

<h4 class="my-2">radio buttons tiles</h4>

<div class="p-2 d-flex gap-1rem" style="width: 500px;">

  <%= render_component RadioButtonTileComponent.new(
    model: :campaign_type,
    name: :feedback_365,
    checked: true,
    icon_klasses: "fas fa-check",
    title: "Manual",
    subtitle: "Chose Manual to select participants from your employee list"
  ) %>

  <%= render_component RadioButtonTileComponent.new(
    model: :campaign_type,
    name: :feedback_90,
    checked: false,
    icon_klasses: "fas fa-rocket",
    title: "Compact",
    subtitle: "Less stuff"
  ) %>
</div>

<div class="p-2 d-flex gap-1rem" style="width: 500px;">
  <%= render_component RadioButtonTileComponent.new(
    model: :campaign_kind,
    name: :feedback_90,
    checked: true,
    icon_klasses: "fas fa-rocket",
    title: "Compact",
    subtitle: "Less stuff",
    compact: true
  ) %>

  <%= render_component RadioButtonTileComponent.new(
    model: :campaign_kind,
    name: :one_to_one,
    checked: false,
    icon_klasses: "fas fa-plus",
    title: "Auto",
    subtitle: "Chose Auto to add participants by their arrival date in the company",
    compact: true
  ) %>

  <%= render_component RadioButtonTileComponent.new(
    model: :campaign_kind,
    name: :feedback_180,
    checked: false,
    icon_klasses: "fas fa-arrow-right",
    title: "Disabled",
    subtitle: "You can not click this one",
    compact: true,
    disabled: true
  ) %>

</div>



<h2 class="my-5">Progress bar</h2>

<div style="width: 500px; height: 500px;">
  <div class="bkt-progress">
    <div class="bkt-progress-thread"></div>
    <div class="bkt-progress-pearl full" data-title='Settings'>
      <i class="fas fa-check"></i>
    </div>
    <div class="bkt-progress-pearl current" data-title='Participants'></div>
    <div class="bkt-progress-pearl empty" data-title='Templates'></div>
    <div class="bkt-progress-pearl empty" data-title='Dates'></div>
    <div class="bkt-progress-pearl empty" data-title='Review & Launch'>
      <i class="fas fa-rocket"></i>
    </div>
  </div>
</div>


<h2 class="my-5">Backgrounds</h2>


<div
  class='bkt-bg-light-grey2 bkt-page-container-min-height d-flex justify-content-start align-items-center flex-column'
>
  <div class='bkt-page-container-content'>
    <div class="bkt-box-shadow p-4 bkt-bg-white rounded-20px">
      Page Main Background
      <br>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      <br>
      Neque molestias deserunt fugit veniam laboriosam voluptatibus dolor sint a delectus voluptate earum nam deleniti libero hic quia, animi rem odit atque.
    </div>
  </div>
</div>
