<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Change password</h3>
    </div>
  </div>
  <div class="modal-body">
    <%= simple_form_for @user do |f| %>
      <%= f.error_notification %>
      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>
      <%= f.input :password,
                label: "New password",
                required: true,
                autofocus: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
      <div style=" display: flex; justify-content: center;margin-top:3rem;">
        <button type="button" class="btn-orange-text" data-dismiss="modal" aria-label="Close">Cancel</button>
        <%= button_tag type: 'submit', class: 'btn-orange' do %>
          <p>SAVE</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
