<div class="d-sm-none" data-controller="profile-activity back">
  <div class="flex-row-between-start mt-5 mx-4">
    <div class="flex-column">
      <div class="bkt-bg-white bkt-box-shadow-medium rounded-circle width-2_5rem height-2_5rem d-flex align-items-center" data-action="click->back#back">
        <span class="iconify" data-icon="ep:arrow-left-bold" data-width="25" data-height="20"></span>
      </div>
    </div>
    <div class="flex-column justify-content-center text-center">
      <div>
        <img src="<%= @user.picture %>" alt="<%= @user.fullname %>" class='rounded-5px width-20 height-20 mb-2rem' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
      </div>
      <div>
        <p class="m-auto fs-1_2rem font-weight-500"><%= @user.fullname %></p>
      </div>
      <div>
        <p class="m-auto fs-1_2rem bkt-light-grey"><%= @user.job_title %>
      </div>
    </div>
    <div class="flex-column">
      <div class="bkt-bg-white bkt-box-shadow-medium rounded-circle width-2_5rem height-2_5rem d-flex align-items-center" data-action="click->profile-activity#displayOptions">
        <span class="iconify" data-icon="fluent:more-horizontal-24-regular" data-width="25" data-height="20"></span>
      </div>
    </div>
  </div>
  <div class="flex-row-between-start mt-5 mx-4 overflow-x-scroll">
    <%= render_component MobileBoxStatusFormComponent.new(
      emoji: '🙌', nbr: @trainings_completed.count, subtitle: 'Trainings done', bg: 'bkt-bg-light-orange', color: 'bkt-orange', data: { id: 'trainings-done' }
    ) %>
    <%= render_component MobileBoxStatusFormComponent.new(
      emoji: '👉', nbr: @trainings_current.count, subtitle: 'Trainings to do', bg: 'bkt-bg-light-orange', color: 'bkt-orange', data: { id: 'trainings-todo' }
    ) %>
    <%= render_component MobileBoxStatusFormComponent.new(
      emoji: '🙌', nbr: @campaigns_completed.count, subtitle: 'Interviews done', bg: 'bkt-bg-light-blue', color: 'bkt-blue', data: { id: 'interview-done' }
    ) %>
    <%= render_component MobileBoxStatusFormComponent.new(
      emoji: '👉', nbr: @campaigns_current.count, subtitle: 'Interviews to do', bg: 'bkt-bg-light-blue', color: 'bkt-blue', data: { id: 'interview-todo' }
    ) %>
  </div>

  <div class="d-none" data-profile-activity-target="panel">
    <div class="position-fixed top-0 height-100 width-100 bkt-bg-dark-grey opacity_50pc" data-action="click->profile-activity#hideList"></div>
    <div class="position-fixed bottom-0 max-h-50vh width-100 bkt-bg-white py-5 overflow-y-scroll">

      <%= render_component MobileListActivityComponent.new(
        title: "#{@trainings_completed.count} Trainings done", list: @trainings_completed, id: 'trainings-done', data: { profile_activity_target: 'typeList' }
      ) do %>
        <%= render_component Icons::ProfessorHatUnfilledComponent.new %>
      <% end %>
      <%= render_component MobileListActivityComponent.new(
        title: "#{@trainings_current.count} Trainings to do", list: @trainings_current, id: 'trainings-todo', data: { profile_activity_target: 'typeList' }
      ) do %>
        <%= render_component Icons::ProfessorHatUnfilledComponent.new %>
      <% end %>
      <%= render_component MobileListActivityComponent.new(
        title: "#{@campaigns_completed.count} Interviews done", list: @campaigns_completed, id: 'interview-done', data: { profile_activity_target: 'typeList' }
      ) do %>
        <span class="iconify fs-2_4rem bkt-blue" data-icon="uil:exchange-alt"></span>
      <% end %>
      <%= render_component MobileListActivityComponent.new(
        title: "#{@campaigns_current.count} Interviews to do", list: @campaigns_current, id: 'interview-todo', data: { profile_activity_target: 'typeList' }
      ) do %>
        <span class="iconify fs-2_4rem bkt-blue" data-icon="uil:exchange-alt"></span>
      <% end %>

      <div id="profile-options" class="d-none" data-profile-activity-target="typeList">
        <button class="flex-row-start-centered m-4 p-4 border-bkt-light-grey rounded-5px width-90" data-action="click->profile-activity#editable">
          Edit profile
        </button>
        <button class="flex-row-start-centered m-4 p-4 border-bkt-light-grey rounded-5px width-90" data-action="click->profile-activity#hideList" data-toggle='modal' data-target='#editPassword'>
          Change password
        </button>
      </div>

    </div>
  </div>

  <div class="flex-row-center-centered mt-5">
    <%= simple_form_for @user, html: { class: 'form-group width-90' }, namespace: 'mobile-user-form' do |f| %>
      <%= f.input :firstname, label: 'First Name:', label_html: {class: 'bkt-light-grey'}, class: 'form-control', required: true, disabled: true, input_html: {data: {profile_activity_target: 'profileInput'}} %>
      <%= f.input :lastname, label: 'Last Name:', label_html: {class: 'bkt-light-grey'},  class: 'form-control', disabled: true, input_html: {data: {profile_activity_target: 'profileInput'}} %>
      <%= f.input :email, label: 'Email:', label_html: {class: 'bkt-light-grey'},  class: 'form-control', disabled: true, input_html: {data: {profile_activity_target: 'profileInput'}} %>
      <%= render 'users/access_level_input', f: f, user: @user %>
      <%= f.input :manager_id, collection: User.where(company: @user.company).manager_or_above.order(lastname: :asc), label_method: lambda { |k| k.fullname }, label_html: {class: 'bkt-light-grey'}, disabled: true, input_html: {data: {profile_activity_target: 'profileInput'}}  %>
      <%= f.input :phone_number, label: 'Phone:', label_html: {class: 'bkt-light-grey'},  class: 'form-control', disabled: true, input_html: {data: {profile_activity_target: 'profileInput'}} %>
      <%= f.input :linkedin, label: 'Linkedin (url):', label_html: {class: 'bkt-light-grey'},  class: 'form-control', disabled: true, input_html: {data: {profile_activity_target: 'profileInput'}} %>
      <%= f.input :birth_date, as: :date, label: 'Birth date:', label_html: {class: 'bkt-light-grey'},  class: 'form-control', default: Date.new(1970, 1, 1), start_year: Date.today.year - 70,
                  end_year: Date.today.year - 12, disabled: true, input_html: {data: {profile_activity_target: 'profileInput'}} %>
      <% if @user.hr_or_above? %>
        <%= f.input :hire_date, as: :date, label: 'Hire date:', label_html: {class: 'bkt-light-grey'},  class: 'form-control', start_year: Date.today.year - 70,
                    end_year: Date.today.year, disabled: true, input_html: {data: {profile_activity_target: 'profileInput'}} %>
      <% end %>
      <%= f.input :picture, label: 'Photo URL', label_html: {class: 'bkt-light-grey'},  class: 'form-control', disabled: true, input_html: {data: {profile_activity_target: 'profileInput'}} %>
      <div class="d-flex-row-center-centered mt-5">
        <%= button_tag type: 'submit', class: 'bkt-bg-dark-grey p-4 bkt-white rounded-5px  d-none m-auto', disabled: true, data: {profile_activity_target: 'profileInput saveButton'} do %>
          Save changes
        <% end %>
      </div>
    <% end %>
  </div>
</div>
