<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: flex-start; align-items: center;">
      <h3 class="modal-title" id="myModalLabel"><%= "#{@user.firstname} #{@user.lastname}" %></h3>
      <button class="dropdown-toggle btn-icon-grey" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i></button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <%= link_to user_path(@user), method: :delete, data: { confirm: 'Are you sure ?'} do %>
          <p data-toggle='modal' data-target='#newUser' class='dropdown-item'>Delete User</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="modal-body form-group">
    <%= simple_form_for @user, class:'form-group' do |f| %>
      <%= f.input :firstname, label: 'First Name:', class:'form-control', required:true %>
      <%= f.input :lastname, label: 'Last Name:', class:'form-control' %>
      <%= f.input :email, label: 'Email:', class:'form-control' %>
      <% if current_user.access_level == 'Super Admin' %>
        <%= f.input :access_level, label: 'Access Level:', collection: ['Super Admin', 'Admin', 'HR', 'Manager', 'Employee'], include_blank: false %>
      <% elsif current_user.access_level == 'Admin' %>
        <%= f.input :access_level, label: 'Access Level:', collection: ['Admin', 'HR', 'Manager', 'Employee'], include_blank: false %>
      <% elsif current_user.access_level == 'HR' %>
        <%= f.input :access_level, label: 'Access Level:', collection: ['HR', 'Manager', 'Employee'], include_blank: false %>
      <% end %>
      <% if current_user.access_level == 'Super Admin' %>
        <%= f.input :company, collection: Company.all, include_blank: false, label: 'Company:' %>
      <% end %>
      <%= f.input :phone_number, label: 'Phone:', class:'form-control' %>
      <%= f.input :linkedin, label: 'Linkedin (url):', class:'form-control' %>
      <%= f.input :birth_date, as: :date, label: 'Birth date:', class:'form-control', default: Date.new(1970, 1, 1), start_year: Date.today.year - 70,
                              end_year: Date.today.year - 12 %>
      <%= f.input :hire_date, as: :date, label: 'Hire date:', class:'form-control', start_year: Date.today.year - 70,
                              end_year: Date.today.year %>
      <%= f.input :picture, label: 'Photo URL', class:'form-control' %>
      <div class="new_user_tags">
        <% checked_tags = Tag.joins(:user_tags).where(user_tags: {user_id: @user.id}).map(&:id) %>
        <% TagCategory.where(company_id: current_user.company_id).each do |category| %>
          <p><%= category.name.capitalize %></p>
          <%= f.input_field :tags, collection: Tag.where(tag_category_id: category.id), label_method: lambda { |tag| "#{tag.tag_name}" }, label: false, as: :check_boxes, checked: checked_tags %>
        <% end %>
      </div>
      <div style=" display: flex; justify-content: center;margin-top:3rem;">
        <button type="button" class="btn-orange-text" data-dismiss="modal" aria-label="Close">Cancel</button>
        <%= button_tag type: 'submit', class: 'btn-orange' do %>
          <p>SAVE</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
