<div class="modal-content">
  <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  <div class="modal-body-user-show">
    <div class="flex-row-between-start">
      <div class="user-show-modal-left">
        <img src="<%= user.picture %>" onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
      </div>
      <div class="user-show-modal-right">
        <div class="user-show-modal-username">
          <h4><strong><%= user.fullname %></strong></h4>
          <p><%= user.phone_number %></p>
          <p><%= user.email %></p>
        </div>
        <div class="user-show-modal-right-stats">
          <div class="flex-column-between-centered">
            <p>Upcoming</p>
            <h2>2</h2>
          </div>
          <div class="flex-column-between-centered">
            <p>Completed</p>
            <h2>8</h2>
          </div>
        </div>
        <div class="user-show-modal-right-tags">
          <div class="user-tag-association">
            <h3>Associated Tags (<%= user.tags.count %>) </h3>
            <div class="user-tags">
              <% User.includes(user_tags: :tag).find(user.id).tags.each do |tag| %>
                <div class="tag"><p><%= tag.tag_name %></p></div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="user-show-modal-right-important-info">
          <div class="user-tag-info">
            <h3>Important Information</h3>
            <div class="user-tag-important-infos">
              <p>Social Security:</p>
              <p>Birthday:</p>
              <p>Hire Date:</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
