<div class="user-top-info">
  <div class='user-name'>
    <p><strong><%=  @user.firstname %></strong></p>
    <p><strong><%=  @user.lastname %></strong></p>
  </div>
  <div class='user-contact-info'>
    <p><%=  @user.email %></p>
    <p class="data" id='phone' onclick='openForm(this)'><%=  @user.phone_number if @user.phone_number.present? %></p>
    <%= simple_form_for :user, url: user_path(@user, page: 'show', type: 'phone'), html: { class: "hidden hidden-form" }, method: :patch, remote: true, input_html: {multipart: true} do |f| %>
      <%= f.input :phone_number, label: false, input_html: {value: @user.phone_number} %>
      <%= button_tag type: 'submit', class: 'hidden hidden-submit' %>
    <% end %>
  </div>
</div>
<div class="user-access">
  <p>Access Level:</p>
  <p><%=  @user.access_level %></p>
</div>
<div class="user-job">
  <p>Job Title:</p>
  <p class="data" id='job' onclick='openForm(this)'><%=  @user.job_description if @user.job_description.present? %></p>
  <%= simple_form_for :user, url: user_path(@user, page: 'show', type: 'job'), html: { class: "hidden hidden-form" }, method: :patch, remote: true, input_html: {multipart: true} do |f| %>
    <%= f.input :job_description, label: false, input_html: {value: @user.job_description} %>
    <%= button_tag :submit, class: 'hidden-submit' do %>
      <i class="fas fa-save"></i>
    <% end %>
  <% end %>
</div>
<div class="user-birth">
  <p>Birth date:</p>
  <% if @user.birth_date.present? %>
    <p class="data" id='birth_date' onclick='openForm(this); fireDatePicker();'><%=  @user&.birth_date %></p>
  <% else %>
    <p class="data" id='birth_date' onclick='openForm(this); fireDatePicker();'>empty</p>
  <% end %>
  <%= simple_form_for :user, url: user_path(@user, page: 'show', type: 'birth_date'), html: { class: "hidden hidden-form" }, method: :patch, remote: true, input_html: {multipart: true} do |f| %>
    <%= f.input :birth_date, label: false, input_html: {class: 'datepicker'}, value: @user.birth_date %>
    <%= button_tag :submit, class: 'hidden-submit' do %>
      <i class="fas fa-save"></i>
    <% end %>
  <% end %>
</div>
<div class="user-hire">
  <p>Hire date:</p>
  <% if @user.hire_date.present? %>
    <p class="data" id='hire_date' onclick='openForm(this); fireDatePicker();'><%=  @user.hire_date if @user.hire_date.present? %></p>
  <% else %>
    <p class="data" id='hire_date' onclick='openForm(this); fireDatePicker();'>empty</p>
  <% end %>
  <%= simple_form_for :user, url: user_path(@user, page: 'show', type: 'hire_date'), html: { class: "hidden hidden-form" }, method: :patch, remote: true, input_html: {multipart: true} do |f| %>
    <%= f.input :hire_date, label: false, input_html: {class: 'datepicker'}, value: @user.hire_date %>
    <%= button_tag :submit, class: 'hidden-submit' do %>
      <i class="fas fa-save"></i>
    <% end %>
  <% end %>
</div>
