<div class='user-show-card-info-line-name'>
  <p><strong><%=  @user.firstname %></strong></p>
  <p><strong><%=  @user.lastname %></strong></p>
</div>
<div class='user-show-card-info-line-email flex-row-between-centered'>
  <p><%=  @user.email %></p>
</div>
<div class='user-show-card-info-line flex-row-between-centered'>
  <p>Access Level:</p>
  <p><strong><%=  @user.access_level %></strong></p>
</div>
<div class='user-show-card-info-line flex-row-between-centered'>
  <p>Job Title:</p>
  <p class="data" onclick='openForm(this)'><strong><%=  @user.job_description if @user.job_description.present? %></strong></p>
  <%= simple_form_for :user, url: user_path(@user, page: 'show'), html: { class: "hidden hidden-form" }, method: :patch, remote: true, input_html: {multipart: true} do |f| %>
    <%= f.input :job_description, label: false, input_html: {value: @user.job_description} %>
    <%= button_tag type: 'submit', class: 'hidden hidden-submit' %>
  <% end %>
</div>
<div class='user-show-card-info-line flex-row-between-centered'>
  <p>Phone number:</p>
  <p class="data" onclick='openForm(this)'><strong><%=  @user.phone_number if @user.phone_number.present? %></strong></p>
  <%= simple_form_for :user, url: user_path(@user, page: 'show'), html: { class: "hidden hidden-form" }, method: :patch, remote: true, input_html: {multipart: true} do |f| %>
    <%= f.input :phone_number, label: false, input_html: {value: @user.phone_number} %>
    <%= button_tag type: 'submit', class: 'hidden hidden-submit' %>
  <% end %>
</div>
<div class='user-show-card-info-line flex-row-between-centered'>
  <p>Linkedin:</p>
  <p>
    <% if @user.linkedin.present? %>
      <%= link_to @user.linkedin do %><i class="fab fa-linkedin-in"></i><% end %>
    <% end %>
  </p>
</div>
<div class='user-show-card-info-line flex-row-between-centered'>
  <p>Birth date:</p>
  <p class="data" onclick='openForm(this)'><strong><%=  @user.birth_date if @user.birth_date.present? %></strong></p>
  <%= simple_form_for :user, url: user_path(@user, page: 'show'), html: { class: "hidden hidden-form" }, method: :patch, remote: true, input_html: {multipart: true} do |f| %>
    <%= f.input :birth_date, label: false, input_html: {class: 'datepicker'}, default: @user.birth_date %>
    <%= button_tag type: 'submit', class: 'hidden hidden-submit' %>
  <% end %>
</div>
<div class='user-show-card-info-line flex-row-between-centered'>
  <p>Hire date:</p>
  <p class="data" onclick='openForm(this)'><strong><%=  @user.hire_date if @user.hire_date.present? %></strong></p>
  <%= simple_form_for :user, url: user_path(@user, page: 'show'), html: { class: "hidden hidden-form" }, method: :patch, remote: true, input_html: {multipart: true} do |f| %>
    <%= f.input :hire_date, label: false, input_html: {class: 'datepicker'}, default: @user.hire_date %>
    <%= button_tag type: 'submit', class: 'hidden hidden-submit' %>
  <% end %>
</div>
