<% user.user_interests.includes([:content]).where(status: 'Interested').each do |interest| %>
  <% content = interest.content  %>
  <div class="training-card-main" id="user-interest-content-<%= content.id %>">
    <% if content.content_type == 'Synchronous' %>
      <div class="booklet-card">
        <div class="booklet-card-syn">
          <div class="booklet-card-top">
            <div class="booklet-card__top-info">
              <%= link_to '', content_path(content), class: 'stretched-link' %>
              <h3><b><%= content.title %></b></h3>
              <p><%= content.duration %> Minutes</p>
            </div>
            <div class="booklet-card-type-pill">
              <div class="booklet-card-type">
                <div class="booklet-card-type-icon">
                  <% if content.content_type == 'Synchronous' %>
                    <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
                    <p>In Person</p>
                  <% else %>
                    <i class="fas fa-laptop" style='color:black;'></i>
                    <p>Online</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="booklet-card-bottom">
            <div class="booklet-card-theme">
            <% content.categories.order(title: :asc).each do |category| %>
              <p><%= category.title %></p>
            <% end %>
            </div>
            <div class="booklet-card-objective">
            <% if content.description.present? %>
              <% if content.description.length >= (200) %>
                <p><%= content.description.first(200) + '...' %></p>
              <% else %>
                <p><%= content.description.first(200) %></p>
              <% end %>
            <% end %>
            </div>
            <div class="booklet-card-like">
              <% if current_user == @user %>
                <%= link_to user_interest_path(id: interest.id, redirect_from: 'user_show'), method: :delete, remote: true do %>
                  <i class="fas fa-heart booklet-card-like__right"  style='color:#F26419;'></i>
                <% end %>
              <% else %>
                <i class="fas fa-heart booklet-card-like__right"  style='color:#F26419;'></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="booklet-card">
        <div class="booklet-card-asyn">
          <div class="booklet-card-top">
            <div class="booklet-card__top-info">
              <%= link_to '', content_path(content), class: 'stretched-link' %>
                <h3><b><%= content.title %></b></h3>
                <p><%= content.duration %> Minutes</p>
            </div>
            <div class="booklet-card-type-pill">
              <div class="booklet-card-type">
                <div class="booklet-card-type-icon">
                  <% if content.content_type == 'Synchronous' %>
                    <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
                    <p>In Person</p>
                  <% else %>
                    <i class="fas fa-laptop" style='color:black;'></i>
                    <p>Online</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="booklet-card-bottom">
            <div class="booklet-card-theme">
            <% content.categories.order(title: :asc).each do |category| %>
              <p><%= category.title %></p>
            <% end %>
            </div>
            <div class="booklet-card-objective">
            <% if content.description.present? %>
              <% if content.description.length >= (200) %>
                <p><%= content.description.first(200) + '...' %></p>
              <% else %>
                <p><%= content.description.first(200) %></p>
              <% end %>
            <% end %>
            </div>
            <div class="booklet-card-like">
              <p><%= content.interested.count %> Interested</p>
              <% if current_user == @user %>
                <%= link_to user_interest_path(id: interest.id, redirect_from: 'user_show'), method: :delete, remote: true do %>
                  <i class="fas fa-heart booklet-card-like__right"></i>
                <% end %>
              <% else %>
                <i class="fas fa-heart booklet-card-like__right"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

