<div id="container-new">
  <h3>Complete your profile</h3>
  <div>
  <%= simple_form_for current_user do |f| %>
    <%= f.input :firstname, required: true %>
    <%= f.input :lastname, required: true %>
    <%= f.input :phone_number, label: 'Phone number' %>
    <%= f.input :linkedin, label: 'Linkedin (url)' %>
    <%= f.input :birth_date, as: :date, label: 'Birth date', default: Date.new(1970, 1, 1), start_year: Date.today.year - 70,
                            end_year: Date.today.year - 12 %>
    <div style=" display: flex; justify-content: space-between;margin-top:3rem;">
      <%= button_tag type: 'submit', class: 'btn-orange' do %>
        <p>Save</p>
      <% end %>
    </div>
  <% end %>
  </div>
</div>

