<div id="container-new">
  <h3>Add a new user</h3>
  <div>
  <%= simple_form_for @user do |f| %>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :email %>
    <%= f.input :password %>
    <% if current_user.admin? %>
      <%= f.input :access_level, collection: ['Super Admin', 'Account Owner', 'HR', 'Employee'], include_blank: false %>
    <% elsif current_user.account_owner? %>
      <%= f.input :access_level, collection: ['Account Owner', 'HR', 'Employee'], include_blank: false %>
    <% elsif current_user.hr? %>
      <%= f.input :access_level, collection: ['HR', 'Employee'], include_blank: false %>
    <% end %>
    <% if current_user.admin? %>
      <%= f.association :company, collection: Company.all, include_blank: false, label: 'Company' %>
    <% end %>
    <%= f.input :phone_number, label: 'Phone number' %>
    <%= f.input :linkedin, label: 'Linkedin (url)' %>
    <%= f.input :birth_date, as: :date, label: 'Birth date', default: Date.new(1970, 1, 1), start_year: Time.zone.today.year - 70,
                            end_year: Time.zone.today.year - 12 %>
    <%= f.input :hire_date, as: :date, label: 'Hire date', start_year: Time.zone.today.year - 70,
                            end_year: Time.zone.today.year %>
    <div style=" display: flex; justify-content: space-between;margin-top:3rem;">
      <%= button_tag type: 'submit', class: 'btn-orange' do %>
        <p>Save</p>
      <% end %>
    </div>
  <% end %>
  </div>
</div>

