<% if ['Super Admin'].include?(current_user.access_level) || (current_user.access_level != 'Employee' && @user.company_id == current_user.company_id) || @user == current_user %>
  <div id='container-show-user'>
    <div class="user-top-background">
      <div class="user-buttons-top">
        <%= link_to organisation_path, class: 'btn return-arrow' do %><i class="fas fa-arrow-left"></i><% end %>
        <div id='show-buttons'>
          <% if current_user.access_level == 'Super Admin' || @user == current_user || (['Account Owner', 'HR'].include?(current_user.access_level) && current_user.company == @user.company) %>
            <a data-toggle='modal' data-target='#editUser'><button class='btn-edit-white btn-icon' data-toggle='tooltip' title='Edit User' style='margin-right: 5px; border-radius: 5px'><i class='fas fa-pen'></i></button></a>
            <a data-toggle='modal' data-target='#editPassword'><button class='btn-edit-white btn-icon btn-last' data-toggle='tooltip' title='Change Password' style='margin-right: 5px; border-radius: 5px'><i class="fas fa-key"></i></button></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="user-grid">
      <div class="user-top">
        <div class="user-photo">
          <% if @user.picture.present? %>
            <img src='<%= @user.picture %>' alt="" class='avatar-xlarge' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
          <% else %>
              <%=  image_tag 'empty-avatar.png', class:'avatar-xlarge' %>
          <% end %>
          <div class="user-main-info">
            <div class='user-name'>
              <p><strong><%=  @user.firstname %> <%=  @user.lastname %></strong></p>
            </div>
            <div class="user-information">
              <%= render 'users/user_informations', user: @user %>
            </div>
          </div>
        </div>
        <div class="user-top-info">
          <%= render 'user_contact_info', user: @user %>
        </div>
        <div class="user-basic-info">
          <%= render 'user_basic', user: @user %>
        </div>
      </div>
    </div>
    <p class='trainings-title'>Trainings</p>
    <div class="user-trainings">
      <div class="user-info-header">
        <p style='font-size: 12px'>Recommended</p>
      </div>
      <div class="trainings-row">
        <% Content.where(company_id: current_user.company_id).where('recommended like ?', "% #{current_user.job_title}\n%").each do |content| %>
          <% if content.content_type == 'Synchronous' %>
            <div class="booklet-card">
              <div class="booklet-card-syn">
                <div class="booklet-card-top">
                  <div class="booklet-card__top-info">
                    <% if content.title.length <= 30 %>
                      <h3><b><%= content.title %></b></h3>
                    <% else %>
                      <h3 data-toggle='tooltip' title='<%= content.title %>'><b><%= content.title.first(30) + '...' %></b></h3>
                    <% end %>
                    <p><%= content.duration %> Minutes</p>
                  </div>
                  <div class="booklet-card-type-pill">
                    <div class="booklet-card-type">
                      <div class="booklet-card-type-icon">
                        <% if content.content_type == 'Synchronous' %>
                          <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
                          <p>In Person</p>
                        <% else %>
                          <i class="fas fa-laptop" style='color:black;'></i>
                          <p>Online</p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="booklet-card-bottom">
                  <div class="booklet-card-theme">
                  <% content.categories.order(title: :asc).each do |category| %>
                  <p><%= category.title %></p>
                  <% end %>
                  </div>
                  <div class="booklet-card-objective">
                  <% if content.description.present? %>
                    <% if content.description.length >= (200) %>
                      <p><%= content.description.first(200) + '...' %></p>
                    <% else %>
                      <p><%= content.description.first(200) %></p>
                    <% end %>
                  <% end %>
                  </div>
                  <div class="booklet-card-like">
                    <% interest = UserInterest.find_by(content_id: content.id, user_id: current_user.id) %>
                    <% if interest.present? %>
                      <%= link_to user_interest_path(id: interest.id), method: :delete, remote: true do %>
                        <p><%= content.interested.count %><i class="fas fa-heart booklet-card-like__right" style='color:#F26419;'></i></p>
                      <% end %>
                    <% else %>
                      <%= link_to user_interests_path(content_id: content.id), method: :post, remote: true do %>
                        <p><%= content.interested.count %><i class="far fa-heart booklet-card-like__right" style='color:#F26419;'></i></p>
                      <% end %>
                    <% end %>
                    <% if content.recommended.include?(current_user.job_title) %>
                      <div class="flex-row-between-centered">
                        <i class="fas fa-star booklet-card-like__left"></i>
                        <p>Recommended for you</p>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <div class="booklet-card">
              <div class="booklet-card-asyn">
                <div class="booklet-card-top">
                  <div class="booklet-card__top-info">
                    <% if content.title.length <= 30 %>
                      <h3><b><%= content.title %></b></h3>
                    <% else %>
                      <h3 data-toggle='tooltip' title='<%= content.title %>'><b><%= content.title.first(30) + '...' %></b></h3>
                    <% end %>
                    <p><%= content.duration %> Minutes</p>
                  </div>
                  <div class="booklet-card-type-pill">
                    <div class="booklet-card-type">
                      <div class="booklet-card-type-icon">
                        <% if content.content_type == 'Synchronous' %>
                          <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
                          <p>In Person</p>
                        <% else %>
                          <i class="fas fa-laptop" style='color:black;'></i>
                          <p>Online</p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="booklet-top-right-icon-catalogue">
                    <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
                      <div class="catalogue-content-card-right-menu" onclick="openContentMenu(this);"><i class="fas fa-ellipsis-v"></i></div>
                      <div class="content-dropdown hidden">
                        <a data-toggle='modal' data-target='#editSession-<%= session.id %>'>Modify</a>
                        <%= link_to 'Delete', session_path(session), data: {confirm: 'Are you sure ?'}, method: :delete %>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="booklet-card-bottom">
                  <div class="booklet-card-theme">
                  <% content.categories.order(title: :asc).each do |category| %>
                  <p><%= category.title %></p>
                  <% end %>
                  </div>
                  <div class="booklet-card-objective">
                  <% if content.description.present? %>
                    <% if content.description.length >= (200) %>
                      <p><%= content.description.first(200) + '...' %></p>
                    <% else %>
                      <p><%= content.description.first(200) %></p>
                    <% end %>
                  <% end %>
                  </div>
                  <div class="booklet-card-like">
                    <% interest = UserInterest.find_by(content_id: content.id, user_id: current_user.id) %>
                    <% if interest.present? %>
                      <%= link_to user_interest_path(id: interest.id), method: :delete, remote: true do %>
                        <p><%= content.interested.count %><i class="fas fa-heart booklet-card-like__right"></i></p>
                      <% end %>
                    <% else %>
                      <%= link_to user_interests_path(content_id: content.id), method: :post, remote: true do %>
                        <p><%= content.interested.count %><i class="far fa-heart booklet-card-like__right"></i></p>
                      <% end %>
                    <% end %>
                    <% if content.recommended.include?(current_user.job_title) %>
                      <div class="flex-row-between-centered">
                        <i class="fas fa-star booklet-card-like__left"></i>
                        <p>Recommended for you</p>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if @user.user_interests.present? %>
        <div class="user-info-header">
          <p style='font-size: 12px'>Interested</p>
        </div>
        <div class="trainings-row">
          <%= render 'user_interests', user: @user %>
        </div>
      <% end %>
      <div class="user-info-header">
        <p style='font-size: 12px'>Upcoming</p>
      </div>
      <div class="trainings-row">
        <% Session.joins(:attendees).where(attendees: {user_id: @user.id}).where('date >= ?', Date.today).each do |session| %>
          <% content = Session.includes([:content]).find(session.id).content %>
          <% if UserInterest.find_by(user_id: @user.id, content_id: session.content_id) != 'Completed' %>
            <% if content.content_type == 'Synchronous' %>
              <div class="booklet-card">
                <div class="booking-date">
                  <p style='margin-right:5px; color:#F26419;'>Begins</p>
                  <b><p style='color:#F26419;'><%= session.date.strftime('%B %d') %></p></b>
                </div>
                <div class="booklet-card-syn">
                  <div class="booklet-card-top">
                    <div class="booklet-card__top-info">
                      <% if content.title.length <= 30 %>
                        <h3><b><%= content.title %></b></h3>
                      <% else %>
                        <h3 data-toggle='tooltip' title='<%= content.title %>'><b><%= content.title.first(30) + '...' %></b></h3>
                      <% end %>
                      <p><%= content.duration %> Minutes</p>
                    </div>
                    <div class="booklet-card-type-pill">
                      <div class="booklet-card-type">
                        <div class="booklet-card-type-icon">
                          <% if content.content_type == 'Synchronous' %>
                            <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
                            <p>In Person</p>
                          <% else %>
                            <i class="fas fa-laptop" style='color:black;'></i>
                            <p>Online</p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="booklet-card-bottom">
                    <div class="booklet-card-theme">
                    <% content.categories.order(title: :asc).each do |category| %>
                    <p><%= category.title %></p>
                    <% end %>
                    </div>
                    <div class="booklet-card-objective">
                    <% if content.description.present? %>
                      <% if content.description.length >= (200) %>
                        <p><%= content.description.first(200) + '...' %></p>
                      <% else %>
                        <p><%= content.description.first(200) %></p>
                      <% end %>
                    <% end %>
                    </div>
                    <div class="booklet-card-like">
                      <p><%= session.attendees.count %> Participant(s)</p>
                    </div>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="booklet-card">
                <div class="booking-date">
                  <p style='margin-right:5px;'>Available</p>
                  <b><p><%= session.date.strftime('%B %d') %></p></b>
                </div>
                <div class="booklet-card-asyn">
                  <div class="booklet-card-top">
                    <div class="booklet-card__top-info">
                      <% if content.title.length <= 30 %>
                        <h3><b><%= content.title %></b></h3>
                      <% else %>
                        <h3 data-toggle='tooltip' title='<%= content.title %>'><b><%= content.title.first(30) + '...' %></b></h3>
                      <% end %>
                      <p><%= content.duration %> Minutes</p>
                    </div>
                    <div class="booklet-card-type-pill">
                      <div class="booklet-card-type">
                        <div class="booklet-card-type-icon">
                          <% if content.content_type == 'Synchronous' %>
                            <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
                            <p>In Person</p>
                          <% else %>
                            <i class="fas fa-laptop" style='color:black;'></i>
                            <p>Online</p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="booklet-top-right-icon-catalogue">
                      <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
                        <div class="catalogue-content-card-right-menu" onclick="openContentMenu(this);"><i class="fas fa-ellipsis-v"></i></div>
                        <div class="content-dropdown hidden">
                          <a data-toggle='modal' data-target='#editSession-<%= session.id %>'>Modify</a>
                          <%= link_to 'Delete', session_path(session), data: {confirm: 'Are you sure ?'}, method: :delete %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="booklet-card-bottom">
                    <div class="booklet-card-theme">
                    <% content.categories.order(title: :asc).each do |category| %>
                    <p><%= category.title %></p>
                    <% end %>
                    </div>
                    <div class="booklet-card-objective">
                    <% if content.description.present? %>
                      <% if content.description.length >= (200) %>
                        <p><%= content.description.first(200) + '...' %></p>
                      <% else %>
                        <p><%= content.description.first(200) %></p>
                      <% end %>
                    <% end %>
                    </div>
                    <div class="booklet-card-like">
                      <p><%= session.attendees.count %> Participant(s)</p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="user-info-header">
        <p style='font-size: 12px'>Completed</p>
      </div>
      <div class="trainings-row">
        <% Content.joins(:user_interests).where(user_interests: {user_id: @user.id, status: 'Completed'}).each do |content| %>
          <% session = Session.joins(:attendees).where(content_id: content.id, attendees: {user_id: @user.id}).last %>
          <% if content.content_type == 'Synchronous' %>
            <div class="booklet-card">
              <% if session.present? %>
                <div class="booking-date">
                  <p style='margin-right:5px; color:#F26419;'>Began</p>
                  <b><p style='color:#F26419;'><%= session.date.strftime('%B %d') %></p></b>
                </div>
              <% end %>
              <div class="booklet-card-syn-completed">
                <div class="booklet-card-top">
                  <div class="booklet-card__top-info">
                    <% if content.title.length <= 30 %>
                      <h3><b><%= content.title %></b></h3>
                    <% else %>
                      <h3 data-toggle='tooltip' title='<%= content.title %>'><b><%= content.title.first(30) + '...' %></b></h3>
                    <% end %>
                    <p><%= content.duration %> Minutes</p>
                  </div>
                  <div class="booklet-card-type-pill">
                    <div class="booklet-card-type">
                      <div class="booklet-card-type-icon">
                        <% if content.content_type == 'Synchronous' %>
                          <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
                          <p>In Person</p>
                        <% else %>
                          <i class="fas fa-laptop" style='color:black;'></i>
                          <p>Online</p>
                        <% end %>
                      </div>
                    </div>
                    <i class="fas fa-check-circle" style='color:#56690A; z-index:1000;' data-toggle='tooltip' title='Training Completed'></i>
                  </div>
                </div>
                <div class="booklet-card-bottom">
                  <div class="booklet-card-theme">
                  <% content.categories.order(title: :asc).each do |category| %>
                  <p><%= category.title %></p>
                  <% end %>
                  </div>
                  <div class="booklet-card-objective">
                  <% if content.description.present? %>
                    <% if content.description.length >= (200) %>
                      <p><%= content.description.first(200) + '...' %></p>
                    <% else %>
                      <p><%= content.description.first(200) %></p>
                    <% end %>
                  <% end %>
                  </div>
                  <div class="booklet-card-like">
                    <% if session.present? %>
                      <p><%= session.attendees.count %> Participant(s)</p>
                    <% end %>
                    <% assessments = UserForm.where(user_id: current_user, mod_id: content.mods.ids).map{|x| x.grade} %>
                    <p>Grade : <%= assessments.sum(0.0) / assessments.size %>%</p>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <div class="booklet-card">
              <% if session.present? %>
                <div class="booking-date">
                  <p style='margin-right:5px;'>Available</p>
                  <b><p><%= session.date.strftime('%B %d') %></p></b>
                </div>
              <% end %>
              <div class="booklet-card-asyn-completed">
                <div class="booklet-card-top">
                  <div class="booklet-card__top-info">
                    <% if content.title.length <= 30 %>
                      <h3><b><%= content.title %></b></h3>
                    <% else %>
                      <h3 data-toggle='tooltip' title='<%= content.title %>'><b><%= content.title.first(30) + '...' %></b></h3>
                    <% end %>
                    <p><%= content.duration %> Minutes</p>
                  </div>
                  <div class="booklet-card-type-pill">
                    <div class="booklet-card-type">
                      <div class="booklet-card-type-icon">
                        <% if content.content_type == 'Synchronous' %>
                          <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
                          <p>In Person</p>
                        <% else %>
                          <i class="fas fa-laptop" style='color:black;'></i>
                          <p>Online</p>
                        <% end %>
                      </div>
                    </div>
                    <i class="fas fa-check-circle" style='color:#56690A; z-index:1000;' data-toggle='tooltip' title='Training Completed'></i>
                  </div>
                </div>
                <div class="booklet-card-bottom">
                  <div class="booklet-card-theme">
                    <% content.categories.order(title: :asc).each do |category| %>
                      <p><%= category.title %></p>
                    <% end %>
                  </div>
                  <div class="booklet-card-objective">
                    <% if content.description.present? %>
                      <% if content.description.length >= (200) %>
                        <p><%= content.description.first(200) + '...' %></p>
                      <% else %>
                        <p><%= content.description.first(200) %></p>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="booklet-card-like">
                    <% if session.present? %>
                      <p><%= session.attendees.count %> Participant(s)</p>
                    <% end %>
                    <% assessments = UserForm.where(user_id: current_user, mod_id: content.mods.ids).map{|x| x.grade} %>
                    <p>Grade : <%= assessments.sum(0.0) / assessments.size %>%</p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="access-restricted centered-item">
    <h1>Access restricted</h1>
  </div>
<% end %>


<!-- Modal -->
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'edit', user: @user %>
  </div>
</div>

<div class="modal fade" id="editPicture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'edit_picture', user: @user %>
  </div>
</div>

<div class="modal fade" id="editPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'changepassword', user: @user %>
  </div>
</div>


<% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
  <script>
    doubleClickGuardian = false

    function outsideClick(event, notelem) {
      notelem = $(notelem); // jquerize (optional)
      // check outside click for multiple elements
      var clickedOut = true, i, len = notelem.length;
      for (i = 0;i < len;i++)  {
          if (event.target == notelem[i] || notelem[i].contains(event.target)) {
              clickedOut = false;
          }
      }
      if (clickedOut) return true;
      else return false;
    }

    function updateUser(element) {
      doubleClickGuardian == true
      form = element.closest('form')
      submit = form.querySelector('.hidden-submit')
      setTimeout(function(){doubleClickGuardian = false}, 500)
      window.addEventListener('click', function(e) {
        if (outsideClick(e, element) && doubleClickGuardian == false) {
          submit.click();
          this.removeEventListener('click', arguments.callee, false);
        }
      })
    }


    function openForm(element) {
      if (doubleClickGuardian == false) {
        doubleClickGuardian = true
        form = element.parentNode.querySelector('.hidden-form-user');
        element.classList.toggle('hidden');
        form.classList.toggle('hidden');
        inputs = form.querySelectorAll('input:not([type="hidden"])')
        inputs[0].click()
        window.addEventListener('click', function(e) {
          if (outsideClick(e, form) && outsideClick(e, document.querySelectorAll('.flatpickr-calendar')) && doubleClickGuardian == false) {
            form.querySelector('.hidden-submit').click()
            this.removeEventListener('click', arguments.callee, false);
          }
        });
        setTimeout(function(){doubleClickGuardian = false}, 500)
      }
    };

    function fireDatePicker() {
      flatpickr(".datepicker", {
        disableMobile: true,
        dateFormat: "d/m/Y",
      })
    };
  </script>
  <script>
    sliders = document.querySelectorAll('.trainings-row');
    sliders.forEach((slider) => {
      isDown = false;
      let startX;
      let scrollLeft;

      slider.addEventListener('mousedown', (e) => {
        isDown = true;
        slider.classList.add('active');
        startX = e.pageX - slider.offsetLeft;
        scrollLeft = slider.scrollLeft;
      });
      slider.addEventListener('mouseleave', () => {
        isDown = false;
        slider.classList.remove('active');
      });
      slider.addEventListener('mouseup', () => {
        isDown = false;
        slider.classList.remove('active');
      });
      slider.addEventListener('mousemove', (e) => {
        if(!isDown) return;
        e.preventDefault();
        const x = e.pageX - slider.offsetLeft;
        const walk = (x - startX) * 3; //scroll-fast
        slider.scrollLeft = scrollLeft - walk;
      });
    })

    // window.onload = function navBarPadding() {
    // navbar = document.querySelector('.top-left-nav')
    // navbar.style.paddingBottom = '4px';
    // };
  </script>
<% end %>
