<% if current_user.admin? || (current_user.access_level != 'Employee' && @user.company_id == current_user.company_id) || @user == current_user %>
  <div id='container-show-user'>
    <div class="container-show-user-left"></div>
    <div class="container-show-user-right">
      <div class="user-top-background">
        <div class="user-buttons-top">
          <%= link_to organisation_path, class: 'btn return-arrow' do %>
            <i class="fas fa-arrow-left"></i>
          <% end %>
          <div id='show-buttons'>
            <% if current_user.admin? || @user == current_user || current_user.hr? || (current_user.account_owner? && current_user.company == @user.company) %>
              <a data-toggle='modal' data-target='#editUser'><button class='btn-edit-white btn-icon' data-toggle='tooltip' title='Edit User' style='margin-right: 5px; border-radius: 5px'><i class='fas fa-pen'></i></button></a>
              <a data-toggle='modal' data-target='#editPassword'><button class='btn-edit-white btn-icon btn-last' data-toggle='tooltip' title='Change Password' style='margin-right: 5px; border-radius: 5px'><i class="fas fa-key"></i></button></a>
            <% end %>
          </div>
        </div>
      </div>
      <div class="user-grid">
        <div class="user-top">
          <div class="user-photo">
            <% if @user.picture.present? %>
              <img src='<%= @user.picture %>' alt="" class='avatar-xlarge' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
            <% else %>
                <%=  image_tag 'empty-avatar.png', class:'avatar-xlarge' %>
            <% end %>
            <div class="user-main-info">
              <div class='user-name'>
                <p><strong><%=  @user.firstname %> <%=  @user.lastname %></strong></p>
              </div>
              <div class="user-information">
                <%= render 'users/partials/user_informations', user: @user %>
              </div>
            </div>
          </div>
          <div class="user-top-info">
            <%= render 'users/partials/user_contact_info', user: @user %>
          </div>
          <div class="user-basic-info">
            <%= render 'users/partials/user_basic', user: @user %>
          </div>
        </div>
      </div>
      <p class='trainings-title'>Trainings</p>

      <div class="user-trainings">
        <div class="user-info-header">
          <p style='font-size: 12px'>Upcoming</p>
        </div>
        <div class="trainings-row">
          <% Training.joins(sessions: :attendees).where(company_id: @user.company_id, attendees: {user_id: @user.id}).uniq.select{|x| !x.past?}.each do |training| %>
            <%= render '/pages/partials/dashboard_trainings_card', training: training %>
          <% end %>
        </div>
        <div class="user-info-header">
          <p style='font-size: 12px'>Completed</p>
        </div>
        <div class="trainings-row">
          <% Training.joins(sessions: :attendees).where(company_id: @user.company_id, attendees: {user_id: @user.id}).uniq.select{|x| x.past?}.each do |training| %>
            <%= render '/pages/partials/dashboard_trainings_card', training: training %>
          <% end %>
        </div>
      </div>

    </div>

  </div>
<% else %>
  <div class="access-restricted centered-item">
    <h1>Access restricted</h1>
  </div>
<% end %>


<!-- Modal -->
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'users/modals/edit', user: @user %>
  </div>
</div>

<div class="modal fade" id="editPicture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'users/modals/edit_picture', user: @user %>
  </div>
</div>

<div class="modal fade" id="editPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'users/modals/changepassword', user: @user %>
  </div>
</div>


<% if current_user.hr_or_above? %>
  <script>
    doubleClickGuardian = false

    function outsideClick(event, notelem) {
      notelem = $(notelem); // jquerize (optional)
      // check outside click for multiple elements
      var clickedOut = true, i, len = notelem.length;
      for (i = 0;i < len;i++)  {
          if (event.target == notelem[i] || notelem[i].contains(event.target)) {
              clickedOut = false;
          }
      }
      if (clickedOut) return true;
      else return false;
    }

    function updateUser(element) {
      doubleClickGuardian == true
      form = element.closest('form')
      submit = form.querySelector('.hidden-submit')
      setTimeout(function(){doubleClickGuardian = false}, 500)
      window.addEventListener('click', function(e) {
        if (outsideClick(e, element) && doubleClickGuardian == false) {
          submit.click();
          this.removeEventListener('click', arguments.callee, false);
        }
      })
    }


    function openForm(element) {
      if (doubleClickGuardian == false) {
        doubleClickGuardian = true
        form = element.parentNode.querySelector('.hidden-form-user');
        element.classList.toggle('hidden');
        form.classList.toggle('hidden');
        inputs = form.querySelectorAll('input:not([type="hidden"])')
        inputs[0].click()
        window.addEventListener('click', function(e) {
          if (outsideClick(e, form) && outsideClick(e, document.querySelectorAll('.flatpickr-calendar')) && doubleClickGuardian == false) {
            form.querySelector('.hidden-submit').click()
            this.removeEventListener('click', arguments.callee, false);
          }
        });
        setTimeout(function(){doubleClickGuardian = false}, 500)
      }
    };

    function fireDatePicker() {
      flatpickr(".datepicker", {
        disableMobile: true,
        dateFormat: "d/m/Y",
      })
    };
  </script>
<% end %>

<script>
  sliders = document.querySelectorAll('.trainings-row');
  sliders.forEach((slider) => {
    isDown = false;
    let startX;
    let scrollLeft;

    slider.addEventListener('mousedown', (e) => {
      isDown = true;
      slider.classList.add('active');
      startX = e.pageX - slider.offsetLeft;
      scrollLeft = slider.scrollLeft;
    });
    slider.addEventListener('mouseleave', () => {
      isDown = false;
      slider.classList.remove('active');
    });
    slider.addEventListener('mouseup', () => {
      isDown = false;
      slider.classList.remove('active');
    });
    slider.addEventListener('mousemove', (e) => {
      if(!isDown) return;
      e.preventDefault();
      const x = e.pageX - slider.offsetLeft;
      const walk = (x - startX) * 3; //scroll-fast
      slider.scrollLeft = scrollLeft - walk;
    });
  })

  function checkPasswordConfirmation(element) {
    new_password = document.querySelector('#user_password').value
    save_button = element.closest('form').querySelector('#save_button')
    if (element.value == new_password) {
      save_button.classList.remove('btn-orange-disabled')
      save_button.classList.add('btn-orange')
      save_button.disabled = false
    } else {
      save_button.classList.add('btn-orange-disabled')
      save_button.classList.remove('btn-orange')
      save_button.disabled = true
    }
  }

  // window.onload = function navBarPadding() {
  // navbar = document.querySelector('.top-left-nav')
  // navbar.style.paddingBottom = '4px';
  // };
</script>
