<div id="show-controls" class='flex-row-between-centered'>
  <%= link_to organisation_path, class: 'btn return-arrow' do %><i class="fas fa-arrow-left"></i><% end %>
  <div id='show-buttons'>
    <% if current_user.access_level == 'Super Admin' || @user == current_user || (['Admin', 'HR'].include?(current_user.access_level) && current_user.company == @user.company) %>
      <a data-toggle='modal' data-target='#editUser'><button class='btn-edit-white btn-edit-icon'><i class='fas fa-pen'></i></button></a>
      <a data-toggle='modal' data-target='#editPassword'><button class='btn-edit-white btn-edit-icon btn-last'><i class="fas fa-key"></i></button></a>
    <% end %>
  </div>
</div>
<div id='container-show'>
  <div class="user-show-card flex-column-between-centered">
    <% if @user.picture.present? %>
      <img src='<%= @user.picture %>' alt="" class='avatar-xlarge' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
    <% else %>
      <a data-toggle='modal' data-target='#editPicture' class="avatar-xlarge-empty centered-item">
        <h6>Add picture</h6>
      </a>
    <% end %>
    <div class="user-show-card-info">
      <div class='user-show-card-info-line flex-row-between-centered'>
        <p>Lastname:</p>
        <p><strong><%=  @user.lastname %></strong></p>
      </div>
      <div class='user-show-card-info-line flex-row-between-centered'>
        <p>Firstname:</p>
        <p><strong><%=  @user.firstname %></strong></p>
      </div>
      <div class='user-show-card-info-line flex-row-between-centered'>
        <p>Access Level:</p>
        <p><strong><%=  @user.access_level %></strong></p>
      </div>
      <div class='user-show-card-info-line flex-row-between-centered'>
        <p>Position:</p>
        <p><strong><%=  @user.job_description if @user.job_description.present? %></strong></p>
      </div>
      <div class='user-show-card-info-line flex-row-between-centered'>
        <p>Email:</p>
        <p><strong><%=  @user.email %></strong></p>
      </div>
      <div class='user-show-card-info-line flex-row-between-centered'>
        <p>Phone number:</p>
        <p><strong><%=  @user.phone_number if @user.phone_number.present? %></strong></p>
      </div>
      <div class='user-show-card-info-line flex-row-between-centered'>
        <p>Linkedin:</p>
        <p>
          <% if @user.linkedin.present? %>
            <%= link_to @user.linkedin do %><i class="fab fa-linkedin-in"></i><% end %>
          <% end %>
        </p>
      </div>
      <div class='user-show-card-info-line flex-row-between-centered'>
        <p>Birth date:</p>
        <p><strong><%=  @user.birth_date.strftime('%d/%m/%Y') if @user.birth_date.present? %></strong></p>
      </div>
      <div class='user-show-card-info-line flex-row-between-centered'>
        <p>Hire date:</p>
        <p><strong><%=  @user.hire_date.strftime('%d/%m/%Y') if @user.hire_date.present? %></strong></p>
      </div>
    </div>
  </div>
</div>
<div>
  <% Assessment.joins(:user_forms).where(user_forms: {user_id: @user.id}).each do |form| %>
   <p><%= form.title %></p>
   <p>Grade : <%= UserForm.find_by(user_id: @user, mod_id: form.id)&.grade %>%</p>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'edit', user: @user %>
  </div>
</div>

<div class="modal fade" id="editPicture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'edit_picture', user: @user %>
  </div>
</div>

<div class="modal fade" id="editPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'changepassword', user: @user %>
  </div>
</div>
