<div id='container-show-user'>
  <div class="user-top-background">
    <div class="user-buttons-top">
      <%= link_to organisation_path, class: 'btn return-arrow' do %><i class="fas fa-arrow-left"></i><% end %>
      <div id='show-buttons'>
        <% if current_user.access_level == 'Super Admin' || @user == current_user || (['Admin', 'HR'].include?(current_user.access_level) && current_user.company == @user.company) %>
          <a data-toggle='modal' data-target='#editUser'><button class='btn-edit-white btn-icon'><i class='fas fa-pen'></i></button></a>
          <a data-toggle='modal' data-target='#editPassword'><button class='btn-edit-white btn-icon btn-last'><i class="fas fa-key"></i></button></a>
        <% end %>
      </div>
    </div>
    <div class="user-top">
      <div class="user-photo">
        <% if @user.picture.present? %>
          <img src='<%= @user.picture %>' alt="" class='avatar-xlarge' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
        <% else %>
          <a data-toggle='modal' data-target='#editPicture' class="avatar-xlarge-empty centered-item">
            <h6>Add picture</h6>
          </a>
        <% end %>
      </div>
      <div class="user-contant">
        <div class='user-name'>
          <p><strong><%=  @user.firstname %> <%=  @user.lastname %></strong></p>
        </div>
        <div class="user-top-info">
          <%= render 'user_contact_info', user: @user %>
        </div>
      </div>
    </div>
  </div>
  <div class="user-secondary-container">
    <div class="user-dashboard-tabs">
      <div class="dashboard-tabs">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="#Overview" data-toggle="tab" class='active'>Overview</a></li>
            <li role="presentation"><a href="#Trainings" data-toggle="tab">Trainings</a></li>
        </ul>
      </div>
    </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="Overview">
        <div class="user-overview-grid">
          <div class="user-information">
            <%= render 'users/user_informations', user: @user %>
          </div>
          <div class="interested-in">
            <%= render 'user_interests', user: @user %>
          </div>
        </div>
      <div role="tabpanel" class="tab-pane" id="Trainings">
        <div class="user-trainings">
          <p>Upcoming Trainings</p>
          <div class="trainings-row">
            <% Session.joins(:attendees).where(attendees: {user_id: @user.id}).where('date >= ?', Date.today).each do |session| %>
              <% content = Session.includes([:content]).find(session.id).content %>
              <% if session.date == Date.today %>
              <%= link_to content_path(content, redirect_from: 'user_show', session_id: session.id) do %>
              <% if content.content_type == 'Asynchronous' %>
              <div class="training-card-main">
                  <div class="user-trainings-card-asyn">
                    <div class="user-training-top">
                      <% if content.title.length > 60 %>
                        <h3><b>=<% content.title.first(60)+'...' %></b></h3>
                      <% else %>
                     <h3><b><%= content.title %></b></h3>
                      <% end %>
                    <div class="user-training-icon"><i class="fas fa-laptop"></i></div>
                    </div>
                    <div class="user-training-bottom">
                      <p><i class="fas fa-calendar-alt"></i><%= session.date.strftime('%d/%m/%Y') %></p>
                      <div class='content-time'><p><i class="fas fa-clock"></i><%= content.duration %> min</p></div>
                    </div>
                  </div>
                </div>
              <% elsif %>
              <% content.content_type == 'Synchronous' %>
               <div class="training-card-main">
                  <div class="user-trainings-card-syn">
                    <div class="user-training-top">
                      <% if content.title.length > 60 %>
                        <h3><b><%= content.title.first(60)+'...' %></b></h3>
                      <% else %>
                    <h3><b><%= content.title %></b></h3>
                      <% end %>
                      <div class="user-training-icon"><i class="fas fa-chalkboard-teacher"></i></div>
                    </div>
                    <div class="user-training-bottom">
                      <p><i class="fas fa-calendar-alt"></i><%= session.date.strftime('%d/%m/%Y') %></p>
                      <div class='content-time'><p><i class="fas fa-clock"></i><%= content.duration %> min</p></div>
                    </div>
                  </div>
                </div>
              <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <p>Completed Trainings</p>
        <div class="trainings-row">
          <% Session.joins(:attendees).where(attendees: {user_id: @user.id}).where('date < ?', Date.today).each do |session| %>
            <% content = Session.includes([:content]).find(session.id).content %>
            <%= link_to content_path(content, redirect_from: 'user_show', content_access: 'granted') do %>
              <div class="training-card-main-completed">
              <% if content.content_type == 'Asynchronous' %>
                  <div class="user-trainings-card-asyn">
                    <div class="user-training-top">
                      <% if content.title.length > 60 %>
                        <h3><b><%= content.title.first(60)+'...' %></b></h3>
                      <% else %>
                     <h3><b><%= content.title %></b></h3>
                      <% end %>
                      <div class="user-training-icon"><i class="fas fa-laptop"></i></div>
                    </div>
                    <div class="user-training-bottom">
                      <p><i class="fas fa-calendar-alt"></i><%= session.date.strftime('%d/%m/%Y') %></p>
                      <div class='content-time'><p><i class="fas fa-clock"></i><%= content.duration %> min</p></div>
                    </div>
                  </div>
                </div>
              <% elsif %>
                <div class="training-card-main-completed">
                  <% content.content_type == 'Synchronous' %>
                  <div class="user-trainings-card-syn">
                    <div class="user-training-top">
                      <% if content.title.length > 60 %>
                        <h3><b><%= content.title.first(60)+'...' %></b></h3>
                      <% else %>
                      <h3><b><%= content.title %></b></h3>
                      <% end %>
                      <div class="user-training-icon"><i class="fas fa-chalkboard-teacher"></i></div>
                    </div>
                    <div class="user-training-bottom">
                      <p><i class="fas fa-calendar-alt"></i> <%= session.date.strftime('%d/%m/%Y') %></p>
                      <div class='content-time'><p><i class="fas fa-clock"></i><%= content.duration %> min</p></div>
                    </div>
                  </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <% Assessment.joins(:user_forms).where(user_forms: {user_id: @user.id}).each do |form| %>
   <p><%= form.title %></p>
   <p>Grade : <%= UserForm.find_by(user_id: @user, mod_id: form.id)&.grade %>%</p>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'edit', user: @user %>
  </div>
</div>

<div class="modal fade" id="editPicture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'edit_picture', user: @user %>
  </div>
</div>

<div class="modal fade" id="editPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <%= render 'changepassword', user: @user %>
  </div>
</div>


<% if ['Super Admin', 'Admin', 'HR'].include?(current_user.access_level) %>
  <script>
    function openForm(element) {
      if (document.querySelector('.opened') == null) {
        form = element.parentNode.querySelector('.hidden-form-user');
        element.classList.toggle('hidden');
        form.classList.toggle('hidden');
        form.classList.toggle('opened');
      }
    };

    function fireDatePicker() {
      flatpickr(".datepicker", {
        disableMobile: true,
        dateFormat: "d/m/Y",
      })
    };
  </script>
  <script>
  sliders = document.querySelectorAll('.trainings-row');
  sliders.forEach((slider) => {
    isDown = false;
    let startX;
    let scrollLeft;

    slider.addEventListener('mousedown', (e) => {
      isDown = true;
      slider.classList.add('active');
      startX = e.pageX - slider.offsetLeft;
      scrollLeft = slider.scrollLeft;
    });
    slider.addEventListener('mouseleave', () => {
      isDown = false;
      slider.classList.remove('active');
    });
    slider.addEventListener('mouseup', () => {
      isDown = false;
      slider.classList.remove('active');
    });
    slider.addEventListener('mousemove', (e) => {
      if(!isDown) return;
      e.preventDefault();
      const x = e.pageX - slider.offsetLeft;
      const walk = (x - startX) * 3; //scroll-fast
      slider.scrollLeft = scrollLeft - walk;
      console.log(walk);
    });
  })

  // window.onload = function navBarPadding() {
  // navbar = document.querySelector('.top-left-nav')
  // navbar.style.paddingBottom = '4px';
  // };
</script>
<% end %>
