<div class="campaigns-report-campaign-card__show-summary-arrow"></div>
<div class="campaigns-report-campaign-card__show-summary-arrow-prime"></div>
<div class="campaign-report-info-top">
  <p><%= campaign.title %></p>
  <%= link_to 'Go to campaign', campaign_path(campaign) %>
</div>
<div class="campaign-report-info-bottom">
  <div class="campaign-report-info-employees">
    <p>Employees</p>
    <div class="campaign-report-info-employees__table">
      <div class="campaign-report-info-employees__table-header">
        <p>Name</p>
        <p>Job Title</p>
      </div>
      <% campaign.employees.distinct.count do |employee| %>
        <div class="campaign-report-info-employees__table-card">
          <p><%= employee.fullname %></p>
          <p><%= employee.job_title %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="campaign-report-info-ratings">
    <p>Average ratings (Crossed reviews)</p>
    <div class="campaign-report-info-ratings__table">
      <% campaign.interview_form.interview_questions.where(question_type: 'rating').order(position: :asc).each do |question| %>
        <div class="campaign-report-info-ratings__table-card">
          <p><%= question.question %></p>
          <div class="flex-row-start-centered">
            <% if current_user.company_id == 2 %>
              <i class="fas fa-pizza-slice"></i>
            <% else %>
              <i class="fas fa-star"></i>
            <% end %>
            <% answers = InterviewAnswer.joins(:interview).where(interviews: {id: campaign.interviews.map(&:id), label: 'Crossed'}, interview_question_id: question.id).map{|x| x.answer.to_i.fdiv(x.interview_question.options.to_a.first.first.to_i)} %>
            <% if answers.present? %>
              <p><%= answers.sum / answers.count * 10 %>/10</p>
            <% else %>
              <p>N/A</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="campaign-report-info-questions">
    <p>Question summary</p>
    <div class="campaign-report-info-questions__table">
      <% campaign.interview_form.interview_questions.order(position: :asc).each do |question| %>
        <div class="campaign-report-info-questions__table-card">
          <% if question.separator? %>
            <p><%= question.question %></p>
          <% elsif question.open_question? %>
            <div class="flex-row-start-centered">
              <i class="fas fa-question-circle"></i>
              <p><%= question.question %></p>
            </div>
          <% elsif question.rating? %>
            <div class="flex-row-start-centered">
              <i class="fas fa-star-half-alt"></i>
              <p><%= question.question %></p>
            </div>
          <% elsif question.mcq? %>
            <div class="flex-row-start-centered">
              <i class="far fa-check-square"></i>
              <p><%= question.question %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
