<h1>Reports</h1>
<div>
  <div class='campaigns-report-manager-card <%= "active" if selected_manager_id.empty? %>' onclick='setActiveManager(this)'>
    <img src="<%= asset_url('empty-avatar.png', type: :image) %>" class='avatar-sm'>
    <div class="campaigns-report-manager-card-name">
      <p>All Managers</p>
      <p>Interviews : <%= all_campaigns.map{|x| x.interviews.where(label: 'Crossed').count}.sum %></p>
    </div>
  </div>
  <% managers.each do |manager| %>
    <div class="campaigns-report-manager-card <%= "active" if selected_manager_id == manager.id.to_s %>" id='manager-<%= manager.id %>' onclick='setActiveManager(this)'>
      <img src="<%= manager.picture %>" alt="<%= current_user.fullname %>" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
      <div class="campaigns-report-manager-card-name">
        <p><%= manager.fullname %></p>
        <p>Interviews : <%= all_campaigns.where(owner: manager).map{|x| x.interviews.where(label: 'Crossed').count}.sum %></p>
      </div>
    </div>
  <% end %>
</div>
