<div class="row">

  <% if campaigns.empty? || campaigns.joins(:interviews).where(interviews: {completed: true}).nil? %>
    <p class="empty-card-list">No interview for the moment, click on 'Template' to start.</p>
  <% end %>

  <% campaigns.each do |campaign| %>

    <% campaign_type = {
      'crossed' => 'uil:exchange',
      'simple' => 'mdi:star-shooting'
    } %>

    <% if current_user.employee_to_hr_light? %>
      <% interviews_for_date = campaign.interviews.find_by(employee_id: current_user.id) %>
      <% last_date = interviews_for_date.date %>
      <% completion = campaign.completion_for(current_user) %>
    <% else %>
      <% interviews_for_date = campaign.interviews.order(date: :asc) %>
      <% completion = campaign.completion_for(:all) %>
    <% end %>
    <% employee_list = campaign.employees.distinct.order(lastname: :asc).map{|x| "#{x.lastname} #{x.firstname}"}.join("\n") %>

    <div id='campaign-card-<%= campaign.id %>' class="campaign-col col-xl-3 col-lg-4 col-sm-6 col-xs-12">
      <% if completion == 100 %>
      <div class="campaign-card campaign-card--completed" title='<%= employee_list %>'>
      <% else %>
      <div class="campaign-card" title='<%= employee_list %>'>
      <% end %>
        <%= link_to '', campaign_path(campaign), class: 'stretched-link' %>
        <div class="campaign-card__header">
          <% if current_user.employee_to_hr_light? %>
            <p>Review on <strong><%= last_date %></strong></p>
          <% else %>
            <p>Reviews from <strong><%= interviews_for_date.first.date %></strong> to <strong><%= interviews_for_date.last.date %></strong></p>
          <% end %>
        </div>
        <div class="campaign-card__controls">
          <div class="flex-row-start-centered">
            <span class="iconify" data-icon="<%= campaign_type[campaign.campaign_type] %>"></span>
            <h3><%= campaign.title %></h3>
          </div>
          <% unless completion == 100 %>
            <div class="campaign-card__options" onclick="openContentMenu(this);">
              <% if current_user.manager_or_above? %>
                <i class="fas fa-ellipsis-v"></i>
                <div class="content-dropdown hidden">
                    <%= link_to 'Edit', edit_campaign_path(campaign) %>
                    <% unless campaign.interviews.where(completed: true).present? %>
                      <%= link_to 'Delete', campaign_path(campaign), method: :delete, remote: true, data: {confirm: 'Are you sure ?'}%>
                    <% end %>
                    <a data-toggle='modal' data-target='#sendEmail'>Send Email</a>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="campaign-card__tags">
          <% campaign.interview_form.tags.order(tag_name: :asc).group_by(&:tag_category_position).values.flatten.each do |tag| %>
            <p class="campaign-card__tag-pill"><%= tag.tag_name %></p>
          <% end %>
        </div>
        <% if completion == 100 %>
        <div class="campaign-card-summary__assignment manager-completed">
          Manager : <%= campaign.owner.fullname %>
        </div>
      <% else %>
         <div class="campaign-card-summary__assignment">
          Manager : <%= campaign.owner.fullname %>
        </div>
      <% end %>
        <div class="campaign-card-summary">
          <% if current_user.employee_to_hr_light? %>
            <div class='campaign-card-summary__count'>
              <% if campaign.simple? %>
                <p><%= campaign.interviews.where(employee_id: current_user.id, completed: true).count %>/<%= campaign.interviews.where(employee_id: current_user.id).count %> employee reviews</p>
              <% elsif campaign.crossed? %>
                <p><%= campaign.interviews.where(employee_id: current_user.id, label: 'Employee', completed: true).count %>/<%= campaign.interviews.where(employee_id: current_user.id, label: 'Employee').count %> employee reviews</p>
                <p><%= campaign.interviews.where(employee_id: current_user.id, label: 'Manager', completed: true).count %>/<%= campaign.interviews.where(employee_id: current_user.id, label: 'Employee').count %> manager reviews</p>
                <p><%= campaign.interviews.where(employee_id: current_user.id, label: 'Crossed', completed: true).count %>/<%= campaign.interviews.where(employee_id: current_user.id, label: 'Employee').count %> crossed reviews</p>
              <% end %>
            </div>
            <div class="campaign-card-summary__completion">
              <h3><%= completion %>%</h3>
              <span>Completed</span>
            </div>
          <% else %>
            <div class='campaign-card-summary__count'>
              <% if campaign.simple? %>
                <p><%= campaign.interviews.where(completed: true).count %>/<%= campaign.interviews.count %> employee reviews</p>
              <% elsif campaign.crossed? %>
                <p><%= campaign.interviews.where(label: 'Employee', completed: true).count %>/<%= campaign.interviews.where(label: 'Employee').count %> employee reviews</p>
                <p><%= campaign.interviews.where(label: 'Manager', completed: true).count %>/<%= campaign.interviews.where(label: 'Employee').count %> manager reviews</p>
                <p><%= campaign.interviews.where(label: 'Crossed', completed: true).count %>/<%= campaign.interviews.where(label: 'Employee').count %> crossed reviews</p>
              <% end %>
            </div>
            <div class="campaign-card-summary__completion-and-assignment">
              <div class="campaign-card-summary__completion">
                <h3 class="h3"><%= completion %>%</h3>
                <span>Completed</span>
              </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>


    <!------------>
    <!-- MODALS -->
    <!------------>

    <div class='modal fade modal_folder' id='sendEmail' data-target='folder' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
      <div class='modal-dialog' role='document' style='border-radius: 20px'>
        <%= render 'campaigns/modals/send_notification_email', campaign: campaign %>
      </div>
    </div>

  <% end %>
</div>
