<% if @interviews.present? %>
  <% employee_interview = @interviews.find_by(label: 'Employee') %>
  <% manager_interview = @interviews.find_by(label: 'HR') %>
  <% crossed_interview = @interviews.find_by(label: 'Crossed') %>
  <% ['HR-light', 'Manager-light', 'Employee'].include?(current_user.access_level) ? employee_view = true : employee_view = false %>
  <div class="campaign-interview-card">
    <p class="campaign-interview-card__username"><%= employee_interview.employee.fullname %></p>
    <% if employee_view && employee_interview.completed %>
      <i class="fas fa-check-circle"></i>
      <p class="campaign-interview-card__status">Review completed</p>
      <%= link_to interview_path(employee_interview), class: 'campaign-interview-card__button' do %>
        <p>Modify</p>
      <% end %>
    <% elsif employee_view %>
      <i class="far fa-times-circle"></i>
      <p class="campaign-interview-card__status">Review not completed</p>
      <%= link_to interview_path(employee_interview), class: 'campaign-interview-card__button' do %>
        <p>Start</p>
      <% end %>
    <% elsif employee_interview.completed %>
      <i class="fas fa-check-circle"></i>
      <p class="campaign-interview-card__status">Review completed</p>
      <%= link_to interview_path(employee_interview), class: 'campaign-interview-card__button' do %>
        <p>View</p>
      <% end %>
    <% else %>
      <i class="far fa-times-circle"></i>
      <p class="campaign-interview-card__status">Review not completed</p>
      <p class="campaign-interview-card__comment"><%= employee_interview.employee.fullname %> has not completed his
review yet</p>
    <% end %>
  </div>
  <div class="campaign-interview-card">
    <p class="campaign-interview-card__username">Me</p>
    <% if manager_interview.completed %>
      <i class="fas fa-check-circle"></i>
      <p class="campaign-interview-card__status">Review completed</p>
      <% if employee_view %>
        <div class="campaign-interview-card__fill"></div>
      <% else %>
        <%= link_to interview_path(manager_interview), class: 'campaign-interview-card__button' do %>
          <p>Modify</p>
        <% end %>
      <% end %>
    <% else %>
      <i class="far fa-times-circle"></i>
      <p class="campaign-interview-card__status">Review not completed</p>
      <% if employee_view %>
        <div class="campaign-interview-card__fill"></div>
      <% else %>
        <%= link_to interview_path(manager_interview), class: 'campaign-interview-card__button' do %>
          <p>Start</p>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="campaign-interview-card">
    <p class="campaign-interview-card__username">Crossed review</p>
    <% if crossed_interview.completed %>
      <i class="fas fa-check-circle"></i>
      <p class="campaign-interview-card__status">Review completed</p>
      <%= link_to interview_path(crossed_interview), class: 'campaign-interview-card__button' do %>
        <p>View result</p>
      <% end %>
    <% else %>
      <p class="campaign-interview-card__comment">Launch a crossed review when employee and manager are done</p>
      <p class="campaign-interview-card__status">Until <strong><%= crossed_interview.date %></strong></p>
      <% if employee_view %>
        <div class="campaign-interview-card__fill"></div>
      <% else %>
        <%= link_to interview_path(crossed_interview), class: 'campaign-interview-card__button' do %>
          <p>Start</p>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<!-- <div class="flex-row-between-centered">
  <%# employee_interview = @interviews.find_by(label: 'Employee') %>
  <div class="interview-card">
    <div class="interview-card__header">
      <p>TO DO</p>
      <p>DONE</p>
    </div>
    <div class="interview-card__main">

    </div>
  </div>
</div>
 -->
