<div class="campaign-show__header-infos-title-status">

  <div class="campaign-show__header-infos-title">

    <div class="campaign-show__header-infos-title-icon">
      <span class="iconify" data-icon="<%= campaign.icon %>"></span>
    </div>

    <h2><%= campaign.title %></h2>
    <p class='<%= campaign.completion_status %>'><%= t campaign.completion_status %></p>
  </div>
  <p><%= t('employees').upcase_first %></p>
</div>

<div class="campaign-show__header-infos-controls">

  <div class="flex-row-between-centered">
    <p class='mb-1rem mr-1rem'><%= t('select_interviewer') %>:</p>
    <%= simple_form_for :select, url: campaign_path(campaign), method: :get, remote: true do |f| %>

      <%= f.input :interviewer_id,
                  collection: [['All', '']] + campaign.interviewers.distinct.order(lastname: :asc).map{|x| [x.fullname, x.id]},
                  label_method: :first,
                  value_method: :second,
                  selected: selected_interviewer.presence ?
                              [selected_interviewer.fullname, selected_interviewer.id] : ['All', ''],
                  label: false,
                  include_blank: false,
                  disabled: !CampaignPolicy.new(current_user, nil).create?,
                  input_html: {
                    onchange: 'submitForm(this);'
                  } %>

      <%= f.hidden_field :page, value: 1, data: { change_page_target: :pageInput } %>

      <%= f.submit '', class: 'hidden-submit hidden' %>

    <% end %>

  </div>

  <% if selected_interviewer.present? && CampaignPolicy.new(current_user, @campaign).add_interview_set? %>

    <a class='campaign-show__header-infos-controls-employee' data-toggle='modal' data-target='#addParticipant'>
      <span class="iconify" data-icon="akar-icons:circle-plus"></span>
      <p><%= t('add_employee') %></p>
    </a>

  <% end %>

</div>
