<div class="row">

  <% employees.each do |employee| %>
    <% interviews = campaign.interviews_for(employee.id) %>
    <% employee_view = current_user == employee %>
    <% manager_view = current_user == selected_interviewer || current_user.hr_or_above? %>
    <% next unless employee_view || manager_view %>
    <% interview_form = campaign.interviews.where(employee_id: employee).first.interview_form %>

    <div class="campaign-show__card-container col-sm-12 col-md-6 col-xl-4">
      <div class="campaign-show__card campaign-show__card-<%= campaign.campaign_type %>">

        <div class="campaign-show__card-overlay hidden"></div>
        <div class="campaign-card__options" onclick="openContentMenu(this);">

          <% if manager_view %>

            <i class="fas fa-ellipsis-v"></i>
            <div class="content-dropdown hidden">
              <%= link_to 'See profile', user_path(employee) %>
              <%= link_to 'Send invitation email', send_notification_email_path(id: campaign.id, user_id: employee.id, email_type: 'invite') %>
              <%= link_to 'Send reminder email', send_notification_email_path(id: campaign.id, user_id: employee.id, email_type: 'reminder') %>
              <a data-toggle='modal' data-target='#editDeadline-<%= employee.id %>'>Edit interview deadline</a>
              <% if CampaignPolicy.new(current_user, @campaign).remove_interview_set? ||
                campaign.interviews.find_by(employee_id: employee.id, label: 'Employee', completed: false).nil? %>
                <a data-toggle='modal' data-target='#removeParticipant-<%= employee.id %>'>Remove from campaign</a>
              <% end %>
              <% if current_user.hr_or_above? %>
                <% interviews.select{|x| x&.locked_at&.present?}.each do |interview| %>
                  <%= link_to "Unlock #{interview.label} interview", unlock_interview_path(interview_id: interview.id, interviewer_id: @selected_interviewer&.id), remote: true %>
                <% end %>
              <% end %>
            </div>

          <% end %>

        </div>

        <div class="campaign-show__card-profile">
          <img src="<%= employee.picture %>" alt="<%= employee.fullname %>" class='avatar-large' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
          <p><%= employee.lastname.upcase %> <%= employee.firstname.titleize %></p>
        </div>

        <div class="campaign-show__card-interviews">

          <% if interview_form.answerable_by_manager? || interview_form.answerable_by_employee? %>
            <% interview = Interview.find_by(campaign_id: campaign.id, employee_id: employee.id) %>
            <% active_link =
              if interview.manager?
                interview.completed? && employee_view || manager_view && (current_user == interview.interviewer)
              else
                interview.completed? && manager_view || employee_view
              end
            %>

            <div id='interview-<%= interview.id %>' class="campaign-show__card-interview">
              <% if active_link %>
                <%= link_to '', interview_path(interview), class: 'stretched-link' %>
              <% end %>
              <div>
                <p><%= interview.title %> review <br><em class='campaign-show__card-deadline'><%= "Until #{interview.date}" %></em></p>
                <% if interview.completed? %>
                  <% last_updated = interview.interview_answers.order(updated_at: :desc).first.updated_at.strftime('%d/%m/%Y') %>
                  <p class="campaign-show__card-interview-status--complete">
                    Last updated on <%= last_updated %>
                  </p>
                <% else %>
                  <p class="campaign-show__card-interview-status--incomplete">
                    Not completed
                  </p>
                <% end %>
              </div>
              <% if active_link %>
                <span class="iconify" data-icon="fontisto:angle-right"></span>
              <% end %>
            </div>

            <div class="campaign-show__card-interviews-info-incomplete mb-2rem">
              <p>The <%= interview.label %> may update his/her answer at any time.</p>
            </div>

          <% else %>
            <% interviews = Interview.where(campaign_id: campaign.id, employee_id: employee.id) %>
            <% employee_interview = interviews.find_by(label: 'Employee') %>
            <% manager_interview = interviews.find_by(label: 'Manager') %>
            <% crossed_interview = interviews.find_by(label: 'Crossed') %>
            <% crossed_availability =
              employee_interview&.completed? &&
              manager_interview&.completed? &&
              (manager_view || crossed_interview&.completed?) if interview_form.cross %>
            <% interviews = [employee_interview, manager_interview, crossed_interview].compact %>

            <% interview_title = {'Employee' => "Employee's",
                                  'Manager' => "Manager's",
                                  'Crossed' => "Cross"} %>

            <% interviews.each do |interview| %>
              <% user_is_manager = current_user == interview.interviewer %>

              <% active_link = (interview.crossed? && crossed_availability) ||
                               ((employee_view && interview.employee?) ||
                               (user_is_manager && (interview.manager? || interview.completed?)) ||
                               (interview.completed? && !manager_view && !interview.manager?)) %>

              <div id='interview-<%= interview.id %>' class="campaign-show__card-interview">
                <% if active_link %>
                  <%= link_to '', interview_path(interview), class: 'stretched-link' %>
                <% end %>
                <div>
                  <p><%= interview_title[interview.label] %> review
                    <% if interview.crossed? %>
                      <em class='campaign-show__card-deadline'><%= "- Until #{interview.date}" %></em>
                    <% end %>
                  </p>
                  <% if interview.locked? %>
                    <p class="campaign-show__card-interview-status--complete">
                      Locked !
                    </p>
                  <% elsif interview.completed? %>
                    <p class="campaign-show__card-interview-status--complete">
                      Completed !
                    </p>
                  <% elsif interview.crossed? && !crossed_availability && manager_view %>
                    <p class="campaign-show__card-interview-status--unavailable">
                      Not available yet
                    </p>
                  <% else %>
                    <p class="campaign-show__card-interview-status--incomplete">
                      Not completed
                    </p>
                  <% end %>
                </div>
                <% if active_link %>
                  <span class="iconify" data-icon="fontisto:angle-right"></span>
                <% end %>
              </div>

            <% end %>

            <% if crossed_interview.present? %>
              <% if crossed_interview.locked? %>
                <div class="campaign-show__card-interviews-info-locked mb-1rem">
                  <p>Interview locked</p>
                  <span class="iconify" data-icon="akar-icons:circle-check-fill"></span>
                </div>
              <% elsif crossed_interview.completed? %>
                <div class="campaign-show__card-interviews-info-complete mb-1rem">
                  <p>Interview completed !</p>
                </div>
              <% else %>
                <div class="campaign-show__card-interviews-info-incomplete mb-1rem">
                  <p>Start a cross review when employee and manager’s reviews are done</p>
                </div>
              <% end %>
            <% end %>

          <% end %>
        </div>

        <!----------->
        <!-- MODAL -->
        <!----------->

        <div class='modal fade' id='editDeadline-<%= employee.id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' data-keyboard="false" data-backdrop="static">
          <div class='modal-dialog modal-date' role='document' style='border-radius: 20px'>
            <%= render 'campaigns/modals/edit_deadline', campaign: campaign, employee: employee, interview: Interview.where(campaign_id: campaign.id, employee_id: employee.id).first %>
          </div>
        </div>

        <div class='modal fade' id='removeParticipant-<%= employee.id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' data-keyboard="false" data-backdrop="static">
          <div class='modal-dialog modal-sm' role='document' style='border-radius: 20px'>
            <%= render 'campaigns/modals/remove_participant', employee: employee, selected_interviewer: selected_interviewer %>
          </div>
        </div>

        <!----------->

      </div>
    </div>


  <% end %>

</div>

<div class="paginate-container paginate-container-blue">

  <% if params.dig(:select, :page).present? && params.dig(:select, :page).to_i > 1 %>
    <div class="paginate__previous-button paginate__button-blue" onclick='changePage("previous");'>
      <span class="iconify" data-icon="fontisto:angle-left"></span>
      <p>Previous</p>
    </div>
  <% end %>

  <%= paginate employees, left: 3, right: 1 %>

  <% if @employees.count == 10 && @any_more %>
    <div class="paginate__next-button paginate__button-blue" onclick='changePage("next");'>
      <p>Next</p>
      <span class="iconify" data-icon="fontisto:angle-right"></span>
    </div>
  <% end %>

</div>
