<div class="campaign-show__header-infos-title-status">
  <div class="campaign-show__header-infos-title">
    <div class="campaign-show__header-infos-title-icon">
      <span class="iconify" data-icon="<%= campaign.icon %>"></span>
    </div>
    <h2 style='max-width: 50rem;'><%= campaign.title %></h2>
    <p class='<%= campaign.completion_status %>'><%= campaign.completion_status_string %></p>
  </div>
  <p>Employees</p>
</div>
<div class="campaign-show__header-infos-controls">
  <div class="flex-row-between-centered">
    <p class='mb-1rem mr-1rem'>Select Interviewer:</p>
    <%= simple_form_for :select, url: campaign_path(campaign), method: :get, remote: true do |f| %>
      <%= f.input :interviewer_id,
                  collection: [['All', '']] + campaign.interviewers.distinct.order(lastname: :asc).map{|x| [x.fullname, x.id]},
                  label_method: :first,
                  value_method: :second,
                  selected: selected_interviewer.presence ?
                              [selected_interviewer.fullname, selected_interviewer.id] : ['All', ''],
                  label: false,
                  include_blank: false,
                  disabled: !current_user.hr_or_above?,
                  input_html: {
                    onchange: 'submitForm(this);'
                  } %>
        <%= f.hidden_field :page, value: 1 %>
      <%= f.submit '', class: 'hidden-submit hidden' %>
    <% end %>
  </div>
  <% if selected_interviewer.present? %>
    <a class='campaign-show__header-infos-controls-employee' data-toggle='modal' data-target='#addParticipant'>
      <span class="iconify" data-icon="akar-icons:circle-plus"></span>
      <p>Add an employee</p>
    </a>
  <% end %>
</div>
