<% interview_set = Interview.find_by(employee: employee, campaign: campaign).set %>
<% interviews = interview_set.interviews.compact %>
<% employee_view = current_user == employee %>
<% manager_view = current_user == selected_interviewer || CampaignPolicy.new(current_user, @campaign).show? %>
<% interview_form = interviews.first.interview_form %>

<% if employee_view || manager_view %>

  <div class="campaign-show__card campaign-show__card-<%= campaign.campaign_type %>"
       data-controller="dropdown">

    <% if manager_view %>

      <div class="dark-overlay hidden"
           style="border-radius: 1.3rem;"
           data-dropdown-target="overlay"></div>

      <div
         class="pos-abs d-flex justify-content-end"
         style="top: 1rem; right: 1rem;">

        <div class="flex-row-center-centered height-2_5rem width-2_5rem-forced rounded-15px bkt-light-grey
                    bkt-white-hover bkt-bg-light-grey-hover cursor-pointer z-index-5"
              data-action="click->dropdown#toggle dropdown:click:outside->dropdown#hide">
          <i class="fas fa-ellipsis-v"></i>
        </div>

        <div class="pos-abs rounded-5px z-index-100 bkt-box-shadow-compact d-flex flex-column align-items-start
                    bkt-bg-white bkt-dark-grey hidden"
             data-dropdown-target="menu"
             style='right: 0; top: 3rem; width: 25rem;'>

          <%= link_to user_path(employee), class: 'width-100' do %>

            <button class="flex-row-start-centered fs-1_6rem font-weight-500 bkt-bg-light-grey10-hover
                           width-100 p-3">
              See profile
            </button>

          <% end %>


          <%= link_to send_notification_email_path(id: campaign.id, user_id: employee.id, email_type: 'invite'), class: 'width-100', remote: true do %>

            <button class="flex-row-start-centered fs-1_6rem font-weight-500 bkt-bg-light-grey10-hover
                           width-100 p-3">
              Send invitation email
            </button>

          <% end %>


          <%= link_to send_notification_email_path(id: campaign.id, user_id: employee.id, email_type: 'reminder'), class: 'width-100', remote: true do %>

            <button class="flex-row-start-centered fs-1_6rem font-weight-500 bkt-bg-light-grey10-hover
                           width-100 p-3">
              Send reminder email
            </button>

          <% end %>


          <a class="width-100"
             data-toggle='modal'
             data-target='#editDeadline-<%= employee.id %>'>

            <button class="flex-row-start-centered fs-1_6rem font-weight-500 bkt-bg-light-grey10-hover
                           width-100 p-3">
              Edit interview deadline
            </button>

          </a>

          <% if CampaignPolicy.new(current_user, @campaign).remove_interview_set? ||
            !interview_set.employee_interview&.submitted? %>

            <a class="width-100"
               data-toggle='modal'
               data-target='#removeParticipant-<%= employee.id %>'>

              <button class="flex-row-start-centered fs-1_6rem font-weight-500 bkt-red bkt-bg-light-grey10-hover
                           width-100 p-3">
                Remove from campaign
              </button>

            </a>

          <% end %>

          <% if CampaignPolicy.new(current_user, @campaign).can_unlock? %>

            <% interviews.select{|x| x&.locked_at&.present?}.each do |interview| %>

              <% unless interviews.count == 3 && interviews.last.locked? && !interview.crossed? %>

                <%= link_to unlock_interview_path(interview_id: interview.id, interviewer_id: selected_interviewer&.id), class: 'width-100', remote: true do %>

                  <button class="flex-row-start-centered fs-1_6rem font-weight-500 bkt-red
                                 bkt-bg-light-grey10-hover
                           width-100 p-3">
                    <%= "Unlock #{interview.label} interview" %>
                  </button>

                <% end %>

              <% end %>

            <% end %>

          <% end %>

        </div>

      </div>

    <% end %>

    <div class="campaign-show__card-profile">
      <img src="<%= employee.picture %>" alt="<%= employee.fullname %>" class='avatar-large' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
      <p><%= employee.lastname.upcase %> <%= employee.firstname.titleize %></p>
    </div>

    <div class="campaign-show__card-interviews">

      <% if interview_form.answerable_by_manager? || interview_form.answerable_by_employee? %>
        <% interview = Interview.find_by(campaign_id: campaign.id, employee_id: employee.id) %>
        <% active_link =
          if interview.manager?
            interview.submitted? && employee_view || manager_view && (current_user == interview.interviewer)
          else
            interview.submitted? && manager_view || employee_view
          end
        %>

        <div id='interview-<%= interview.id %>' class="campaign-show__card-interview">
          <% if active_link %>
            <%= link_to '', interview_path(interview), class: 'stretched-link' %>
          <% end %>
          <div>
            <p><%= interview.title %> review <br><em class='campaign-show__card-deadline'><%= "Until #{interview.date.presence || campaign.deadline}" %></em></p>
            <% if interview.locked? %>
              <p class="campaign-show__card-interview-status--complete">
                Locked !
              </p>
            <% elsif interview.submitted? %>
              <p class="campaign-show__card-interview-status--complete">
                Completed !
              </p>
            <% else %>
              <p class="campaign-show__card-interview-status--incomplete">
                Not completed
              </p>
            <% end %>
          </div>
          <% if active_link %>
            <span class="iconify" data-icon="fontisto:angle-right"></span>
          <% end %>
        </div>

        <div class="campaign-show__card-interviews-info-incomplete mb-2rem">
          <p>The <%= interview.label %> may update his/her answer at any time.</p>
        </div>

      <% else %>
        <% interviews = Interview.where(campaign_id: campaign.id, employee_id: employee.id) %>
        <% employee_interview = interviews.find_by(label: 'Employee') %>
        <% manager_interview = interviews.find_by(label: 'Manager') %>
        <% crossed_interview = interviews.find_by(label: 'Crossed') %>
        <% crossed_availability =
          employee_interview&.submitted? &&
          manager_interview&.submitted? &&
          (manager_view || crossed_interview&.submitted?) if interview_form.cross %>
        <% interviews = [employee_interview, manager_interview, crossed_interview].compact %>

        <% interview_title = {'Employee' => "Employee's",
                              'Manager' => "Manager's",
                              'Crossed' => "Cross"} %>

        <% interviews.each do |interview| %>
          <% user_is_manager = current_user == interview.interviewer %>

          <% active_link = (interview.crossed? && crossed_availability) ||
                           ((employee_view && interview.employee?) ||
                           (user_is_manager && (interview.manager? || interview.submitted?)) ||
                           (interview.submitted? && !manager_view && !interview.manager?)) %>

          <div id='interview-<%= interview.id %>' class="campaign-show__card-interview">
            <% if active_link %>
              <%= link_to '', interview_path(interview), class: 'stretched-link' %>
            <% end %>
            <div>
              <p><%= interview_title[interview.label] %> review
                <% if interview.crossed? %>
                  <em class='campaign-show__card-deadline'><%= "- Until #{interview.date.presence || campaign.deadline}" %></em>
                <% end %>
              </p>
              <% if interview.locked? %>
                <p class="campaign-show__card-interview-status--complete">
                  Locked !
                </p>
              <% elsif interview.submitted? %>
                <p class="campaign-show__card-interview-status--complete">
                  Completed !
                </p>
              <% elsif interview.crossed? && !crossed_availability && manager_view %>
                <p class="campaign-show__card-interview-status--unavailable">
                  Not available yet
                </p>
              <% else %>
                <p class="campaign-show__card-interview-status--incomplete">
                  Not completed
                </p>
              <% end %>
            </div>
            <% if active_link %>
              <span class="iconify" data-icon="fontisto:angle-right"></span>
            <% end %>
          </div>

        <% end %>

        <% if crossed_interview.present? %>
          <% if crossed_interview.locked? %>
            <div class="campaign-show__card-interviews-info-locked mb-1rem">
              <p>Interview locked</p>
              <span class="iconify" data-icon="akar-icons:circle-check-fill"></span>
            </div>
          <% elsif crossed_interview.submitted? %>
            <div class="campaign-show__card-interviews-info-complete mb-1rem">
              <p>Interview completed !</p>
            </div>
          <% else %>
            <div class="campaign-show__card-interviews-info-incomplete mb-1rem">
              <p>Start a cross review when employee and manager’s reviews are done</p>
            </div>
          <% end %>
        <% end %>

      <% end %>
    </div>

    <!----------->
    <!-- MODAL -->
    <!----------->

    <div id='editDeadline-<%= employee.id %>'
         class='modal date-modal fade fade-scale'
         tabindex='-1'
         role='dialog'
         data-keyboard="false"
         data-backdrop="static">

      <div class='modal-dialog date-modal__dialog'
           role='document'>

        <%= render 'campaigns/modals/edit_deadline',
            campaign: campaign,
            employee: employee,
            interview: Interview.where(campaign_id: campaign.id, employee_id: employee.id).first %>

      </div>

    </div>

    <div id='removeParticipant-<%= employee.id %>'
         class='modal ays-modal fade'
         tabindex='-1'
         role='dialog'
         data-keyboard="false"
         data-backdrop="static">

      <div class='modal-dialog ays-modal__dialog'
           role='document'>

        <%= render 'campaigns/modals/remove_participant',
            employee: employee,
            selected_interviewer: selected_interviewer %>

      </div>

    </div>

    <!----------->

  </div>

<% end %>
