<div class="left-navbar left-navbar-builder">
  <% unless ['contents', 'training_contents'].include?(params[:controller]) && params[:action] == "view_mode" %>
    <div class="left-navbar-top">
<!--       <% if user_signed_in? %>
        <img src='<%= "#{current_user.company.logo}" %>' class="left-navbar-logo" height='24px'>
      <% end %> -->
    </div>
    <div class="left-navbar-middle">
      <% if user_signed_in? %>
        <%= link_to dashboard_path, class: 'left-buttons' do %>
          <% if request.original_url&.split('/')[3]&.split('?')&.first == 'dashboard' %>
            <div class="left-menu-list active">
            <div class="left-menu-icon"><i class="fas fa-home"></i></div> <div class="left-menu-title"><h4>My Booklet</h4></div>
          </div>
          <% else %>
            <div class="left-menu-list">
              <div class="left-menu-icon"><i class="fas fa-home"></i></div> <div class="left-menu-title"><h4>My Booklet</h4></div>
            </div>
          <% end %>
        <% end %>
        <%= link_to dashboard_calendar_week_path, class: 'left-buttons' do %>
          <% if request.original_url&.split('/')[3]&.split('?')&.first == 'dashboard-calendar' %>
            <div class="left-menu-list active">
            <div class="left-menu-icon"><i class="far fa-calendar-alt"></i></div> <div class="left-menu-title"><h4>Calendar</h4></div>
          </div>
          <% else %>
            <div class="left-menu-list">
              <div class="left-menu-icon"><i class="far fa-calendar-alt"></i></div> <div class="left-menu-title"><h4>Calendar</h4></div>
            </div>
          <% end %>
        <% end %>
        <% if ['Super Admin', 'Admin', 'HR', 'Manager'].include?(current_user.access_level) %>
          <% if request.original_url&.split('/')[3]&.split('?')&.first == 'catalogue' %>
            <%= link_to catalogue_path, class: 'left-buttons' do %>
              <div class="left-menu-list active">
                <div class="left-menu-icon"><i class="fas fa-book"></i></div> <div class="left-menu-title"><h4>Catalogue</h4></div>
              </div>
            <% end %>
          <% else %>
            <%= link_to catalogue_path, class: 'left-buttons' do %>
              <div class="left-menu-list">
                <div class="left-menu-icon"><i class="fas fa-book"></i></div> <div class="left-menu-title"><h4>Catalogue</h4></div>
              </div>
            <% end %>
          <% end %>
          <% if request.original_url&.split('/')[3]&.split('?')&.first == 'organisation' %>
            <%= link_to organisation_path, class: 'left-buttons' do %>
              <div class="left-menu-list active">
                <div class="left-menu-icon"><i class="fas fa-users"></i></div> <div class="left-menu-title"><h4>Employees</h4></div>
              </div>
            <% end %>
          <% else %>
            <%= link_to organisation_path, class: 'left-buttons' do %>
              <div class="left-menu-list">
                <div class="left-menu-icon"><i class="fas fa-users"></i></div> <div class="left-menu-title"><h4>Employees</h4></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <div class="sidebar-arrow">
      <div class="btn-icon left-navbar-control-open">
        <i class="fas fa-arrow-right"></i>
      </div>
      <div class="btn-icon hidden left-navbar-control-close">
        <i class="fas fa-times"></i>
      </div>
    </div>
    </div>
    <div class="left-navbar-bottom">

    </div>
  <% end %>
</div>


<script>
  function resizeShow() {
    container = document.querySelector('#booklet-container');
    open = document.querySelector('.left-navbar-control-open');
    close = document.querySelector('.left-navbar-control-close');
    left_navbar = document.querySelector('.left-navbar');
    if ($(window).width() < 1024) {
      container.style.marginLeft = '0px';
      open.classList.remove('hidden');
      close.classList.add('hidden');
    } else {
      container.style.marginLeft = '60px';
      left_navbar.style.width = '60px';
      container.style.marginLeft = '60px';
    }
  }

  open = document.querySelector('.left-navbar-control-open');
  close = document.querySelector('.left-navbar-control-close');
  left_navbar = document.querySelector('.left-navbar');
  logo = document.querySelector('.left-navbar-logo');
  logo_small = document.querySelector('.left-navbar-logo-small')
  open.addEventListener('click', (event) => {
    container = document.querySelector('#booklet-container');
    left_navbar.style.width = '220px';
    setTimeout(function(){logo.classList.toggle('hidden');}, 250);
    setTimeout(function(){logo_small.classList.toggle('hiddenname');}, 250);
    open.classList.toggle('hidden');
    close.classList.toggle('hidden');
    container.style.marginLeft = '220px';
  });

  close.addEventListener('click', (event) => {
    container = document.querySelector('#booklet-container');
    left_navbar.style.width = '60px';
    open.classList.toggle('hidden');
    close.classList.toggle('hidden');
    container.style.marginLeft = '60px';
  });

  window.addEventListener('resize', resizeShow);
</script>
