<div class="d-none d-sm-flex navbar navbar-expand-sm navbar-light navbar-orange bkt-bg-orange px-2rem">
  <div class="flex-row-between-centered">

    <a class='flex-row-center-centered height-5rem width-5rem bkt-bg-white bkt-box-shadow-compact rounded-25px' href="/home">
      <span class="iconify fs-2_4rem bkt-orange" data-icon="bxs:home"></span>
    </a>

    <% if user_signed_in? %>
      <%= link_to my_trainings_path do %>
        <div class="navbar-buttons
          <%= 'navbar-buttons--active' if @controller_action == :trainings_my_trainings %>
          ">
          <h4 title='My trainings'>My trainings</h4>
        </div>
      <% end %>
    <% end %>
    
    <% if current_user.manager_or_above? %>
      <%= link_to my_team_trainings_path do %>
        <div class="navbar-buttons
          <%= 'navbar-buttons--active' if [:trainings_my_team_trainings, :trainings_my_team_trainings_user_details].include?(@controller_action) %>
          ">
          <h4 title='My team trainings'>My team trainings</h4>
        </div>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to catalogue_path do %>
        <div class="navbar-buttons
          <%= 'navbar-buttons--active' if @controller_action == :pages_catalogue %>
          ">
          <h4 title='Catalogue'>Catalogue</h4>
        </div>
      <% end %>
    <% end %>

    <% if current_user.hr_or_above? %>
      <button class="left-buttons">
        <%= link_to trainings_path do %>
          <div class="navbar-buttons <%= 'navbar-buttons--active' if @show_navbar_admin.present? %>">
            <h4>Create</h4>
          </div>
        <% end %>
      </button>
    <% end %>

  </div>

  <%# TODO improve : brittle ! %>
  <div style='
    height: 2rem;
    top: 2.75rem;
    left: calc(50vw - 7.5rem);
    position: absolute;
  '>
    <%= render_component AsClAssetComponent.new(model: current_user.company, asset: :dark_bg_logo) %>
  </div>

  <div>
    <ul class="flex-row-between-centered">

      <%= render_component NavbarAppMenuComponent.new(user: current_user, color: 'bkt-white') %>

      <%= render_component NavbarUserProfileComponent.new(user: current_user) %>

    </ul>
  </div>

</div>


<% if @multi_step_form_navbar_content.present? %>
  <div class="navbar-admin">
    <div class="navbar-admin__button">
      <h4><%= @multi_step_form_navbar_content %></h4>
    </div>
  </div>
<% end %>


<% if @show_navbar_admin.present? %>
  <div class="navbar-admin navbar-admin-trainings">
    <% klass = 'navbar-admin__button' %>
    <% active_klass = "navbar-admin__button--active" %>

    <%= link_to trainings_path,
      class: "#{klass} #{active_klass if @controller_action == :trainings_index}" do %>
      <h4>Trainings</h4>
    <% end %>

    <%= link_to trainings_reports_path,
      class: "#{klass} #{
        active_klass if
          @controller_action == :reports_index
      }" do %>
      <h4>Report</h4>
    <% end %>
  </div>
<% end %>
