<div class="navbar navbar-expand-sm navbar-light">
  <div class="top-left-nav">
    <ul>
    <% if user_signed_in? %>
      <li>
        <% if params[:action] == 'dashboard' %>
          <%= link_to dashboard_path, class: 'left-buttons' do %>
            <div class="left-menu-title" style='color: #F26419;'><h4>Dashboard</h4></div>
          <% end %>
            <div class="isactive"></div>
        <% else %>
          <%= link_to dashboard_path, class: 'left-buttons' do %>
            <div class="left-menu-title"><h4>Dashboard</h4></div>
          <% end %>
        <% end %>
      </li>
      <% if ['Super Admin', 'Admin', 'HR', 'Manager'].include?(current_user.access_level) %>
        <li>
          <% if params[:action] == 'catalogue' || params[:controller] == 'contents' %>
            <%= link_to catalogue_path, class: 'left-buttons' do %>
              <div class="left-menu-title " style='color: #F26419;'><h4>Catalogue</h4></div>
            <% end %>
              <div class="isactive"></div>
          <% else %>
            <%= link_to catalogue_path, class: 'left-buttons' do %>
              <div class="left-menu-title"><h4>Catalogue</h4></div>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if params[:controller] == 'users' || params[:action] == 'organisation' %>
            <%= link_to organisation_path, class: 'left-buttons' do %>
              <div class="left-menu-title " style='color: #F26419;'><h4>Employees</h4></div>
            <% end %>
              <div class="isactive"></div>
          <% else %>
            <%= link_to organisation_path, class: 'left-buttons' do %>
              <div class="left-menu-title"><h4>Employees</h4></div>
            <% end %>
          <% end %>
        </li>
        <li>
           <% if params[:action] == 'book' %>
            <%= link_to book_path, class: 'left-buttons' do %>
              <div class="left-menu-title " style='color: #F26419;'><h4>Book</h4></div>
            <% end %>
              <div class="isactive"></div>
          <% else %>
            <%= link_to book_path, class: 'left-buttons' do %>
              <div class="left-menu-title"><h4>Book</h4></div>
            <% end %>
          <% end %>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
  <div class="navbar-controls-right flex-row-between-centered">
    <div id="navbar-search">
      <% if params[:action] == 'organisation' %>
        <%= simple_form_for :search, url: organisation_path, method: :get, remote: true do |f| %>
          <%= f.input :name, placeholder: 'Search', label: false %>
          <%= f.submit class: 'hidden hidden-submit' %>
        <% end %>
      <% elsif params[:action] == 'catalogue' %>
        <%= simple_form_for :search, url: catalogue_path, method: :get, remote: true do |f| %>
          <%= f.input :title, placeholder: 'Search', label: false %>
          <%= f.submit class: 'hidden hidden-submit' %>
        <% end %>
      <% end %>
      <div class="hidden" id="navbar-search-clear" onclick='clearSearch(this);'>
        <p>Clear</p>
      </div>
    </div>
    <% if ['Super Admin', 'Admin', 'HR', 'Manager'].include?(current_user.access_level) %>
      <div class="centered-item">
      </div>
    <% end %>
    <div class="user-top-nav">
      <div class="dropdown show">
        <a class="navbar-user-card  dropdown-toggle flex-row-between-centered" href="#" role="button" id="dropdownMenuLogout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="<%= current_user.picture %>" alt="<%= current_user.fullname %>" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
      </a>
      <div class="dropdown-menu dropdown-menu-right" id='dropdown-user-menu' aria-labelledby="dropdownMenuLogout">
        <div class="dropdown-card flex-row-between-centered">
          <div class="user-info">
            <p><%= current_user.fullname%></p>
            <h6><%= current_user.email%></h6>
          </div>
        </div>
        <%= link_to user_path(current_user) do %>
          <div class="dropdown-card dropdown-item ">
            <div class='dropdown-card-text'>
              <h6>Profile</h6>
            </div>
          </div>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <div class="dropdown-card dropdown-item flex-row-between-centered">
            <div class='dropdown-card-text'>
              <h6>Log out</h6>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function clearSearch(element) {
    search_input = element.parentNode.querySelector('input');
    search_input.value = '';
    element.classList.add('hidden');
    element.parentNode.querySelector('.hidden-submit').click();
  }


  if (document.querySelector('.search') != null) {
    search_input = document.querySelector('.search').querySelector('input');
    clear_button = document.getElementById('navbar-search-clear');
    search_input.addEventListener('keyup', event => {
      if (search_input.value != '' && clear_button.classList.contains('hidden')) {
        clear_button.classList.remove('hidden');
      } else if (search_input.value == '') {
        clear_button.classList.add('hidden');
      }
    })
  }
</script>
