<div class="navbar--mobile">
  <% if user_signed_in? %>
    <div class="left-buttons--mobile">
      <div class="navbar-top--mobile">
        <a class="  dropdown-toggle flex-row-between-centered" href="#" role="button" id="dropdownMenuLogout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="<%= current_user.picture %>" alt="<%= current_user.fullname %>" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
        </a>
        <div class="dropdown-menu dropdown-menu-right" id='dropdown-user-menu' aria-labelledby="dropdownMenuLogout">
          <div class="dropdown-card">
            <div class="user-info">
              <p><%= current_user.fullname%></p>
              <h6><%= current_user.email%></h6>
            </div>
          </div>
          <%= link_to user_path(current_user) do %>
            <div class="dropdown-card dropdown-item ">
              <div class='dropdown-card-text'>
                <h6>Profile</h6>
              </div>
            </div>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="dropdown-card dropdown-item flex-row-between-centered">
              <div class='dropdown-card-text'>
                <h6>Log out</h6>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <%= render_component AsClAssetComponent.new(
        model: current_user.company,
        asset: :clear_bg_logo,
        style: 'width: 150px; height: 30px;'
      ) %>
    </div>

    <div class="left-buttons--mobile">
      <div class="dropdown">
        <div class="dropdown-toggle burger-icon"
             type="button"
             id="dropdownMenuButton"
             data-action="click->mobile-displayer#toggleHomeMenu">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  <% end %>
</div>
