<div class="navbar navbar-expand-sm navbar-light navbar__blue">
  <div class="navbar-controls__left">
    <% if user_signed_in? %>
      <% if params[:action] == 'my_interviews' %>
        <%= link_to my_interviews_path do %>
          <div class="navbar-buttons navbar-buttons--active"><h4 title='My interviews'>My interviews</h4></div>
        <% end %>
        <!-- <div class="isactive"></div> -->
      <% else %>
        <%= link_to my_interviews_path do %>
          <div class="navbar-buttons"><h4>My interviews</h4></div>
        <% end %>
      <% end %>
      <% if current_user.manager_or_above? %>
        <% if params[:action] == 'my_team_interviews' %>
          <%= link_to my_team_interviews_path do %>
            <div class="navbar-buttons navbar-buttons--active"><h4>My team interviews</h4></div>
          <% end %>
          <!-- <div class="isactive"></div> -->
        <% else %>
          <%= link_to my_team_interviews_path do %>
            <div class="navbar-buttons"><h4>My team interviews</h4></div>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.hr_or_above? %>
        <% if params[:controller] == 'interview_forms' %>
          <%= link_to interview_forms_path do %>
            <div class="navbar-buttons navbar-buttons--active"><h4>Templates</h4></div>
          <% end %>
          <!-- <div class="isactive"></div> -->
        <% else %>
          <%= link_to interview_forms_path do %>
            <div class="navbar-buttons"><h4>Templates</h4></div>
          <% end %>
        <% end %>
        <button class="left-buttons">
          <%= link_to campaigns_path do %>
            <div class="navbar-buttons"><h4>Admin</h4></div>
          <% end %>
        </button>
<!--         <% if params[:action] == 'organisation' %>
            <%= link_to organisation_path(redirected_from: 'campaigns') do %>
              <div class="navbar-buttons navbar-buttons--active"><h4>Employees</h4></div>
            <% end %>
          <% else %>
            <%= link_to organisation_path(redirected_from: 'campaigns') do %>
              <div class="navbar-buttons"><h4>Employees</h4></div>
            <% end %>
          <% end %>
          <% if params[:action] == 'campaigns_report' %>
            <%= link_to campaigns_report_path do %>
              <div class="navbar-buttons navbar-buttons--active"><h4>Report</h4></div>
            <% end %>
          <% else %>
            <%= link_to campaigns_report_path do %>
              <div class="navbar-buttons"><h4>Report</h4></div>
            <% end %>
          <% end %>-->
      <% end %>
    <% end %>
    <% if current_user.manager_or_above? && !['organisation', 'campaigns_report'].include?(params[:action]) %>
      <div class="centered-item">
        <a class='btn-blue__white-border' data-toggle='modal' data-target='#newCampaign'><p>New Interview</p></a>
      </div>
    <% end %>
  </div>
  <div class="navbar-controls-right flex-row-between-centered">
<!--      <div class="navbar__icons-menu">
      <div class="dropdown show">
        <a class="dropdown-toggle flex-row-between-centered" href="#" role="button" id="dropdownMenuApp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-th"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" id='dropdown-icon-menu' aria-labelledby="dropdownMenuApp">
          <div>
            <%= link_to dashboard_path, class: 'menu-icon menu-icon__booklet' do %>
              <i class="fas fa-graduation-cap"></i>
            <% end %>
            <%= link_to campaigns_path, class: 'menu-icon menu-icon__campaign' do %>
              <i class="far fa-handshake"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div> -->

    <div class="user-top-nav">
      <div class="dropdown show">
        <a class="navbar-user-card  dropdown-toggle flex-row-between-centered" href="#" role="button" id="dropdownMenuLogout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="<%= current_user.picture %>" alt="<%= current_user.fullname %>" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
        </a>
        <div class="dropdown-menu dropdown-menu-right" id='dropdown-user-menu' aria-labelledby="dropdownMenuLogout">
          <div class="dropdown-card">
            <div class="user-info">
              <p><%= current_user.fullname%></p>
              <h6><%= current_user.email%></h6>
            </div>
          </div>
          <%= link_to user_path(current_user) do %>
            <div class="dropdown-card dropdown-item ">
              <div class='dropdown-card-text'>
                <h6>Profile</h6>
              </div>
            </div>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="dropdown-card dropdown-item flex-row-between-centered">
              <div class='dropdown-card-text'>
                <h6>Log out</h6>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="navbar-admin <%= 'hidden' unless ['organisation', 'campaigns_report'].include?(params[:action]) || (params[:controller] == 'campaigns' && params[:action] == 'index') %>">
  <% active = "navbar-admin__button--active" %>
  <%= link_to campaigns_path, class: 'navbar-admin__button ' + (params[:controller] == 'campaigns' && params[:action] == 'index' ? active : '') do %>
    <h4>Campaigns</h4>
  <% end %>
  <%= link_to organisation_path, class: 'navbar-admin__button ' + (params[:action] == 'organisation' ? active : '') do %>
    <h4>Employees</h4>
  <% end %>
  <%= link_to campaigns_report_path, class: 'navbar-admin__button ' + (params[:action] == 'campaigns_report' ? active : '') do %>
    <h4>Report</h4>
  <% end %>
</div>

<!------------>
<!-- MODALS -->
<!------------>

<div class='modal fade' id='newCampaign' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' data-keyboard="false">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'campaigns/modals/new' %>
  </div>
</div>


<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>
  function selectCampaignType(element) {
    document.querySelectorAll('.interview-type-card').forEach((card) => {
      card.classList.remove('selected')
    })
    document.querySelectorAll('.interview-type-card__checkbox').forEach((checkbox) => {
      checkbox.classList.remove('selected')
    })
    document.querySelectorAll('.interview_type-card__teaser').forEach((teaser) => {
      teaser.classList.remove('selected')
    })
    card = element.closest('.interview-type-card')
    checkbox = card.querySelector('.interview-type-card__checkbox')
    teaser = document.querySelector('#teaser-' + card.id.split('-')[1])
    link = element.closest('.modal').querySelector('.interview-type-cards__confirm')
    link_href = new URL(link.href)
    link_href.searchParams.set('campaign[selected_campaign_type]', element.getAttribute('data-type'))
    link.href = link_href.href
    card.classList.add('selected')
    checkbox.classList.add('selected')
    teaser.classList.add('selected')
  }
</script>
