<div class="navbar navbar-expand-sm navbar-light navbar__orange">
  <% if params[:action] == 'edit_mode' %>
    <div class= "col-12 text-center title_edit_mode" >
      <h2><%= @content.title %> Editor mode</h2>
    </div>
  <% else %>
    <div class="top-left-nav">
      <ul>
        <% if user_signed_in? %>
          <li>
            <% if params[:action] == 'dashboard' || params[:action] == 'recommendation'|| params[:controller] == 'trainings'|| params[:controller] == 'workshops' %>
              <%= link_to dashboard_path, class: 'left-buttons' do %>
                <div class="left-menu-title" style='color: #F26419;'><h4>Dashboard</h4></div>
              <% end %>
              <div class="isactive"></div>
            <% else %>
              <%= link_to dashboard_path, class: 'left-buttons' do %>
                <div class="left-menu-title"><h4>Dashboard</h4></div>
              <% end %>
            <% end %>
          </li>
          <% if current_user.company_id.present? %>
            <li>
              <% if params[:action] == 'catalogue' || params[:controller] == 'contents'|| params[:controller] == 'folders' %>
                <%= link_to catalogue_path, class: 'left-buttons' do %>
                  <div class="left-menu-title " style='color: #F26419;'><h4>Catalogue</h4></div>
                <% end %>
                <div class="isactive"></div>
              <% else %>
                <%= link_to catalogue_path, class: 'left-buttons' do %>
                  <div class="left-menu-title"><h4>Catalogue</h4></div>
                <% end %>
              <% end %>
            </li>
          <% end %>
          <% if ['Super Admin', 'Account Owner', 'HR', 'Manager'].include?(current_user.access_level) %>
            <li>
              <% if params[:controller] == 'users' || params[:action] == 'organisation' %>
                <%= link_to organisation_path, class: 'left-buttons' do %>
                  <div class="left-menu-title " style='color: #F26419;'><h4>Employees</h4></div>
                <% end %>
                  <div class="isactive"></div>
              <% else %>
                <%= link_to organisation_path, class: 'left-buttons' do %>
                  <div class="left-menu-title"><h4>Employees</h4></div>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if params[:action] == 'overview' %>
                <%= link_to overview_path, class: 'left-buttons' do %>
                  <div class="left-menu-title " style='color: #F26419;'><h4>Report</h4></div>
                <% end %>
                <div class="isactive"></div>
              <% else %>
                <%= link_to overview_path, class: 'left-buttons' do %>
                  <div class="left-menu-title"><h4>Report</h4></div>
                <% end %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <% if ['Super Admin', 'Account Owner', 'HR', 'Manager'].include?(current_user.access_level) %>
        <div class="centered-item">
          <%= link_to book_contents_path, class: 'btn-orange__white-border' do %>
            <p>Book</p>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="navbar-controls-right flex-row-between-centered">
      <% if current_user.company_id.nil? && params[:action] == 'dashboard' %>
        <div class="centered-item">
          <%= link_to new_company_path, class: 'btn-orange' do %>
            <p>Register Company</p>
          <% end %>
        </div>
      <% end %>


      <!------------------------->
      <!-- Icons Menu Dropdown -->
      <!------------------------->

      <div class="navbar__icons-menu">
        <div class="dropdown show">
          <a class="dropdown-toggle flex-row-between-centered" href="#" role="button" id="dropdownMenuApp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-th"></i>
          </a>
          <div class="dropdown-menu" id='dropdown-icon-menu' aria-labelledby="dropdownMenuApp">
            <div>
              <%= link_to dashboard_path, class: 'menu-icon menu-icon__booklet' do %>
                <div class="booklet-icon-container"><i class="fas fa-graduation-cap"></i><p>Training</p></div>
              <% end %>
              <%= link_to campaigns_path, class: 'menu-icon menu-icon__campaign' do %>
                <div class="interview-icon-container"><i class="far fa-handshake"></i><p>Interview</p></div>
                
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!------------------>
      <!-- Toggle Admin -->
      <!------------------>

      <div class="toggle-admin">

        <div class="btn-group btn-group-toggle" data-toggle="buttons">

          <% if current_user.access_level == "HR" %>

            <%= link_to user_path(current_user, params: { access_level: "HR-light", last_page: "#{params[:action]}" }), class: "btn btn-secondary btn-left", method: :patch do %>
              <input type="radio" name="options" id="option1" autocomplete="off"> Employee
            <% end %>
            <label class="btn btn-secondary btn-right active">
              <input type="radio" name="options" id="option2" autocomplete="off" checked> Admin
            </label>

          <% elsif current_user.access_level == "HR-light" %>

            <label class="btn btn-secondary btn-left active">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> Employee
            </label>
            <%= link_to user_path(current_user, params: { access_level: "HR", last_page: "#{params[:action]}"}), class: "btn btn-secondary btn-right", method: :patch do %>
              <input type="radio" name="options" id="option2" autocomplete="off"> Admin
            <% end %>

          <% end %>
        </div>
      </div>


      <div class="user-top-nav">
        <div class="dropdown show">
          <a class="navbar-user-card  dropdown-toggle flex-row-between-centered" href="#" role="button" id="dropdownMenuLogout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="<%= current_user.picture %>" alt="<%= current_user.fullname %>" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
          </a>
          <div class="dropdown-menu dropdown-menu-right" id='dropdown-user-menu' aria-labelledby="dropdownMenuLogout">
            <div class="dropdown-card">
              <div class="user-info">
                <p><%= current_user.fullname%></p>
                <h6><%= current_user.email%></h6>
              </div>
            </div>
            <%= link_to user_path(current_user) do %>
              <div class="dropdown-card dropdown-item ">
                <div class='dropdown-card-text'>
                  <h6>Profile</h6>
                </div>
              </div>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <div class="dropdown-card dropdown-item flex-row-between-centered">
                <div class='dropdown-card-text'>
                  <h6>Log out</h6>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
