<div class="searchbar">
  <% if params[:controller] == 'campaigns' && params[:action] == 'index' %>

    <i class="fas fa-search catalogue-controls__search-trainings-icon"></i>
    <%= simple_form_for :search, url: campaigns_path, method: :get, remote: true do |f| %>
      <%= f.input :title, placeholder: 'Search by title, job ...', input_html: {autocomplete: 'off'}, label: false, required: false %>
      <%= f.input :period, collection: ['Current', 'Completed', 'All'], label: false, required: false, selected: 'Current', input_html: {onchange: "this.closest('form').querySelector('#search_offset').value = 1;"} %>
      <%= f.hidden_field :tags %>
      <%= f.hidden_field :offset, value: 1 %>
      <%= f.submit 'Search', class: 'btn-search', onclick: "updateFilterPeriod(this);document.querySelector('body').classList.add('wait');" %>
      <button type='submit' class="btn-search btn-search--mobile">
        <i class="fas fa-search"></i>
      </button>
    <% end %>
    <button class='btn-reset btn-reset-blue' onclick='resetAllFilter(this);'>Reset</button>
    <button class='btn-reset--mobile btn-reset-blue hidden' onclick='resetAllFilter(this);'><i class="fas fa-redo-alt"></i></button>
    <div class="dropdown show" id='searchbar-campaign-filter__dropdown-container'>
      <a class="dropdown-toggle btn-blue-text" href="#" role="button" id="searchbar-campaign-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="iconify" data-icon="bi:filter"></span>
        <p>Filters</p>
        <p class="searchbar-campaign-filter__selected">0</p>
      </a>
      <div class="dropdown-menu" id='searchbar-campaign-filter__dropdown' aria-labelledby="searchbar-campaign-filter">

        <div class="searchbar-campaign-filter__dropdown-title">
          <div class="flex-row-start-centered">
            <p>Filters</p>
            <p class="searchbar-campaign-filter__selected">0</p>
          </div>
          <button onclick='tagResetFilter()'><p>Reset</p></button>
        </div>

        <div class="searchbar-campaign-filter__filter-container">
          <%= simple_form_for :filter_tags, url: campaigns_path, method: :get, input_html: {multipart: true}, remote: true do |f| %>

            <% @tag_categories.order(position: :asc).each do |tag_category| %>

              <div class="searchbar-campaign-filter__filter-block">
                <div class="searchbar-campaign-filter__filter-block-title">
                  <div>
                    <div class="searchbar-campaign-filter__filter-block-title-buttons">
                      <div class="btn-icon" onclick='toggleTagCategoryDropdown(this);'>
                        <i class="fas fa-angle-down" data-rotated='0'></i>
                      </div>
                    </div>
                    <p><%= tag_category.name %></p>
                  </div>
                  <p class="searchbar-campaign-filter__selected">0</p>
                </div>
                <div class="searchbar-campaign-filter__filter-block-checkboxes">
                  <% tags_to_show = Tag.where(tag_category_id: tag_category.id).where_exists(:interview_form_tags).order(tag_name: 'asc') %>
                  <% if tag_category.tags.empty? || tags_to_show.empty? %>
                    <p>No tags associated</p>
                  <% end %>
                  <%# raise if tag_category.id == 3 %>
                  <%= f.input :tag, collection: tags_to_show, as: :check_boxes, legend_tag: false, label: false, value_method: lambda { |tag| "#{tag.tag_category_id}:#{tag.id}" }, label_method: lambda { |tag| "#{tag.tag_name}"}, input_html: {onclick: 'tagAutoSubmit(this);', class: "tag-checkbox"}, include_hidden: false %>
                  <%# f.hidden_field :on, value: true %>
                </div>
              </div>

            <% end %>
            <%= f.hidden_field :period, value: 'Current' %>
            <%= f.submit 'Filter', class: 'hidden hidden-submit' %>
          <% end %>

        </div>


      </div>
    </div>
    <div class='searchbar-campaign__pill-container'>
      <div class="searchbar-campaign__pill searchbar-campaign__pill-template hidden">
        <p></p>
        <i class="far fa-times-circle" onclick='removePill(this);'></i>
      </div>
    </div>

  <% elsif params[:controller] == 'campaigns' && params[:action] == 'show' %>
    <%= simple_form_for :search, url: campaign_path(@campaign), method: :get, remote: true do |f| %>
      <% if current_user.manager_or_above? %>
        <%= f.input :user_id, as: :select, label: false, collection: User.joins(interviews: :campaign).where(campaigns: {id: @campaign.id}).distinct.order(lastname: :asc).map{|x| [x.id, x.fullname]}, label_method: :second, value_method: :first, include_blank: false, selected: params[:employee_id].to_i %>
        <%= f.submit 'Select', class: 'btn-search' %>
      <% else %>
        <%= f.input :user_id, as: :select, label: false, collection: [[current_user.id, current_user.fullname]], label_method: :second, value_method: :first, include_blank: false, input_html: {class: 'hidden'} %>
        <%= f.submit 'Select', class: 'btn-search hidden' %>
      <% end %>
    <% end %>
  <% elsif params[:action] == 'campaign_select_template' || (params[:controller] == 'interview_forms' && params[:action] == 'index') %>
    <i class="fas fa-search catalogue-controls__search-trainings-icon"></i>
    <%= simple_form_for :search, url: path, method: :get, remote: true do |f| %>
      <%= f.input :title, placeholder: 'Search by title, job ...', input_html: {autocomplete: 'off'}, label: false, required: false %>
      <%= f.hidden_field :campaign_selected_template, value: @selected_template %>
      <%= f.submit 'Search', class: 'btn-search' %>
      <button type='submit' class="btn-search btn-search--mobile">
        <i class="fas fa-search"></i>
      </button>
    <% end %>
    <button class='btn-reset btn-reset-blue' onclick='resetAllFilter(this);'>Reset</button>
    <button class='btn-reset--mobile btn-reset-blue hidden' onclick='resetAllFilter(this);'><i class="fas fa-redo-alt"></i></button>
  <% elsif params[:action] == 'campaign_select_users' %>
    <i class="fas fa-search catalogue-controls__search-trainings-icon"></i>
    <%= simple_form_for :search, url: path, method: :get, remote: true do |f| %>
      <%= f.input :name, placeholder: 'Search by name, job ...', input_html: {autocomplete: 'off'}, label: false, required: false %>
      <!-- <label>Include Staff</label>
      <%# f.check_box :staff %> -->
      <%= f.hidden_field :campaign_selected_users, value: @selected_users %>
      <%= f.submit 'Search', class: 'btn-search' %>
      <button type='submit' class="btn-search btn-search--mobile">
        <i class="fas fa-search"></i>
      </button>
    <% end %>
    <button class='btn-reset btn-reset-blue' onclick='resetAllFilter(this);'>Reset</button>
    <button class='btn-reset--mobile btn-reset-blue hidden' onclick='resetAllFilter(this);'><i class="fas fa-redo-alt"></i></button>
  <% end %>
</div>
