<div class="searchbar">
  <i class="fas fa-search catalogue-controls__search-trainings-icon"></i>
  <%= simple_form_for :search_trainings, url: dashboard_path, method: :get, remote: true do |f| %>
    <%= f.input :title, placeholder: 'Search', input_html: {autocomplete: 'off'}, label: 'Keyword', required: false %>

    <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
      <%# f.input :employee, collection: @employees_form.order(lastname: :asc).map(&:fullname), required: false %>
      <%= f.text_field :employee, placeholder: 'Search for Users', label: false, data: {behavior: 'autocomplete'} %>
    <% end %>
    <%= f.input :period, collection: ['Current', 'Completed', 'All'], required: false, selected: 'Current' %>
    <div class="searchbar__checkboxes-container">
      <%= f.label 'Themes' %>
      <div class="searchbar__checkboxes-container-pseudo-input" onclick='openFilterInput();'>
        <p class="mx-3">Filter</p>
        <i class="h6 mx-2 mb-0 pl-3 fas fa-chevron-down"></i>
      </div>
      <div class="searchbar__checkboxes flex-column-start-left hidden">
        <p class='searchbar__checkboxes-reset' onclick="resetFilter(this);">Reset filter</p>
        <%# f.collection_check_boxes :categories, Category.where(company_id: current_user.company_id).map{|x| [x.id, x.title]}, :first, :last %>
        <%= collection_check_boxes(:training, :categories, Category.where(company_id: current_user.company_id).order(title: :asc), :id, :title) do |b| %>
            <div class="flex-row-between-start">
              <div class="centered-item">
                <%= b.check_box %>
              </div>
              <div class="centered-item">
                <p class='category-title'><%= b.text %></p>
              </div>
            </div>
          <% end %>
      </div>
    </div>
    <%= f.input :type, collection: @types_form, required: false %>
    <%= f.submit 'Search', class: 'btn-search' %>
  <% end %>

  <button class='btn-reset btn-reset-orange' onclick='resetAllFilter(this);'>Reset</button>
<!--   <%= form_with url: users_search_path, local: true, method: :get, input_html: {onkeydown: "return event.key != 'Enter';"} do |f| %>
    <%= f.text_field :search, placeholder: 'Search for Users', label: false, data: {behavior: 'autocomplete'} %>
  <% end %> -->
</div>
