<div class="searchbar">
  <i class="fas fa-search catalogue-controls__search-trainings-icon"></i>
  <%= simple_form_for :search_trainings, url: dashboard_path, method: :get, remote: true do |f| %>
    <%= f.input :title, placeholder: 'Search', label: 'Keyword', required: false %>

    <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
      <%= f.input :employee, collection: @employees_form.order(lastname: :asc).map(&:fullname), required: false %>
    <% end %>
    <%= f.input :period, collection: ['All', 'Current', 'Completed'], required: false, selected: 'Current' %>
    <div class="searchbar__checkboxes-container">
      <%= f.label 'Themes' %>
      <div class="searchbar__checkboxes-container-pseudo-input" onclick='openFilterInput();'>
        <p class="mx-3">Filter</p>
        <i class="h6 mx-2 mb-0 pl-3 fas fa-chevron-down"></i>
      </div>
      <div class="searchbar__checkboxes flex-column-start-left hidden">
        <p class='searchbar__checkboxes-reset' onclick="resetFilter(this);">Reset filter</p>
        <%= f.collection_check_boxes :categories, Category.where(company_id: current_user.company_id).map{|x| [x.id, x.title]}, :first, :last %>
      </div>
    </div>
    <%= f.input :type, collection: @types_form, required: false %>
    <%= f.submit 'Search', class: 'btn-search' %>
  <% end %>

  <button class='btn-reset' onclick='resetAllFilter(this);'>Reset</button>
</div>
