<div class="searchbar">
  <i class="fas fa-search catalogue-controls__search-icon"></i>
  <%= simple_form_for :search, url: path, method: :get, remote: true do |f| %>
    <%= f.input :title, placeholder: 'Search', label: false, autocomplete: 'off', onkeyup: 'searchInput(this);', required: false %>
    <% if params[:action] == 'catalogue' %>
      <%= f.hidden_field :filtered %>
    <% elsif params[:action] == 'book_contents' %>
      <%= f.hidden_field :book_selected_folder, value: @selected_folder %>
      <%= f.hidden_field :book_selected_content, value: @selected_content %>
    <% elsif params[:action] == 'book_users' %>
      <%= f.hidden_field :book_selected_users, value: @selected_users %>
    <% end %>
    <%= f.submit 'Search', class: 'btn-search' %>
    <button class='btn-reset' onclick='resetAllFilter(this, "recommendation");'>Reset</button>
  <% end %>
  <% if params[:action] == 'catalogue' %>
    <div class="btn-white" onclick='openFilter();'>
      <i class="fas fa-filter"></i>
      <p>Filter</p>
    </div>
  <% end %>
</div>
