<% CampaignDecorator.decorate_collection(campaigns).each do |campaign| %>

  <% manager = current_user %>

  <div class="campaigns-my-team-interviews__card p-5 pos-rel">

    <div class="pos-abs"
     style="top: 3rem; right: 3rem;">

      <%= render_component Buttons::OptionsButton.new(vertical: true) do %>

        <%= link_to archive_interviewer_interviews_path(campaign_id: campaign.id, interviewer_id: manager.id),
              class: "flex-row-start-centered fs-1_4rem bkt-bg-light-grey10-hover width-100 p-3", remote: true do %>

            <span class="iconify fs-2rem mr-0_5rem" data-icon="fluent:archive-48-regular"></span> <%= active_tab == 'ongoing' ? 'Archive campaign' : 'Unarchive campaign' %>

        <% end %>

      <% end %>

    </div>

    <div class="campaigns-my-interviews__card-inner">

      <div class="campaigns-my-interviews__card-header">

        <div class="flex-row-start-centered">

          <div class="flex-column mr-3">
            <span class="iconify bkt-blue bkt-bg-light-blue p-2 rounded-5px" data-width="30" data-height="30" data-icon="<%= campaign.icon %>"></span>
          </div>

          <div class="flex-column">
            <div class="flex-row-start-centered">
              <p class="font-weight-600"><%= campaign.title %></p>
            </div>
            <div class="flex-row-start-centered">
              <div>
                <p class="bkt-light-grey font-weight-500 fs-1_2rem">Deadline : <%= campaign.deadline %></p>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="d-flex justify-content-end mb-2rem">

        <%= link_to campaign_path(campaign) do %>
          <p class="d-flex align-items-center bkt-bg-light-grey4-hover p-1rem rounded-5px
                    fs-1_4rem font-weight-600 bkt-blue">
            <span class="mr-3">Manage campaign</span>
            <span class="iconify" data-icon="akar-icons:chevron-right"></span>
          </p>
        <% end %>

      </div>

      <% campaign.employees_for(current_user.id).each do |employee| %>

        <% interviews = campaign.interviews.where(employee: employee) %>
        <% interview_form = interviews.first.interview_form %>

        <%
          employee_interview,
            manager_interview,
            crossed_interview =
            campaign.interviews_for(employee.id)
        %>

        <div class="d-flex py-4 border-bottom-bkt-light-grey5-not-last-child">
          <div class="flex-column">
            <div class="flex-row-start-centered">
              <div class="flex-column">
                <div class="flex-row-start-centered">
                  <div class="flex-column mr-2">
                    <img src="<%= employee.picture %>"
                         class='width-3_5rem height-3_5rem min-w-3_5rem min-h-3_5rem rounded-circle'
                         style='<%= "border: 2px solid #{current_company.color2}" if current_company.color2 != "#000000" %>'
                         onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
                  </div>
                  <div class="flex-column width-25rem">
                    <div class="flex-row-start-centered">
                      <p class="fs-1_2rem font-weight-600 text-truncate width-25rem"><%= employee.fullname %></p>
                    </div>
                    <div class="flex-row-start-centered">
                      <% if employee_interview&.submitted? %>
                        <%= link_to interview_path(employee_interview), class: 'bkt-blue underline fs-1_2rem' do %>
                          View interviewee answers
                        <% end %>
                      <% else %>
                        <p class="fs-1_2rem font-weight-600 bkt-light-grey">Interviewee</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-column border-left-bkt-light-grey pl-4">
                <div class="flex-row-start-centered">
                  <p class="fs-1_2rem font-weight-500">
                    <%= campaign.decorate.generate_interviews_status_sentence(
                          employee_interview: employee_interview,
                          manager_interview: manager_interview,
                          crossed_interview: crossed_interview
                        )
                    %>
                  </p>
                  <span class="ml-3 cursor-pointer rounded-circle bkt-light-grey border-bkt-light-grey w-6 fs-9px text-center" data-toggle='modal' data-target='#interview-status-info'>?</span>
                </div>
                <div class="flex-row-start-centered ">
                  <% if employee_interview %>
                    <div class="flex-column mr-5">
                      IE <span class="h-2.5 w-2.5 inline-block <%= employee_interview.get_status_bg_class %>"></span>
                    </div>
                  <% end %>
                  <% if manager_interview %>
                    <div class="flex-column mr-5">
                      IR
                      <span class="h-2.5 w-2.5 inline-block <%= manager_interview.get_status_bg_class %>"></span>
                    </div>
                  <% end %>
                  <% if crossed_interview %>
                    <div class="flex-column mr-5 <%= crossed_interview.get_status_color_class if crossed_interview.not_available_yet? %>">
                      CR
                      <span class="h-2.5 w-2.5 inline-block <%= crossed_interview.get_status_bg_class %>"></span>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="grow">

            <div class="flex-row-end-centered">

              <% if manager_interview&.submitted? && (crossed_interview.nil? || (crossed_interview&.status&.present? && crossed_interview&.status&.to_sym != :submitted)) %>

                <%= link_to interview_path(manager_interview), class: 'bkt-btn-blue-border' do %>
                  View my answers
                <% end %>

              <% elsif crossed_interview&.submitted? %>

                <%= link_to interview_path(crossed_interview), class: 'bkt-btn-blue-border' do %>
                  View cross review answers
                <% end %>

              <% end %>

              <% if manager_interview&.not_started? || manager_interview&.in_progress? %>

                <%= link_to interview_path(manager_interview), class: 'flex-row-between-centered bkt-btn-blue ml-5' do %>
                  <%= manager_interview.not_started? ? 'Start my interview' : 'Continue my interview' %>
                  <span class="iconify ml-2" data-icon="bi:arrow-right"></span>
                <% end %>

              <% elsif crossed_interview && employee_interview&.submitted? && manager_interview&.submitted? && crossed_interview.status.to_sym != :submitted %>

                <%= link_to interview_path(crossed_interview), class: 'flex-row-between-centered bkt-btn-blue ml-5' do %>
                  <%= crossed_interview.not_started? ? 'Start Cross Review' : 'Continue my cross review' %>
                  <span class="iconify ml-2" data-icon="bi:arrow-right"></span>
                <% end %>

              <% end %>

            </div>

          </div>
        </div>

      <% end %>

    </div>
  </div>


  <!------------>
  <!-- MOBILE -->
  <!------------>

  <%= render 'campaigns/my_interviews/mobile_my_team_interviews_list', campaign: campaign, manager: manager %>

<% end if campaigns.present? %>
