<% campaigns.each do |campaign| %>
  <% employee_interview = campaign.employee_interview(current_user.id)&.decorate %>
  <% manager_interview = campaign.manager_interview(current_user.id)&.decorate %>
  <% crossed_interview = campaign.crossed_interview(current_user.id)&.decorate %>
  <% next unless employee_interview %>

  <% manager =
    [employee_interview, manager_interview, crossed_interview].find(&:present?).interviewer %>

  <%#:::::: VERSION DESKTOP START ::::::%>
  <div class="campaigns-my-interviews__card">
    <div class="campaigns-my-interviews__card-left">
      <div class="campaigns-my-interviews__card-header">
        <div class="campaigns-my-interviews__card-header-left">
          <div class="campaigns-my-interviews__card-icon">
            <span class="iconify" data-icon="<%= campaign.icon %>"></span>
          </div>

          <div class="campaigns-my-interviews__card-title-deadline">
            <h2><%= campaign.title %></h2>
            <% if manager_interview %>
              <div class="flex-row-start-centered">
                <p class="campaigns-my-interviews__card-status <%= manager_interview.completion_status %>"><%= campaign.completion_status_string %></p>
                <div class="deadline"><p>Deadline : <%= campaign.interviews.find_by(employee: current_user.id).date.strftime("%d/%m/%y") %></p></div>
              </div>
            <% end %>
          </div>

        </div>
      </div>

      <div class="campaigns-my-interviews__card-group">

        <div class="campaigns-my-interviews__card-manager">
          <div class="campaigns-my-interviews__card-avatar">
            <img src="<%= manager.picture %>" alt="<%= current_user.fullname %>" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
          </div>
          <div class="campaigns-my-interviews__card-name-status">
            <h6><%= manager.fullname %><em style="color:darkgray"> - Manager</em></h6>
              <% if manager_interview&.completed? %>
                <p class='bkt-green'>Review completed</p>
              <% else %>
                <p class='bkt-red'>Review not completed</p>
              <% end %>
          </div>
        </div>

        <div class="campaigns-my-interviews__card-employee">
          <div class="campaigns-my-interviews__card-avatar">
            <img src="<%= employee.picture %>" alt="<%= employee.fullname %>" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
          </div>
          <div class="campaigns-my-interviews__card-name-status">
            <h6>
            <%= "#{employee.fullname}" %><em style="color:darkgray"> - Employee</em></h6>
            <% if employee_interview.completed? %>
              <p class='bkt-green'>Review completed</p>
            <% else %>
              <p class='bkt-red'>Review not completed</p>
            <% end %>
          </div>
        </div>

      </div>

    </div>

    <div class="campaigns-my-interviews__card-part-right">
      <div class="campaigns-my-interviews__card-review-link">

        <%= link_to interview_path(crossed_interview&.completed? ? crossed_interview : employee_interview) do %>
          <p>Go to my review <span class="iconify" data-icon="akar-icons:chevron-right"></span></p>
        <% end %>

      </div>
    </div>

  </div>
  <%#:::::: VERSION DESKTOP END ::::::%>

  <%#:::::: VERSION MOBILE START ::::::%>
  <div class="campaigns-my-interviews__card--mobile">
    <% if manager_interview %>
      <p class="campaigns-my-interviews__card-status <%= manager_interview.completion_status %>">
        <%= campaign.completion_status_string %>
      </p>
    <% end %>
    <div class="campaigns-my-interviews__card-left">
      <div class="campaigns-my-interviews__card-header">
        <div class="campaigns-my-interviews__card-header-left">
          <div class="campaigns-my-interviews__card-icon">
            <span class="iconify" data-icon="<%= campaign.icon %>"></span>
          </div>

          <div class="campaigns-my-interviews__card-title-deadline">
            <h2><%= campaign.title %></h2>
            <p><em>Deadline : <%= campaign.interviews.find_by(employee: current_user.id).date.strftime("%d/%m/%y") %></em></p>
          </div>
        </div>
      </div>

      <div class="campaigns-my-interviews__card-group">

        <div class="campaigns-my-interviews__card-manager">
          <div class="campaigns-my-interviews__card-avatar">
            <img src="<%= manager.picture %>" alt="<%= current_user.fullname %>" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
          </div>
          <div class="campaigns-my-interviews__card-name-status">
            <h6><%= manager.fullname %><em style="color:darkgray">- Manager</em></h6>
              <% if manager_interview&.completed? %>
                <p class='bkt-green'>Review completed</p>
              <% else %>
                <p class='bkt-red'>Review not completed</p>
              <% end %>
          </div>
        </div>

       <% if campaign.crossed? %>
          <div class="campaigns-my-interviews__card-employee">
            <div class="campaigns-my-interviews__card-avatar">
              <img src="<%= employee.picture %>" alt="<%= employee.fullname %>" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
            </div>
            <div class="campaigns-my-interviews__card-name-status">
                <h6><%= "#{employee.fullname}" %><em style="color:darkgray">- Employee</em></h6>
              <% if employee_interview.completed? %>
                <p class='bkt-green'>Review completed</p>
              <% else %>
                <p class='bkt-red'>Review not completed</p>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>

    </div>

    <div class="campaigns-my-interviews__card-part-right">
      <div class="campaigns-my-interviews__card-review-link">
        <%= link_to interview_path(employee_interview || manager_interview) do %>
          <p>Go to my review <span class="iconify" data-icon="akar-icons:chevron-right"></span></p>
        <% end %>
      </div>
    </div>
    <a href="<% link_to interview_path(employee_interview || manager_interview) %>"></a>
    <script>$(".campaigns-my-interviews__card--mobile").click(function() {
    window.location = $(this).find("a").attr("href");
      return false;
    });</script>
  </div>
  <%#:::::: VERSION MOBILE END ::::::%>

<% end %>
