<% CampaignDecorator.decorate_collection(campaigns).each do |campaign| %>

  <% manager = current_user %>

  <div class="campaigns-my-team-interviews__card p-5">
    <div class="campaigns-my-interviews__card-inner">
      <div class="campaigns-my-interviews__card-header">
        <div class="campaigns-my-interviews__card-header-left">
          <div class="campaigns-my-interviews__card-icon">
            <span class="iconify" data-icon="<%= campaign.icon %>"></span>
          </div>
          <div class="campaigns-my-interviews__card-title-deadline">
            <h2><%= campaign.title %></h2>
            <div class="flex-row-start-centered">
              <p class="campaigns-my-interviews__card-status <%= campaign.completion_status %>"><%= campaign.completion_status_string %></p>
              <div class="deadline"><p>Deadline : <%= campaign.deadline %></p></div>
            </div>
          </div>

        </div>
        <div class="campaigns-my-interviews__card-review-link">
          <%= link_to campaign_path(campaign, interviewer_id: current_user.id) do %>
            <p>Manage campaign <span class="iconify" data-icon="akar-icons:chevron-right"></span></p>
          <% end %>
        </div>
      </div>

      <% campaign.employees_for(current_user.id).each do |employee| %>

        <% interviews = campaign.interviews.where(employee: employee) %>
        <% interview_form = interviews.first.interview_form %>

        <%
          employee_interview,
            manager_interview,
            crossed_interview =
            campaign.interviews_for(employee.id)
        %>

        <div class="campaigns-my-interviews__card-group border-bottom-bkt-light-grey5-not-last-child pb-3">
          <div class="campaigns-my-interviews__card-group-left">

            <div class="campaigns-my-interviews__card-employee">

              <div class="campaigns-my-interviews__card-avatar">
                <img src="<%= employee.picture %>" alt="<%= employee.fullname %>" class='width-5rem height-5rem rounded-circle' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
              </div>

              <div class="campaigns-my-interviews__card-name-status">

                <h6><%= employee.fullname %><em style="color:darkgray">- Interviewee</em></h6>

                <% if interview_form.answerable_by_manager? %>
                  <p class='bkt-light-grey6'>N/A</p>
                <% elsif employee_interview&.completed? %>
                  <p class='bkt-green'>Review completed</p>
                <% else %>
                  <p class='bkt-red'>Review not completed</p>
                <% end %>

              </div>

            </div>

          </div>

          <% if interview_form.answerable_by_manager? %>

            <%= link_to interview_path(manager_interview), class: 'bkt-btn-blue' do %>
              <%= manager_interview&.completed? ? 'Update' : 'Start review' %>
            <% end %>

          <% elsif interview_form.answerable_by_employee? && employee_interview.completed %>

            <%= link_to interview_path(employee_interview), class: 'bkt-btn-blue' do %>
              Review
            <% end %>

          <% elsif interview_form.answerable_by_both? %>

            <% if interviews.where(locked_at: nil).empty? %>

              <button class="bkt-btn-blue disabled">
                Locked
                <span class="iconify" data-icon="bxs:lock-alt"></span>
              </button>

            <% elsif interview_form.cross && crossed_interview.completed? %>

              <%= link_to lock_interview_path(interview_id: crossed_interview.id), class: 'bkt-btn-blue' do %>
                Lock interview
              <% end %>

            <% elsif interview_form.cross && manager_interview.completed? && employee_interview.completed? %>

              <%= link_to interview_path(crossed_interview), class: 'bkt-btn-blue' do %>
                Start cross review
              <% end %>

            <% elsif interview_form.cross && manager_interview.completed? && !employee_interview.completed? %>

              <button class="bkt-bg-light-grey p-1rem rounded-5px">
                Waiting for employee's review
              </button>

            <% else %>

              <%= link_to interview_path(manager_interview), class: 'bkt-btn-blue' do %>
                Start review
              <% end %>

            <% end %>

          <% end %>

        </div>

      <% end %>

    </div>
  </div>


  <!------------>
  <!-- MOBILE -->
  <!------------>

  <%= render 'campaigns/my_interviews/mobile_my_team_interviews_list', campaign: campaign, manager: manager %>

<% end %>
