<% campaigns.each do |campaign| %>

  <% employee_interview = campaign.employee_interview(current_user.id)&.decorate %>
  <% manager_interview = campaign.manager_interview(current_user.id)&.decorate %>
  <% crossed_interview = campaign.crossed_interview(current_user.id)&.decorate %>
  <% next unless employee_interview %>

  <% manager =
       [employee_interview, manager_interview, crossed_interview].find(&:present?).interviewer %>
  <% employee =
       [employee_interview, manager_interview, crossed_interview].find(&:present?).employee %>

  <%#:::::: VERSION DESKTOP START ::::::%>
  <div class="bkt-bg-white rounded-20px p-5 mb-5 pos-rel">
    <div class="pos-abs"
         style="top: 3rem; right: 3rem;">

      <%= render_component Buttons::OptionsButton.new(vertical: true) do %>

        <%= link_to archive_interview_path(id: employee_interview.id),
              class: "flex-row-start-centered fs-1_4rem bkt-bg-light-grey10-hover width-100 p-3",
              remote: true do %>

            <span class="iconify fs-2rem mr-0_5rem" data-icon="fluent:archive-48-regular"></span> <%= employee_interview.archived? ? 'Unarchive interview' : 'Archive interview' %>

        <% end %>

      <% end %>

    </div>

    <div class="flex-row-start-centered">
      <div class="flex-column mr-3">
        <span class="iconify bkt-blue bkt-bg-light-blue p-2 rounded-5px" data-width="30" data-height="30" data-icon="<%= campaign.icon %>"></span>
      </div>
      <div class="flex-column">
        <div class="flex-row-start-centered">
          <p class="font-weight-600"><%= campaign.title %></p>
        </div>
        <div class="flex-row-start-centered">
          <div>
            <p class="bkt-light-grey font-weight-500 fs-1_2rem">Deadline
              : <%= campaign.interviews.find_by(employee: current_user.id).date.strftime("%d/%m/%y") %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row-start-centered mt-5">
      <div class="flex-column">
        <div class="flex-row-start-centered">
          <div class="flex-column  mr-3">
            <img src="<%= manager.picture %>" alt="<%= current_user.fullname %>" class='width-3_5rem height-3_5rem min-w-3_5rem min-h-3_5rem rounded-circle' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
          </div>
          <div class="flex-column width-25rem border-right-bkt-light-grey-2px mr-4">
            <div class="flex-row-start-centered">
              <p class="fs-1_2rem font-weight-600 text-truncate"><%= manager.fullname %></p>
            </div>
            <div class="flex-row-start-centered">
              <p class="fs-1_2rem font-weight-600 bkt-light-grey">Interviewer</p>
            </div>
          </div>
          <div class="flex-column">

            <div class="flex-row-start-centered">
              <p class="fs-1_2rem font-weight-500">
                <%= campaign.decorate.generate_interviews_status_sentence(
                      employee_interview: employee_interview,
                      manager_interview: manager_interview,
                      crossed_interview: crossed_interview
                    )
                %>
              </p>
              <span class="ml-3 cursor-pointer rounded-circle bkt-light-grey border-bkt-light-grey w-6 fs-9px text-center" data-toggle='modal' data-target='#interview-status-info'>?</span>
            </div>
            <div class="flex-row-start-centered">
              <% if employee_interview %>
                <div class="flex-column mr-5">
                  IE <span class="h-2.5 w-2.5 inline-block <%= employee_interview.get_status_bg_class %>"></span>
                </div>
              <% end %>
              <% if manager_interview %>
                <div class="flex-column mr-5">
                  IR
                  <span class="h-2.5 w-2.5 inline-block <%= manager_interview.get_status_bg_class %>"></span>
                </div>
              <% end %>
              <% if crossed_interview %>
                <div class="flex-column mr-5 <%= crossed_interview.get_status_color_class if crossed_interview.not_available_yet? %>">
                  CR
                  <span class="h-2.5 w-2.5 inline-block <%= crossed_interview.get_status_bg_class %>"></span>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>
      <div class="grow">
        <div class="flex-row-end-centered">
          <% if employee_interview.status.to_sym != :submitted %>
            <%= link_to interview_path(employee_interview), class: 'flex-row-between-centered bkt-btn-blue' do %>
              <%= employee_interview.not_started? ? 'Start my interview' : 'Continue my interview' %>
              <span class="iconify ml-2" data-icon="bi:arrow-right"></span>
            <% end %>
          <% elsif employee_interview.submitted? && (crossed_interview.nil? || (crossed_interview&.status&.present? && crossed_interview&.status&.to_sym != :submitted)) %>
            <%= link_to interview_path(employee_interview), class: 'bkt-btn-blue-border' do %>
              View my answers
            <% end %>
          <% elsif crossed_interview&.submitted? %>
            <%= link_to interview_path(crossed_interview), class: 'bkt-btn-blue-border' do %>
              View cross review answers
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  <%#:::::: VERSION DESKTOP END ::::::%>

  <%#:::::: VERSION MOBILE START ::::::%>
  <div class="campaigns-my-interviews__card--mobile">
    <div class="flex-row-between-centered">
      <p class="campaigns-my-interviews__card-status ml-4 mt-4 <%= campaign.completion_status(current_user) %>">
        <%= campaign.completion_status_string(current_user) %>
      </p>
      <p class="bkt-dark-grey fs-1rem font-weight-100 mr-1rem">
        <em>Deadline : <%= campaign.interviews.find_by(employee: current_user.id).date.strftime("%d/%m/%y") %></em></p>
    </div>
    <div class="campaigns-my-interviews__card-left">
      <div class="campaigns-my-interviews__card-header mx-4">
        <div class="campaigns-my-interviews__card-header-left">
          <div class="campaigns-my-interviews__card-icon">
            <span class="iconify" data-icon="<%= campaign.icon %>"></span>
          </div>

          <div class="campaigns-my-interviews__card-title-deadline">
            <h2><%= campaign.title %></h2>
          </div>
        </div>
      </div>

      <div class="campaigns-my-interviews__card-group mx-4">

        <% if manager_interview.present? %>

          <div class="campaigns-my-interviews__card-manager">

            <!-- <div class="campaigns-my-interviews__card-avatar">
              <img src="<%= manager.picture %>" alt="<%= current_user.fullname %>" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
            </div> -->

            <div class="campaigns-my-interviews__card-name-status">

              <h6><%= manager.fullname %><em style="color:darkgray">- Interviewer</em></h6>

              <% if manager_interview&.submitted? %>
                <p class='bkt-green'>Review completed</p>
              <% elsif manager_interview.present? %>
                <p class='bkt-red'>Review not completed</p>
              <% end %>

            </div>
          </div>

        <% end %>

        <% if employee_interview.present? %>

          <div class="campaigns-my-interviews__card-employee">

            <!-- <div class="campaigns-my-interviews__card-avatar">
              <img src="<%= employee.picture %>" alt="<%= employee.fullname %>" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
            </div> -->

            <div class="campaigns-my-interviews__card-name-status">

              <h6><%= "#{employee.fullname}" %><em style="color:darkgray">- Interviewee</em></h6>

              <% if employee_interview.submitted? %>
                <p class='bkt-green'>Review completed</p>
              <% else %>
                <p class='bkt-red'>Review not completed</p>
              <% end %>

            </div>

          </div>

        <% end %>

      </div>

    </div>

    <div class="campaigns-my-interviews__card-part-right">

      <div class="campaigns-my-interviews__card-review-link">
        <%= link_to interview_path(employee_interview || manager_interview) do %>
          <p class='d-flex align-items-center'>
            <span class="mr-3">Go to my review</span> <span class="iconify" data-icon="akar-icons:chevron-right"></span>
          </p>
        <% end %>
      </div>

    </div>

    <a href="
      <% link_to interview_path(employee_interview || manager_interview) %>"></a>
    <script>$(".campaigns-my-interviews__card--mobile").click(function () {
      window.location = $(this).find("a").attr("href");
      return false;
    });</script>

  </div>
  <%#:::::: VERSION MOBILE END ::::::%>

<% end %>
