<% CampaignDecorator.decorate_collection(campaigns).each do |campaign| %>

  <% manager = current_user %>

  <div class="campaigns-my-team-interviews__card p-5">
    <div class="campaigns-my-interviews__card-inner">
      <div class="campaigns-my-interviews__card-header">
        <div class="campaigns-my-interviews__card-header-left">
          <div class="campaigns-my-interviews__card-icon">
            <span class="iconify" data-icon="<%= campaign.icon %>"></span>
          </div>
          <div class="campaigns-my-interviews__card-title-deadline">
            <h2><%= campaign.title %></h2>
            <div class="flex-row-start-centered">
              <div class="deadline"><p>Deadline : <%= campaign.deadline %></p></div>
            </div>
          </div>

        </div>
        <div class="campaigns-my-interviews__card-review-link">
          <%= link_to campaign_path(campaign, interviewer_id: current_user.id) do %>
            <p class="d-flex align-items-center">
              <span class="mr-3">Manage campaign</span>
              <span class="iconify" data-icon="akar-icons:chevron-right"></span>
            </p>
          <% end %>
        </div>
      </div>

      <% campaign.employees_for(current_user.id).each do |employee| %>

        <% interviews = campaign.interviews.where(employee: employee) %>
        <% interview_form = interviews.first.interview_form %>

        <%
          employee_interview,
            manager_interview,
            crossed_interview =
            campaign.interviews_for(employee.id)
        %>

        <div class="d-flex py-4 border-bottom-bkt-light-grey5-not-last-child">
          <div class="flex-column">
            <div class="flex-row-start-centered">
              <div class="flex-column">
                <div class="flex-row-start-centered">
                  <div class="flex-column mr-2">
                    <img src="<%= employee.picture %>" alt="<%= employee.fullname %>" class='width-3_5rem height-3_5rem min-w-3_5rem min-h-3_5rem rounded-circle' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
                  </div>
                  <div class="flex-column width-25rem">
                    <div class="flex-row-start-centered">
                      <p class="fs-1_6rem font-weight-500 text-truncate width-25rem"><%= employee.fullname %></p>
                    </div>
                    <div class="flex-row-start-centered">
                      <% if employee_interview&.submitted? %>
                        <%= link_to interview_path(employee_interview), class: 'bkt-blue underline fs-1_2rem' do %>
                          View interviewee answers
                        <% end %>
                      <% else %>
                        <p class="bkt-light-grey italic">Interviewee</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-column border-left-bkt-light-grey pl-4">
                <div class="flex-row-start-centered">
                  <p class="fs-1_2rem font-weight-500">
                    <%= campaign.decorate.generate_interviews_status_sentence(
                          employee_interview: employee_interview,
                          manager_interview: manager_interview,
                          crossed_interview: crossed_interview
                        )
                    %>
                  </p>
                  <span class="ml-3 cursor-pointer rounded-circle bkt-light-grey border-bkt-light-grey w-6 fs-9px text-center" data-toggle='modal' data-target='#interview-status-info'>?</span>
                </div>
                <div class="flex-row-start-centered ">
                  <div class="flex-column mr-5">
                    IE <span class="h-2.5 w-2.5 inline-block <%= employee_interview&.get_status_bg_class %>"></span>
                  </div>
                  <div class="flex-column mr-5">
                    IR
                    <span class="h-2.5 w-2.5 inline-block <%= manager_interview&.get_status_bg_class %>"></span>
                  </div>
                  <% if crossed_interview %>
                    <div class="flex-column mr-5">
                      CR
                      <span class="h-2.5 w-2.5 inline-block <%= crossed_interview&.get_status_bg_class %>"></span>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="grow">
            <div class="flex-row-end-centered">
              <% if manager_interview&.submitted? && crossed_interview.nil? %>
                <%= link_to interview_path(manager_interview), class: 'p-3 fs-1_4rem border-bkt-blue-2px rounded-5px bkt-blue mr-5 font-weight-600' do %>
                  View my answers
                <% end %>
              <% elsif crossed_interview&.submitted? %>
                <%= link_to interview_path(crossed_interview), class: 'p-3 fs-1_4rem border-bkt-blue-2px rounded-5px bkt-blue mr-5 font-weight-600' do %>
                  View cross review answers
                <% end %>
              <% end %>

              <% if manager_interview&.not_started? || manager_interview&.in_progress? %>
                <%= link_to interview_path(manager_interview), class: 'flex-row-between-centered p-3 fs-1_4rem bkt-bg-blue rounded-5px bkt-white font-weight-600' do %>
                  <%= manager_interview.not_started? ? 'Start my interview' : 'Continue my interview' %>
                  <span class="iconify ml-2" data-icon="bi:arrow-right"></span>
                <% end %>
              <% elsif crossed_interview && crossed_interview.status.to_sym != :submitted %>
                <%= link_to interview_path(crossed_interview), class: 'flex-row-between-centered p-3 fs-1_4rem bkt-bg-blue rounded-5px bkt-white font-weight-600' do %>
                  <%= crossed_interview.not_started? ? 'Start Cross Review' : 'Continue my cross review' %>
                  <span class="iconify ml-2" data-icon="bi:arrow-right"></span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

      <% end %>

    </div>
  </div>


  <!------------>
  <!-- MOBILE -->
  <!------------>

  <%= render 'campaigns/my_interviews/mobile_my_team_interviews_list', campaign: campaign, manager: manager %>

<% end %>
