<div class="modal-content action-modal__content">

  <div class="modal-header action-modal__header">

    <h3 class="modal-title action-modal__title">Training Participants</h3>

    <button type="button" class="action-modal__close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" class="action-modal__close-icon">&times;</span>
    </button>

  </div>

  <div class="modal-body action-modal__body" data-controller='tabs workshop-show' data-tabs-target='tabContainer'>

    <div class="flex-row-start-centered width-100 mb-2rem border-bottom-bkt-light-grey5" style='height: 32.5px;'>

      <p id="control_attendees-acquired"
         class="booklet-tab-control booklet-tab-orange fs-1_6rem
                mr-1rem pb-0_75rem z-index-5 cursor-pointer active"
         data-action='click->tabs#selectTab click->workshop-show#hideReminderButton'>
        Acquired (<%= attendees_acquired.count %>)
      </p>

      <p id="control_attendees-not-acquired"
         class="booklet-tab-control booklet-tab-orange fs-1_6rem
                pb-0_75rem z-index-5 cursor-pointer"
         data-action='click->tabs#selectTab click->workshop-show#showReminderButton'>
        Not acquired (<%= attendees_not_acquired.count %>)
      </p>

    </div>

    <div id="tab_attendees">

      <div id="tab_attendees-acquired" class='booklet-tab flex-row-start-centered flex-wrap overflow-y-scroll' style='height: 27rem;'>

        <% attendees_acquired.each do |attendee| %>
          <% user = attendee.user %>

          <div class="flex-column-start-centered width-10rem mb-2rem">
            <img src="<%= user.picture %>" class='avatar mb-0_75rem' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
            <p class="fs-1rem bkt-dark-grey"><%= user.firstname %></p>
            <p class="fs-1rem bkt-dark-grey"><%= user.lastname %></p>
          </div>

        <% end %>

      </div>

      <div id="tab_attendees-not-acquired" class='booklet-tab flex-row-start-top flex-wrap overflow-y-scroll hidden' style='height: 27rem;'>

        <% attendees_not_acquired.each do |attendee| %>
          <% user = attendee.user %>

          <div class="flex-column-start-centered width-10rem mb-2rem">
            <img src="<%= user.picture %>" class='avatar mb-0_75rem' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
            <p class="fs-1rem bkt-dark-grey"><%= user.firstname %></p>

            <p class="fs-1rem bkt-dark-grey"><%= user.lastname %></p>
          </div>

        <% end %>

      </div>

    </div>

    <div class="flex-row-center-centered">

      <%= link_to send_acquisition_reminder_email_path(workshop_id: workshop.id),
              class: 'bkt-btn-white-orange d-none',
              data: { workshop_show_target: 'reminderButton'},
              remote: true do %>

          Send reminder <span class="iconify fs-1_6rem ml-0_75rem" data-icon="emojione:alarm-clock" style='margin-bottom: 2px;'></span>

      <% end %>

    </div>

    <a id='manage-attendees__email-sent'
       class='d-none'
       data-toggle='modal'
       data-target='#manageAttendeesEmailSent'></a>
  </div>

</div>
