<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style="display:flex;justify-content:center;text-align:center;">
      <h3 class="modal-title" id="myModalLabel">Invite Users</h3>
    </div>
    <button type="button" class="btn btn-edit-icon" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody" style='display:flex;flex-direction:column;align-items:center;'>
    <%= simple_form_for :invite, url: invite_to_training_attendees_path do |f| %>
      <div style=" display:flex;justify-content:space-between;flex-direction:column;">
        <%= collection_check_boxes(:training, :user_ids, User.where(company_id: current_user.company_id).order(lastname: :asc), :id, :fullname) do |b| %>
          <% if Attendee.where(training_workshop_id: [@training.training_workshops.ids], user_id: User.find_by(firstname: b.text.split(' ').first, lastname: b.text.split(' ').last).id).empty? %>
            <%= b.label class: 'label-checkbox', style: 'color:black;' do %>
              <%= b.check_box + b.text %>
            <% end %>
          <% else %>
            <%= b.label class: 'label-checkbox checked-box', style: 'color:black;' do %>
              <%= b.check_box + b.text %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div style="display:flex;justify-content:center;margin-top:30px;">
        <%= button_tag :submit, name: 'training_id', value: "#{@training.id}", class: 'btn btn-edit-green btn-edit-icon' do %>
          <i class="fas fa-save"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

