<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style="display:flex;justify-content:center;text-align:center;">
      <h3 class="modal-title" id="myModalLabel">Invite Users</h3>
    </div>
    <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody" style='display:flex;flex-direction:column;align-items:center;'>
    <%= simple_form_for :invite, url: invite_to_content_attendees_path(training_content_id: "#{training_content.id}") do |f| %>
      <div>
        <%= collection_check_boxes(:training_content, :team_ids, @teams.order(team_name: :asc), :id, :team_name) do |b| %>
          <% team = @teams.find_by(team_name: b.text) %>
          <div class="invite-form-team">
            <div class="invite-form-team-name flex-row-between-centered">
              <%= b.label class: 'label-checkbox', style: 'color:black;' do %>
                <%= b.check_box + b.text %>
              <% end %>
              <a class="simple-form-toggle-collapse"><i class="fas fa-angle-down"></i></a>
            </div>
            <div class="invite-form-users-list">
              <%= collection_check_boxes(:training_content, :user_ids, User.joins(:user_teams).where(company_id: current_user.company_id, user_teams: {team_id: team.id}).order(lastname: :asc), :id, :fullname) do |c| %>
                <% user = @users.find_by(firstname: c.text.split(' ').first, lastname: c.text.split(' ')[1..-1].join(' ')) %>
                <% user_status = Attendee.find_by(user_id: user.id, training_content_id: @training_content.id)&.status %>
                <%= c.label class: 'label-checkbox', style: 'color:black;' do %>
                  <%= c.check_box + c.text %>
                  <% if user_status.present? %>
                    <p style='margin-left: 1rem;'><%= "(#{user_status})" %></p>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
<!--       <script>
        $('#checkbox input:checkbox:checked').parent().toggleClass('checked-box');
        $('#checkbox input:checkbox').change(function () {
          $(this).parent().toggleClass('checked-box');
        });
      </script> -->
      <script>
        const allCarets = document.querySelectorAll('.simple-form-toggle-collapse');
        allCarets.forEach(element => {
          element.addEventListener('click', (event) => {
            let target = element.parentNode.parentNode.querySelector('.invite-form-users-list')
            target.classList.toggle('invite-form-users-list-expanded');
            element.classList.toggle('rotated');
          })
        })
      </script>
      <script>
        $('.invite-form-team-name input:checkbox').change(function () {
          var target = $(this).parents().eq(2).find(".invite-form-users-list > .label-checkbox input:checkbox")
          if ($(this).is(':checked')) {
            target.prop('checked', true);
          } else {
            target.prop('checked', false);
          }
        })
      </script>
      <div style="display:flex;justify-content:center;margin-top:30px;">
        <%= button_tag :submit, name: 'status', value: "Invited", class: 'btn btn-edit btn-icon' do %>
          <i class="fas fa-user-clock"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
