<div class="modal-content action-modal__content">

  <div class="modal-header action-modal__header">

    <h3 class="modal-title action-modal__title">Change password</h3>

    <button type="button" class="action-modal__close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" class="action-modal__close-icon">&times;</span>
    </button>

  </div>

  <%= simple_form_for @user do |f| %>

    <div class="modal-body action-modal__body">

        <%= f.error_notification %>
        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>
        <%= f.input :password,
                  label: "New password",
                  required: true,
                  autofocus: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  minlength: 8,
                  input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation, label: "Confirm your new password", required: true, input_html: { autocomplete: "new-password", onkeyup: 'checkPasswordConfirmation(this);' } %>

    </div>

    <div class="modal-footer action-modal__footer">

      <%= button_tag type: 'submit', class: 'bkt-btn-dark-grey-border disabled', id: 'save_button', disabled: true do %>
        Save
      <% end %>

    </div>

  <% end %>

</div>
