<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Add a new user</h3>
      <button type="button" class="btn-icon cancel-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
    </div>
  </div>
  <div class="modal-body">

    <%= simple_form_for User.new, class:'form-group' do |f| %>
      <%= f.input :firstname, label: 'First Name:', class:'form-control', required:true %>
      <%= f.input :lastname, label: 'Last Name:', class:'form-control', required:true %>
      <%= f.input :email, label: 'Email:', class:'form-control', input_html: {value: ''} %>
      <%= render 'users/access_level_input', f: f, user: User.new %>
      <%= f.hidden_field :send_invite, value: false %>
      <%= f.submit '', class: 'hidden-submit hidden' %>
    <% end %>
    <div style="display:flex;justify-content:center;margin-top:3rem;">
      <button class="btn-blue-text" onclick='sendInvitation(this, true);'>
        <p>Create & Send Invitation </p>
      </button>
      <button class="btn-orange-text" onclick='sendInvitation(this, false);'>
        <p>Create</p>
      </button>
    </div>

  </div>
</div>

<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>

  function sendInvitation(element, send_invite) {
    form = element.closest('.modal-body').querySelector('form')
    form.querySelector('#user_send_invite').value = send_invite
    form.querySelector('.hidden-submit').click()
  }


</script>
