<div class="modal-content action-modal__content">

  <div class="modal-header action-modal__header">

    <h3 class="modal-title action-modal__title" id="myModalLabel">Add a new user</h3>

    <button type="button" class="action-modal__close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" class="action-modal__close-icon">&times;</span>
    </button>

  </div>

  <div class="modal-body action-modal__body">

    <%= simple_form_for User.new,
                        html: { class: 'form-group',
                                data: {
                                  controller: 'profile-tag-category',
                                  add_tag_category_tags_path: nil,
                                  create_tag_category_tags_path: create_tag_category_tags_path,
                                }
                        } do |f| %>
      <%= f.input :firstname, label: 'First Name:', class:'form-control', required:true %>
      <%= f.input :lastname, label: 'Last Name:', class:'form-control', required:true %>
      <%= f.input :email, label: 'Email:', class:'form-control', input_html: {value: ''} %>
      <%= render 'users/access_level_input', f: f, user: User.new %>
      <%= f.input :manager_id, collection: User.where(company_id: current_user.company_id, access_level_int: [:manager, :hr, :account_owner, :admin]).order(lastname: :asc), label_method: lambda { |k| k.fullname } %>

      <% if UserPolicy.new(current_user, nil).create? %>
        <% @tag_categories.each do |category| %>

          <div class="mt-3">
            <label for="<%= category.name.gsub(' ', '') %>" class="d-flex">
              <%= category.name %>:
            </label>
            <input
              type="text"
              class="width-100 p-1"
              name="tags[<%= category.name %>]"
              id="<%= category.name.gsub(' ', '') %>"
              data-profile-tag-category-target="tagCategories"
              data-tag-category-id="<%= category.id %>"
              data-selector="#<%= category.name.gsub(' ', '') %>"
              data-tags-available="<%= Tag.where(tag_category_id: category.id).to_json(only: [:id, :tag_name]) %>"
            >
          </div>

        <% end %>
      <% end %>
      <%= f.hidden_field :send_invite, value: false %>

      <%= f.submit '', class: 'hidden-submit hidden' %>

    <% end %>

    <div class="d-flex justify-content-center my-3rem">

      <button class="bkt-btn-white-blue" onclick='sendInvitation(this, true);'>
        <p>Create & Send Invitation </p>
      </button>

      <button class="bkt-btn-white-orange" onclick='sendInvitation(this, false);'>
        <p>Create</p>
      </button>

    </div>

  </div>

</div>

<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>

  function sendInvitation(element, send_invite) {
    form = element.closest('.modal-body').querySelector('form')
    form.querySelector('#user_send_invite').value = send_invite
    form.querySelector('.hidden-submit').click()
  }


</script>
