<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Add a new user</h3>
      <button type="button" class="btn-icon cancel-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
    </div>
  </div>
  <div class="modal-body">

    <%= simple_form_for User.new,
                        html: { class: 'form-group',
                                data: {
                                  controller: 'profile-tag-category',
                                  add_tag_category_tags_path: nil,
                                  create_tag_category_tags_path: create_tag_category_tags_path,
                                }
                        } do |f| %>
      <%= f.input :firstname, label: 'First Name:', class:'form-control', required:true %>
      <%= f.input :lastname, label: 'Last Name:', class:'form-control', required:true %>
      <%= f.input :email, label: 'Email:', class:'form-control', input_html: {value: ''} %>
      <%# f.input :password, label: 'Password:', class:'form-control', input_html: {value: ''} %>
      <% if current_user.admin? %>
        <%= f.input :access_level, label: 'Access Level:', collection: ['Super Admin', 'Account Owner', 'HR', 'Manager', 'Employee'], include_blank: false %>
      <% elsif current_user.account_owner? %>
        <%= f.input :access_level, label: 'Access Level:', collection: ['Account Owner', 'HR', 'Manager', 'Employee'], include_blank: false %>
      <% elsif current_user.hr? %>
        <%= f.input :access_level, label: 'Access Level:', collection: ['HR', 'Manager', 'Employee'], include_blank: false %>
      <% end %>
      <% if current_user.admin? %>
        <%= f.input :company, collection: Company.all, include_blank: false, label: 'Company:' %>
      <% end %>

      <%# TODO: UpdatePermission %>
      <% if current_user.hr_or_above? %>
        <% @tag_categories.each do |category| %>
          <div class="mt-3">
            <label for="<%= category.name.sub(' ', '') %>" class="d-flex">
              <%= category.name %>:
            </label>
            <input
              type="text"
              class="width-100 p-1"
              name="tags[<%= category.name %>]"
              id="<%= category.name.sub(' ', '') %>"
              data-profile-tag-category-target="tagCategories"
              data-tag-category-id="<%= category.id %>"
              data-selector="#<%= category.name.sub(' ', '') %>"
              data-tags-available="<%= Tag.where(tag_category_id: category.id).to_json(only: [:id, :tag_name]) %>"
            >
          </div>
        <% end %>
      <% end %>

      <%= f.hidden_field :send_invite, value: false %>
      <%= f.submit '', class: 'hidden-submit hidden' %>
    <% end %>
    <div style="display:flex;justify-content:center;margin-top:3rem;">
      <button class="btn-blue-text" onclick='sendInvitation(this, true);'>
        <p>Create & Send Invitation </p>
      </button>
      <button class="btn-orange-text" onclick='sendInvitation(this, false);'>
        <p>Create</p>
      </button>
    </div>

  </div>
</div>

<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>

  // function toggleTagCategoryDropdownUser(element) {
  //   caret = element.querySelector('i')
  //   angle = parseInt(caret.getAttribute('data-rotated'), 10)
  //   caret.style.webkitTransform = 'rotate('+ (angle + 180).toString() +'deg)';
  //   caret.style.mozTransform    = 'rotate('+ (angle + 180).toString() +'deg)';
  //   caret.style.msTransform     = 'rotate('+ (angle + 180).toString() +'deg)';
  //   caret.style.oTransform      = 'rotate('+ (angle + 180).toString() +'deg)';
  //   caret.style.transform       = 'rotate('+ (angle + 180).toString() +'deg)';
  //   caret.setAttribute('data-rotated', (angle + 180).toString())
  //   block = element.parentNode.parentNode.parentNode.parentNode;
  //   if (block.style.maxHeight == '61px' || block.style.maxHeight == '') {
  //     block.style.maxHeight = '10000px';
  //     block.classList.add('active');
  //   } else {
  //     block.style.maxHeight = '61px';
  //     block.classList.remove('active');
  //   }
  // }

  function sendInvitation(element, send_invite) {
    form = element.closest('.modal-body').querySelector('form')
    form.querySelector('#user_send_invite').value = send_invite
    form.querySelector('.hidden-submit').click()
  }


</script>
