<div class="mailer-banner">
  <div class="mailer-banner-row">
    <div class="mailer-banner-row-image">
      <%= email_image_tag('Booklet-logo.png') %>
    </div>
  </div>
</div>
<div class="mailer-container">
  <div class="mailer-text">
    <div class="mailer-text-image">
      <%= email_image_tag('noto-v1_eleven-oclock.png') %>
    </div>

    <h2><%= @email_object %></h2>

    <% if @eta > 0 %>
      <p>A training session will take place on <%= @session.date.strftime('%d %B %Y') %> from <%= @session.starts_at.strftime('%H:%M') %> to <%= @session.ends_at.strftime('%H:%M') %></p>
    <% else %>
      <p>Don't forget today's training session from <%= @session.starts_at.strftime('%H:%M') %> to <%= @session.ends_at.strftime('%H:%M') %></p>
    <% end %>

    <br>
    <div class="mailer-button">
      <%= link_to 'Go to my trainings', my_trainings_url %>
    </div>
    <span>Please do not answer this email</span>
  </div>
</div>

