<div class="request-index">
  <div id="index-controls">
    <h3>Request List</h3>
    <div id="index-buttons">
      <% if ['Super Admin', 'Admin', 'HR'].include?(current_user.access_level) %>
        <%= simple_form_for :search, default: {input_html: { class: 'request-index-search' }}, url: requests_path, method: 'GET' do |f| %>
          <%= f.input :name, placeholder: 'Search', label: false %>
          <% if params[:search] %>
            <%= link_to requests_path, class: 'request-index-search-close' do %>
              <i class="far fa-times-circle"></i>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <ul class='request-index-list'>
    <% @requests.each do |request| %>
      <li>
        <%= link_to request_path(request) do %>
          <div class="request-index-card">
            <div class="request-index-infos">
              <div class="request-index-type-address">
                <p><%= "#{request.user.firstname} #{request.user.lastname}" %></p>
                <p><%= "#{request.training_program.title}" %></p>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
