<div class="interview-question__form">

  <% user = @interview.label == 'Employee' ? @interview.employee : @interview.owner %>
  <% existing_answer =
    InterviewAnswer.find_by(
    interview: @interview,
    interview_question: question,
    user: current_user
  ) %>
  <% if existing_answer.nil? && @interview.crossed? %>
    <% existing_answer =
      InterviewAnswer.find_by(
      interview: @interview.campaign.hr_interview,
      interview_question: question,
      user: @interview.campaign.owner
    ) %>
  <% elsif read_only %>
    <% existing_answer =
      InterviewAnswer.find_by(
      interview: @interview,
      interview_question: question,
      user: user
    ) %>
  <% end %>

  <% current_answer   = existing_answer&.answer || '' %>
  <% current_comments = existing_answer&.comments || '' %>
  <% current_objective = existing_answer&.objective || '' %>

  <%= simple_form_for(:interview_answer,
    url: answer_interview_question_path,
    remote: true,
    data: {
      question_type: question.question_type
    }) do |f| %>
    <% if question.open_question? %>

      <% if read_only %>

        <div class='interview-question__read-only'>
          <p><%= current_answer %></p>
        </div>

      <% else %>

        <%= f.input :answer,
            as: :text,
            input_html: {
              value: current_answer,
              onkeyup: 'autoSave(this, true);enableSubmit();'
            },
            required: question.required? %>

      <% end %>

    <% elsif question.rating? %>

      <fieldset class="rating<%= ' rating-pizza' if current_user.company_id == 2 %><%= ' read_only' if read_only %>">
        <% for i in 1..question.options.keys.first.to_i %>
          <% stars_count = question.options.keys.first.to_i - i + 1 %>
          <% input_label_key = "star-position(#{question.position})-#{i}" %>
          <input
            type="radio"
            class='radio-rating'
            id="<%= input_label_key %>"
            name="interview_answer[answer]"
            value="<%= stars_count %>"
            onchange='selectRating(this);<%= "autoSave(this);" if question.required %>'
            <% if current_answer.to_i == stars_count %> checked <% end %>
            <%= 'disabled' if read_only %>
          />
          <label
            class="full"
            for="<%= input_label_key %>"
            title="<%= stars_count %> stars"
          ><%= stars_count %></label>
        <% end %>
      </fieldset>

      <% if read_only %>

        <label>Comments</label>
        <div class='interview-question__read-only'>
          <p><%= current_comments %></p>
        </div>

      <% else %>

        <%= f.input(
            :comments,
            as: :text,
            input_html: {
              value: current_comments,
              onkeyup: 'autoSave(this, true);'
            },
            required: false) if question.allow_comments %>

      <% end %>

    <% elsif question.mcq? || question.objective? %>

      <%= f.input(
        :objective,
        as: :text,
        input_html: {
          value: current_objective,
          onkeyup: 'autoSave(this, true);enableSubmit();'
        },
        required: true,
        disabled: read_only
      ) if question.objective? %>

      <fieldset class="mcq">
        <%= f.collection_radio_buttons(:answer, question.options.keys.map{|c| [c, c]}, :first, :last) do |b| %>
          <label class="rad-label">
            <%= b.radio_button({
                class: 'rad-input',
                checked: ('checked' if b.text == current_answer),
                onchange: 'autoSave(this);',
                disabled: read_only
              }.compact) %>
            <div class="rad-design"></div>
            <div class="rad-text"><%= b.text %></div>
          </label>
        <% end %>
      </fieldset>

      <%= f.input(
          :comments,
          as: :text,
          input_html: {
            value: current_comments,
            onkeyup: 'autoSave(this, true);'
          },
          required: false,
          disabled: read_only) if question.allow_comments %>

    <% end %>

      <%= f.hidden_field :interview_id, value: @interview.id %>
      <%= f.hidden_field :interview_question_id, value: question.id %>
    <%= f.submit '', class: 'hidden-submit hidden' %>
  <% end %>

</div>
