<div class="interview-question__form">

  <% existing_answer =
    InterviewAnswer.find_by(
    interview: interview,
    interview_question: question,
    user: current_user
  ) %>
  <% if existing_answer.nil? && interview.crossed? && question.visible_for_employee? %>
    <% existing_answer =
      InterviewAnswer.find_by(
      interview: interview.campaign.employee_interview(employee.id),
      interview_question: question,
      user: employee
    ) %>
  <% elsif existing_answer.nil? && interview.crossed? %>
    <% existing_answer =
      InterviewAnswer.find_by(
      interview: interview.campaign.manager_interview(employee.id),
      interview_question: question,
      user: manager
    ) %>
  <% elsif read_only %>
    <% existing_answer =
      InterviewAnswer.find_by(
      interview: interview,
      interview_question: question,
      user: interview.responder
    ) %>
  <% end %>

  <% current_answer   = existing_answer&.answer || '' %>
  <% current_comments = existing_answer&.comments || '' %>
  <% current_objective = existing_answer&.objective || '' %>

  <% if interview.crossed? %>

    <% employee_answer = InterviewAnswer.joins(:interview).find_by(
        interview: interview.campaign.employee_interview(employee.id),
        interview_question: question,
        user: employee
      ) %>
    <% manager_answer = InterviewAnswer.joins(:interview).find_by(
        interview: interview.campaign.manager_interview(employee.id),
        interview_question: question,
        user: manager
      ) %>

      <% if manager_answer.present? %>

        <div class="interview-crossed-answer">
          <div class="interview-crossed-answer__header">
            <img src="<%= manager.picture %>" alt="<%= manager.fullname %>" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
            <p><%= manager.fullname %></p>
            <p>- Manager</p>
          </div>
          <% if question.open_question? %>
            <p class='interview-crossed-answer__text'><%= manager_answer.answer %></p>
          <% elsif question.rating? %>
            <div class="flex-row-start-centered rating-crossed">
              <% for i in 1..manager_answer.answer.to_i %>
                <i class="fas fa-star"></i>
              <% end %>
              <% for i in manager_answer.answer.to_i+1..question.options.keys.first.to_i %>
                <i class="far fa-star"></i>
              <% end %>
            </div>
          <% elsif question.mcq? || question.objective? %>
            <% if question.objective? %>
              <div class="interview-crossed-answer__objective">
                <p><%= manager_answer.objective %></p>
              </div>
            <% end %>
            <div class="interview-crossed-answer__mcq">
              <p><%= manager_answer.answer %></p>
            </div>
          <% end %>

          <% if manager_answer.comments.present? %>
            <div class="interview-crossed-answer__objective">
              <p><%= manager_answer.comments %></p>
            </div>
          <% end %>
        </div>

      <% end %>

      <% if employee_answer.present? %>

        <div class="interview-crossed-answer">
          <div class="interview-crossed-answer__header">
            <img src="<%= employee.picture %>" alt="<%= employee.fullname %>" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
            <p><%= employee.fullname %></p>
            <p>- Employee</p>
          </div>
          <% if question.open_question? %>
            <p class='interview-crossed-answer__text'><%= employee_answer.answer %></p>
          <% elsif question.rating? %>
            <div class="flex-row-start-centered rating-crossed">
              <% for i in 1..employee_answer.answer.to_i %>
                <i class="fas fa-star"></i>
              <% end %>
              <% for i in employee_answer.answer.to_i+1..question.options.keys.first.to_i %>
                <i class="far fa-star"></i>
              <% end %>
            </div>
          <% elsif question.mcq? || question.objective? %>
            <% if question.objective? %>
              <div class="interview-crossed-answer__objective">
                <p><%= employee_answer.objective %></p>
              </div>
            <% end %>
            <div class="interview-crossed-answer__mcq">
              <p><%= employee_answer.answer %></p>
            </div>
          <% end %>

          <% if employee_answer.comments.present? %>
            <div class="interview-crossed-answer__objective">
              <p><%= employee_answer.comments %></p>
            </div>
          <% end %>
        </div>

      <% end %>

  <% end %>

  <%= simple_form_for(:interview_answer,
    url: answer_interview_question_path,
    remote: true,
    data: {
      question_type: question.question_type
    }) do |f| %>
    <% if question.open_question? %>

        <%= f.input :answer,
            as: :text,
            input_html: {
              value: current_answer,
              onkeyup: 'autoSave(this, true);enableSubmit();'
            },
            required: question.required?,
            disabled: read_only %>

    <% elsif question.rating? %>

      <fieldset class="rating<%= ' rating-pizza' if current_user.company_id == 2 %><%= ' read_only' if read_only %>">
        <% for i in 1..question.options.keys.first.to_i %>
          <% stars_count = question.options.keys.first.to_i - i + 1 %>
          <% input_label_key = "star-position(#{question.position})-#{i}" %>
          <input
            type="radio"
            class='radio-rating'
            id="<%= input_label_key %>"
            name="interview_answer[answer]"
            value="<%= stars_count %>"
            onchange="autoSave(this);enableSubmit();"
            <% if current_answer.to_i == stars_count %> checked <% end %>
            <%= 'disabled' if read_only %>
          />
          <label
            class="full"
            for="<%= input_label_key %>"
            title="<%= stars_count %> stars"
          ><%= stars_count %></label>
        <% end %>
      </fieldset>

      <% if (!read_only || current_comments.present?) && question.allow_comments %>

        <%= f.input(
            :comments,
            as: :text,
            input_html: {
              value: current_comments,
              onkeyup: 'autoSave(this, true);'
            },
            required: false) %>

      <% end %>

    <% elsif question.mcq? || question.objective? %>

      <%= f.input(
        :objective,
        as: :text,
        input_html: {
          value: current_objective,
          onkeyup: 'autoSave(this, true);enableSubmit();'
        },
        required: question.required?,
        disabled: read_only
      ) if question.objective? %>

      <div class="booklet-select__container" >
        <div class="booklet-select__selected" onclick="<%= 'BookletSelectExpand(this);' unless read_only %>">
          <p><%= current_answer.present? ? current_answer : '' %></p>
          <div class="booklet-select__controls">
            <% unless question.required? || current_answer == '' %>
              <div class="booklet-select__controls-icon" onclick='BookletSelectRemoveAnswer(this);'>
                <i class="fas fa-times"></i>
              </div>
            <% end %>
            <div class="booklet-select__controls-icon">
              <i class="fas fa-angle-down"></i>
            </div>
          </div>
        </div>
        <div class="booklet-select__dropdown hidden">
          <% question.options.keys.each do |option| %>
            <div class="booklet-select__option" onclick='BookletSelectSubmit(this);'>
              <p><%= option %></p>
            </div>
          <% end %>
        </div>
      </div>

      <%= f.hidden_field :answer,
                         disabled: read_only,
                         value: current_answer %>

      <% if !read_only || current_comments.present? %>

        <%= f.input(
            :comments,
            as: :text,
            input_html: {
              value: current_comments,
              onkeyup: 'autoSave(this, true);'
            },
            required: false,
            disabled: read_only) if question.allow_comments %>

      <% end %>

    <% end %>

      <%= f.hidden_field :interview_id, value: interview.id %>
      <%= f.hidden_field :interview_question_id, value: question.id %>
    <%= f.submit '', class: 'hidden-submit hidden' %>
  <% end %>

</div>
