  <a id="anchor-<%= question.position %>" style='position: absolute; top: -6rem;'></a>
  <div class="interview-question__form">
    <div class="flex-row-between-centered">
      <h3 ><%= j %>/ <%= question.question %></h3>
      <% if question.required %>
        <i class="fas fa-asterisk" data-toggle='tooltip' title='Required'></i>
      <% end %>
    </div>
    <div class="interview-question__form-description">
      <p><%= question.description %></p>
    </div>
    <% user = @interview.label == 'Employee' ? @interview.employee : @interview.owner %>
    <% existing_answer =
      InterviewAnswer.find_by(
      interview: @interview,
      interview_question: question,
      user: current_user
    ) %>
    <% if existing_answer.nil? && @interview.crossed? %>
      <% existing_answer =
        InterviewAnswer.find_by(
        interview: @interview.campaign.hr_interview,
        interview_question: question,
        user: @interview.campaign.owner
      ) %>
    <% elsif read_only %>
      <% existing_answer =
        InterviewAnswer.find_by(
        interview: @interview,
        interview_question: question,
        user: user
      ) %>
    <% end %>

    <% current_answer   = existing_answer&.answer&.html_safe || '' %>
    <% current_comments = existing_answer&.comments&.html_safe || '' %>

    <%= simple_form_for(:interview_answer,
      url: answer_interview_question_path,
      remote: true,
      data: {
        question_type: question.question_type
      }) do |f| %>
      <% if question.open_question? %>

        <%# f.input(
            :answer,
            as: :text,
            label: false,
            input_html: {
              value: current_answer,
              onkeyup: 'enableNext(this);'
            },
            disabled: read_only
          ) %>

        <% if read_only %>

          <div class='interview-question__read-only'>
            <p><%= current_answer.html_safe %></p>
          </div>

        <% else %>

          <%= f.input :answer,
              as: :trix_editor,
              input_html: {
                value: current_answer.html_safe
              } %>

        <% end %>

      <% elsif question.rating? %>

        <fieldset class="rating<%= ' rating-pizza' if current_user.company_id == 2 %><%= ' read_only' if read_only %>">
          <% for i in 1..question.options.keys.first.to_i %>
            <% stars_count = question.options.keys.first.to_i - i + 1 %>
            <% input_label_key = "star-position(#{question.position})-#{i}" %>
            <input
              type="radio"
              class='radio-rating'
              id="<%= input_label_key %>"
              name="interview_answer[answer]"
              value="<%= stars_count %>"
              onchange='selectRating(this);enableNext(this);'
              <% if current_answer.to_i == stars_count %> checked <% end %>
              <%= 'disabled' if read_only %>
            />
            <label
              class="full"
              for="<%= input_label_key %>"
              title="<%= stars_count %> stars"
            ><%= stars_count %></label>
          <% end %>
        </fieldset>

        <%# f.input(
          :comments,
          as: :text,
          input_html: {
            value: current_comments
          },
          required: false,
          disabled: read_only
        ) if question.allow_comments %>

        <% if read_only %>

          <label>Comments</label>
          <div class='interview-question__read-only'>
            <p><%= current_comments.html_safe %></p>
          </div>

        <% else %>

          <%= f.input(
              :comments,
              as: :trix_editor,
              input_html: {
                value: current_comments.html_safe
              },
              required: false) if question.allow_comments %>

        <% end %>

      <% elsif question.mcq? %>

        <fieldset class="mcq">
          <%= f.collection_radio_buttons(:answer, question.options.keys.map{|c| [c, c]}, :first, :last) do |b| %>
            <label class="rad-label">
              <%= b.radio_button({
                  class: 'rad-input',
                  checked: ('checked' if b.text == current_answer),
                  onchange: 'enableNext(this);',
                  disabled: read_only
                }.compact) %>
              <div class="rad-design"></div>
              <div class="rad-text"><%= b.text %></div>
            </label>
          <% end %>
        </fieldset>

        <%# f.input(
          :comments,
          as: :text,
          input_html: {
            value: current_comments
          },
          required: false,
          disabled: read_only
        ) if question.allow_comments %>

        <%= f.rich_text_area(
            :comments,
            input_html: {
              value: current_comments
            },
            required: false,
            disabled: read_only) if question.allow_comments %>

      <% end %>

        <%= f.hidden_field :interview_id, value: @interview.id %>
        <%= f.hidden_field :interview_question_id, value: question.id %>
      <%= f.submit '', class: 'hidden-submit hidden' %>
    <% end %>

  </div>

  <div class="interview-question__controls">

    <% visibility = current_user.manager_or_above? ? ['all', 'manager'] : ['all', 'employee'] %>

    <% if @interview.crossed? %>
      <button class="btn-blue" onclick='goToQuestion(this, "summary");'><p>Summary</p></button>
    <% else %>
      <a href="#anchor-<%= question.position - 1 %>"><button class="btn-blue" onclick='previousQuestion(this);'><p>Previous</p></button></a>
    <% end %>
    <% if j == questions.where.not(question_type: 'separator').where(visible_for: visibility).count && read_only %>
      <%= link_to campaign_path(@interview.campaign, employee_id: @interview.employee_id) do %>
        <button class="btn-blue" onclick='submitAnswers(this)'><p>Exit</p></button>
      <% end %>
    <% elsif j == questions.where.not(question_type: 'separator').where(visible_for: visibility).count && @interview.completed == true %>
      <button class="btn-blue btn-blue" onclick='submitAnswers(this)'><p>See Summary</p></button>
    <% elsif j == questions.where.not(question_type: 'separator').where(visible_for: visibility).count && question.required && current_answer == '' %>
      <button class="btn-blue btn-blue-disabled" onclick='submitAnswers(this)' disabled><p>See Summary</p></button>
    <% elsif j == questions.where.not(question_type: 'separator').where(visible_for: visibility).count %>
      <button class="btn-blue" onclick='submitAnswers(this)'><p>See Summary</p></button>
    <% elsif question.required && current_answer == '' && !read_only %>
      <button class="btn-blue btn-blue-disabled" onclick='nextQuestion(this);' disabled><p>Next</p></button>
    <% else %>
      <a href="#anchor-<%= question.position + 1 %>"><button class="btn-blue" onclick='nextQuestion(this);'><p>Next</p></button></a>
    <% end %>
  </div>
