<%# booked_sessions = [] unless booked_sessions.present? %>
<%# booked_sessions.each do |session| %>
  <!-- <div class="book-selected-card" id="session-<%= session.id %>">
    <%# render 'pages/book_dates_card_booked', session: session, selected_contents: selected_contents, booked_sessions: booked_sessions %>
  </div> -->
<%# end %>
<% selected_contents.each do |content| %>
  <div class="book-selected-card" id="book_content-<%= content.id %>">
    <div class="book-selected-card-left">
      <div class="book-selected-card-infos">
        <% if content.title.length > 35 %>
          <h3><b><%= content.title.first(35)+'...' %></b></h3>
        <% else %>
          <h3><b><%= content.title %></b></h3>
        <% end %>
        <p><%= content.duration %> Minutes</p>
         <div class="card-content-description">
        <% if content.description.present? %>
          <% if content.description.to_plain_text.length >= (200) %>
            <p><%= content.description.to_plain_text.first(200) + '...' %></p>
          <% else %>
            <p><%= content.description.to_plain_text.first(200) %></p>
          <% end %>
        <% end %>
        </div>
        <div class="type-icon">
        <% if content.content_type == 'Synchronous' %>
          <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
        <% else %>
          <i class="fas fa-laptop"></i>
        <% end %>
        </div>
      </div>
      <div class="book-selected-card-categories">
        <% content.categories.order(title: :asc).each do |category| %>
          <p><%= category.title %></p>
        <% end %>
      </div>
    </div>
    <% if content.content_type == 'Synchronous' %>
      <div class="book-selected-card-dates" style='background-color: #F8D9C8'>
        <div class='book-dates'>
        <p>Date & Time</p>
          <%= simple_form_for :session, url: book_sessions_path, method: :get, remote: true do |f| %>
            <%= f.input :date, label: false, input_html: {class: 'datepicker'}, placeholder: 'Select date...' %>
            <div class="book-times">
              <div>
                <%= f.input :starts_at, label: false, as: :time, minute_step: 15, input_html: { class: "timepicker new_starts_at"}, default: Time.parse('9:00') %>
              </div>
              <p style='margin-bottom: 10px;'>to</p>
              <div>
                <%= f.input :ends_at, label: false, as: :time, minute_step: 15, input_html: { class: 'timepicker new_ends_at'}, default: Time.parse('17:00') %>
              </div>
            </div>
            <%= f.hidden_field :content_id, value: content.id %>
            <%= f.hidden_field :selected_users %>
            <%= f.submit '', class: 'hidden-submit hidden' %>
          <% end %>
        </div>
          <div class="add-date">
            <p onclick="addDate(this);">Add another date</p>
          </div>
      </div>
    <% elsif %>
      <div class="book-selected-card-dates" style='background-color: #EEEEEE; padding-bottom: 6rem;'>
        <div class='book-dates'>
        <p>Date</p>
          <%= simple_form_for :session, url: book_sessions_path, method: :get, remote: true do |f| %>
            <%= f.input :date, label: false, input_html: {class: 'datepicker'}, placeholder: 'Select date...' %>
            <%= f.hidden_field :content_id, value: content.id %>
            <%= f.hidden_field :selected_users %>
            <%= f.submit '', class: 'hidden-submit hidden' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
