<div class="headers-div">
  <div class="headers-div">
    <p onclick='addAll(this);' style='cursor:pointer;'>Add all</p>
  </div>
</div>
<% users.each do |user| %>
  <div class='user-index-card-book' id="user-<%= user.id %>">
    <div class="user-index-info-book">
      <input class='select-user' type="checkbox" value="<%= user.id %>" onclick='selectUser(this);'>
      <img src="<%= user.picture %>" alt="" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
    </div>
    <div class="user-book-interest-right">
      <div class="user-info-card">
        <div class="user-index-info-book-user-interest">
          <p data-toggle="tooltip" title="<%= user.fullname %>"><%= user.lastname %>, <%= user.firstname %></p>
        </div>
        <div class="user-index-info-book" id='useremail'>
          <p data-toggle="tooltip" title="<%= user.email %>"><%= user.email %></p>
        </div>
      </div>
      <div class='user-training-info'>
        <% interested = '' %>
        <% completed = '' %>
        <% UserInterest.where(user_id: user.id, content_id: interest_for, interest_type: 'Interested').each do |interest| %>
          <% interested += interest.content.title + ',' %>
        <% end %>
        <% UserInterest.where(user_id: user.id, content_id: interest_for, interest_type: 'Completed').each do |complete| %>
          <% completed += complete.content.title + ',' %>
        <% end %>
        <div class="flex-row-start-centered icon">
          <% if interested.present? %>
            <i class="fas fa-heart" style='color:#F26419; margin-right:5px;'></i>
            <p style='font-size:14px'><%= interested[0..-2] %></p>
          <% end %>
        </div>
        <div class="flex-row-start-centered icon">
          <% if completed.present? %>
            <i class="fas fa-check-circle" style='color:#888888; margin-right:5px;'></i>
            <p style='font-size:14px'><%= completed[0..-2] %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
