<div class="schedule-title">Schedule</div>
<% if tab == 'all' %>
  <% sessions = Session.where(company_id: current_user.company_id, date: @date) %>
<% else %>
  <% sessions = Session.joins(:attendees).where(company_id: current_user.company_id, date: @date, attendees: {user_id: current_user.id}) %>
<% end %>
<% sessions.each do |session| %>
  <% content = session.content %>
  <% if content.content_type == 'Synchronous' %>
    <div class="calendar-schedule-card-sync">
      <div class="calendar-card-date"><h2><%= session.date.strftime('%d') %></h2></div>
      <div class="calendar-card-info">
        <div class="calendar-card-title"><p><%= content.title %></p></div>
<!--         <div class="calendar-card-time"><p><%# session.starts_at.strftime('%H:%M') %> - <%# session.ends_at.strftime('%H:%M') %></p>
 -->          <div class="calendar-card-title-sessions"><p></p></div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="calendar-schedule-card-async">
      <div class="calendar-card-date"><h2><%= session.date.strftime('%d') %></h2></div>
      <div class="calendar-card-info">
        <div class="calendar-card-title"><p><%= content.title %></p></div>
        <% if session.available_date.present? %>
          <div class="calendar-card-time"><p>Available until <%= session.available_date.to_s %></p></div>
        <% else %>
          <div class="calendar-card-time"><p></p></div>sess
        <% end %>
       <div class="calendar-card-title-sessions"><p></p></div>
      </div>
    </div>
  <% end %>
<% end %>
