<div class="workshop-index">
  <%= month_calendar events: @workshops do |date, workshops| %>
    <%= date.day %>
    <% workshops.each do |workshop| %>
      <div class="workshop-card-calendar">
        <% unless workshop.attendees.where(user_id: current_user.id).empty? %>
          <% if workshop.attendees.where(user_id: current_user.id).first.status == 'Invited' %>
            <div class="workshop-card-calendar-indicator-orange"><i class="fas fa-circle"></i></div>
          <% else %>
            <div class="workshop-card-calendar-indicator-green"><i class="fas fa-circle"></i></div>
          <% end %>
        <% end %>
        <h6><%= workshop.title %></h6>
        <% if workshop.workshop_type == 'Asynchronous' && workshop.ends_at.present? %>
          <h6><%= "Complete before #{workshop.ends_at.strftime('%H:%M')}"%></h6>
        <% elsif workshop.starts_at.present? && workshop.ends_at.present? %>
          <h6><%= "#{workshop.starts_at.strftime('%H:%M')} - #{workshop.ends_at.strftime('%H:%M')}" %></h6>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
