<div class="booklet-card">

  <% content = @content if @content.present? %>

  <% if content.content_type == 'Synchronous' %>
    <div class="booklet-card-syn">
      <div class="booklet-card-top">
        <div class="booklet-card__top-info">
          <%= link_to '', content_path(content), class: 'stretched-link', data: {toggle: 'tooltip'}, title: content.title %>
          <h3 data-toggle='tooltip' title='<%= content.title %>'><b><%= content.title %></b></h3>
          <p><%= content.duration %> Minutes</p>
        </div>
        <div class="booklet-card-type-pill">
          <div class="booklet-card-type">
            <div class="booklet-card-type-icon">
              <% if content.content_type == 'Synchronous' %>
                <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
                <p>In Person</p>
              <% else %>
                <i class="fas fa-laptop" style='color:black;'></i>
                <p>Online</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="booklet-top-right-icon-catalogue">
          <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
          <div class="catalogue-content-card-right-menu" onclick="openContentMenu(this);"><i class="fas fa-ellipsis-v" style='color:#F26419;'></i></div>
          <div class="content-dropdown hidden">
            <%= link_to 'Recommendation', recommendation_path(content_id: content.id) %>
            <%= link_to 'Edit', edit_content_path(content) %>
            <%= link_to 'Delete', destroy_content_path(content_id: content.id, catalogue: 'true'), data: {confirm: 'Are you sure ?'}, remote: true %>
            <%= link_to 'Duplicate', duplicate_content_path(content) %>
          </div>
        <% end %>
        </div>
      </div>
      <div class="booklet-card-bottom">
        <div class="booklet-card-theme">
        <% content.categories.order(title: :asc).each do |category| %>
          <p><%= category.title %></p>
        <% end %>
        <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
          <a data-toggle='modal' data-target='#addTheme-<%= content.id %>'><i class="fas fa-plus" data-toggle='tooltip' title='Add a Theme'></i></a>
        <% end %>
        </div>
        <div class="booklet-card-objective">
          <% if content.description.present? %>
            <% if content.description.length >= (200) %>
              <p><%= content.description.first(200) + '...' %></p>
            <% else %>
              <p><%= content.description.first(200) %></p>
            <% end %>
          <% end %>
        </div>

        <div class="booklet-card-like">
          <% current_user_like = UserInterest.find_by(content_id: content.id, user_id: current_user.id, status: 'Interested') %>
          <% likes_count = UserInterest.where(content_id: content.id, status: 'Interested').count %>

          <% if current_user_like.present? %>
            <%= link_to user_interest_path(id: current_user_like.id), method: :delete, remote: true do %>
              <p style='color:#F26419;'><%= likes_count %><i class="fas fa-heart booklet-card-like__right"></i></p>
            <% end %>
          <% else %>
            <%= link_to user_interests_path(content_id: content.id), method: :post, remote: true do %>
              <p style='color:#F26419;'><%= likes_count %><i class="far fa-heart booklet-card-like__right"></i></p>
            <% end %>
          <% end %>
        </div>
        
      </div>
    </div>
  <% else %>
    <div class="booklet-card-asyn">
      <div class="booklet-card-top">
        <div class="booklet-card__top-info">
          <%= link_to '', content_path(content), class: 'stretched-link', data: {toggle: 'tooltip'}, title: content.title %>
          <% if content.title.length <= 30 %>
            <h3><b><%= content.title %></b></h3>
          <% else %>
            <h3 data-toggle='tooltip' title='<%= content.title %>'><b><%= content.title.first(30) + '...' %></b></h3>
          <% end %>
          <p><%= content.duration %> Minutes</p>
        </div>
        <div class="booklet-card-type-pill">
          <div class="booklet-card-type">
            <div class="booklet-card-type-icon">
              <% if content.content_type == 'Synchronous' %>
                <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
                <p>In Person</p>
              <% else %>
                <i class="fas fa-laptop" style='color:black;'></i>
                <p>Online</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="booklet-top-right-icon-catalogue">
          <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
          <div class="catalogue-content-card-right-menu" onclick="openContentMenu(this);"><i class="fas fa-ellipsis-v"></i></div>
          <div class="content-dropdown hidden">
            <%= link_to 'Recommendation', recommendation_path(content_id: content.id) %>
            <%= link_to 'Edit', edit_content_path(content) %>
            <%= link_to 'Delete', destroy_content_path(content_id: content.id, catalogue: 'true'), data: {confirm: 'Are you sure ?'}, remote: true %>
            <%= link_to 'Duplicate', duplicate_content_path(content) %>
          </div>
        <% end %>
        </div>
      </div>
      <div class="booklet-card-bottom">
        <div class="booklet-card-theme">
        <% content.categories.order(title: :asc).each do |category| %>
          <p><%= category.title %></p>
        <% end %>
        <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
          <a data-toggle='modal' data-target='#addTheme-<%= content.id %>'><i class="fas fa-plus" data-toggle='tooltip' title='Add a Theme'></i></a>
        <% end %>
        </div>
        <div class="booklet-card-objective">
          <% if content.description.present? %>
            <% if content.description.length >= (200) %>
              <p><%= content.description.first(200) + '...' %></p>
            <% else %>
              <p><%= content.description.first(200) %></p>
            <% end %>
          <% end %>
        </div>
        <div class="booklet-card-like">
          <% interest = UserInterest.find_by(content_id: content.id, user_id: current_user.id) %>
          <% if interest.present? %>
            <%= link_to user_interest_path(id: interest.id), method: :delete, remote: true do %>
              <p><%= content.interested.count %><i class="fas fa-heart  booklet-card-like__right"></i></p>
            <% end %>
          <% else %>
            <%= link_to user_interests_path(content_id: content.id), method: :post, remote: true do %>
              <p><%= content.interested.count %><i class="far fa-heart booklet-card-like__right"></i></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

