<div class='catalogue-index-list'>
  <h3>Workshops</h3>
  <div class="workshop-index-card">
    <div class="training-index-infos-title flex-row-between-centered">
      <div class="training-index-infos-dashboard">
      </div>
      <div class="training-index-infos-dashboard">
        <p>Title</p>
        <div class="flex-column-centered">
          <%= link_to catalogue_workshops_title_order_asc_path, remote: true do %>
            <i class="fas fa-caret-up"></i>
          <% end %>
          <%= link_to catalogue_workshops_title_order_desc_path, remote: true do %>
            <i class="fas fa-caret-down"></i>
          <% end %>
        </div>
      </div>
      <div class="training-index-infos-dashboard">
        <p>A/S</p>
        <div class="flex-column-centered">
          <%= link_to catalogue_workshops_type_order_asc_path, remote: true do %>
            <i class="fas fa-caret-up"></i>
          <% end %>
          <%= link_to catalogue_workshops_type_order_desc_path, remote: true do %>
            <i class="fas fa-caret-down"></i>
          <% end %>
        </div>
      </div>
      <div class="training-index-infos-dashboard">
        <p>Duration</p>
        <div class="flex-column-centered">
          <%= link_to catalogue_workshops_duration_order_asc_path, remote: true do %>
            <i class="fas fa-caret-up"></i>
          <% end %>
          <%= link_to catalogue_workshops_duration_order_desc_path, remote: true do %>
            <i class="fas fa-caret-down"></i>
          <% end %>
        </div>
      </div>
      <div class="training-index-infos-dashboard">
        <p>Theme</p>
      </div>
    </div>
  </div>
  <% workshops.each do |workshop| %>
    <%= link_to workshop_path(workshop) do %>
      <div class='workshop-index-card'>
        <div class="workshop-index-infos flex-row-between-centered">
          <div class="training-index-infos-dashboard">
            <h3>W</h3>
          </div>
          <div class="training-index-infos-dashboard">
            <p><%= workshop.title %></p>
          </div>
          <div class="training-index-infos-dashboard">
            <p><%= workshop.workshop_type %></p>
          </div>
          <div class="training-index-infos-dashboard">
            <p><i class="fas fa-hourglass"></i><%= " #{workshop.duration}min" %></p>
          </div>
          <div class="training-index-infos-dashboard">
            <% if workshop&.categories.count > 1 %>
              <p><%= workshop&.categories.first&.title %> +<span><%= "#{workshop&.categories.map(&:title).join(', ')}" %></span></p>
            <% else %>
              <p><%= workshop&.categories.first&.title %></p>
            <% end %>
          </div>
          <a data-toggle='modal' data-target='#transformTrainingWorkshop<%= workshop.id %>'><button class='btn-edit-white btn-edit-icon btn-last'><i class="far fa-calendar-alt"></i></button></a>

          <!-- Modal -->
          <div class='modal fade' id='transformTrainingWorkshop<%= workshop.id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
            <div class='modal-dialog' role='document' style='border-radius: 20px'>
              <%= render 'training_workshops/new', workshop: workshop %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
