<div class='catalogue-index-list'>
  <div class="catalogue-index-card">
    <div class="catalogue-index-infos-title">
      <div class="catalogue-index-info">
        <div class="title">
          <p>Title</p>
          <div class="catalogue-index-info-order flex-column-centered">
              <i class="fas fa-caret-up">
                <%= link_to '',catalogue_programs_title_order_asc_path, remote: true, class: 'stretched-link' %>
              </i>
              <i class="fas fa-caret-down">
                <%= link_to '',catalogue_programs_title_order_desc_path, remote: true, class: 'stretched-link' %>
              </i>
          </div>
        </div>
      </div>
      <div class="catalogue-index-info">
        <div class="duration">
          <p>Duration</p>
          <div class="catalogue-index-info-order flex-column-centered">
              <i class="fas fa-caret-up">
                <%= link_to '',catalogue_programs_duration_order_asc_path, remote: true, class: 'stretched-link' %>
              </i>
              <i class="fas fa-caret-down">
                <%= link_to '',catalogue_programs_duration_order_desc_path, remote: true, class: 'stretched-link' %>
              </i>
          </div>
        </div>
      </div>
      <div class="catalogue-index-info">
        <div class="theme">
          <p>Theme</p>
          <div class="catalogue-index-info-order flex-column-centered dropdown show">
            <a class="dropdown-toggle" href="#" role="button" id="catalogueFilterPrograms" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-filter"></i></a>
            <div class="dropdown-menu dropdown-menu-filter" aria-labelledby="catalogueFilterPrograms">
              <div class="dropdown-item dropdown-form">
                <%= simple_form_for :filter, url: filter_program_catalogue_path, method: 'GET', remote: true do |f| %>
                  <label for="filter_all" class="label-checkbox check-box-all" >
                    <%= f.check_box :all, id: 'checkbox-all' %>
                    All
                  </label>
                  <%= collection_check_boxes(:training_program, :category_ids, Category.where(company_id: current_user.company_id).order(title: :asc), :id, :title) do |b| %>
                    <%= b.label class: 'label-checkbox check-box-child', style: 'color:black;' do %>
                      <%= b.check_box + b.text %>
                    <% end %>
                  <% end %>
                  <%= f.button :submit, 'Filter', class: 'btn-filter-submit' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <script>
          const submit = document.querySelector('.btn-filter-submit');
          const filterAll = document.getElementById('checkbox-all');
          const icon = document.getElementById('catalogueFilterPrograms');
          submit.addEventListener('click', (event) => {
            if (filterAll.checked == true) {
              icon.classList.add('btn-red');
            } else {
              icon.classList.remove('btn-red');
            }
          })
        </script>
      </div>
    </div>
  </div>
  <% training_programs.each do |program| %>
    <%= link_to training_program_path(program) do %>
      <div class='catalogue-index-card'>
        <div class="catalogue-index-info">
            <p data-toggle="tooltip" title="<%= program.title %>"><b><%= program.title %></b></p>
            <p data-toggle="tooltip" title='<%= "#{program.workshops.map(&:title).join(', ')}" %>'><%= "#{program.workshops.count} workshops" %></p>
            <p><i><%= " #{program.workshops.map(&:duration).sum} min" %></i></p>
            <% if program.categories.count > 1 %>
              <p data-toggle="tooltip" title='<%= "#{program.categories.map(&:title).join(', ')}" %>'><%= program.categories.first.title %> +</p>
            <% else %>
              <p style='color: #F26419'><%= program.categories.first&.title %></p>
            <% end %>

        </div>
          <a class='booking-button' data-toggle='modal' data-target='#transformTrainingProgram'><button class='booking-btn'>Book</button></a>

      </div>
    <% end %>
    <!-- Modal -->
    <div class='modal fade' id='transformTrainingProgram' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
      <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
        <%= render 'trainings/new', training_program: program %>
      </div>
    </div>
  <% end %>
</div>
