<div class="training-index-dashboard flex-row-between-centered">
  <div class='training-index-list-dashboard-large' style='margin-top:5rem'>
    <div class="dashboard-cards">
      <div class='dashboard-label dashboard-label-green'>
        <h3><strong><%= TrainingWorkshop.where(company_id: current_user.company_id).where('date > ?', Date.today).count %></strong></h3>
        <h3>To Come</h3>
      </div>
      <div class='dashboard-label dashboard-label-orange'>
        <h3><strong><%= (TrainingWorkshop.where(company_id: current_user.company_id, workshop_type: 'Asynchronous').where('date <= ?', Date.today).where('available_date > ?', Date.today) + TrainingWorkshop.where(company_id: current_user.company_id).where(date: Date.today)).count %></strong></h3>
        <h3>Pending</h3>
      </div>
      <div class='dashboard-label dashboard-label-blue'>
        <h3><strong><%= TrainingWorkshop.where(company_id: current_user.company_id).where('date < ?', Date.today).count %></strong></h3>
        <h3>Completed</h3>
      </div>
    </div>
  </div>
</div>
<div class="training-index-dashboard">
  <div class='catalogue-index-list'>
    <h3 class='training-index-list-dashboard-title'>Trainings Overview</h3>
    <% (Training.where(company_id: current_user.company_id) + TrainingWorkshop.where(company_id: current_user.company_id).order(date: :asc)).each do |element| %>
      <% if (element&.instance_of? TrainingWorkshop) && element&.training_id.nil?%>
        <%= link_to training_workshop_path(element) do %>
          <div class='training-index-card'>
            <%# if element&.attendees.where(user_id: current_user.id, status: 'Invited').present? %>
              <!-- <div class="training-card-calendar-indicator-orange"><i class="fas fa-circle"></i></div> -->
            <%# elsif element&.attendees.where(user_id: current_user.id, status: 'Registered').present? %>
              <!-- <div class="training-card-calendar-indicator-green"><i class="fas fa-circle"></i></div> -->
            <%# end %>
<!--             <div class="training-index-infos-dashboard">
              <h3>W</h3>
            </div> -->
            <div class="training-index-infos-dashboard">
              <p class='worktitle'><%= element&.title %></p>
            </div>
            <div class="training-index-infos-dashboard">
              <% if element&.starts_at.present? && element&.ends_at.present? %>
                <p><%= "#{element&.date&.strftime('%d/%m/%Y')}" %></p>
              <% else %>
                <p>No date set</p>
              <% end %>
            </div>
            <div class="training-index-infos-dashboard">
              <% if element&.starts_at.present? && element&.ends_at.present? %>
                <p><%= "#{element&.starts_at&.strftime('%H:%M')} - #{element&.ends_at&.strftime('%H:%M')}" %></p>
              <% else %>
                <p>No date defined</p>
              <% end %>
            </div>
          </div>
        <% end %>
      <%# elsif element.instance_of? Training %>
        <%# link_to training_path(element) do %>
<!--           <div class='training-index-card'>
            <%# if element&.training_workshops.joins(:attendees).where(attendees: {user_id: current_user.id}).present? %>
              <div class="training-card-calendar-indicator-green"><i class="fas fa-circle"></i></div>
            <%# end %>
            <div class="training-index-infos-dashboard">
              <h3>P</h3>
            </div>
            <div class="training-index-infos-dashboard">
              <p><%= element&.title %></p>
            </div>
            <div class="training-index-infos-dashboard">
              <p><%# "Next workshop #{element&.next_date&.strftime('%d/%m/%Y')}" %></p>
            </div>
          </div> -->
        <%# end %>
      <% end %>
    <% end %>
  </div>
</div>

