<a data-toggle='modal' data-target='#answerRecommendation-<%= content.id %>' class='catalogue-content-card-right-menu'>
  <div class="recommendation-booklet-card">
    <% if status == 'answered' %>
      <div class="booklet-card-syn">
        <div class="booklet-card-top booklet-card-top__answered">
          <div class="booklet-card__top-info">
            <% if content.title.length <= 30 %>
              <h3><b><%= content.title %></b></h3>
            <% else %>
              <h3 data-toggle='tooltip' title='<%= content.title %>'><b><%= content.title.first(30) + '...' %></b></h3>
            <% end %>
            <p><%= content.duration %> Minutes</p>
          </div>
          <div class="booklet-card-type-pill">
            <div class="booklet-card-type">
              <div class="booklet-card-type-icon">
                <% if content.content_type == 'Synchronous' %>
                  <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
                  <p>In Person</p>
                <% else %>
                  <i class="fas fa-laptop" style='color:black;'></i>
                  <p>Online</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% elsif content.content_type == 'Synchronous' %>
      <div class="booklet-card-syn">
        <div class="booklet-card-top">
          <div class="booklet-card__top-info">
            <% if content.title.length <= 30 %>
              <h3><b><%= content.title %></b></h3>
            <% else %>
              <h3 data-toggle='tooltip' title='<%= content.title %>'><b><%= content.title.first(30) + '...' %></b></h3>
            <% end %>
            <p><%= content.duration %> Minutes</p>
          </div>
          <div class="booklet-card-type-pill">
            <div class="booklet-card-type">
              <div class="booklet-card-type-icon">
                <% if content.content_type == 'Synchronous' %>
                  <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
                  <p>In Person</p>
                <% else %>
                  <i class="fas fa-laptop" style='color:black;'></i>
                  <p>Online</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="booklet-card-asyn">
        <div class="booklet-card-top">
          <div class="booklet-card__top-info">
            <% if content.title.length <= 30 %>
              <h3><b><%= content.title %></b></h3>
            <% else %>
              <h3 data-toggle='tooltip' title='<%= content.title %>'><b><%= content.title.first(30) + '...' %></b></h3>
            <% end %>
            <p><%= content.duration %> Minutes</p>
          </div>
          <div class="booklet-card-type-pill">
            <div class="booklet-card-type">
              <div class="booklet-card-type-icon">
                <% if content.content_type == 'Synchronous' %>
                  <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
                  <p>In Person</p>
                <% else %>
                  <i class="fas fa-laptop" style='color:black;'></i>
                  <p>Online</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</a>

<!-- MODAL -->

<div class='modal fade' id='answerRecommendation-<%= content.id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'pages/recommendation_modal', content: content, interest: interest %>
  </div>
</div>

<script>
  doubleClickGuardian = false

  function outsideClick(event, notelem) {
    notelem = $(notelem);
    var clickedOut = true, i, len = notelem.length;
    for (i = 0;i < len;i++)  {
        if (event.target == notelem[i] || notelem[i].contains(event.target)) {
            clickedOut = false;
        }
    }
    if (clickedOut) return true;
    else return false;
  }

  function openContentMenu(element) {
    doubleClickGuardian = true
    dropdown = element.parentNode.querySelector('.content-dropdown');
    dropdown.classList.toggle('hidden');
    setTimeout(function(){doubleClickGuardian = false}, 10)

    window.addEventListener('click', function(e) {
      if (outsideClick(e, dropdown) && doubleClickGuardian == false) {
        dropdown.classList.toggle('hidden');
        this.removeEventListener('click', arguments.callee, false)
      }
    });
  };
</script>
