<div class="dashboard-grid">
  <div class="dashboard-navigation">
    <div class="trainings-nav">
      <ul class="nav nav-tabs-trainings">
        <li role="presentation"><a href="#CurrentPersonal" data-toggle="tab" class='active'>Current</a></li>
        <li role="presentation"><a href="#UpcomingPersonal" data-toggle="tab">Upcoming</a></li>
        <li role="presentation"><a href="#CompletedPersonal" data-toggle="tab">Past</a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="UpcomingPersonal">
        <div class="row">
          <% if @my_upcoming_sessions.empty? %>
            <p style='padding: 15px;'>No upcoming trainings scheduled for the moment. Browse all possible trainings in the catalogue.</p>
          <% elsif %>
            <% @my_upcoming_sessions.each do |session| %>
              <%= render 'dashboard_sessions_card', session: session %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="CompletedPersonal">
        <div class="row">
          <% @my_past_sessions.each do |session| %>
            <%= render 'dashboard_sessions_card', session: session %>
          <% end %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane active" id="CurrentPersonal">
        <div class="row">
          <% @my_current_sessions.each do |session| %>
            <%= render 'dashboard_sessions_card', session: session %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-right-schedule">
    <div class="dashboard-calendar">
      <%= month_calendar(events: @all_my_sessions, attribute: :date) do |date, sessions| %>
        <%= link_to dashboard_path(tab: 'personal', date: date), remote: true do %>
          <div class="flex-column-between-centered">
            <%= date.day %>
            <% if sessions.present? %>
              <i class="fas fa-circle"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="schedule">
      <div class="calendar-schedule calendar-schedule-personal">
        <% @date = Date.today unless @date.present? %>
        <%= render 'pages/calendar_schedule', date: @date, tab: 'personal' %>
      </div>
    </div>
  </div>
</div>
