<div class="training-index-dashboard flex-row-between-centered">
  <div class='training-index-list-dashboard-large' style='margin-top:5rem'>

  </div>
</div>
<!-- <div class="training-index-dashboard">
  <div class='catalogue-index-list'>
    <h3 class='training-index-list-dashboard-title'>Trainings Overview</h3>
    <% @my_contents.order(date: :asc).each do |element| %>
      <% if (element.instance_of? Session) && element.training_id.nil?%>
        <%= link_to training_content_path(element, dashboard: 'personal') do %>
          <div class='training-index-card'>
            <% if element.attendees.where(user_id: current_user.id, status: 'Invited').present? %>
              <div class="training-card-calendar-indicator-orange"><i class="fas fa-circle"></i></div>
            <% elsif element.attendees.where(user_id: current_user.id, status: 'Registered').present? %>
              <div class="training-card-calendar-indicator-green"><i class="fas fa-circle"></i></div>
            <% end %>
            <div class="training-index-infos-dashboard">
              <h3>W</h3>
            </div>
            <div class="training-index-infos-dashboard">
              <p><%= element.title %></p>
            </div>
            <div class="training-index-infos-dashboard">
              <% if element.starts_at.present? && element.ends_at.present? %>
                <p><%= "#{element&.date&.strftime('%d/%m/%Y')} | #{element&.starts_at&.strftime('%H:%M')} - #{element&.ends_at&.strftime('%H:%M')}" %></p>
              <% else %>
                <p><%= "#{element&.date&.strftime('%d/%m/%Y')}" %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% elsif element.instance_of? Training %>
        <%= link_to training_path(element, dashboard: 'personal') do %>
          <div class='training-index-card'>
            <% if element.training_contents.joins(:attendees).where(attendees: {user_id: current_user.id, status: 'Invited'}).empty? %>
              <div class="training-card-calendar-indicator-green"><i class="fas fa-circle"></i></div>
            <% else %>
              <div class="training-card-calendar-indicator-orange"><i class="fas fa-circle"></i></div>
            <% end %>
            <div class="training-index-infos-dashboard">
              <h3>P</h3>
            </div>
            <div class="training-index-infos-dashboard">
              <p><%= element&.title %></p>
            </div>
            <div class="training-index-infos-dashboard">
              <p></p>
            </div>
            <div class="training-index-infos-dashboard">
              <p><%= "Next content #{element&.next_date&.strftime('%d/%m/%Y')}" %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div> -->

