<div class="catalogue-content-card">
  <div class="catalogue-content-card-left">
    <% content = Session.includes([:content]).find(session.id).content %>
    <div class="catalogue-content-card-left-main">
      <% if session.date <= Date.today && (session.available_date.nil? || session.available_date >= Date.today) %>
        <%= link_to '', content_path(content.id, content_access: 'granted', redirect_from: 'dashboard'), class: 'stretched-link' %>
      <% else %>
        <%= link_to '', content_path(content.id, session_id: session.id, redirect_from: 'dashboard'), class: 'stretched-link' %>
      <% end %>
      <h4><%= content.title %></h4>
      <p><%= content.duration %> Minutes</p>
      <div class="content-description">
        <% if content.description.present? %>
          <% if content.description.to_plain_text.length >= (200) %>
            <p><%= content.description.to_plain_text.first(200) + '...' %></p>
          <% else %>
            <p><%= content.description.to_plain_text.first(200) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="catalogue-content-card-categories">
      <% content.categories.order(title: :asc).each do |category| %>
        <p><%= category.title %></p>
      <% end %>
    </div>
    <div class="type-icon">
      <% if content.content_type == 'Synchronous' %>
        <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
      <% else %>
        <i class="fas fa-laptop"></i>
      <% end %>
    </div>
  </div>
  <% if content.content_type == 'Synchronous' %>
    <div class="sessions-content-card-right-syn">
      <div class="sessions-date">
        <p>Begins</p>
        <b><p><%= session.date.strftime('%B %d') %></p></b>
      <div class="catalogue-content-card-right-menu" onclick="openContentMenu(this);"><i class="fas fa-ellipsis-v"></i></div>
      <div class="content-dropdown hidden">
        <%= link_to 'Modify', content_path(content, redirect_from: 'catalogue') %>
        <%= link_to 'Delete', destroy_content_path(content_id: content.id, catalogue: 'true'), data: {confirm: 'Are you sure ?'} %>
      </div>
      </div>
      <div class="catalogue-content-card-right-sessions">
        <p><%= session.attendees.count %> Participant(s)</p>
      </div>
    </div>
  <% elsif content.content_type == 'Asynchronous' %>
    <div class="sessions-content-card-right-asyn">
      <div class="sessions-date">
        <p>Available</p>
        <b><p><%= session.date.strftime('%B %d') %></p></b>
      </div>
      <div class="catalogue-content-card-right-menu" onclick="openContentMenu(this);"><i class="fas fa-ellipsis-v"></i></div>
      <div class="content-dropdown hidden">
        <%= link_to 'Modify', content_path(content, redirect_from: 'catalogue') %>
        <%= link_to 'Delete', destroy_content_path(content_id: content.id, catalogue: 'true'), data: {confirm: 'Are you sure ?'} %>
      </div>
      <div class="catalogue-content-card-right-sessions">
        <p><%= session.attendees.count %> Participant(s)</p>
      </div>
    </div>
  <% end %>
</div>
<script>
  function openContentMenu(element) {
    dropdown = element.parentNode.querySelector('.content-dropdown');
    dropdown.classList.toggle('hidden');
  };
</script>
