<div class="catalogue-content-card-left">
  <% content = @content if @content.present? %>
  <div class="catalogue-content-card-left-main">
    <% if ['Super Admin', 'Admin', 'HR'].include?(current_user.access_level) %>
      <%= link_to '', content_path(content), class: 'stretched-link' %>
    <% end %>
    <h4><%= content.title %></h4>
    <p><%= content.duration %> Minutes</p>
    <div class="content-description">
      <% if content.description.present? %>
        <% if content.description.html_safe.length >= (200) %>
          <p><%= content.description.html_safe.first(200) + '...' %></p>
        <% else %>
          <p><%= content.description.html_safe.first(200) %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="catalogue-content-card-categories">
    <% content.categories.order(title: :asc).each do |category| %>
      <p><%= category.title %></p>
    <% end %>
    <a data-toggle='modal' data-target='#addTheme-<%= content.id %>'><i class="fas fa-plus"></i></a>
    <div class='modal fade' id='addTheme-<%= content.id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
      <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
        <%= render 'pages/manage_categories', content: content %>
      </div>
    </div>
  </div>
  <div class="type-icon">
    <% if content.content_type == 'Synchronous' %>
      <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
    <% else %>
      <i class="fas fa-laptop"></i>
    <% end %>
  </div>
</div>
<% if content.content_type == 'Synchronous' %>
  <div class="catalogue-content-card-right-syn">
    <div class="sessions-date">
      <b><p>Begins (date)</p></b>
      <p>1/4 sessions</p>
    </div>
    <div class="catalogue-content-card-right-interest">
      <p><%= content.interested.count %> Participants</p>
    </div>
  </div>
<% elsif content.content_type == 'Asynchronous' %>
    <div class="catalogue-content-card-right-syn">
      <div class="sessions-date">
        <b><p>Available (date)</p></b>
      </div>
      <div class="catalogue-content-card-right-interest">
        <p><%= content.interested.count %> Participants</p>
      </div>
    </div>
    <div class="catalogue-content-card-right-interest">
      <% interest = UserInterest.find_by(content_id: content.id, user_id: current_user.id) %>
      <% if interest.present? %>
        <%= link_to user_interest_path(id: interest.id), method: :delete, remote: true do %>
          <i class="fas fa-heart"></i>
        <% end %>
      <% else %>
        <%= link_to user_interests_path(content_id: content.id), method: :post, remote: true do %>
          <i class="far fa-heart"></i>
        <% end %>
      <% end %>
      <p><%= content.interested.count %> Participants</p>
    </div>
  </div>
<% end %>
