<div class="headers-div">
  <input type="checkbox" onclick="toggle(this);">
</div>
<div class="headers-div">
  <p>Name</p>
  <div class="headers-div-order">
    <%= link_to organisation_path(order: 'lastname', users: users.map(&:id).join(','), mode: 'asc'), remote: true, onclick: 'spinningLoader(); filterWord(this);' do %>
      <i class="fas fa-caret-up" data-toggle='tooltip' title='Filter:A-Z'></i>
    <% end %>
    <%= link_to organisation_path(order: 'lastname', users: users.map(&:id).join(','), mode: 'desc'), remote: true, onclick: 'spinningLoader(); filterWord(this);' do %>
      <i class="fas fa-caret-down" data-toggle='tooltip' title='Filter:Z-A'></i>
   <% end %>
  </div>
</div>
<div class="headers-div">
  <p>Email</p>
  <div class="headers-div-order">
    <%= link_to organisation_path(order: 'email', users: users.map(&:id).join(','), mode: 'asc'), remote: true, onclick: 'spinningLoader(); filterWord(this);' do %>
      <i class="fas fa-caret-up" data-toggle='tooltip' title='Filter:A-Z'></i>
    <% end %>
    <%= link_to organisation_path(order: 'email', users: users.map(&:id).join(','), mode: 'desc'), remote: true, onclick: 'spinningLoader(); filterWord(this);' do %>
      <i class="fas fa-caret-down" data-toggle='tooltip' title='Filter:Z-A'></i>
    <% end %>
  </div>
</div>
<% @tag_categories.order(position: :asc).each do |tag_category| %>
  <div class="headers-div">
    <p><%= tag_category.name %></p>
    <div class="headers-div-order">
      <%= link_to organisation_path(order: 'tag_category', tag_category_id: tag_category.id, users: users.map(&:id).join(','), mode: 'asc'), remote: true, onclick: 'spinningLoader(); filterWord(this);' do %>
      <i class="fas fa-caret-up" data-toggle='tooltip' title='Filter:A-Z'></i>
    <% end %>
    <%= link_to organisation_path(order: 'tag_category', tag_category_id: tag_category.id, users: users.map(&:id).join(','), mode: 'desc'), remote: true, onclick: 'spinningLoader(); filterWord(this);' do %>
      <i class="fas fa-caret-down" data-toggle='tooltip' title='Filter:Z-A'></i>
    <% end %>
    </div>
  </div>
<% end %>

