<div class="fil">
  <div class="flex-row-between-centered">
    <h3 class="category-title"><b>Filter</b></h3>
    <div id='tag-category-new'>
      <div id='tag-category-new-button' class='icon-btn' onclick='openForm(this);'>
        <i class="fas fa-plus"></i>
      </div>
      <div id='tag-category-new-form' class='hidden hidden-form-ajax'>
        <%= simple_form_for :tag_category, url: tag_categories_path(ajax: true), method: :post, remote: true, input_html: {multipart: true} do |f| %>
          <div class='flex-row-between-centered'>
            <%= f.text_field :name, placeholder: 'New Category', style: 'height: 100%;' %>
            <%= button_tag :submit, class: 'hidden hidden-submit' do %>
              <i class="fas fa-save"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <i class="fas fa-times" id='close-btn'></i>
</div>
<% i = 1 %>
<%= simple_form_for :filter, url: organisation_path, input_html: { class: "filter-form" }, method: :get do |f| %>
  <% tag_checked = params[:filter][:tag] if params[:filter].present? %>
  <% TagCategory.where(company_id: current_user.company_id).order(name: :asc).each do |category| %>
    <div class="filter-form-input">
      <div class="category-name flex-row-start-centered">
        <legend><%= category.name.capitalize %></legend>
        <div class='tag-new'>
          <div data-target="#category-<%= category.id %>" class='tag-new-button icon-btn' onclick='fetchCategoryForm(this);'>
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
      <%= f.input :tag, label: false, collection: Tag.where(tag_category_id: category.id).map(&:tag_name), as: :check_boxes, input_html: { class: "tag-selector" }, required: false, checked: tag_checked, legend_tag: false %>
    </div>
  <% end %>
  <div class=filter-text>
    <%= f.submit 'Filter', class: 'final-filter-btn' %>
<% end %>
<%= link_to 'Clear All', organisation_path, class: 'final-filter-clear' %>
</div>
<% TagCategory.where(company_id: current_user.company_id).order(name: :asc).each do |category| %>
  <div class='hidden-form-category-ajax hidden' id="category-<%= category.id %>">
    <%= simple_form_for :tag, url: tags_path(ajax: true), method: :post, remote: true, input_html: {multipart: true} do |f| %>
      <div class='flex-row-between-centered'>
        <%= f.text_field :tag_name, placeholder: 'New Tag', style: 'height: 100%;' %>
        <%= f.hidden_field :tag_category_id, value: category.id %>
        <%= button_tag :submit, class: 'hidden-submit' do %>
          <i class="fas fa-save"></i>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
