<div id="index-controls" class='employee-tag flex-row-between-centered'>
  <% if @filter_tags.present? %>
    <div class="filter-selected-tags">
      <h1><%= users.count %> result(s) for</h1>
      <% @filter_tags.each do |tag| %>
        <div class="selected-tags" name='<%= tag %>'>
          <p><%= tag %></p>
          <i class="fas fa-times" onclick='removeTag(this);'></i>
        </div>
      <% end %>
    </div>
  <% else %>
    <% if unfiltered.present? %>
      <h1>Employees (<%= User.where(company_id: current_user.company_id).count %>)</h1>
    <% else %>
      <h1>Employees (<%= users.length %>) <span onclick="clearSearchBis(this)" class='see-all'>See All</span></h1>
    <% end %>
  <% end %>
</div>
<div class="organisation-controls">
  <div id="user-search">
    <% if params[:action] == 'organisation' %>
    <i class="fas fa-search search-icon"></i>
      <%= simple_form_for :search, url: organisation_path, method: :get, remote: true do |f| %>
        <%= f.input :name, placeholder: 'Search', label: false %>
        <%= f.submit class: 'hidden hidden-submit' %>
      <% end %>
    <% end %>
    <div class="hidden" id="user-search-clear" onclick='clearSearch(this);'>
      <p>Clear</p>
    </div>
  </div>
  <div class="index-controls-buttons flex-row-between-centered">
    <div class="btn-white" onclick='openFilter();'>
      <i class="fas fa-filter"></i>
      <p>Filter</p>
    </div>
    <div class="btn-white" id='manage-users-button' onclick='openManager();' style='margin: 0px 5px 0px 5px'>
      <i class="fas fa-user-tag"></i>
      <p>Manage Tags</p>
    </div>
    <div class="dropdown">
      <div class="btn-white btn-icon dropdown-toggle" id="dropdownMenu" data-toggle="dropdown">
        <i class="fas fa-ellipsis-h"></i>
      </div>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="dropdownMenu">
        <li><a data-toggle='modal' data-target='#newUser'>New User</a></li>
        <li><a data-toggle='modal' data-target='#importUsers'>Import Users</a></li>
      </ul>
    </div>
  </div>
  </div>
<div class='organisation-page' data-fl-scrolls='{"orientation": "horizontal"}'>
  <div class='organisation-users'>
    <div class='user-index-headers'>
      <div class="headers-div">
        <input type="checkbox" onclick="toggle(this);">
      </div>
      <div class="headers-div">
        <p>Name</p>
        <div class="headers-div-order">
          <%= link_to organisation_path(order: 'lastname', users: users.map(&:id).join(','), mode: 'asc'), remote: true, onclick: 'spinningLoader(); filterWord(this);' do %>
            <i class="fas fa-caret-up" data-toggle='tooltip' title='Filter:A-Z'></i>
          <% end %>
          <%= link_to organisation_path(order: 'lastname', users: users.map(&:id).join(','), mode: 'desc'), remote: true, onclick: 'spinningLoader(); filterWord(this);' do %>
            <i class="fas fa-caret-down" data-toggle='tooltip' title='Filter:Z-A'></i>
         <% end %>
        </div>
      </div>
      <div class="headers-div">
        <p>Email</p>
        <div class="headers-div-order">
          <%= link_to organisation_path(order: 'email', users: users.map(&:id).join(','), mode: 'asc'), remote: true, onclick: 'spinningLoader(); filterWord(this);' do %>
            <i class="fas fa-caret-up" data-toggle='tooltip' title='Filter:A-Z'></i>
          <% end %>
          <%= link_to organisation_path(order: 'email', users: users.map(&:id).join(','), mode: 'desc'), remote: true, onclick: 'spinningLoader(); filterWord(this);' do %>
            <i class="fas fa-caret-down" data-toggle='tooltip' title='Filter:Z-A'></i>
          <% end %>
        </div>
      </div>
      <% @tag_categories.order(position: :asc).each do |tag_category| %>
        <div class="headers-div">
          <p><%= tag_category.name %></p>
          <div class="headers-div-order">
            <%= link_to organisation_path(order: 'tag_category', tag_category_id: tag_category.id, users: users.map(&:id).join(','), mode: 'asc'), remote: true, onclick: 'spinningLoader(); filterWord(this);' do %>
            <i class="fas fa-caret-up" data-toggle='tooltip' title='Filter:A-Z'></i>
          <% end %>
          <%= link_to organisation_path(order: 'tag_category', tag_category_id: tag_category.id, users: users.map(&:id).join(','), mode: 'desc'), remote: true, onclick: 'spinningLoader(); filterWord(this);' do %>
            <i class="fas fa-caret-down" data-toggle='tooltip' title='Filter:Z-A'></i>
          <% end %>
          </div>
        </div>
      <% end %>
      <div class="headers-div">
        <i class="fas fa-plus" onclick="openForm(this);" data-toggle='tooltip' title='Add Tag Category'></i>
        <div class='hidden-form-category-ajax hidden'>
          <%= simple_form_for :tag_category, url: tag_categories_path(ajax: true), method: :post, remote: true, input_html: {multipart: true} do |f| %>
            <div class='flex-row-between-centered'>
              <%= f.text_field :name, placeholder: 'New Category', style: 'height: 100%;width:200px;' %>
              <%= f.hidden_field :users, value: users.map(&:id) %>
              <%= f.submit '', class: 'hidden hidden-submit' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class='users-index'>
      <% users.each do |user| %>
        <div class='user-index-card user-card-<%= user.id %>'>
          <%= render 'pages/organisation_user_card', user: user %>
        </div>
      <% end %>
    </div>
  </div>
</div>
