<div class="user-index-info">
  <input class='select-user' type="checkbox" value="<%= user.id %>" onclick='selectUser();'>
</div>
<div class="user-index-info streched-link">
<%= link_to user_path(user) do %>
  <p data-toggle="tooltip" title="<%= user.fullname %>"><%= user.lastname %>, <%= user.firstname %></p>
<% end %>
</div>
<div class="user-index-info">
  <%= link_to user_path(user) do %>
    <p data-toggle="tooltip" title="<%= user.email %>"><%= user.email %></p>
  <% end %>
</div>
<% @tag_categories.order(position: :asc).each do |tag_category| %>
  <div class="user-index-info">
    <% tags = '' %>
    <%# Tag.joins(:user_tags).where(tag_category_id: tag_category.id, user_tags: {user_id: user}).order(tag_name: :asc).each do |tag| %>
    <% UserTag.where(user_id: user.id, tag_category_id: tag_category.id).each do |user_tag| %>
      <% tags += user_tag.tag.tag_name + ', ' %>
    <% end %>
    <p><%= tags[0..-3] %></p>
  </div>
<% end %>
