<div class='user-index-card__inner'>
  <% user = @user if @user.present? %>
  <div class="user-index-info">
    <input class='select-user' id='checkbox-<%= user.id %>' type="checkbox" value="<%= user.id %>" onclick='selectUser(this);'>
  </div>
  <div class="user-index-info streched-link">
  <%= link_to user_path(user) do %>
    <p class='user-name' data-toggle="tooltip" title="<%= user.fullname %>" style='color: #F26419'><b><%= user.firstname %> <%= user.lastname %></b></p>
  <% end %>
  </div>
  <div class="user-index-info">
    <%= link_to user_path(user) do %>
      <p data-toggle="tooltip" title="<%= user.email %>"><%= user.email %></p>
    <% end %>
  </div>
  <% @tag_categories.order(position: :asc).each do |tag_cat| %>
    <div class="user-index-info">
      <% user.user_tags.where(tag_category_id: tag_cat.id).each do |user_tag| %>
        <p><%= user_tag.tag.tag_name %></p>
      <% end %>
    </div>
  <% end %>
</div>
