<div class="organisation-manage-users-controls">
  <div class='flex-row-between-centered'>
    <div class='organisation-manage-users-controls-title'>
      <i class="fas fa-user-tag fa-2x"></i>
      <h2>Manage Users</h2>
    </div>
  </div>
  <div class="organisation-manage-users-controls-buttons">
    <div onclick='closeManager();'>
      <i class="fas fa-times"></i>
    </div>
  </div>
</div>
<div class="organisation-manage-users-block">
  <div class='manage-users-new-tag' onclick='openForm(this);'>
    <i class="fas fa-plus"></i>
    <p>Tag Category</p>
  </div>
  <div class="hidden-form-category-ajax hidden">
    <%= simple_form_for :tag_category, url: tag_categories_path(ajax: true), method: :post, remote: true, input_html: {multipart: true} do |f| %>
      <div class="flex-row-between-centered">
        <%= f.text_field :name, placeholder: 'Tag Category', style: 'height: 100%;', value: '' %>
        <%= f.hidden_field :users, value: users.map(&:id) %>
        <%= f.submit '', class: 'hidden hidden-submit' %>
        <div onclick='clearInput(this);'>
          <i class="fas fa-save"></i>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= simple_form_for :add_tags, url: organisation_path, method: :get, remote: true, input_html: {multipart: true} do |f| %>
  <% @tag_categories.each do |tag_category| %>
    <div class="organisation-manage-users-block" data-category='<%= tag_category.id %>'>
      <div class="organisation-manage-users-block-title">
        <div>
          <div class="flex-row-start-centered" onmouseover="showDelete(this);" onmouseout="showDelete(this);">
            <p><b><%= tag_category.name %></b></p>
            <div>
              <div class="tag_delete" data-target="#edit-tag_category-<%= tag_category.id %>" onclick='fetchCategoryForm(this);'>
                <i class="fas fa-pencil-alt"></i>
              </div>
            </div>
            <%= link_to tag_category_path(tag_category, users: users.map(&:id)), class: 'tag_delete', data: {confirm: 'Are you sure ?'}, method: :delete, remote: true do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
          <div class="organisation-manage-users-block-title-buttons">
            <p onclick='clearFilterManager(this);'>Clear</p>
            <div class="btn-icon" onclick='toggleTagCategoryDropdown(this);'>
              <i class="fas fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="organisation-manage-users-block-checkboxes">
        <%# f.input :tag, collection: Tag.where(tag_category_id: tag_category.id).order(tag_name: :asc).map(&:tag_name), as: :check_boxes, legend_tag: false, label: false, input_html: {onclick: 'hideClearManagerButton();'} %>
        <div class="flex-column-start-left">
          <%= collection_check_boxes(:tag, :id, Tag.where(tag_category_id: tag_category.id).order(tag_name: :asc), :id, :tag_name) do |b| %>
            <div class="flex-row-start-centered" onmouseover="showDelete(this);" onmouseout="showDelete(this);">
              <%= b.check_box + b.label %>
              <div>
                <div class="tag_delete" data-target="#edit_tag-<%= b.object.id %>" onclick='fetchCategoryForm(this);'>
                  <i class="fas fa-pencil-alt"></i>
                </div>
              </div>
              <%= link_to tag_path(Tag.find(b.object.id), users: users.map(&:id), tag_category_id: tag_category.id), data: {confirm: 'Are you sure ?'}, method: :delete, class: 'tag_delete', remote: true do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="flex-row-between-centered" style="height:27px;">
          <div class="new-tag" data-target="#tag_tag_category-<%= tag_category.id %>" onclick='fetchCategoryForm(this);'>
            <i class="fas fa-plus"></i>
            <p>Tag</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= f.hidden_field :users %>
  <div class="centered-item" style='margin-top: 2rem;'>
    <%= f.submit '', class: 'hidden-submit hidden' %>
    <div class="btn-white-border" onclick='applyToUsers(this);'>
      <h4>Apply to Users</h4>
    </div>
  </div>
<% end %>
<div class="organisation-manage-users-tags-form">
  <% @tag_categories.each do |tag_category| %>
    <div class='hidden-form-category-ajax hidden-form-tag-ajax hidden' id="edit-tag_category-<%= tag_category.id %>">
      <%= simple_form_for :tag_category, url: update_tag_category_path, method: :get, remote: true do |f| %>
        <%= f.text_field :name, style: 'height: 100%;', value: tag_category.name %>
        <%= f.hidden_field :tag_category_id, value: tag_category.id %>
        <%= f.hidden_field :users, value: users.map(&:id) %>
        <%= button_tag :submit, class: 'hidden-submit btn-icon', value: '' do %>
          <i class="fas fa-save"></i>
        <% end %>
      <% end %>
    </div>
    <div class='hidden-form-category-ajax hidden-form-tag-ajax hidden' id="tag_tag_category-<%= tag_category.id %>">
      <%= simple_form_for :tag, url: tags_path(ajax: true), method: :post, remote: true, input_html: {multipart: true} do |f| %>
        <div class='flex-row-between-centered'>
          <%= f.text_field :tag_name, placeholder: 'New Tag', style: 'height: 100%;', value: '' %>
          <%= f.hidden_field :tag_category_id, value: tag_category.id %>
          <%= f.hidden_field :users, value: users.map(&:id) %>
          <%= button_tag :submit, class: 'hidden-submit btn-icon', value: '' do %>
            <i class="fas fa-save"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <% tag_category.tags.each do |tag| %>
      <div class='hidden-form-category-ajax hidden-form-category-ajax-ajax hidden' id="edit_tag-<%= tag.id %>">
        <%= simple_form_for :tag, url: update_tag_path, method: :get, remote: true do |f| %>
          <%= f.text_field :tag_name, style: 'height: 100%;', value: tag.tag_name %>
          <%= f.hidden_field :tag_id, value: tag.id %>
          <%= f.hidden_field :tag_category_id, value: tag_category.id %>
          <%= f.hidden_field :users, value: users.map(&:id) %>
          <%= button_tag :submit, class: 'hidden-submit btn-icon', value: '' do %>
            <i class="fas fa-save"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
