<% user = @user if @user.present? %>
<div class="user-index-info">
  <input class='select-user' type="checkbox" value="<%= user.id %>" onclick='selectUser();'>
</div>
<div class="user-index-info streched-link">
<%= link_to user_path(user) do %>
  <p data-toggle="tooltip" title="<%= user.fullname %>"><%= user.lastname %>, <%= user.firstname %></p>
<% end %>
</div>
<div class="user-index-info">
  <%= link_to user_path(user) do %>
    <p data-toggle="tooltip" title="<%= user.email %>"><%= user.email %></p>
  <% end %>
</div>
<% @tag_categories.order(position: :asc).each do |tag_category| %>
  <% tag = user.tags.where(tag_category_id: tag_category.id).first %>
  <div class="user-index-info">
    <p><%= tag.tag_name if tag.present? %></p>
  </div>
<% end %>
