<%= link_to '', user_path(user), class: 'stretched-link' %>
<div class="user-index-info">
  <input class='select-user' type="checkbox" value="<%= user.id %>" onclick='selectUser();'>
</div>
<div class="user-index-info">
  <p data-toggle="tooltip" title="<%= user.fullname %>"><%= user.lastname %>, <%= user.firstname %></p>
</div>
<div class="user-index-info">
  <p data-toggle="tooltip" title="<%= user.email %>"><%= user.email %></p>
</div>
<% @tag_categories.order(position: :asc).each do |tag_category| %>
  <div class="user-index-info">
    <% tags = '' %>
    <% Tag.joins(:user_tags).where(tag_category_id: tag_category.id, user_tags: {user_id: user}).order(tag_name: :asc).each do |tag| %>
      <% tags += tag.tag_name + ', ' %>
    <% end %>
    <p><%= tags[0..-3] %></p>
  </div>
<% end %>
