<div id="index-controls" class='employee-tag flex-row-between-centered'>
  <% if @filter_tags.present? %>
    <div class="filter-selected-tags">
      <h1><%= users.count %> result(s) for</h1>
      <% @filter_tags.each do |tag| %>
        <div class="selected-tags" name='<%= tag %>'>
          <p><%= tag %></p>
          <i class="fas fa-times" onclick='removeFilterTag(this);'></i>
        </div>
      <% end %>
    </div>
  <% else %>
    <% if unfiltered.present? %>
      <h1>Employees (<%= User.where(company_id: current_user.company_id).count %>)</h1>
    <% else %>
      <h1>Employees (<%= users.length %>) <span onclick="clearSearchBis(this)" class='see-all'>See All</span></h1>
    <% end %>
  <% end %>
</div>
<div class="organisation-controls">
  <div id="organisation-controls__user-search">
    <% if params[:action] == 'organisation' %>
    <i class="fas fa-search organisation-controls__search-icon"></i>
      <%= simple_form_for :search, url: organisation_path, method: :get, remote: true do |f| %>
        <%= f.input :name, placeholder: 'Search by name', label: false %>
        <%= f.submit class: 'hidden hidden-submit' %>
      <% end %>
    <% end %>
    <div id="organisation-controls__user-search-clear" onclick='clearSearch(this);'>
      <p>Reset</p>
    </div>
  </div>
  <div class="index-controls-buttons flex-row-between-centered">
    <div class="btn-white" onclick='openFilter();'>
      <i class="fas fa-filter"></i>
      <p>Filter</p>
    </div>
    <div class="btn-white" id='manage-users-button' onclick='openManager();' style='margin: 0px 5px 0px 5px'>
      <i class="fas fa-user-tag"></i>
      <p>Manage Tags</p>
    </div>
    <div class="dropdown">
      <div class="btn-white btn-icon dropdown-toggle" id="dropdownMenu" data-toggle="dropdown">
        <i class="fas fa-ellipsis-h"></i>
      </div>
      <ul class="dropdown-menu dropdown-menu-right organisation-dropdown-menu" aria-labelledby="dropdownMenu">
        <li><a data-toggle='modal' data-target='#newUser'>New User</a></li>
        <li><a data-toggle='modal' data-target='#importUsers'>Import Users</a></li>
        <li><a data-toggle='modal' data-target='#exportUsers' id="export-users-modal-link">Export Users</a></li>
        <li class='hidden'><a id='organisation-dropdown__import-infos-link' data-toggle='modal' data-target='#importUsersInfos'></a></li>
      </ul>
    </div>
  </div>
</div>
<div class='organisation-page' data-fl-scrolls='{"orientation": "horizontal"}'>
  <div class='organisation-users'>
    <div class='user-index-headers'>
      <%= render 'pages/organisation_headers', users: users %>
    </div>
    <div class='users-index'>
      <% users.each do |user| %>
        <div class='user-index-card user-card-<%= user.id %>'>
          <%= render 'pages/organisation_user_card', user: user %>
        </div>
      <% end %>
    </div>
  </div>
</div>
