  <% @contents.order(title: :asc).each do |content| %>

      <div class="overview-card">
        <% if content.content_type == 'Synchronous' %>
        <div class="overview-card-syn">
        <% else %>
        <div class="overview-card-asyn">
        <% end %>
          <div class="overview-card-top">
            <div class="overview-card__top-info">
              <%= link_to '', content_path(content, session_id: session.id), class: 'stretched-link', data: {toggle: 'tooltip'}, title: content.title %>
              <% if content.title.length <= 30 %>
                <h3><b><%= content.title %></b></h3>
              <% else %>
                <h3 data-toggle='tooltip' title='<%= content.title %>'><b><%= content.title.first(30) + '...' %></b></h3>
              <% end %>
              <div class="overview-card-theme">
                <% content.categories.order(title: :asc).each do |category| %>
                  <p><%= category.title %></p>
                <% end %>
              </div>
            </div>
          </div>
          <div class="overview-card-bottom">
            <div class="overview-card-objective">
              <div>
                <i class="far fa-clock"></i><p><%= content.duration %> minutes</p>
              </div>
              <div>
                <i class="far fa-user"></i><p><%= content.sessions.where('date >= ? AND date <= ?', start_date, end_date).map{|x| x.attendees.where(status: 'Not completed').count}.sum %> to do</p>
              </div>
              <div>
                <i class="fas fa-user"></i><p><%= Content.includes(:sessions).find(content.id).sessions.where('date <= ?', start_date).map{|x| x.attendees.count}.sum %> doing</p>
              </div>
              <div>
                <i class="fas fa-user"></i><p><%= content.sessions.map{|x| x.attendees.where(status: 'Completed').count}.sum %> done</p>
              </div>
              <div>
                <% if content.sessions.where('date >= ? AND date <= ?', start_date, end_date).count > 0 %>
                  <i class="fas fa-dollar-sign"></i><p><%= '%.2f' % (content.sessions.where('date >= ? AND date <= ?', start_date, end_date).map{|x| x.cost / x.attendees.count}.sum / content.sessions.where('date >= ? AND date <= ?', start_date, end_date).count) %>€ per person</p>
                <% else %>
                  <i class="fas fa-dollar-sign"></i><p>0€ per person</p>
                <% end %>
              </div>
              <div>
                <i class="fas fa-file-invoice-dollar"></i><p><%= '%.2f' % content.sessions.where('date >= ? AND date <= ?', start_date, end_date).map{|x| x.cost}.sum %>€ total</p>
              </div>
            </div>
          </div>
        </div>
      </div>

  <% end %>

