<div class="training-index-dashboard flex-row-between-centered">
  <div class='training-index-list-dashboard'>
    <% upcoming_workshops = TrainingWorkshop.where(training_id: nil).where('date >= ?', Date.today).sort_by(&:date) %>
    <p class='training-index-list-dashboard-title'><%= "Upcoming Workshops (#{upcoming_workshops.count})" %></p>
    <% upcoming_workshops.each do |workshop| %>
      <div class='training-index-card'>
        <div class='training-index-image' style="background-image:url('<%= workshop.image %>');">
        </div>
        <div class="training-index-infos-dashboard">
          <p><%= workshop.title %></p>
          <% if workshop.workshop_type == 'Asynchronous' %>
            <p><%= "Ends on: #{workshop.date.strftime('%d/%m/%Y')}" %></p>
          <% else %>
            <p><%= "#{workshop.date.strftime('%d/%m/%Y')} | #{workshop.starts_at.strftime('%H:%M')} - #{workshop.ends_at.strftime('%H:%M')}" %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class='training-index-list-dashboard'>
    <% completed_workshops = TrainingWorkshop.where(training_id: nil).where('date < ?', Date.today).sort_by(&:date) %>
    <p class='training-index-list-dashboard-title'><%= "Completed Workshops (#{completed_workshops.count})" %></p>
    <% completed_workshops.each do |workshop| %>
      <div class='training-index-card'>
        <div class='training-index-image' style="background-image:url('<%= workshop.image %>');">
        </div>
        <div class="training-index-infos-dashboard">
          <p><%= workshop.title %></p>
          <% if workshop.workshop_type == 'Asynchronous' %>
            <p><%= "Ended on: #{workshop.date.strftime('%d/%m/%Y')}" %></p>
          <% else %>
            <p><%= "#{workshop.date.strftime('%d/%m/%Y')} | #{workshop.starts_at.strftime('%H:%M')} - #{workshop.ends_at.strftime('%H:%M')}" %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
