<div class="training-index-dashboard flex-row-between-centered">
  <div class='training-index-list-dashboard'>
    <% upcoming_contents = Session.where(training_id: nil).where('date >= ?', Date.today).sort_by(&:date) %>
    <p class='training-index-list-dashboard-title'><%= "Upcoming Contents (#{upcoming_contents.count})" %></p>
    <% upcoming_contents.each do |content| %>
      <div class='training-index-card'>
        <div class='training-index-image' style="background-image:url('<%= content.image %>');">
        </div>
        <div class="training-index-infos-dashboard">
          <p><%= content.title %></p>
          <% if content.content_type == 'Asynchronous' %>
            <p><%= "Ends on: #{content.date.strftime('%d/%m/%Y')}" %></p>
          <% else %>
            <p><%= "#{content.date.strftime('%d/%m/%Y')} | #{content.starts_at.strftime('%H:%M')} - #{content.ends_at.strftime('%H:%M')}" %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class='training-index-list-dashboard'>
    <% completed_contents = Session.where(training_id: nil).where('date < ?', Date.today).sort_by(&:date) %>
    <p class='training-index-list-dashboard-title'><%= "Completed Contents (#{completed_contents.count})" %></p>
    <% completed_contents.each do |content| %>
      <div class='training-index-card'>
        <div class='training-index-image' style="background-image:url('<%= content.image %>');">
        </div>
        <div class="training-index-infos-dashboard">
          <p><%= content.title %></p>
          <% if content.content_type == 'Asynchronous' %>
            <p><%= "Ended on: #{content.date.strftime('%d/%m/%Y')}" %></p>
          <% else %>
            <p><%= "#{content.date.strftime('%d/%m/%Y')} | #{content.starts_at.strftime('%H:%M')} - #{content.ends_at.strftime('%H:%M')}" %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
