<div class="training-index">
  <div class='training-index-list'>
    <% @my_workshops.where("date < ?", Date.today.at_end_of_week).where("date >= ?", Date.today).order(date: :asc).each do |training_workshop| %>
      <%= link_to training_path(training_workshop.training) do %>
        <div class='training-index-card'>
          <div class='training-index-image' style="background-image:url('<%= training_workshop.workshop.image %>');">
          </div>
          <div class="training-index-infos">
            <p><%= training_workshop.training.title %></p>
            <p><%= training_workshop.title %></p>
            <% if training_workshop.start_time.present? && training_workshop.end_time.present? %>
              <p><%= "#{training_workshop.date.strftime('%d/%m/%Y')} | #{training_workshop.start_time.strftime('%H:%M')} - #{training_workshop.end_time.strftime('%H:%M')}" %></p>
            <% else %>
              <p><%= "#{training_workshop.date.strftime('%d/%m/%Y')}" %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
