<div class="book-container">
  <div class="book-page-3">
    <div class="booking-title dates-title">
      <h2>Select Dates</h2>
    </div>
    <div class="book-confirm">
      <div class="book-next-page" onclick="previousPage()">
        <div class="book-next">
          <%= simple_form_for :book, url: book_users_path, method: :get do |f| %>
            <% params[:book].present? ? selected_folder = params[:book][:selected_folder] : selected_folder = '' %>
            <% params[:book].present? ? selected_content = params[:book][:selected_content] : selected_content = '' %>
            <% params[:book].present? ? selected_users = params[:book][:selected_users] : selected_users = '' %>
            <%= f.hidden_field :selected_folder, value: selected_folder %>
            <%= f.hidden_field :selected_content, value: selected_content %>
            <%= f.hidden_field :selected_users, value: selected_users %>
            <%= button_tag type: 'submit' do %>
              <div class="book-next">
                <i class="fas fa-arrow-left fa-2x" style='color:#F26419'></i>
                <p>Select Participants</p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="book-page-guide">
        <div class="page-book-info">
          <div class="page-number disabled">
            <p>1</p>
          </div>
          <div class="page-name">
            <p>Select Workshop</p>
          </div>
        </div>
        <span class='book-line '></span>
        <div class="page-book-info">
          <div class="page-number book-page-indicator-2 disabled">
            <p>2</p>
          </div>
          <div class="page-name">
            <p>Select Participants</p>
          </div>
        </div>
        <span class='book-line-1 '></span>
        <div class="page-book-info">
          <div class="page-number book-page-indicator-3">
            <p>3</p>
          </div>
          <div class="page-name">
            <p>Select Dates</p>
          </div>
        </div>
      </div>
      <%= link_to '', dashboard_path, class: 'confirm-button hidden' %>
      <%= simple_form_for Training.new, remote: true do |f| %>
        <% if @selected_folder.present? %>
          <% title = Folder.find(@selected_folder).title %>
        <% elsif @selected_content.present? %>
          <% title = Content.find(@selected_content).title %>
        <% else %>
          <% title = '' %>
        <% end %>
        <%= f.hidden_field :title, value: title %>
        <%= f.submit '', class: 'hidden-submit hidden' %>
      <% end %>
      <button id='book-confirm-button' class='btn-white-border-disabled' onclick='bookDates(this)' style='margin-bottom: 15px' disabled='true'><p>Confirm</p></button>
    </div>
    <div class="date-book">
      <% selected_users = [] %>
      <% selected_contents = [] %>
      <%= render 'pages/partials/book_dates', selected_folder: @selected_folder, selected_content: @selected_content, selected_users: @selected_users %>
    </div>
  </div>
</div>

<script>
  formGuardian = false

  if (document.getElementById('book_selected_folder') != '' || document.getElementById('book_selected_content') != '') {
    confirm_button = document.getElementById('book-confirm-button')
    confirm_button.disabled = false
    confirm_button.classList.remove('btn-white-border-disabled')
    confirm_button.classList.add('btn-white-border')
  }

  function addDate(element) {
    date_cards = element.parentNode.parentNode.parentNode.querySelectorAll('.book-dates')
    date_card = date_cards[date_cards.length - 1]
    new_date_card = document.createElement('div')
    new_date_card.classList.add('book-dates')
    new_date_card.innerHTML = date_card.innerHTML
    new_date_card.querySelector('.booklet-card__cost-input').classList.add('hidden')
    date_card.querySelector('.remove_date').classList.add('hidden')
    new_date_card.querySelector('.remove_date').classList.remove('hidden')
    form = new_date_card.querySelector('form')
    date_card.parentNode.appendChild(new_date_card)
    if (date_cards.length + 1 >= 3) {
      element.classList.add('hidden')
    }
    flatpickr(".datepicker", {
      disableMobile: true,
      dateFormat: "d/m/Y",
    });
    flatpickr(".timepicker", {
      enableTime: true,
      noCalendar: true,
      dateFormat: "H:i",
      time_24hr: true,
    })
  }

  function removeDate(element) {
    card = element.closest('.booklet-card-objective-booking')
    date_card = element.closest('.book-dates')
    date_card.remove();
    date_cards = card.querySelectorAll('.book-dates')
    if (date_cards.length > 1) {
      previous_card = date_cards[date_cards.length - 1]
      previous_card.querySelector('.remove_date').classList.remove('hidden')
    }
    card.parentNode.querySelector('.add-date').querySelector('p').classList.remove('hidden')
  }

  function duplicateCost(element) {
    cost = element.value
    element.closest('.booklet-card-objective-booking').querySelectorAll('#session_cost').forEach((input) => {
      input.value = cost.replace(',', '.')
    })
  }

  function bookDates(element) {
    if (formGuardian == false) {
      document.querySelector('body').classList.add('wait');
      element.disabled = true
      submit_buttons = document.querySelector('.date-book').querySelectorAll('.hidden-submit')
      document.querySelectorAll('.booklet-card-bottom-dates').forEach((el) => {
        duplicateCost(el.querySelector('#session_cost'))
      })
      redirect_button = document.querySelector('.confirm-button')
      console.log('training')
      document.getElementById('new_training').querySelector('.hidden-submit').click()
      console.log('sessions')
      submit_buttons.forEach((element) => {
        setTimeout(function(){element.click()}, 100)
      })
      console.log('confirm')
      setTimeout(function(){redirect_button.click()}, 1000)
    }
  }
</script>
