<div class="book-container">
  <div class="booking-title">
    <h2>Select Workshop to Book</h2>
  </div>
  <div class="workshop-grid">
    <div class="workshop-cards-book container">
      <ul id='workshop-card-list'>
        <% Content.where(company_id: current_user.company_id).each do |content| %>
        <li>
          <div class="card-interest draggable" draggable='true'>
            <div class="card-interest-left">
            <div class="catalogue-content-card-left-book">
              <div>
                <% if content.title.length > 35 %>
                  <h3><b><%= content.title.first(35)+'...' %></b></h3>
                <% else %>
                  <h3><b><%= content.title %></b></h3>
                <% end %>
                <p><%= content.duration %> Minutes</p>
                  <div class="content-description">
                  <% if content.description.length >= (200) %>
                    <p><%content.description.first(200) + '...' %></p>
                  <%else %>
                    <p><%= content.description %></p>
                  <%end %>
                </div>
              </div>
              <div class="type-icon">
                <% if content.content_type == 'Synchronous' %>
                  <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
                <% else %>
                  <i class="fas fa-laptop" style='color:black;'></i>
                <% end %>
              </div>
            </div>
            <% if content.content_type == 'Synchronous' %>
            <div class="catalogue-content-card-right-syn-book">
            <% else %>
              <div class="catalogue-content-card-right-asyn-book">
            <% end %>
                <div class="catalogue-content-card-right-interest">
                  <% interest = UserInterest.find_by(content_id: content.id, user_id: current_user.id) %>
                  <% if interest.present? %>
                    <%= link_to user_interest_path(id: interest.id), method: :delete, remote: true do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= link_to user_interests_path(content_id: content.id), method: :post, remote: true do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                  <p><%= content.interested.count %> Interested</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="workshop-cards-selected container">
    </div>
  </div>
</div>


<script>
  const draggables = document.querySelectorAll('.draggable')
const containers = document.querySelectorAll('.container')

draggables.forEach(draggable => {
  draggable.addEventListener('dragstart', () => {
    draggable.classList.add('dragging')
  })

  draggable.addEventListener('dragend', () => {
    draggable.classList.remove('dragging')
  })
})

containers.forEach(container => {
  container.addEventListener('dragover', e => {
    e.preventDefault()
    const afterElement = getDragAfterElement(container, e.clientY)
    const draggable = document.querySelector('.dragging')
    if (afterElement == null) {
      container.appendChild(draggable)
    } else {
      container.insertBefore(draggable, afterElement)
    }
  })
})

function getDragAfterElement(container, y) {
  const draggableElements = [...container.querySelectorAll('.draggable:not(.dragging)')]

  return draggableElements.reduce((closest, child) => {
    const box = child.getBoundingClientRect()
    const offset = y - box.top - box.height / 2
    if (offset < 0 && offset > closest.offset) {
      return { offset: offset, element: child }
    } else {
      return closest
    }
  }, { offset: Number.NEGATIVE_INFINITY }).element
}
</script>

