<div class="book-container">
  <div class="book-page-1">
    <div class="booking-title">
      <h2>Select Workshop to Book</h2>
    </div>
    <div class="index-controls-filter-bar-book">
      <div class="index-controls-filter-bar-block-book">
        <%= render 'catalogue_filter' %>
      </div>
    </div>
    <div class="workshop-grid">
      <div class="workshop-cards-book container">
        <% Content.where(company_id: current_user.company_id).each do |content| %>
          <div class="card-interest-book draggable" draggable='true' ondragend="removeGhost();">
            <div class="card-interest-left">
            <div class="catalogue-content-card-left-book">
              <div>
                <% if content.title.length > 35 %>
                  <h3><b><%= content.title.first(35)+'...' %></b></h3>
                <% else %>
                  <h3><b><%= content.title %></b></h3>
                <% end %>
                <p><%= content.duration %> Minutes</p>
                  <% if content.description.present? %>
                    <% if content.description.html_safe.length >= (200) %>
                      <p><%= content.description.html_safe.first(200) + '...' %></p>
                    <% else %>
                      <p><%= content.description.html_safe.first(200) %></p>
                    <% end %>
                  <% end %>
                <div class="catalogue-content-card-categories">
                  <% content.categories.order(title: :asc).each do |category| %>
                    <p><%= category.title %></p>
                  <% end %>
                </div>
              </div>
              <div class="type-icon">
                <% if content.content_type == 'Synchronous' %>
                  <i class="fas fa-chalkboard-teacher" style='color:#F26419;'></i>
                <% else %>
                  <i class="fas fa-laptop" style='color:black;'></i>
                <% end %>
              </div>
            </div>
            <% if content.content_type == 'Synchronous' %>
            <div class="catalogue-content-card-right-syn-book">
            <% else %>
              <div class="catalogue-content-card-right-asyn-book">
            <% end %>
                <div class="catalogue-content-card-right-interest">
                  <% interest = UserInterest.find_by(content_id: content.id, user_id: current_user.id) %>
                  <% if interest.present? %>
                    <%= link_to user_interest_path(id: interest.id), method: :delete, remote: true do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= link_to user_interests_path(content_id: content.id), method: :post, remote: true do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                  <p><%= content.interested.count %> Interested</p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="workshop-cards-selected container" id='selected'>
          <div class="ghost-card">
            <p>Drag & drop cards you wish to book.</p>
          </div>
        </div>
      </div>
      <div class="book-next-page">
        <div class="book-next">
          <i class="fas fa-arrow-right" style='color:#F26419'></i>
          <p>Select Participants</p>
        </div>
      </div>
    </div>
    <div class="book-page-2 hidden">
      <div class="booking-title">
        <h2>Select Participants to Book</h2>
      </div>
      <div class="users-book-grid">
        <div class="users-book container">
          <% @users.each do |user| %>
            <div class='user-index-card-book draggable' draggable='true'>
              <div class="user-index-info-book">
                <input class='select-user' type="checkbox" value="<%= user.id %>" onclick='selectUser();'>
                <img src="<%= user.picture %>" alt="" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
              </div>
              <div class="user-index-info-book">
                <p data-toggle="tooltip" title="<%= user.fullname %>"><%= user.lastname %>, <%= user.firstname %></p>
              </div>
              <div class="user-index-info-book">
                <p data-toggle="tooltip" title="<%= user.email %>"><%= user.email %></p>
              </div>
              <div class="user-index-info-book">
                <p data-toggle="tooltip" title="<%= user.job_title %>"><%= user.job_title %></p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="users-book-selected container">

        </div>
      </div>
    </div>
  </div>
</div>

<script>

  var participants = document.querySelector('.book-next')
  var pageone = document.querySelector('.book-page-1')
  var pagetwo = document.querySelector('.book-page-2')

  participants.addEventListener("click", event => {
    pageone.classList.add('hidden')
    pagetwo.classList.remove('hidden')
  });

  const draggables = document.querySelectorAll('.draggable')
  const containers = document.querySelectorAll('.container')


draggables.forEach(draggable => {
  draggable.addEventListener('dragstart', () => {
    draggable.classList.add('dragging')
  })

  draggable.addEventListener('dragend', () => {
    draggable.classList.remove('dragging')
  })
})

containers.forEach(container => {
  container.addEventListener('dragover', e => {
    e.preventDefault()
    const afterElement = getDragAfterElement(container, e.clientY)
    const draggable = document.querySelector('.dragging')
    if (afterElement == null) {
      container.appendChild(draggable)
    } else {
      container.insertBefore(draggable, afterElement)
    }
  })
})

function getDragAfterElement(container, y) {
  const draggableElements = [...container.querySelectorAll('.draggable:not(.dragging)')]

  return draggableElements.reduce((closest, child) => {
    const box = child.getBoundingClientRect()
    const offset = y - box.top - box.height / 2
    if (offset < 0 && offset > closest.offset) {
      return { offset: offset, element: child }
    } else {
      return closest
    }
  }, { offset: Number.NEGATIVE_INFINITY }).element
}

var selected = document.getElementById('selected')
var ghostcard = document.querySelector('.ghost-card')

function removeGhost() {
  if (selected.querySelector('.draggable') == null) {
    ghostcard.classList.remove('hidden')
  } else {
    ghostcard.classList.add('hidden')
  }
}

</script>

