<div class="book-container">
  <div class="book-page-1">
    <div class="booking-title">
      <h2>Select Workshop to Book</h2>
    </div>
    <div class="book-confirm">
      <div style='width: 120px;'></div>
    <div class="book-page-guide">
      <div class="page-book-info">
        <div class="page-number">
          <p>1</p>
        </div>
        <div class="page-name">
          <p>Select Workshop</p>
        </div>
      </div>
      <span class='book-line'></span>
      <div class="page-book-info">
        <div class="page-number book-page-indicator-2 disabled">
          <p>2</p>
        </div>
        <div class="page-name">
          <p>Select Participants</p>
        </div>
      </div>
      <span class='book-line-1'></span>
      <div class="page-book-info">
        <div class="page-number book-page-indicator-3 disabled">
          <p>3</p>
        </div>
        <div class="page-name">
          <p>Select Dates</p>
        </div>
      </div>
    </div>
      <div class="book-next-page">
        <div class="book-next" onclick="nextPage()">
          <i class="fas fa-arrow-right fa-3x" style='color:#F26419'></i>
          <p>Select Participants</p>
        </div>
      </div>
    </div>
    <div class="index-controls-filter-bar-book">
      <div class="index-controls-filter-bar-block-book">
        <%= render 'book_content_filter' %>
      </div>
      <div class="filtered_themes">
      </div>
    </div>
    <div class="workshop-grid">
      <div class="workshop-cards-selected" id='selected'>
      </div>
      <div class="workshop-cards-book">
        <%= render 'pages/book_content_index', contents: @contents %>
      </div>
    </div>
  </div>
  <div class="book-page-2 hidden">
    <div class="booking-title users-title">
      <h2>&nbsp;</h2>
    </div>
      <div class="book-confirm">
      <div class="book-next-page" onclick="previousPage()">
        <div class="book-next">
          <i class="fas fa-arrow-left fa-3x" style='color:#F26419'></i>
          <p>Select Workshops</p>
        </div>
      </div>
        <div class="book-page-guide">
          <div class="page-book-info">
            <div class="page-number">
              <p>1</p>
            </div>
            <div class="page-name">
              <p>Select Workshop</p>
            </div>
          </div>
          <span class='book-line active'></span>
          <div class="page-book-info">
            <div class="page-number book-page-indicator-2">
              <p>2</p>
            </div>
            <div class="page-name">
              <p>Select Participants</p>
            </div>
          </div>
          <span class='book-line-1'></span>
          <div class="page-book-info">
            <div class="page-number book-page-indicator-3 disabled">
              <p>3</p>
            </div>
            <div class="page-name">
              <p>Select Dates</p>
            </div>
          </div>
        </div>
        <div class="book-next-page" onclick="nextPage()">
          <div class="book-next">
            <i class="fas fa-arrow-right fa-3x" style='color:#F26419'></i>
            <p>Select Dates</p>
          </div>
        </div>
      </div>
    <div class="index-controls-filter-bar-book">
      <div class="btn-white" onclick='openFilter();'>
        <i class="fas fa-filter"></i>
        <p>Filter</p>
      </div>
      <div class="add-remove-users">
        <p onclick='addAll(this);' style='cursor:pointer;' class='add-selected'>Add All (<%= @users.count %>)</p>
        <p onclick='removeAll(this);' style='cursor:pointer;' class='remove-selected'>Remove all (0)</p>
      </div>
    </div>
    <div class="organisation-filter-container">
    <div class="organisation-filter-background" onclick='closeFilter();'></div>
      <% interest_for = [] %>
      <div class="organisation-filter-dropright">
        <%= render 'pages/book_user_filter_dropright', interest_for: interest_for %>
      </div>
    </div>
    <div class="users-book-grid">
      </div>
        <div class="users-book-selected">

      </div>
      <div class="users-book">
        <% selected_filter = [] %>
        <%= render 'pages/book_user_index', users: @users, interest_for: interest_for, selected_filter: selected_filter %>
    </div>
    </div>
  <div class="book-page-3 hidden">
    <div class="booking-title dates-title">
      <h2>Select Dates</h2>
    </div>
    <div class="book-confirm">
      <div class="book-next-page" onclick="previousPage()">
        <div class="book-next">
          <i class="fas fa-arrow-left fa-3x" style='color:#F26419'></i>
          <p>Select Users</p>
        </div>
      </div>
      <div class="book-page-guide">
        <div class="page-book-info">
          <div class="page-number">
            <p>1</p>
          </div>
          <div class="page-name">
            <p>Select Workshop</p>
          </div>
        </div>
        <span class='book-line active'></span>
        <div class="page-book-info">
          <div class="page-number book-page-indicator-2">
            <p>2</p>
          </div>
          <div class="page-name">
            <p>Select Participants</p>
          </div>
        </div>
        <span class='book-line-1 active'></span>
        <div class="page-book-info">
          <div class="page-number book-page-indicator-3">
            <p>3</p>
          </div>
          <div class="page-name">
            <p>Select Dates</p>
          </div>
        </div>
      </div>
      <%= link_to '', dashboard_path, class: 'confirm-button hidden' %>
      <button class='btn-orange' onclick='bookDates()' style='margin-bottom: 15px'><p>Confirm</p></button>
    </div>
    <div class="date-book">
      <% selected_users = [] %>
      <% selected_contents = [] %>
      <%= render 'pages/book_dates', selected_contents: selected_contents %>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>

<script>

  page = 1;

  pageone = document.querySelector('.book-page-1')
  pagetwo = document.querySelector('.book-page-2')
  pagethree = document.querySelector('.book-page-3')
  containers = document.querySelectorAll('.container')

  formGuardian = false


  function nextPage() {
    if (page == 1) {
      setTimeout(function(){
        pageone.classList.add('hidden')
        pagetwo.classList.remove('hidden')
      }, 250)
    } else {
      selected_container = document.querySelector('.users-book-selected')
      selected_users = selected_container.querySelectorAll('.user-book-card')
      storage_var = []
      selected_users.forEach((user) => {
        storage_var.push(user.id.split('-')[1])
      })
      session_card_forms = document.querySelectorAll('#session_selected_users')
      session_card_forms.forEach((element) => {
        element.value = storage_var.join(',')
      })
      document.getElementById('filter_user_selected').value = storage_var.join(',')
      setTimeout(function(){
        pagetwo.classList.add('hidden')
        pagethree.classList.remove('hidden')
      }, 250)
    }
    page += 1
  }

  function previousPage() {
    if (page == 3) {
      pagethree.classList.add('hidden')
      pagetwo.classList.remove('hidden')
    } else {
      pagetwo.classList.add('hidden')
      pageone.classList.remove('hidden')
    }
    page -= 1
  }

  function outsideClick(event, notelem) {
    notelem = $(notelem);
    var clickedOut = true, i, len = notelem.length;
    for (i = 0;i < len;i++)  {
        if (event.target == notelem[i] || notelem[i].contains(event.target)) {
            clickedOut = false;
        }
    }
    if (clickedOut) return true;
    else return false;
  }

  function updateCards() {
    selected_cards = document.querySelector('.workshop-cards-selected').querySelectorAll('.booklet-card-book')
    storage_var = []
    selected_cards.forEach((card) => {
      storage_var.push(card.id.split('-')[1])
    })
    selected_storage = document.getElementById('filter_content_selected')
    selected_storage.value = storage_var.join(',')
    interest_storage = document.getElementById('filter_user_interest_for')
    interest_storage.value = storage_var.join(',')
    document.querySelector('.filter_content').querySelector('.hidden-submit').click();
  }

  function updateUsers() {
    selected_container = document.querySelector('.users-book-selected')
    selected_users = selected_container.querySelectorAll('.user-book-card')
    storage_var = []
    selected_users.forEach((user) => {
      storage_var.push(user.id.split('-')[1])
    })
    document.getElementById('filter_user_selected').value = storage_var.join(',')
    document.querySelector('.filter_user').querySelector('.hidden-submit').click()
/*    available = document.querySelector('.users-book').querySelectorAll('.user-index-card-book').length
    selected = document.querySelector('.users-book-selected').querySelectorAll('.user-index-card-book').length
    counter_available = document.querySelector('.add-selected')
    counter_selected = document.querySelector('.remove-selected')
    counter_available.innerHTML = 'Add All (' + available.toString() + ')'
    counter_selected.innerHTML = 'Remove All (' + selected.toString() + ')'*/
  }

  function addCard(element) {
    newCard = document.createElement("div");
    newCard.classList.add('booklet-card-book')
    existingcard = element.closest('.booklet-card-book')
    cardcontent = existingcard.innerHTML
    newCard.innerHTML = cardcontent
    circle = newCard.querySelector('#notselected')
    circle.classList.add('hidden')
    remove = newCard.querySelector('#removecard')
    remove.classList.remove('hidden')
    syn = newCard.querySelector('.booklet-card-syn')
    asyn = newCard.querySelector('.booklet-card-asyn')
    theme = newCard.querySelector('.booklet-card-theme')
    remove.style.background = 'transparent'
    newCard.setAttribute("id", existingcard.id)
    content = document.querySelector('.workshop-cards-selected')
    content.append(newCard)
    theme.classList.add('theme-white')
    if (newCard.contains(syn)) {
      syn.style.backgroundColor = '#F8D9C8'
    } else {
      asyn.style.backgroundColor = '#C4C4C4'
    }
    updateCards()
  }

  function selectCard(element) {
    card = element.closest('.booklet-card-book')
    emptycircle = card.querySelector('#notselected')
    added = card.querySelector('#added')
    overlay = card.querySelector('.booklet-card-book-overlay')
    selected = document.querySelector('.workshop-cards-selected')
    if (selected.contains(card)) {
      card_id = card.id
      card.remove()
      grey_card = document.getElementById(card_id);
      overlay = grey_card.querySelector('.booklet-card-book-overlay')
      overlay.classList.add('hidden')
      emptycircle = grey_card.querySelector('#notselected')
      emptycircle.classList.remove('hidden')
      added = grey_card.querySelector('#added')
      added.classList.add('hidden')
    } else if (overlay.classList.contains('hidden')) {
      addCard(element);
      overlay.classList.remove('hidden')
      added.classList.remove('hidden')
      emptycircle.classList.add('hidden')
    } else {
      overlay.classList.add('hidden')
      added.classList.add('hidden')
      emptycircle.classList.remove('hidden')
    }
    updateCards()
  }

  function addUser(element) {
    newUser = document.createElement("div");
    newUser.classList.add('user-book-card')
    existinguser = element.closest('.user-book-card')
    cardcontent = existinguser.innerHTML
    newUser.id = existinguser.id
    newUser.innerHTML = cardcontent
    circle = newUser.querySelector('#nouser')
    circle.classList.add('hidden')
    newUser.style.backgroundColor = '#F8D9C8'
    removeuser = newUser.querySelector('#removeuser')
    removeuser.classList.remove('hidden')
    removeuser.style.backgroundColor = 'transparent'
    newUser.setAttribute("id", existinguser.id)
    content = document.querySelector('.users-book-selected')
    content.append(newUser)
    updateUsers()
  }

  function selectUser(element) {
    user = element.closest('.user-book-card')
    empty = user.querySelector('#nouser')
    adduser = user.querySelector('#adduser')
    overlay_user = user.querySelector('.user-book-card-overlay')
    selecteduser = document.querySelector('.users-book-selected')
    if (selecteduser.contains(user)) {
      card_id = user.id
      user.remove()
      user_card = document.getElementById(card_id);
      overlay_user = user_card.querySelector('.user-book-card-overlay')
      overlay_user.classList.add('hidden')
      empty = user_card.querySelector('#nouser')
      empty.classList.remove('hidden')
      adduser = user_card.querySelector('#adduser')
      adduser.classList.add('hidden')

    } else if (overlay_user.classList.contains('hidden')) {
      addUser(element);
      overlay_user.classList.remove('hidden')
      adduser.classList.remove('hidden')
      empty.classList.add('hidden')
    } else {
      overlay_user.classList.add('hidden')
      adduser.classList.add('hidden')
      empty.classList.remove('hidden')
    }
    updateUsers()
  }

  function openFilter() {
    filter_container = document.querySelector('.organisation-filter-container');
    filter_dropright = document.querySelector('.organisation-filter-dropright');
    filter_container.style.display = 'flex';
    setTimeout(function(){
      filter_dropright.style.width = '400px';
    }, 1);
  }

  function closeFilter() {
    filter_container = document.querySelector('.organisation-filter-container');
    filter_dropright = document.querySelector('.organisation-filter-dropright');
    filter_dropright.style.width = '0px';
    setTimeout(function(){
      filter_container.style.display = 'none';
    }, 250);
  }

  function hideClearFilterButton() {
    form = document.querySelector('.filter_user');
    form.querySelectorAll('.organisation-filter-block').forEach((element) => {
      checked = false;
      element.querySelectorAll('input.check_boxes').forEach((checkbox) => {
        if (checkbox.checked == true) {
          checked = true;
        }
      })
      if (checked == false) {
        element.querySelector('.organisation-filter-block-title-buttons').querySelector('p').style.opacity = '0';
      }
    })
  }

  function autoSubmit(element) {
    element.parentNode.parentNode.parentNode.parentNode.querySelector('.organisation-filter-block-title-buttons').querySelector('p').style.opacity = '1';
    hideClearFilterButton();
    document.querySelector('.filter_user').querySelector('.hidden-submit').click();
    document.querySelector('body').classList.add('wait');
  }

  rotated = 0

  function toggleTagCategoryDropdown(element) {
    element.querySelector('i').style.webkitTransform = 'rotate('+ (rotated + 180).toString() +'deg)';
    element.querySelector('i').style.mozTransform    = 'rotate('+ (rotated + 180).toString() +'deg)';
    element.querySelector('i').style.msTransform     = 'rotate('+ (rotated + 180).toString() +'deg)';
    element.querySelector('i').style.oTransform      = 'rotate('+ (rotated + 180).toString() +'deg)';
    element.querySelector('i').style.transform       = 'rotate('+ (rotated + 180).toString() +'deg)';
    rotated = rotated + 180;
    block = element.parentNode.parentNode.parentNode.parentNode;
    if (block.style.maxHeight == '61px' || block.style.maxHeight == '') {
      block.style.maxHeight = '1000px';
      block.classList.add('active');
    } else {
      block.style.maxHeight = '61px';
      block.classList.remove('active');
    }
  }

  function clearFilter(element) {
    block = element.parentNode.parentNode.parentNode.parentNode;
    block.querySelectorAll('input.check_boxes').forEach((element) => {
      if (element.checked == true) {
        element.checked = false;
      }
    })
    hideClearFilterButton();
    document.querySelector('.filter_user').querySelector('.hidden-submit').click();
    document.querySelector('body').classList.add('wait');
  }

  function resetFilter() {
    form = document.querySelector('.filter_user');
    form.querySelectorAll('.check_boxes').forEach((element) => {
      if (element.checked == true) {
        element.checked = false;
      }
    })
    hideClearFilterButton();
    form.querySelector('.hidden-submit').click();
    document.querySelector('body').classList.add('wait');
  }



  function removeFilter(element) {
    filter_tag = element.parentNode;
    storage = document.querySelector('#filter_content_themes')
    array = storage.value.split(',');
    array = array.filter(function(value, index, arr){
      return value != element.getAttribute('data-id');
    });
    storage.value = array.join(',');
    filter_tag.remove();
    storage.parentNode.querySelector('.hidden-submit').click();
    document.querySelector('body').classList.add('wait');
  }

  function addDate(element) {
    card = element.parentNode.parentNode.parentNode.querySelector('.book-dates')
    console.log(card)
    new_date = document.createElement('div')
    new_date.classList.add('book-dates')
    new_date.innerHTML = card.innerHTML
    new_date.querySelector('.remove_date').classList.remove('hidden')
    form = new_date.querySelector('form')
    card.parentNode.insertBefore(new_date, card.nextSibling)
    flatpickr(".datepicker", {
      disableMobile: true,
      dateFormat: "d/m/Y",
    });
    flatpickr(".timepicker", {
      enableTime: true,
      noCalendar: true,
      dateFormat: "H:i",
    })
  }

  function removeDate(element) {
    card = element.closest('.book-cards')
    card.remove();
  }

  function bookDates() {
    if (formGuardian == false) {
      submit_buttons = document.querySelector('.date-book').querySelectorAll('.hidden-submit')
      redirect_button = document.querySelector('.confirm-button')
      submit_buttons.forEach((element) => {
        setTimeout(function(){element.click()}, 100)
      })
      setTimeout(function(){redirect_button.click()}, 1000)
    }
  }

  function addAll(source) {
    document.querySelector('.users-book').querySelectorAll('.select-user').forEach((element) => {
      element.checked = true
      card = element.parentNode.parentNode
      user_container = document.querySelector('.users-book')
      selected_container = document.querySelector('.users-book-selected')
      selected_container.appendChild(card)
    })
    selected_users = selected_container.querySelectorAll('.user-index-card-book')
    storage_var = []
    selected_users.forEach((user) => {
      storage_var.push(user.id.split('-')[1])
    })
    document.getElementById('filter_user_selected').value = storage_var.join(',')
    document.querySelector('.filter_user').querySelector('.hidden-submit').click();
    document.querySelector('body').classList.add('wait');
  }

  function removeAll(source) {
    document.querySelector('.users-book-selected').querySelectorAll('.select-user').forEach((element) => {
      element.checked = false
      card = element.parentNode.parentNode
      user_container = document.querySelector('.users-book')
      selected_container = document.querySelector('.users-book-selected')
      user_container.appendChild(card)
    })
    selected_users = selected_container.querySelectorAll('.user-index-card-book')
    storage_var = []
    selected_users.forEach((user) => {
      storage_var.push(user.id.split('-')[1])
    })
    document.getElementById('filter_user_selected').value = storage_var.join(',')
    document.querySelector('.filter_user').querySelector('.hidden-submit').click();
    document.querySelector('body').classList.add('wait');
  }

  function checkDuration(element) {
    start_time_hour = element.closest('.book-times').querySelector('#session_starts_at_4i').value
    start_time_minute = element.closest('.book-times').querySelector('#session_starts_at_5i').value
    start_time = new Date(2000, 0, 1, start_time_hour, start_time_minute, 0, 0);
    end_time_hour = element.closest('.book-times').querySelector('#session_ends_at_4i').value
    end_time_minute = element.closest('.book-times').querySelector('#session_ends_at_5i').value
    end_time = new Date(2000, 0, 1, end_time_hour, end_time_minute, 0, 0);
    alert = element.closest('.book-selected-card').querySelector('.duration-alert')
    if (Math.abs(end_time - start_time) / (1000*60) < parseInt(element.closest('.book-times').querySelector('#session_duration').value,10)) {
      console.log(Math.abs(end_time - start_time) / (1000*60))
      console.log(Math.abs(parseInt(element.closest('.book-times').querySelector('#session_duration').value,10)))
      console.log('trop long')
      alert.classList.remove('hidden')
    } else {
      alert.classList.add('hidden')
    }

  }

  $input = $("[data-behavior='autocomplete']");

  var options = {
    listLocation: "categories",
    getValue: 'title',
    url: function(phrase) {
      return "/categories_search.json?search=" + phrase
    },
    list: {
      onChooseEvent: function() {
        var id = $input.getSelectedItemData().id;
        var title = $input.getSelectedItemData().title;
        container = document.querySelector('.filtered_themes');
        new_category = document.createElement("div");
        new_category.innerHTML = "<p>" + title + "</p><i class='fas fa-times' data-id="+ id +" onclick='removeFilter(this);'></i>";
        container.appendChild(new_category);
        storage = document.querySelector('#filter_content_themes')
        if (storage.value != '') {
          storage.value = storage.value + ',' + id;
        } else {
          storage.value = id;
        }
        $input[0].value = '';
        storage.parentNode.querySelector('.hidden-submit').click();
        document.querySelector('body').classList.add('wait');
      },
      match: {
        enabled: true
      }
    }
  }

  $input.easyAutocomplete(options);

</script>

