<div id="catalogue__container" class='flex-column-start-centered bkt-bg-light-orange py-5rem' style='min-height: calc(100vh - 7.5rem);'>
  <div id="catalogue__contents" style='width: 80%; max-width: 150rem'>
    <div id="catalogue__contents-header" class="flex-row-between-centered mb-2rem">
      <h2 class="fs-2_4rem font-weight-600 bkt-dark-grey">Workshops (<%= @contents.count %>)</h2>

      <% if ContentPolicy.new(current_user, nil).create? %>
        <button class="bkt-btn-orange" data-toggle='modal' data-target='#newContent' data-handle='create-a-new-workshop-cta'>
          <i class="fas fa-plus"></i>
          &nbsp;
          Create a new workshop
        </button>
      <% end %>
    </div>
    <div class="bkt-bg-white rounded-20px p-2rem">
      <div id="catalogue__controls">
        <div class="flex-row-start-centered pos-rel mb-2rem">
          <i class="fas fa-search position-absolute z-index-150 bkt-light-grey" style='left: 25rem; bottom: 16.6px;'></i>
          <%= simple_form_for(:search, url: catalogue_path, method: :get, remote: true,
            html: {
              class: 'd-flex align-items-center'
            },
            data: {
              controller:'remember-search',
              remember_search_key_value: 'bookletInterviewFormsSearches',
            }
          ) do |f| %>
            <%=
              f.input(
                :title,
                placeholder: 'Search',
                wrapper_html: {
                  class: 'my-0 height-5rem'
                },
                input_html: {
                  class: 'border-bkt-light-grey bkt-bg-light-grey3 rounded-5px height-5rem',
                  style: 'width: 28rem; padding: 0 4rem 0 1rem;',
                  autocomplete: 'off',
                  onkeyup: 'resetPage(this);',
                  data: {
                    remember_search_target: :search,
                    action: 'keyup->remember-search#storeSearch'
                  }
                },
                label: false,
                required: false
              )
            %>

            <div class='booklet-select__catalogue-container border-bkt-light-grey bkt-bg-light-grey3 rounded-5px pos-rel cursor-pointer ml-1rem' style='width: 14rem;'>
              <div class="flex-row-between-centered height-5rem px-1rem" onclick="<%= 'BookletSelectExpand(this);' %>">
                <p id='search_select' class='booklet-select__catalogue-selected fs-1_4rem font-weight-500 bkt-dark-grey'>All</p>
                <div class="flex-row-center-centered ml-1rem">
                  <i class="fas fa-angle-down bkt-light-grey"></i>
                </div>
              </div>
              <div class="booklet-select__catalogue-dropdown bkt-bg-white rounded-5px bkt-box-shadow-compact z-index-150 pos-abs hidden" style='top: 5.1rem; left: 0;'>
                <div onclick='BookletSelectSubmit(this, "answerable_by");'>
                  <p class='fs-1_4rem font-weight-500 p-1rem bkt-orange-hover cursor-pointer' style='width: 110px;' data-value=''>All</p>
                </div>
                <div onclick='BookletSelectSubmit(this, "answerable_by");'>
                  <p class='fs-1_4rem font-weight-500 p-1rem bkt-orange-hover cursor-pointer' style='width: 110px;' data-value='Synchronous'>Face-to-face</p>
                </div>
                <div onclick='BookletSelectSubmit(this, "answerable_by");'>
                  <p class='fs-1_4rem font-weight-500 p-1rem bkt-orange-hover cursor-pointer' style='width: 110px;' data-value='Asynchronous'>Online</p>
                </div>
              </div>
            </div>

            <%= f.hidden_field :content_type %>
            <%= f.hidden_field :selected_categories %>
            <%= f.hidden_field :page, value: '1' %>
            <div class="mr-3"></div>
            <%=
              f.submit(
                'Search',
                class: 'hidden-submit py-0 px-3 border-bkt-light-grey bkt-bg-light-grey3 rounded-5px height-5rem',
                onclick: "document.querySelector('body').classList.add('wait');",
                data: {
                  remember_search_target: :submit,
                }
              )
            %>
            <button type='submit' class="btn-search d-block d-sm-none">
              <i class="fas fa-search"></i>
            </button>
            <button class='height-5rem bkt-orange px-1rem fs-1_6rem' onclick='resetSearch();'>Reset</button>
          <% end %>
        </div>
        <div>
          <p class='mb-2rem'>What category are you interested in ?</p>
          <div class="flex-wrap mb-5rem">
            <% @categories.each do |category| %>
              <p id='category-<%= category.id %>' class='content-category-pill fs-1rem font-weight-600 rounded-15px border-bkt-orange-2px mr-1rem mb-1rem cursor-pointer'
                 style='padding: 1rem 2.5rem;'
                 onclick='selectCategory(this);'>
                 <%= category.title %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <div id="catalogue__contents-list" class='row'>
        <%= render 'pages/catalogue/catalogue_contents_list', contents: @contents %>
      </div>
    </div>
  </div>
</div>


<!------------>
<!-- MODALS -->
<!------------>

<div class='modal fade' id='newContent' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' data-keyboard="false" data-backdrop="static">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'contents/modals/new_content' %>
  </div>
</div>


<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>

  ///////////
  // TOOLS //
  ///////////

  doubleClickGuardian = false

  function outsideClick(event, notelem) {
    notelem = $(notelem); // jquerize (optional)
    // check outside click for multiple elements
    var clickedOut = true, i, len = notelem.length;
    for (i = 0;i < len;i++)  {
        if (event.target == notelem[i] || notelem[i].contains(event.target)) {
            clickedOut = false;
        }
    }
    if (clickedOut) return true;
    else return false;
  }

  ///////////////
  // SEARCHBAR //
  ///////////////

  function BookletSelectExpand(element) {
    doubleClickGuardian = true
    dropdown = element.closest('.booklet-select__catalogue-container').querySelector('.booklet-select__catalogue-dropdown')
    setTimeout(() => {
      doubleClickGuardian = false
    }, 100);
    if (dropdown.classList.contains('hidden')) {
      dropdown.classList.remove('hidden')
      window.addEventListener('click', function(e) {
        if (!doubleClickGuardian) {
          dropdown.classList.add('hidden')
          this.removeEventListener('click', arguments.callee, false);
        }
      });
    } else {
      dropdown.classList.add('hidden')
    }
  }

  function BookletSelectSubmit(element, attribute) {
    form = element.closest('form')
    container = element.closest('.booklet-select__catalogue-container')
    selected_display = element.closest('.booklet-select__catalogue-container').querySelector('.booklet-select__catalogue-selected')
    selected_option = element.querySelector('p')
    storage = form.querySelector('#search_content_type')
    submit_button = form.querySelector('.hidden-submit')

    storage.value = selected_option.getAttribute('data-value')
    selected_display.innerText = selected_option.innerText

    // submit_button.click()
  }

  function selectCategory(element) {
    const category_storage = document.getElementById('search_selected_categories')
    var category_storage_value = category_storage.value.split(',')
    const selected_id = element.id.split('-')[1]
    const submit_button = document.getElementById('catalogue__controls').querySelector('.hidden-submit')

    element.classList.toggle('active')

    if (element.classList.contains('active')) {
      category_storage_value.push(selected_id)
    } else {
      const index = category_storage_value.indexOf(selected_id)
      category_storage_value.splice(index, 1)
    }
    category_storage.value = category_storage_value.filter(n => n).join(',')
    submit_button.click()
  }

  function resetSearch() {
    const search_input = document.querySelector('#search_title')
    const search_select = document.querySelector('#search_select')
    var search_select_storage = document.querySelector('#search_content_type')
    submit_button = search_input.closest('form').querySelector('.hidden-submit')

    search_input.value = ''
    search_select.innerText = 'All'
    search_select_storage.value = ''

    submit_button.click()
  }

  //////////////////////
  // CONTROL DROPDOWN //
  //////////////////////

  function openContentMenu(element) {
    formGuardian = true
    dropdown = element.parentNode.querySelector('[data-actions="content"]')
    card = element.closest('[data-content-id]')
    card_overlay = card.querySelector('.catalogue__card-overlay')
    card_link = card.querySelector('.stretched-link')

    dropdown.classList.remove('hidden')
    card_overlay.classList.remove('hidden')
    card_link.classList.add('disabled')
    card_link_href = card_link.href
    card_link.href = "javascript:void(0)";

    setTimeout(function(){
      formGuardian = false
    }, 1);
    window.addEventListener('click', function(e) {
      if (outsideClick(e, dropdown) && formGuardian == false) {
        formGuardian = true
        setTimeout(function(){
          formGuardian = false
        }, 1);
        dropdown.classList.add('hidden')
        card_overlay.classList.add('hidden')
        setTimeout(function(){
          card_link.classList.remove('disabled')
          card_link.href = card_link_href
        }, 1);
        this.removeEventListener('click', arguments.callee, false)
      }
    });
  }
</script>
