<div class="h-40vh black-gradient mb-5rem">

  <%= render_component AsClAssetComponent.new(model: current_user.company,
                                          asset: :home_banner,
                                          class_name: 'width-100 h-40vh object-fit-cover object-position-50-15',
                                          fallback: 'home/banner.png') %>

  <div class="width-100 h-40vh d-flex flex-column justify-content-center align-items-center pos-abs z-index-5"
       style="top: 0; left: 0; right: 0;">

       <%= image_tag 'noto_waving-hand.png', class: 'height-5rem' %>
       <h1 class="fs-3rem font-weight-600 bkt-white my-2rem text-center">Welcome on Booklet, <%= current_user.firstname %> !</h1>
       <p class="fs-2_4rem font-weight-600 bkt-white text-center">Get instant access to all our apps from here.</p>

  </div>

</div>

<div class="d-flex small__flex-column large__flex-row justify-content-center align-items-center">

  <% current_user.company.active_applications.each do |application| %>

    <%= link_to send(application[:link]) do %>

      <div class="d-flex flex-column width-30rem height-24rem m-1rem pos-rel rounded-b-10px
                  bkt-box-shadow bkt-box-shadow-hover">

        <%= image_tag "home/#{application[:name].downcase}-card.png", class: "width-100 rounded-t-10px" %>

        <div class="d-flex flex-column justify-content-between align-items-center flex-grow-1 height-12rem
                    p-2rem">

          <p class="fs-1_2rem font-weight-500"><%= application[:teaser] %></p>

          <div class="d-flex justify-content-end width-100">

            <div class="d-flex align-items-center">

              <p class="fs-1_2rem font-weight-500 <%= application[:color] %> mr-0_5rem">Go to <%= application[:name] %></p>

              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1.2rem" height="1.2rem" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="<%= application[:hex_color] %>" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 12h16m-7-7l7 7l-7 7"/></svg>

            </div>

          </div>

        </div>

      </div>

    <% end %>

  <% end %>

</div>
