<div id="index-controls" class='flex-row-between-centered'>
  <h1>Organisation</h1>
  <div id="index-buttons">
    <% if ['Super Admin', 'Admin', 'HR'].include?(current_user.access_level) %>
      <button class="btn btn-edit-white btn-edit-icon dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus"></i></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a data-toggle='modal' data-target='#newTag' class='dropdown-item'>New Tag</a>
        <a data-toggle='modal' data-target='#newUser' class='dropdown-item'>New User</a>
        <a data-toggle='modal' data-target='#importUsers' class='dropdown-item'>Import Users</a>
      </div>
    <% end %>
    <% if params[:search] %>
      <%= simple_form_for :search, url: organisation_path, html: { class: 'search-bar' }, method: 'GET' do |f| %>
        <%= f.input :name, placeholder: params[:search][:name], label: false %>
        <%= link_to organisation_path, class: 'search-close' do %>
          <i class="far fa-times-circle"></i>
        <% end %>
      <% end %>
    <% else %>
      <a>
        <button class="btn btn-edit-white btn-edit-icon btn-search btn-last"><i class="fas fa-search"></i></button>
      </a>
      <%= simple_form_for :search, url: organisation_path, html: { class: 'search-bar hidden' }, method: 'GET' do |f| %>
        <%= f.input :name, placeholder: 'Search', label: false %>
          <a class='search-close'>
            <i class="far fa-times-circle"></i>
          </a>
      <% end %>
    <% end %>
  </div>
</div>
<div class="training-index-dashboard flex-row-between-start">
  <div class='training-index-list-dashboard-sm'>
    <div class='training-index-list-dashboard-controls flex-row-start-centered'>
      <p class='training-index-list-dashboard-title'>Tags</p>
    </div>
    <% if params[:tag_id].nil? %>
      <%= link_to organisation_path do %>
        <div class='tag-index-card flex-row-between-centered active'>
          <div class="tag-index-card-tagname">
            <p>All</p>
          </div>
          <div class="tag-index-card-infos">
            <p><%= "#{current_user.company.users.count} members" %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= link_to organisation_path do %>
        <div class='tag-index-card flex-row-between-centered'>
          <div class="tag-index-card-tagname">
            <p>All</p>
          </div>
          <div class="tag-index-card-infos">
            <p><%= "#{current_user.company.users.count} members" %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if @tags.present? %>
      <% @tags.sort_by(&:tag_name).each do |tag| %>
        <% if params[:tag_id] == tag.id.to_s %>
          <div class='tag-index-card active'>
            <%= link_to organisation_path(tag_id: tag.id), class: 'flex-row-between-centered', style: 'width:100%' do %>
              <div class="tag-index-card-tagname">
                <p data-toggle="tooltip" title="<%= tag.tag_name %>"><%= tag.tag_name %></p>
              </div>
              <div class="tag-index-card-infos">
                <p><%= "#{tag.users.count} members" %></p>
              </div>
            <% end %>
            <%= link_to tag_path(tag), class: 'tag-index-card-link' do %>
              <button id='btn-edit-filter' class="btn btn-edit-white btn-edit-icon-small btn-last"><i class="far fa-eye"></i></button>
            <% end %>
          </div>
        <% else %>
          <div class='tag-index-card'>
            <%= link_to organisation_path(tag_id: tag.id), class: 'flex-row-between-centered', style: 'width:100%' do %>
              <div class="tag-index-card-tagname">
                <p data-toggle="tooltip" title="<%= tag.tag_name %>"><%= tag.tag_name %></p>
              </div>
              <div class="tag-index-card-infos">
                <p><%= "#{tag.users.count} members" %></p>
              </div>
            <% end %>
            <%= link_to tag_path(tag), class: 'tag-index-card-link' do %>
              <button id='btn-edit-filter' class="btn btn-edit-white btn-edit-icon-small btn-last"><i class="far fa-eye"></i></button>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class='training-index-list-dashboard-md'>
    <div class='training-index-list-dashboard-controls flex-row-start-centered'>
      <p class='training-index-list-dashboard-title'>Users</p>
    </div>
    <% @users.each do |user| %>
      <%= link_to user_path(user) do %>
        <div class='user-index-card'>
          <img src="<%= user.picture %>" alt="" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
          <div class="user-index-infos flex-row-between-centered">
            <div class="user-index-info">
              <p data-toggle="tooltip" title="<%= user.fullname %>"><%= user.fullname %></p>
            </div>
            <div class="user-index-info">
              <p data-toggle="tooltip" title="<%= user.email %>"><%= user.email %></p>
            </div>
            <div class="user-index-info">
              <% tags = '' %>
              <% user.tags.each do |tag| %>
                <% if tag == user.tags.last %>
                  <% tags += "#{tag.tag_name}" %>
                <% else %>
                  <% tags += "#{tag.tag_name}, " %>
                <% end %>
              <% end %>
              <p data-toggle="tooltip" title="<%= tags %>"><%= tags %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Modals -->
<div class='modal fade' id='newTag' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'tags/new', tag: Tag.new %>
  </div>
</div>

<div class='modal fade' id='newUser' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'users/new', tag: User.new %>
  </div>
</div>

<div class='modal fade' id='importUsers' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'users/import', tag: User.new %>
  </div>
</div>

<script>
  searchButton = document.querySelector('.btn-search');
  searchBar = document.querySelector('.search-bar');
  searchClose = document.querySelector('.search-close');
  searchButton.addEventListener('click', (event) => {
    searchButton.classList.toggle('hidden');
    searchBar.classList.toggle('hidden');
  })
  searchClose.addEventListener('click', (event) => {
    searchButton.classList.toggle('hidden');
    searchBar.classList.toggle('hidden');
  })
</script>
