<div id="index-controls" class='flex-row-between-centered'>
  <h1>Organisation</h1>
  <div id="index-buttons">
    <% if ['Super Admin', 'Admin', 'HR'].include?(current_user.access_level) %>
      <button class="btn btn-edit-white btn-edit-icon dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus"></i></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a data-toggle='modal' data-target='#newTeam' class='dropdown-item'>New Team</a>
        <a data-toggle='modal' data-target='#newUser' class='dropdown-item'>New User</a>
        <a data-toggle='modal' data-target='#importUsers' class='dropdown-item'>Import Users</a>
      </div>
    <% end %>
    <% if params[:search] %>
      <%= simple_form_for :search, url: organisation_path, html: { class: 'search-bar' }, method: 'GET' do |f| %>
        <%= f.input :name, placeholder: params[:search][:name], label: false %>
        <%= link_to organisation_path, class: 'search-close' do %>
          <i class="far fa-times-circle"></i>
        <% end %>
      <% end %>
    <% else %>
      <a>
        <button class="btn btn-edit-white btn-edit-icon btn-search btn-last"><i class="fas fa-search"></i></button>
      </a>
      <%= simple_form_for :search, url: organisation_path, html: { class: 'search-bar hidden' }, method: 'GET' do |f| %>
        <%= f.input :name, placeholder: 'Search', label: false %>
          <a class='search-close'>
            <i class="far fa-times-circle"></i>
          </a>
      <% end %>
    <% end %>
  </div>
</div>
<div class="training-index-dashboard flex-row-between-start">
  <div class='training-index-list-dashboard-sm'>
    <div class='training-index-list-dashboard-controls flex-row-start-centered'>
      <p class='training-index-list-dashboard-title'>Teams</p>
    </div>
    <% if params[:team_id].nil? %>
      <div class='team-index-card flex-row-between-centered active'>
        <div class="team-index-card-teamname">
          <p>All</p>
        </div>
        <div class="team-index-card-infos">
          <p><%= "#{current_user.company.users.count} members" %></p>
        </div>
        <%= link_to organisation_path, class: 'team-index-card-link' do %>
          <button id='btn-edit-filter' class="btn btn-edit-white btn-edit-icon-small btn-last"><i class="fas fa-angle-right"></i></button>
        <% end %>
      </div>
    <% else %>
      <div class='team-index-card flex-row-between-centered'>
        <div class="team-index-card-teamname">
          <p>All</p>
        </div>
        <div class="team-index-card-infos">
          <p><%= "#{current_user.company.users.count} members" %></p>
        </div>
        <%= link_to organisation_path, class: 'team-index-card-link' do %>
          <button id='btn-edit-filter' class="btn btn-edit-white btn-edit-icon-small btn-last"><i class="fas fa-angle-right"></i></button>
        <% end %>
      </div>
    <% end %>
    <% if @teams.present? %>
      <% @teams.sort_by(&:team_name).each do |team| %>
        <% if params[:team_id] == team.id.to_s %>
          <div class='team-index-card active'>
            <%= link_to team_path(team), class: 'flex-row-between-centered', style: 'width:100%' do %>
              <div class="team-index-card-teamname">
                <% if team.team_name.length < 15 %>
                  <p><%= team.team_name %></p>
                <% else %>
                  <p><%= "#{team.team_name[0..10]}..." %><span><%= team.team_name %></span></p>
                <% end %>
              </div>
              <div class="team-index-card-infos">
                <p><%= "#{team.users.count} members" %></p>
              </div>
            <% end %>
            <%= link_to organisation_path(team_id: team.id), class: 'team-index-card-link' do %>
              <button id='btn-edit-filter' class="btn btn-edit-white btn-edit-icon-small btn-last"><i class="fas fa-angle-right"></i></button>
            <% end %>
          </div>
        <% else %>
          <div class='team-index-card'>
            <%= link_to team_path(team), class: 'flex-row-between-centered', style: 'width:100%' do %>
              <div class="team-index-card-teamname">
                <% if team.team_name.length < 15 %>
                  <p><%= team.team_name %></p>
                <% else %>
                  <p><%= "#{team.team_name[0..10]}..." %><span><%= team.team_name %></span></p>
                <% end %>
              </div>
              <div class="team-index-card-infos">
                <p><%= "#{team.users.count} members" %></p>
              </div>
            <% end %>
            <%= link_to organisation_path(team_id: team.id), class: 'team-index-card-link' do %>
              <button id='btn-edit-filter' class="btn btn-edit-white btn-edit-icon-small btn-last"><i class="fas fa-angle-right"></i></i></button>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class='training-index-list-dashboard-md'>
    <div class='training-index-list-dashboard-controls flex-row-start-centered'>
      <p class='training-index-list-dashboard-title'>Users</p>
    </div>
    <% @users.each do |user| %>
      <%= link_to user_path(user) do %>
        <div class='user-index-card'>
          <img src="<%= user.picture %>" alt="" class='avatar-sm'>
          <div class="user-index-infos flex-row-between-centered">
            <div class="user-index-info">
              <% if user.fullname.length < 20 %>
                <p><%= user.fullname %></p>
              <% else %>
                <p><%= user.fullname %><span><%= user.fullname %></span></p>
              <% end %>
            </div>
            <div class="user-index-info">
              <% if user.email.length < 20 %>
                <p><%= user.email %></p>
              <% else %>
                <p><%= user.email %><span><%= user.email %></span></p>
              <% end %>
            </div>
            <div class="user-index-info">
              <% teams = '' %>
              <% user.teams.each do |team| %>
                <% if team == user.teams.last %>
                  <% teams += "#{team.team_name}" %>
                <% else %>
                  <% teams += "#{team.team_name}, " %>
                <% end %>
              <% end %>
              <% if teams.length < 20 %>
                <p><%= teams %></p>
              <% else %>
                <p><%= teams %><span><%= teams %></span></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Modals -->
<div class='modal fade' id='newTeam' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'teams/new', team: Team.new %>
  </div>
</div>

<div class='modal fade' id='newUser' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'users/new', team: User.new %>
  </div>
</div>

<div class='modal fade' id='importUsers' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'users/import', team: User.new %>
  </div>
</div>

<script>
  searchButton = document.querySelector('.btn-search');
  searchBar = document.querySelector('.search-bar');
  searchClose = document.querySelector('.search-close');
  searchButton.addEventListener('click', (event) => {
    searchButton.classList.toggle('hidden');
    searchBar.classList.toggle('hidden');
  })
  searchClose.addEventListener('click', (event) => {
    searchButton.classList.toggle('hidden');
    searchBar.classList.toggle('hidden');
  })
</script>
