<div class="organisation-main-container">
  <%= render 'organisation_ajax' %>
</div>
<div class="organisation-filter-container">
  <div class="organisation-filter-background" onclick='closeFilter();'></div>
  <div class="organisation-filter-dropright">
    <%= render 'organisation_filter_dropright' %>
  </div>
</div>
<div class="organisation-manage-users-container">
  <div class="organisation-manage-users-background" onclick='closeManager();'></div>
  <div class="organisation-manage-users-dropright">
    <%= render 'organisation_manage_users_dropright', users: @users %>
  </div>
</div>


<!-- Modals -->
<div class='modal fade' id='newUser' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'users/new', tag: User.new %>
  </div>
</div>

<div class='modal fade' id='importUsers' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'users/import', tag: User.new %>
  </div>
</div>

<script>
  formGuardian = false;
  doubleClickGuardian = false;
  setTimeout(function(){
    document.querySelector('#user_email').value = ''
    document.querySelector('#user_password').value = ''
  }, 100)

  function outsideClick(event, notelem) {
    notelem = $(notelem); // jquerize (optional)
    // check outside click for multiple elements
    var clickedOut = true, i, len = notelem.length;
    for (i = 0;i < len;i++)  {
        if (event.target == notelem[i] || notelem[i].contains(event.target)) {
            clickedOut = false;
        }
    }
    if (clickedOut) return true;
    else return false;
  }

  function openForm(element) {
    if (doubleClickGuardian == false) {
      doubleClickGuardian = true
      element.classList.toggle('hidden')
      form = element.parentNode.querySelector('.hidden-form-category-ajax')
      form.classList.toggle('hidden')
      setTimeout(function(){doubleClickGuardian = false}, 10)

      window.addEventListener('click', function(e) {
        if (outsideClick(e, form) && doubleClickGuardian == false) {
          form.classList.toggle('hidden')
          element.classList.toggle('hidden')
          this.removeEventListener('click', arguments.callee, false)
        }
      });
    }
  }

  function openFilter() {
    filter_container = document.querySelector('.organisation-filter-container');
    filter_dropright = document.querySelector('.organisation-filter-dropright');
    filter_container.style.display = 'flex';
    setTimeout(function(){
      filter_dropright.style.width = '400px';
    }, 1);
  }

  function closeFilter() {
    filter_container = document.querySelector('.organisation-filter-container');
    filter_dropright = document.querySelector('.organisation-filter-dropright');
    filter_dropright.style.width = '0px';
    setTimeout(function(){
      filter_container.style.display = 'none';
    }, 250);
  }

  function openManager() {
    manage_users_container = document.querySelector('.organisation-manage-users-container');
    manage_users_dropright = document.querySelector('.organisation-manage-users-dropright');
    manage_users_container.style.display = 'flex';
    setTimeout(function(){
      manage_users_dropright.style.width = '400px';
    }, 1);
  }

  function closeManager() {
    filter_container = document.querySelector('.organisation-manage-users-container');
    filter_dropright = document.querySelector('.organisation-manage-users-dropright');
    filter_dropright.style.width = '0px';
    setTimeout(function(){
      filter_container.style.display = 'none';
    }, 250);
  }

  rotated = 0;

  function toggleTagCategoryDropdown(element) {
    element.querySelector('i').style.webkitTransform = 'rotate('+ (rotated + 180).toString() +'deg)';
    element.querySelector('i').style.mozTransform    = 'rotate('+ (rotated + 180).toString() +'deg)';
    element.querySelector('i').style.msTransform     = 'rotate('+ (rotated + 180).toString() +'deg)';
    element.querySelector('i').style.oTransform      = 'rotate('+ (rotated + 180).toString() +'deg)';
    element.querySelector('i').style.transform       = 'rotate('+ (rotated + 180).toString() +'deg)';
    rotated = rotated + 180;
    block = element.parentNode.parentNode.parentNode.parentNode;
    if (block.style.maxHeight == '61px' || block.style.maxHeight == '') {
      block.style.maxHeight = '1000px';
      block.classList.add('active');
    } else {
      block.style.maxHeight = '61px';
      block.classList.remove('active');
    }
  }

  function hideClearFilterButton() {
    form = document.querySelector('.filter_user');
    form.querySelectorAll('.organisation-filter-block').forEach((element) => {
      checked = false;
      element.querySelectorAll('input.check_boxes').forEach((checkbox) => {
        if (checkbox.checked == true) {
          checked = true;
        }
      })
      if (checked == false) {
        element.querySelector('.organisation-filter-block-title-buttons').querySelector('p').style.opacity = '0';
      }
    })
  }

  function hideClearManagerButton() {
    form = document.querySelector('.add_tags');
    form.querySelectorAll('.organisation-manage-users-block').forEach((element) => {
      checked = false;
      element.querySelectorAll('input.check_boxes').forEach((checkbox) => {
        if (checkbox.checked == true) {
          checked = true;
        }
      })
      if (checked == false) {
        element.querySelector('.organisation-manage-users-block-title-buttons').querySelector('p').style.opacity = '0';
      } else {
        element.querySelector('.organisation-manage-users-block-title-buttons').querySelector('p').style.opacity = '1';
      }
    })
  }

  function autoSubmit(element) {
    element.parentNode.parentNode.parentNode.parentNode.querySelector('.organisation-filter-block-title-buttons').querySelector('p').style.opacity = '1';
    hideClearFilterButton();
    document.querySelector('.filter_user').querySelector('.hidden-submit').click();
  }

  function clearFilter(element) {
    block = element.parentNode.parentNode.parentNode.parentNode;
    block.querySelectorAll('input.check_boxes').forEach((element) => {
      if (element.checked == true) {
        element.checked = false;
      }
    })
    hideClearFilterButton();
    document.querySelector('.filter_user').querySelector('.hidden-submit').click();
  }

  function clearFilterManager(element) {
    block = element.parentNode.parentNode.parentNode.parentNode;
    block.querySelectorAll('input.check_boxes').forEach((element) => {
      if (element.checked == true) {
        element.checked = false;
      }
    })
    hideClearManagerButton();
  }

  function resetFilter() {
    form = document.querySelector('.filter_user');
    form.querySelectorAll('.check_boxes').forEach((element) => {
      if (element.checked == true) {
        element.checked = false;
      }
    })
    hideClearFilterButton();
    form.querySelector('.hidden-submit').click();
  }

  function removeJob(element) {
    form = document.querySelector('.filter_user');
    job = element.parentNode.getAttribute("name");
    form.querySelector('.filter_user_job').querySelectorAll('input.check_boxes').forEach((checkbox) => {
      if (checkbox.value == job) {
        checkbox.checked = false;
        form.querySelector('.hidden-submit').click();
      }
    })
  }

  function removeTag(element) {
    form = document.querySelector('.filter_user');
    job = element.parentNode.getAttribute("name");
    form.querySelectorAll('.filter_user_tag').forEach((category) => {
      category.querySelectorAll('input.check_boxes').forEach((checkbox) => {
        if (checkbox.value == job) {
          checkbox.checked = false;
          form.querySelector('.hidden-submit').click();
        }
      })
    })
  }

  function selectUser() {
    ids = []
    check_boxes = document.querySelectorAll('.select-user')
    check_boxes.forEach((checkbox) => {
      if (checkbox.checked == true) {
        ids.push(checkbox.value);
      }
    })
    document.querySelector('#add_tags_users').value = ids.join();
    if (ids.length == 0) {
      document.querySelector('#manage-users-button').classList.remove('flashing_button');
    } else {
      document.querySelector('#manage-users-button').classList.add('flashing_button');
    }
  }

  function clearInput(element) {
    form = element.parentNode.parentNode;
    form.querySelector('.hidden-submit').click();
  }

  function fetchCategoryForm(element) {
    if (doubleClickGuardian == false) {
      doubleClickGuardian = true;
      form = document.querySelector(element.getAttribute('data-target'));
      initial_top = form.offsetTop
      initial_left = form.offsetLeft
      opened_blocks = []
      document.querySelectorAll('.organisation-manage-users-block.active').forEach((block) => {
        opened_blocks.push(block.getAttribute('data-category'));
      })
      form.querySelector('.hidden-submit').value = opened_blocks.join(',');
      console.log()
      if (element.getAttribute('data-target').split('-')[0] == '#edit') {
        controls = element.parentNode.parentNode
        controls.classList.add('hidden')
        form.style.top = (element.offsetTop - 3).toString() + 'px';
        form.style.left = (element.offsetLeft.toString() - 100) + 'px'
      } else {
        form.style.top = (element.offsetTop - 3).toString() + 'px';
        form.style.left = element.offsetLeft.toString() + 'px'
      }
      element.parentNode.style.opacity = '0';
      form.classList.toggle('hidden');
      setTimeout(function(){
        doubleClickGuardian = false;
      }, 1);

      window.addEventListener('click', function(e) {
        if (outsideClick(e, form) && doubleClickGuardian == false) {
          if (element.getAttribute('data-target').split('-')[0] == '#edit') {
            controls = element.parentNode.parentNode
            controls.classList.remove('hidden')
          }
          form.style.top = initial_top.toString() + 'px';
          form.style.left = initial_left.toString() + 'px';
          element.parentNode.style.opacity = '1';
          form.classList.toggle('hidden');
          form.querySelector('input').value = '';
          this.removeEventListener('click', arguments.callee, false);
        }
      });
    }
  }

  function showDelete(element) {
    // element.parentNode.querySelector('.category-delete').classList.toggle('hidden');
    controls = element.querySelectorAll('.tag_delete');
    controls.forEach((control) => {
      if (control.style.opacity == 0) {
        control.style.opacity = 1;
      } else {
        control.style.opacity = 0;
      }
    })
  }

  function toggle(source) {
    checkboxes = document.querySelectorAll('.select-user');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = source.checked;
    }
    selectUser();
  }
</script>
