<div class="modal-content">
  <div class="modal-header modal-header__content">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Edit details for <%= content.title %></h3>
    </div>
  </div>
  <div class="modal-body">
    <div class="book-dates-modal-cost flex-row-start-centered">
      <p>Cost :</p>
      <input type="text" value="<%= '%.2f' % content.cost %>">
      <p>€</p>
    </div>
    <div class="book-dates-modal-participants flex-column-start-centered">
      <p>Participants</p>
      <% User.where(company_id: current_user.company_id, id: selected_users.split(',')).each do |user| %>
        <div>
          <input type="checkbox" id="<%= user.id %>" name="horns" checked>
          <label for="<%= user.id %>"><%= user.fullname %></label>
        </div>
      <% end %>
    </div>
    <div style=" display: flex; justify-content: center;margin-top:3rem;">
      <button type="button" class="btn-orange-text" data-dismiss="modal" aria-label="Close" onclick='editDetails(this);'>Confirm</button>
    </div>
  </div>
</div>
