
<div class='bkt-bg-white bkt-page-container-min-height d-flex justify-content-start align-items-center flex-column'
  style='min-height: calc(100vh - 7.5rem);'
>
  <div class="bkt-page-container-content mb-4"
    data-controller='permissions-form'
  >
    <div class="d-flex justify-content-center align-items-center mb-4">
      <h1>Permissions</h1>
    </div>

    <div class="fs-1_6rem my-3rem bkt-dark-grey">
      <span class="font-weight-900">Choose a preset role</span>
      <span class="fs-1_6rem bkt-light-grey italic">(optionnal)</span>
    </div>


    <div class="flex gap-1rem pb-2rem">
    <%= render_component RadioButtonTileComponent.new(
      model: :permission_preset,
      name: :employee,
      checked: false,
      title: "Employee",
      subtitle: "For lambda users.<br>This role concerns only the user and his/her personnal tasks.",
      data_actions: 'change->permissions-form#select',
      data_attributes: {
        cans: User::EMPLOYEE_PERMISSIONS.cans,
        cants: User::EMPLOYEE_PERMISSIONS.cants
      }
    ) do %>
      <span class="iconify fs-3rem" data-icon="emojione:hammer"></span>
    <% end %>

    <%= render_component RadioButtonTileComponent.new(
      model: :permission_preset,
      name: :manager,
      checked: false,
      title: "Manager",
      subtitle: "For team manager users.<br>This role allow user to manage and follow his/her team, plus his/her personnal tasks.",
      data_actions: 'change->permissions-form#select',
      data_attributes: {
        cans: User::MANAGER_PERMISSIONS.cans,
        cants: User::MANAGER_PERMISSIONS.cants
      }
    ) do %>
      <span class="iconify fs-3rem" data-icon="emojione:hammer-and-pick"></span>
    <% end %>

    <%= render_component RadioButtonTileComponent.new(
      model: :permission_preset,
      name: :admin,
      checked: false,
      title: "Administrator",
      subtitle: "For top management and HR.<br>This role has high access levels to handle the whole company and staff.",
      data_actions: 'change->permissions-form#select',
      data_attributes: {
        cans: User::ADMIN_PERMISSIONS.cans,
        cants: User::ADMIN_PERMISSIONS.cants
      }
    ) do %>
      <span class="iconify fs-3rem" data-icon="emojione:hammer-and-wrench"></span>
    <% end %>
    </div>


    <div class="fs-1_6rem pb-2rem bkt-dark-grey font-weight-900">
      Manage granted access
    </div>

    <div class="flex items-center justify-content-between fs-1_4rem w-full bkt-light-grey border-bottom-bkt-light-grey">
      <div>Feature</div>
      <div>Grant access</div>
    </div>

      <%= simple_form_for @user, url: user_permissions_path(@user), method: :patch, local: true do |f| %>
        <% User::ADMIN_PERMISSIONS.keys.each do |permission| %>
          <div class='flex items-center justify-content-between fs-1_4rem w-full py-2'>
            <div><%= permission.to_s.gsub('_', ' ').capitalize %></div>
            <%= render_component ToggleSwitch.new(name: "user[#{permission}]", checked: @user.send(permission)) %>
          </div>
        <% end %>
        <input
          type="texr"
          name="user[strong_params_passer]"
          class="hidden"
          value='true'
        />
        <div class="flex flex-column justify-center items-center mt-5 w-full">
          <%= button_tag 'Save', type: 'submit', class: 'bkt-btn-white' %>
        </div>
      <% end %>
    </div>
</div>
