<div class='bkt-bg-white bkt-page-container-min-height d-flex justify-content-start align-items-center flex-column'
  style='min-height: calc(100vh - 7.5rem);'>

  <div class="bkt-page-container-content mb-10rem pos-rel"
    data-controller='permissions-form'>

    <div class="pos-abs"
         style="top: 0; left: -10rem;">
      <%= render_component Buttons::BackButton.new(fallback: user_path(@user), force_fallback: true) %>
    </div>

    <div class="d-flex justify-content-center align-items-center mb-4">
      <h1 class="fs-3rem font-weight-700">Permissions</h1>
    </div>

    <div class="fs-1_6rem my-3rem bkt-dark-grey">
      <span class="font-weight-900">Choose a preset role</span>
      <span class="fs-1_6rem bkt-light-grey italic">(optional)</span>
    </div>


    <div class="flex gap-1rem pb-2rem">
    <%= render_component RadioButtonTileComponent.new(
      model: :permission_preset,
      name: :employee,
      checked: false,
      title: "Employee",
      subtitle: "For standard users.<br>This role concerns only the user and his/her personal tasks.",
      data_actions: 'change->permissions-form#select',
      data_attributes: {
        cans: User::EMPLOYEE_PERMISSIONS.cans,
        cants: User::EMPLOYEE_PERMISSIONS.cants
      },
      checked_color: 'dark-grey'
    ) do %>
      <span class="iconify fs-5rem" data-icon="noto:hammer"></span>
    <% end %>

    <%= render_component RadioButtonTileComponent.new(
      model: :permission_preset,
      name: :manager,
      checked: false,
      title: "Manager",
      subtitle: "For team manager users.<br>This role allow user to manage and follow his/her team, plus his/her personnal tasks.",
      data_actions: 'change->permissions-form#select',
      data_attributes: {
        cans: User::MANAGER_PERMISSIONS.cans,
        cants: User::MANAGER_PERMISSIONS.cants
      },
      checked_color: 'dark-grey'
    ) do %>
    <span class="iconify fs-5rem" data-icon="noto:hammer-and-pick"></span>
    <% end %>

    <%= render_component RadioButtonTileComponent.new(
      model: :permission_preset,
      name: :admin,
      checked: false,
      title: "Administrator",
      subtitle: "For top management and HR.<br>This role has high access levels to handle the whole company and staff.",
      data_actions: 'change->permissions-form#select',
      data_attributes: {
        cans: User::ADMIN_PERMISSIONS.cans,
        cants: User::ADMIN_PERMISSIONS.cants
      },
      checked_color: 'dark-grey'
    ) do %>
      <span class="iconify fs-5rem" data-icon="noto:hammer-and-wrench"></span>
    <% end %>
    </div>


    <div class="fs-1_6rem bkt-dark-grey font-weight-500">
      Manage granted access
    </div>

    <%= simple_form_for @user, url: user_permissions_path(@user), method: :patch, local: true do |f| %>

      <input id="customAccessLevelIntField" name="user[access_level_int]" type="hidden">

      <div class="pos-rel">

        <% User::PERMISSIONS_DISPLAY.each do |group| %>

          <div class="flex items-center justify-content-between mt-2rem fs-1_4rem w-full bkt-light-grey border-bottom-bkt-light-grey">
            <div><%= group.keys.first.capitalize %></div>
            <div>Grant access</div>
          </div>

          <% group.values.flatten.each do |obj| %>
            <div class='flex items-center justify-content-between fs-1_4rem w-full py-2'>
              <div class="width-90">
                <p class="fs-1_4rem font-weight-600"><%= obj.title %></p>
                <p class="fs-1_2rem font-weight-500 italic"><%= obj.description %></p>
              </div>
              <%= render_component ToggleSwitch.new(
                name: "user[#{obj.permission}]",
                checked: @user.send(obj.permission),
                remember_initial_state: true) %>
            </div>
          <% end %>

        <% end %>

        <input
          type="text"
          name="user[strong_params_passer]"
          class="hidden"
          value='true'
        />

        <div id="control-buttons"
             class="flex justify-center items-center mt-5 w-full pos-fix py-2rem hidden" style='bottom: 0; left: 0; right: 0;'>
          <%= link_to 'Reset', edit_user_permissions_path(@user), class: 'bkt-btn-white-dark-grey' %>
          <div class="mx-4"></div>
          <%= button_tag 'Apply changes', type: 'submit', class: 'bkt-btn-dark-grey' %>
        </div>

      </div>

    <% end %>

  </div>
</div>
