<h2>Programs</h2>
<div class="catalogue-row folders-row">
  <% folders.each do |folder| %>
    <div class="catalogue-card-container" id="folder-<%= folder.id %>">
      <div class="catalogue-card-container__overlay"></div>
      <% if selected_folder != folder.id.to_s %>
        <input type="checkbox" class="book-contents-checkbox hidden" id="checkbox-folder-<%= folder.id %>">
      <% else %>
        <input type="checkbox" class="book-contents-checkbox hidden" id="checkbox-folder-<%= folder.id %>" checked='true'>
      <% end %>
      <%= render 'pages/partials/catalogue_folder_card', folder: folder %>
      <button class="book-select__folder" onclick='selectContent(this);'>SELECT</button>
    </div>
  <% end %>
</div>
<h2>Workshops</h2>
<div class="catalogue-row contents-row">
  <% contents.each do |content| %>
    <div class="catalogue-card-container" id="content-<%= content.id %>">
      <div class="catalogue-card-container__overlay"></div>
      <% if selected_content != content.id.to_s %>
        <input type="checkbox" class="book-contents-checkbox hidden" id="checkbox-content-<%= content.id %>">
      <% else %>
        <input type="checkbox" class="book-contents-checkbox hidden" id="checkbox-content-<%= content.id %>" checked>
      <% end %>
      <%= render 'pages/partials/catalogue_content_card', content: content %>
      <button class="book-select__content" onclick='selectContent(this);'>SELECT</button>
    </div>
  <% end %>
</div>

