<div class="booklet-folder-card">
  <div class="booklet-folder-card-top booklet-card-top">
    <% if params[:action] == 'catalogue' %>
      
      <div class="booklet-folder-card__options" onclick="openContentMenu(this);">
        <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
          <i class="fas fa-ellipsis-v"></i>
          <div class="content-dropdown hidden">
            <%= link_to 'Recommendation', recommendation_path(folder_id: folder.id) %>
            <%= link_to 'Edit', edit_folder_path(folder) %>
            <%= link_to 'Duplicate', duplicate_folder_path(folder) %>
            <%= link_to 'Delete', folder_path(folder, catalogue: 'true'), method: :delete, data: {confirm: 'Are you sure ?'}%>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="booklet-folder-card__top-info">
      <div>
        <i class="fas fa-folder"></i>
        <%= link_to folder_path(folder) do %>
          <h3 data-toggle='tooltip' title='<%= folder.title %>'><b><%= folder.title %></b></h3>
        <% end %>
      </div>
      <div>
        <p class='booklet-folder-card__duration'><%= folder.duration %> Minutes</p>
        <% if folder.children_contents.map{|x| x.content_type}.include?('Synchronous') %>
          <div class="booklet-folder-card-type-icon">
            <i class="fas fa-chalkboard-teacher" style='color:rgba(91, 146, 197, 1);'></i>
            <p style='color:rgba(91, 146, 197, 1);'>In Person</p>
          </div>
        <% end %>
        <% if folder.children_contents.map{|x| x.content_type}.include?('Asynchronous') %>
          <div class="booklet-folder-card-type-icon">
            <i class="fas fa-laptop" style='color:rgba(91, 146, 197, 1);'></i>
            <p style='color:rgba(91, 146, 197, 1);'>Online</p>
          </div>
        <% end %>
        <% if UserInterest.where(folder_id: folder.id).where.not(recommendation: nil).present? %>
          <p class="px-3" style='color:rgba(91, 146, 197, 1);'>
            <strong>R</strong>
          </p>
        <% end %>
      </div>
    </div>
    <div class="booklet-folder-card__categories">
      <% folder.categories.limit(3).each do |category| %>
        <div class="booklet-folder-card__category-pill">
          <p><%= category.title %></p>
        </div>
      <% end %>
      <% unless folder.categories.count >= 3 %>
        <% folder.children_categories.first(3 - folder.categories.count).each do |category| %>
          <div class="booklet-content-card__category-pill">
            <p><%= category.title %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="booklet-folder-card-bottom booklet-folder-card-tree">
    <%= render 'pages/partials/catalogue_folder_card_tree', folder: folder %>
  </div>
</div>

