<div class="trainings-container-card <%= "past-training" if training.past?%>" id="training-<%= training.id %>">
  <% online_sessions = training.sessions.where('available_date >= ?', Date.today) %>
  <% if training.next_session.present? %>
    <div class="next-session-date">
      <%= training.next_session.date %>
    </div>
  <% elsif online_sessions.present? %>
    <div class="next-session-date">
      Ends on <%= online_sessions.order(available_date: :asc).first.available_date %>
    </div>
  <% end %>
  <div class="trainings-card d-flex flex-column">
  <%# <i class="fas fa-ellipsis-v infos-points light-blue-i"></i> %>
    <div class="card-main-content">
      <div class="title d-flex flex-row p-0">
        <i class="fas fa-folder mx-3"></i>
        <h3><%= link_to training.title, training_path(training) %></h3>
      </div>
      <div class="infos-second-line d-flex flex-row">
        <p class="mx-3"><%= TimeConversion.convert(training.duration) %></p>
        <% if training.synchronous? %>
          <i class="fas fa-user small-i light-blue-i"></i>
          <p class="mx-3">Live</p>
        <% end %>
        <% if training.asynchronous? %>
          <i class="fas fa-desktop ml-3 small-i light-blue-i"></i>
          <p class="mx-3">Online</p>
        <% end %>

        <% unless training.folder.nil? %>
          <div class="d-inline-flex ml-3 align-items-center">
            <p class="light-blue-i"><%= training.folder.children_folders.count %></p>
            <i class="fas fa-folder small-i mx-3 light-blue-i"></i>
          </div>
        <% end %>
        <div class="d-inline-flex ml-3 align-items-center">
          <p class="light-orange-i"><%= training.workshops.count %></p>
          <i class="fas fa-file small-i mx-3 light-orange-i"></i>
        </div>
      </div>
    </div>
    <div class="card-themes">
      <% if training.folder.nil? %>
        <% training.workshops.each do |workshop| %>
          <% workshop.content.categories.limit(3).each do |category| %>
            <div class="booklet-content-card__category-pill">
              <p><%= category.title %></p>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <% folder_categories = training.folder.categories.first(3) %>
        <% folder_categories.each do |category| %>
          <div class="booklet-folder-card__category-pill">
            <p><%= category.title %></p>
          </div>
        <% end %>
        <% content_categories = training.folder.children_categories.first(3 - folder_categories.count) %>
        <% content_categories.each do |category| %>
          <div class="booklet-content-card__category-pill">
            <p><%= category.title %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
