<div class="dashboard-grid">
  <div class="dashboard-navigation">
    <div class="trainings-nav">
      <ul class="nav nav-tabs-trainings">
        <% if @recommendations.count > 0 %>
          <li role="presentation" id='pending_recommendation'><a href="#PendingRecommendation" data-toggle="tab" class='active'>Pending</a></li>
        <% else %>
          <li role="presentation"><a href="#PendingRecommendation" data-toggle="tab" class='active'>Pending</a></li>
        <% end %>
        <li role="presentation"><a href="#AnsweredRecommendation" data-toggle="tab">Answered</a></li>
      </ul>
      <%= render 'shared/searchbar_recommendations' %>
    </div>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="PendingRecommendation">
        <h2><%= "Results : " if params[:search_recommendations].present? %><%= @pending_recommendations.count %> recommendation<%= "s" if @pending_recommendations.count > 1 %></h2>
        <div class="cards-recommended"> 
          <div class="catalogue-row contents-row">
            <% @pending_recommendations.each do |recommendation| %>
              <div class="catalogue-card-container">
              <% if recommendation.content.class.name == 'Folder' %>
                <%= render 'pages/partials/catalogue_folder_card', folder: recommendation.content %>
                
              <% else %>
                <%= render 'pages/partials/catalogue_content_card', content: recommendation.content %>
                
              <% end %>

                <a data-toggle='modal' data-target='#answerRecommendation-<%= recommendation.content.id %>' class='catalogue-content-card-right-menu'>
                  <div class="recommendation-btn-card btn-card-workshop d-flex justify-content-center">
                    <% if ['Super Admin', 'Account Owner', 'HR'].include?(current_user.access_level) %>
                      <%= "ANSWER FOR #{recommendation.user.fullname}" %> 
                    <% else %>
                      <%= "ANSWER" %> 
                    <% end %>

                  </div>
                </a>

                <div class='modal fade' id='answerRecommendation-<%= recommendation.content.id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
                  <div class='modal-dialog' role='document' style='border-radius: 20px'>
                    <%= render 'pages/recommendation_modal', content: recommendation.content, interest: recommendation %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="AnsweredRecommendation">
        <div class="cards-recommended">  
          
        </div>
      </div>
    </div>
  </div>
</div>

