<div class="dashboard-grid">
  <div class="dashboard-navigation">
    <div class="trainings-nav">
      <ul class="nav nav-tabs-trainings">
        <% if @recommendations.count > 0 %>
          <li role="presentation" id='pending_recommendation'><a href="#PendingRecommendation" data-toggle="tab" class='active'>Pending</a></li>
        <% else %>
          <li role="presentation"><a href="#PendingRecommendation" data-toggle="tab" class='active'>Pending</a></li>
        <% end %>
        <li role="presentation"><a href="#AnsweredRecommendation" data-toggle="tab">Answered</a></li>
      </ul>
      <%= render 'shared/searchbar_recommendations' %>
    </div>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="PendingRecommendation">
        <h2><%= "Results : " if params[:search_recommendations].present? %><%= @pending_recommendations.count %> recommendation<%= "s" if @pending_recommendations.count > 1 %></h2>
        <div class="cards-recommended"> 
          <div class="catalogue-row contents-row">

            <% @recommendations.each do |recommendation| %>
              <div class="catalogue-card-container">
              <% if recommendation.content.class.name == 'Folder' %>
                <%= render 'pages/partials/catalogue_folder_card', folder: recommendation.content %>
                <button class="recommendation-btn-card btn-card-folder">ANSWER</button>
              <% else %>
                <%= render 'pages/partials/catalogue_content_card', content: recommendation.content %>
                <button class="recommendation-btn-card btn-card-workshop">ANSWER</button>
              <% end %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="AnsweredRecommendation">
        <div class="cards-recommended">  
          
        </div>
      </div>
    </div>
  </div>
</div>
