<div class="trainings-container-card <%= "past-training" if training.past?%>" id="training-<%= training.id %>">
  <% unless training.next_session.nil? %>
    <div class="next-session-date">
      <%= training.next_session.date %>
    </div>
  <% end %>
  <div class="trainings-card d-flex flex-column">
  <%# <i class="fas fa-ellipsis-v infos-points light-blue-i"></i> %>
    <div class="card-main-content">
      <div class="title d-flex flex-row p-0">
        <i class="fas fa-folder mx-3"></i>
        
        <h3><%= link_to training.title, training_path(training) %></h3>
      </div>
      <div class="infos-second-line d-flex flex-row">
        <p class="mx-3"><%= training.duration unless training.duration == 0 %></p>
        <% if training.synchronous? %>
          <i class="fas fa-user small-i light-blue-i"></i>
          <p class="mx-3">Live</p>
        <% end %>
        <% if training.asynchronous? %>
          <i class="fas fa-desktop small-i light-blue-i"></i>
          <p class="mx-3">Online</p>
        <% end %>

        <div class="d-inline-flex ml-3 align-items-center">
          <p class="light-blue-i">2</p>
          <i class="fas fa-folder small-i mx-3 light-blue-i"></i>
        </div>
        <div class="d-inline-flex align-items-center">
          <p class="light-orange-i">3</p>
          <i class="fas fa-file small-i mx-3 light-orange-i"></i>
        </div>
      </div>
    </div>
    <div class="card-themes">
      <div class="tag-themes">theme 1</div>
      <div class="tag-themes">theme 2</div>
      <div class="tag-themes">theme 3</div>
    </div>
  </div>
</div>