<div role="tabpanel" class="tab-pane active" id="PendingRecommendation">
  <h2><%= "Results : " if params[:search_recommendations].present? %><%= @pending_recommendations.count %> recommendation<%= "s" if @pending_recommendations.count > 1 %></h2>
  <div class="cards-recommended">
    <div class="catalogue-row-recommendations contents-row">
      <% @pending_recommendations.each do |recommendation| %>
        <div class="catalogue-card-container">
          <% if recommendation.folder_id.present? %>
            <%= render 'pages/partials/catalogue_folder_card', folder: recommendation.folder %>
          <% else %>
            <%= render 'pages/partials/catalogue_content_card', content: recommendation.content %>
          <% end %>
          <% if recommendation.user_id == current_user.id %>
            <% if recommendation.folder_id.present? %>
              <a data-toggle='modal' data-target='#answerRecommendation-folder-<%= recommendation.folder_id %>' class='catalogue-content-card-right-menu'>
            <% else %>
              <a data-toggle='modal' data-target='#answerRecommendation-content-<%= recommendation.content_id %>' class='catalogue-content-card-right-menu'>
            <% end %>
                <div class="recommendation-btn-card btn-card-workshop d-flex justify-content-center">
                  <%= "ANSWER" %>
                </div>
              </a>
            <% if recommendation.folder_id.present? %>
              <div class='modal fade' id='answerRecommendation-folder-<%= recommendation.folder_id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
            <% else %>
              <div class='modal fade' id='answerRecommendation-content-<%= recommendation.content_id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
            <% end %>
              <div class='modal-dialog' role='document' style='border-radius: 20px'>
                <%= render 'pages/modals/recommendation_modal', content: recommendation&.content, folder: recommendation&.folder, interest: recommendation %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div role="tabpanel" class="tab-pane" id="AnsweredRecommendation">
  <h2><%= "Results : " if params[:search_recommendations].present? %><%= @accepted_recommendations.count %> accepted recommendation<%= "s" if @accepted_recommendations.count > 1 %></h2>
  <div class="cards-recommended">
    <div class="catalogue-row-recommendations contents-row">
      <% @accepted_recommendations.each do |recommendation| %>
        <div class="catalogue-card-container">
          <% if recommendation.folder_id.present? %>
            <%= render 'pages/partials/catalogue_folder_card', folder: recommendation.folder %>
          <% else %>
            <%= render 'pages/partials/catalogue_content_card', content: recommendation.content %>
          <% end %>
          <% if recommendation.user_id == current_user.id %>
            <% if recommendation.folder_id.present? %>
              <a data-toggle='modal' data-target='#answerRecommendation-folder-<%= recommendation.folder_id %>' class='catalogue-content-card-right-menu'>
            <% else %>
              <a data-toggle='modal' data-target='#answerRecommendation-content-<%= recommendation.content_id %>' class='catalogue-content-card-right-menu'>
            <% end %>
              <div class="recommendation-btn-card btn-card-workshop d-flex justify-content-center">
                <%= recommendation.recommendation.upcase %>
              </div>
            </a>
            <% if recommendation.folder_id.present? %>
              <div class='modal fade' id='answerRecommendation-folder-<%= recommendation.folder_id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
            <% else %>
              <div class='modal fade' id='answerRecommendation-content-<%= recommendation.content_id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
            <% end %>
              <div class='modal-dialog' role='document' style='border-radius: 20px'>
                <%= render 'pages/modals/recommendation_modal', content: recommendation&.content, folder: recommendation&.folder, interest: recommendation %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <h2><%= "Results : " if params[:search_recommendations].present? %><%= @declined_recommendations.count %> declined recommendation<%= "s" if @declined_recommendations.count > 1 %></h2>
  <div class="cards-recommended">
    <div class="catalogue-row-recommendations contents-row">
      <% @declined_recommendations.each do |recommendation| %>
        <div class="catalogue-card-container">
          <% if recommendation.folder_id.present? %>
            <%= render 'pages/partials/catalogue_folder_card', folder: recommendation.folder %>
          <% else %>
            <%= render 'pages/partials/catalogue_content_card', content: recommendation.content %>
          <% end %>
          <% if recommendation.user_id == current_user.id %>
            <% if recommendation.folder_id.present? %>
              <a data-toggle='modal' data-target='#answerRecommendation-folder-<%= recommendation.folder_id %>' class='catalogue-content-card-right-menu'>
            <% else %>
              <a data-toggle='modal' data-target='#answerRecommendation-content-<%= recommendation.content_id %>' class='catalogue-content-card-right-menu'>
            <% end %>
              <div class="recommendation-btn-card btn-card-workshop d-flex justify-content-center">
                <%= recommendation.recommendation.upcase %>
              </div>
            </a>
            <% if recommendation.folder_id.present? %>
              <div class='modal fade' id='answerRecommendation-folder-<%= recommendation.folder_id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
            <% else %>
              <div class='modal fade' id='answerRecommendation-content-<%= recommendation.content_id %>' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
            <% end %>
              <div class='modal-dialog' role='document' style='border-radius: 20px'>
                <%= render 'pages/modals/recommendation_modal', content: recommendation&.content, folder: recommendation&.folder, interest: recommendation %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
