<div class="dashboard-grid">
  <div class="dashboard-navigation">
    <div class="trainings-nav">
      <div class="nav nav-tabs-trainings">
        <%# <li role="presentation"><a href="#CurrentPersonal" data-toggle="tab" class='active'>Current</a></li> %>
        <%# <li role="presentation"><a href="#UpcomingPersonal" data-toggle="tab">Upcoming</a></li> %>
        <%# <li role="presentation"><a href="#CompletedPersonal" data-toggle="tab">Past</a></li> %>
      </div>

      <%= render 'shared/searchbar_trainings' %>
    
    </div>


    <% if @current_trainings.empty? && params[:search_trainings].present? %>
      <h1>No results</h1>
    <% else %>
      <h1><%= "Results : " if params[:search_trainings].present? %><%= @current_trainings.count %> training<%= "s" if @current_trainings.count > 1 %></h1>
      <div class="row current-trainings">
        <% @current_trainings.each do |training| %>
          <%= render '/pages/partials/dashboard_trainings_card', training: training %>
        <% end %>
      </div>
    <% end %>
          
  </div>
</div>
