<div class='user-index-card__inner d-flex flex-row'>
  <% user = @user if @user.present? %>
  <div class="user-index-info">
    <input class='select-user' id='checkbox-<%= user.id %>' type="checkbox" value="<%= user.id %>" onclick='selectUser(this);'>
  </div>
  <div class="user-index-info streched-link">
  <%= link_to user_path(user) do %>
    <img src="<%= user.picture %>" alt="<%= user.fullname %>" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
    <p class='user-name' data-toggle="tooltip" title="<%= user.fullname %>" style='color: #F26419'><b><%= user.lastname %> <%= user.firstname %></b></p>
  <% end %>
  </div>
  <div class="user-index-info">
    <%= link_to user_path(user) do %>
      <p data-toggle="tooltip" title="<%= user.email %>"><%= user.email %></p>
    <% end %>
  </div>
  <div class="user-index-info">
    <%= link_to user_path(user) do %>
      <p data-toggle="tooltip" title="<%= user.manager&.fullname %>"><%= user.manager&.fullname %></p>
    <% end %>
  </div>

  <% unless @tag_categories.nil? %>
    <% @tag_categories.order(position: :asc).each do |tag_cat| %>
      <div class="user-index-info">
        <% user.user_tags.where(tag_category_id: tag_cat.id).each do |user_tag| %>
          <p><%= user_tag.tag.tag_name %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
