<div class="headers-div">
  <input type="checkbox" onclick="toggle(this);">
</div>
<div class="headers-div">
  <p>Name</p>
</div>
<div class="headers-div">
  <p>Email</p>
</div>
<div class="headers-div">
  <p>Access Level</p>
</div>
<div class="headers-div">
  <p>Manager</p>
</div>
<div class="headers-div">
  <p>Other Tag</p>
</div>

<% unless @tag_categories.empty? %>
  <% @tag_categories.order(position: :asc).each do |tag_category| %>
    <div class="headers-div">
      <% if params[:edit] == "edit" %>
        <% if tag_category.position > 1 %>
          <%= link_to organisation_path(edit: "edit", tag_postion: 'left', tag_category_id: tag_category.id, users: users.map(&:id).join(',')) do %>
            <i class="fas fa-chevron-left pr-3 move-tag-category"></i>
          <% end %>
        <% end %>
      <% end %>
      <p><%= tag_category.name %></p>
      <% if params[:edit] == "edit"  %>
        <% if tag_category.position < @tag_categories.count %>
          <%= link_to organisation_path(edit: "edit", tag_postion: 'right', tag_category_id: tag_category.id, users: users.map(&:id).join(',')) do %>
            <i class="fas fa-chevron-right pl-3 move-tag-category"></i>
          <% end %>
        <% end %>
      <% end %>
      <% if params[:edit] == "edit"  %>
        <%= link_to tag_category_path(tag_category), data: { confirm: "Are you sure?" }, method: :delete do %>
          <i class="fas fa-times delete-tag-category"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if params[:edit] == "edit" %>
    <%= link_to organisation_path(edit: "none") do %>
      <i class="fas fa-check editing-tag-category"></i>
    <% end %>
  <% elsif params[:edit] == "none" || !params[:edit].present? %>
    <%= link_to organisation_path(edit: "edit") do %>
      <%# <i class="fas fa-pencil-alt editing-tag-category"></i> %>
    <% end %>
  <% end %>
<% end %>
