<div id='company-index'>
  <div id="company-index-controls">
    <h3>Companies List</h3>
    <div id="company-index-buttons">
      <%= simple_form_for :search, url: companies_path, method: 'GET' do |f| %>
        <%= f.input :name, placeholder: 'Search', label: false %>
        <% if params[:search] %>
          <%= link_to companies_path, class: 'company-index-search-close' do %>
            <i class="far fa-times-circle"></i>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.access_level == 'Super Admin' %>
        <%= link_to new_company_path do %>
          <button class="btn btn-edit">New Company</button>
        <% end %>
      <% end %>
    </div>
  </div>
  <ul class='company-index-list'>
    <% @companies.each do |company| %>
      <li>
        <%= link_to company_path(company) do %>
          <div class="company-index-card">
            <div class='company-index-name-logo'>
              <img class='company-index-logo-index' src='<%= "#{company.logo}" %>'>
            </div>
            <div class="company-index-infos">
              <div class="company-index-type-address">
                <p><%= company.name %></p>
                <% company.address.split(',').each do |el| %>
                  <p><%= el %></p>
                <% end %>
                <p><%= company.zipcode %> <%= company.city %></p>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
