<%= link_to companies_path, class: 'btn return-arrow' do %><i class='fas fa-arrow-left'></i><% end %>
<div class='centered-card-show'>
  <div class='company-show-card'>
    <div>
      <img src='<%= @company.logo %>' class='company-show-logo'>
      <div class='training-info-headers-buttons'>
        <% if ['Super Admin', 'HR'].include? current_user.access_level %>
          <a class='edit-fafa btn btn-edit btn-edit-icon' data-toggle='modal' data-target='#editCompany'><i class='fas fa-pen'></i></a>
        <% end %>
      </div>
    </div>
    <p><%= @company.name %></p>
    <% @company.address.split(',').each do |el| %>
      <p style='margin:0;'><%= el %></p>
    <% end %>
    <p><%= @company.zipcode %> <%= @company.city %></p>
  </div>
</div>


<!-- Modal -->
<div class='modal fade' id='editCompany' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'edit', company: @company %>
  </div>
</div>
