<div id="content-show__settings" class='bkt-bg-white mb-2rem p-2rem rounded-10px'>
  <div class='flex-row-between-centered mb-2rem pb-1rem border-bottom-bkt-light-grey5'>
    <p>Workshop</p>
    <%= link_to edit_content_path(content) do %>
      <div class="centered-item height-2_5rem width-2_5rem">
        <span class="iconify fs-2_4rem bkt-orange" data-icon="ci:edit"></span>
      </div>
    <% end %>
  </div>
  <div class="flex-row-between-centered mb-2rem">
    <div class="flex-row-between-centered">
      <div class="centered-item height-2_5rem width-2_5rem mr-1rem">
        <span class="iconify fs-1_6rem bkt-orange"
          data-icon="<%= content.synchronous? ? 'fa6-solid:user-group' : 'heroicons-outline:status-online' %>">
        </span>
      </div>
      <p class='fs-1_4rem bkt-dark-grey'><%= content.synchronous? ? 'Face-to-face' : 'Online' %></p>
    </div>
    <div class="flex-row-between-centered p-0_75rem border-bkt-dark-grey rounded-20px">
      <div class="centered-item height-2_5rem width-2_5rem">
        <span class="iconify fs-1_6rem bkt-dark-grey" data-icon="akar-icons:clock"></span>
      </div>
      <p class='fs-1_4rem bkt-dark-grey'><%= TimeConversion.convert(content.duration) %></p>
    </div>
  </div>
  <div class='flex-row-start-centered mb-2rem pb-1rem border-bottom-bkt-light-grey5'>
    <p>Workshop tags</p>
  </div>
  <div id="template-edit__tags" class="flex-wrap mt-2rem">
    <%= render 'contents/show/show_content_tags_list', content: content %>
  </div>
</div>
