<div class="mailer-banner">
  <div class="mailer-banner-row">
    <div class="mailer-banner-row-image">
      <%= email_image_tag('Booklet-logo.png') %>
    </div>
  </div>
</div>
<div class="mailer-container">
  <div class="mailer-text">
    <div class="mailer-text-image">
      <%= email_image_tag('noto-v1_eleven-oclock.png') %>
    </div>

    <% if @time_remaining > 0 %>
      <h2>Only <%= @time_remaining %> days left !</h2>
    <% else %>
      <h2>Last day of the campaign !</h2>
    <% end %>
    <p>You have yet to submit your answers for the campaign <%= @interview.campaign.title %>,<br> don't forget to do it !</p>
    <br>
    <div class="mailer-button">
      <%= link_to 'Go to my review', interview_url(@interview) %>
    </div>
    <span>Please do not answer this email</span>
  </div>
</div>
