<% content_for :title do %>
  Welcome on board !
<% end %>
<% content_for :subtitle do %>
  Please enter your password.
<% end %>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f| %>
  <%= f.input :email,
              required: true,
              input_html: {
                autocomplete: "email", class: 'bkt-bg-light-grey',
                data: {
                  controller: 'back',
                  action: 'click->back#back'
                }
              },
              label_html: { class: 'font-weight-500' } %>
  <%= f.input :password,
              required: true,
              autofocus: true,
              input_html: { autocomplete: "current-password" },
              label_html: { class: 'font-weight-500 mb-3' } %>
  <div class="flex-row-between-centered">
    <div class="">
      <%= f.input :remember_me, as: :boolean, label_html: { class: 'fs-1rem ml-1rem py-1' } if devise_mapping.rememberable? %>
    </div>
    <div class="">
      <% if devise_mapping.recoverable? && controller_name != 'passwords' %>
        <%# link_to "Forgot your password", new_password_path(resource_name), class: 'fs-1rem ml-2 py-1 font-weight-500 underline' %>
      <% end %>
    </div>
  </div>
  <div class="">
    <%= f.button :submit, "Sign in", class: 'width-100 bkt-bg-dark-grey bkt-white rounded-2px mt-4 p-3' %>
  </div>
<% end %>
