<% content_for :title do %>
  Welcome on board !
<% end %>
<% content_for :subtitle do %>
  Please enter your email.
<% end %>

<%= render 'shared/flashes' %>

<div class="flew-row">
  <%= simple_form_for(resource, url: u_check_path) do |f| %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                label_html: { class: 'font-weight-500' }
    %>
    <div class="">
      <button class="width-100 fs-1_6rem bkt-bg-dark-grey bkt-white rounded-2px mt-4 p-3">Continue</button>
    </div>
  <% end %>
  <%= button_to user_google_oauth2_omniauth_authorize_path,
                :class => "flex-row-center-centered border-bkt-light-grey fs-1_6rem bkt-box-shadow-light width-100 bkt-bg-white bkt-dark-grey rounded-2px mt-4 p-3",
                :method => :post do %>
    <span class="iconify mr-3" data-width="20" data-height="20" data-icon="flat-color-icons:google"></span>
    Sign in with Google
  <% end %>
  <%= button_to user_facebook_omniauth_authorize_path,
                :class => "flex-row-center-centered border-bkt-light-grey fs-1_6rem bkt-box-shadow-light width-100 bkt-bg-white bkt-dark-grey rounded-2px mt-4 p-3",
                :method => :post do %>
    <span class="iconify mr-3" data-width="20" data-height="20" data-icon="flat-color-icons:facebook"></span>
    Sign in with Facebook
  <% end %>
</div>
