<% campaign_type_svg = {
      'crossed' => 'uil:exchange',
      'simple' => 'mdi:star-shooting'
    } %>

<% @campaigns.each do |campaign| %>

  <% campaign_type = campaign.crossed? ? 'Cross' : 'Simple' %>
  <% manager = campaign.owner %>
  <% template_title = campaign.interview_form.title %>
  <% completion = campaign.completion_for(:all) %>
  <% completion_status =
      if completion == 100
        'completed'
      elsif completion > 0
        'ongoing'
      else
        'not-started'
      end %>

  <div class="campaigns-index__list-line" id='campaign-line-<%= campaign.id %>'>
    <%= link_to '', campaign_path(campaign), class: 'stretched-link' %>
    <div class="campaigns-index__list-line-element">
      <div class="campaigns-index__list-line-icon">
        <span class="iconify" data-icon="<%= campaign_type_svg[campaign.campaign_type] %>"></span>
      </div>
      <p><%= campaign_type %></p>
    </div>
    <div class="campaigns-index__list-line-element">
      <img src="<%= manager.picture %>" alt="<%= manager.fullname %>" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
      <p><%= manager.fullname %></p>
    </div>
    <div class="campaigns-index__list-line-element">
      <p class='template-title' title='<%= template_title %>'><%= template_title %></p>
    </div>
    <div class="campaigns-index__list-line-element campaigns-index__list-element-employee">
      <p><%= campaign.employees.distinct.count %></p>
    </div>
    <div class="campaigns-index__list-line-element campaigns-index__list-element-completion">
      <p class='status-<%= completion_status %>'><%= completion %>%</p>
    </div>
    <div class="campaigns-index__list-line-options" onclick="openContentMenu(this);">
      <% if current_user.manager_or_above? %>
        <i class="fas fa-ellipsis-v"></i>
      <% end %>
    </div>
    <div class="campaigns-index__list-line-content-dropdown hidden">
      <%= link_to 'Edit', edit_campaign_path(campaign) unless completion == 100 %>
      <% if campaign.interviews.where(completed: true).empty? || current_user.hr_or_above? %>
        <a data-toggle='modal' data-target='#deleteCampaign-<%= campaign.id %>'>Delete</a>
      <% end %>
      <% unless completion == 100 %>
        <a data-toggle='modal' data-target='#sendEmail-<%= campaign.id %>'>Send Email</a>
      <% end %>
    </div>
  </div>
<% end %>

<div class="campaigns-index__paginate-container">

  <% if params.dig(:search, :page).present? && params.dig(:search, :page).to_i > 1 %>
    <div class="paginate__previous-button" onclick='changePage("previous");'>
      <span class="iconify" data-icon="fontisto:angle-left"></span>
      <p>Previous</p>
    </div>
  <% end %>

  <%= paginate @campaigns, left: 3, right: 1 %>

  <% if @campaigns.count == 10 %>
    <div class="paginate__next-button" onclick='changePage("next");'>
      <p>Next</p>
      <span class="iconify" data-icon="fontisto:angle-right"></span>
    </div>
  <% end %>

</div>
