<% CampaignDecorator.decorate_collection(campaigns).each do |campaign| %>

  <% campaign_id = campaign.id %>
  <% manager = campaign.owner %>

  <div id='campaign-line-<%= campaign_id %>'
       class="campaigns-index__list-line" >

    <%= render 'campaigns/index/index_campaign_line', campaign: campaign %>

  </div>


  <!------------>
  <!-- MODALS -->
  <!------------>

  <div id='editTags-<%= campaign_id %>'
     class='modal action-modal fade'
     tabindex='-1'
     role='dialog'
     data-keyboard="false"
     data-backdrop="static">

    <div class='modal-dialog action-modal__dialog min-w-65rem'
         role='document'>

      <%= render 'campaigns/modals/edit_tags', campaign: campaign %>

    </div>

  </div>

  <div id='deleteCampaign-<%= campaign_id %>'
       class='modal ays-modal fade'
       tabindex='-1'
       role='dialog'
       data-keyboard="false"
       data-backdrop="static">

    <div class='modal-dialog ays-modal__dialog'
         role='document'>

      <%= render 'campaigns/modals/delete_campaign', campaign: campaign %>

    </div>

  </div>

  <!------------>


<% end %>

<div class="paginate-container paginate-container-blue">

  <% if params.dig(:search, :page).present? && params.dig(:search, :page).to_i > 1 %>

    <div class="paginate__previous-button paginate__button-blue"
         data-action='click->change-page#previous'>
      <span class="iconify" data-icon="fontisto:angle-left"></span>
      <p>Previous</p>
    </div>

  <% end %>

  <%= paginate @campaigns, left: 3, right: 1 %>

  <% if @campaigns.count == 10 && @any_more %>

    <div class="paginate__next-button paginate__button-blue"
         data-action='click->change-page#next'>
      <p>Next</p>
      <span class="iconify" data-icon="fontisto:angle-right"></span>
    </div>

  <% end %>

</div>
