<%= render_component FormSectionTitleComponent.new(title: 'Chose how you want to add participants') %>

<div class="d-flex gap-1rem w-100" style='max-width: 500px;'>
  <%= render_component RadioButtonTileComponent.new(
    model: :interviewee_selection_method,
    name: :manual,
    checked: campaign.interviewee_selection_method == :manual.to_s || campaign.interviewee_selection_method.nil?,
    icon_klasses: "fas fa-check",
    title: "Manual",
    subtitle: "Select participants from your employee list"
  ) %>

  <%= render_component RadioButtonTileComponent.new(
    model: :interviewee_selection_method,
    name: :auto,
    checked: campaign.interviewee_selection_method == :auto.to_s,
    icon_klasses: "fas fa-rocket",
    title: "Auto",
    subtitle: "Add participants by their arrival date in the company",
    disabled: true
  ) %>
</div>


<%= render_component FormSectionTitleComponent.new(title: 'Chose interviewee(s) you want to participate this campaign') %>

<div class="flex-row-between-centered mb-2rem">
  <p class="font-weight-600">Select interviewees</p>
  <p class="font-weight-600">Interviewees selected</p>
</div>


<div class="flex-row-between-start">
  <div data-controller='store-interviewee-ids campaign-draft-users-search'>
      <%= hidden_field_tag 'interviewee_ids[]', '', data: { store_interviewee_ids_target: 'array' } %>
    <div class="flex-row-between-centered pr-1rem">
      <div class="pos-rel">
        <i class="fas fa-search bkt-light-grey5 pos-abs" style='top: 1.2rem; left: 1rem;'></i>
          <%=
            text_field_tag(
              :search,
              nil,
              placeholder: 'Search',
              data: {
                campaign_draft_users_search_target: 'search',
                action: 'keyup->campaign-draft-users-search#search',
                path: campaign_draft_search_users_path
              },
              class: 'height-4rem pl-3rem rounded-3px',
              style: 'width: 15rem; border: 0.5px solid #CDCDCD;',
              autocomplete: 'off',
              label: false,
              required: false
            )
          %>
      </div>
      <div class="flex-row-between-centered mb-1rem">
        <p class='fs-1_2rem bkt-blue mr-1rem' >Select all (<%= @users.count %>)</p>
        <div class='rounded-3px' style='height: 2.4rem; width: 2.4rem; border: 0.5px solid #CDCDCD;'></div>
      </div>
    </div>

    <div data-campaign-draft-users-search-target="results">
      <%= render 'campaign_draft/partials/campaign_draft_users_list',
        users: @users.page(1),
        total_users_count: @users.count,
        page: (params.dig(:search, :page).present? ? params.dig(:search, :page) : 1) %>
    </div>
  </div>

  <div class="">
    <div class="flex-row-end-centered height-5rem">
      <p class='fs-1_2rem bkt-blue mb-1rem' >Remove all (<%= campaign.interviewee_ids.count %>)</p>
    </div>

    <div id='campaign-draft__selected-users-list'>
      <%= render 'campaign_draft/partials/campaign_draft_selected_users_list', users: campaign.interviewee_ids %>
    </div>
  </div>

</div>

<%= render_component FormSectionTitleComponent.new(title: 'Chose how you want to add participants') %>

<div class="d-flex gap-1rem w-100" style='max-width: 500px;'>

  <%= render_component RadioButtonTileComponent.new(
    model: :interviewer_selection_method,
    name: :manager,
    checked: campaign.interviewer_selection_method == :manager.to_s || campaign.interviewer_selection_method.nil?,
    icon_klasses: "fas fa-check",
    title: "Direct manager",
    subtitle: "Each participant is assigned to their manager",
    compact: true
  ) %>

  <%= render_component RadioButtonTileComponent.new(
    model: :interviewer_selection_method,
    name: :admin,
    checked: campaign.interviewer_selection_method == :admin.to_s,
    icon_klasses: "fas fa-rocket",
    title: "An admin",
    subtitle: "Chose an admin as the campaign sole interviewer",
    compact: true,
    disabled: true
  ) %>

  <%= render_component RadioButtonTileComponent.new(
    model: :interviewer_selection_method,
    name: :any,
    checked: campaign.interviewer_selection_method == :any.to_s,
    icon_klasses: "fas fa-rocket",
    title: "Chose an interviewer",
    subtitle: "Chose a specific user as the campaign sole interviewer",
    compact: true,
    disabled: true
  ) %>

</div>


<%= render_component FormSectionTitleComponent.new(title: 'Default interviewer') %>
<%= render_component FormSectionSubtitleComponent.new do %>
  For interviewees not linked to a manager in the database, please <br><%# TODO improve  %>
  chose a default interviewer
<% end %>

<%# TODO %>
<%= select_tag :default_interviewer_id, options_for_select(User.where(company_id: current_user.company_id).pluck(:email, :id), selected: @campaign.default_interviewer_id) %>
