<%= render_component FormSectionTitleComponent.new(title: 'Choose a campaign name') %>

<%= text_field_tag :title, campaign.title,
                           placeholder: 'Type your campaign name here',
                           class: 'width-100 p-0_5rem rounded-5px font-weight-500 bkt-dark-grey  border-bkt-light-grey border-bkt-dark-grey-focus' %>


<div class="my-5rem"></div>

<%= render_component FormSectionTitleComponent.new(title: 'Choose a campaign type') %>

<div class="d-flex gap-1rem w-100" style='max-width: 500px;'>

  <%= render_component RadioButtonTileComponent.new(
    model: :kind,
    name: :one_to_one,
    checked: campaign.kind == :one_to_one.to_s || campaign.kind.nil?,
    title: "1 to 1",
    subtitle: "Use this type of campaign for annual review, discovery report, onboarding ..."
  ) do %>
    <span class="iconify fs-3rem" data-icon="uil:exchange-alt"></span>
  <% end %>

  <%= render_component RadioButtonTileComponent.new(
    model: :kind,
    name: :feedback_360,
    checked: campaign.kind == :feedback_360.to_s,
    title: "Feedback 360",
    subtitle: "Each participant can receive feedbacks from other users.",
    disabled: true
  ) do %>
    <span class="iconify fs-3rem" data-icon="uil:rotate-360"></span>
  <% end %>

</div>
