<%= render_component FormSectionTitleComponent.new(title: 'Summary of your campaign') %>

<div class="fs-1_4rem my-2 bkt-dark-grey">
  Title :
  <span class="font-weight-600">
    <%= campaign.title %>
  </span>
</div>

<div class="fs-1_4rem my-2 bkt-dark-grey">
  Template used :
  <span class="font-weight-600">
    <%= campaign.interview_form.title %>
  </span>
</div>

<div class="fs-1_4rem my-2 bkt-dark-grey">
  Selected participants :
  <span class="font-weight-600">
    <%= campaign.interviewee_ids.count %>
  </span>
</div>


<div class="fs-1_4rem my-2 bkt-dark-grey">
  <% if campaign.direct_manager? %>
    Interviewer(s) : Direct managers or
  <% end %>
  <% if campaign.specific_manager? %>
    Interviewer :
  <% end %>

  <span class="font-weight-600">
    <%= campaign.default_interviewer&.fullname.presence || campaign.default_interviewer&.email %>
  </span>
</div>

