<%= render_component FormSectionTitleComponent.new(title: 'Chose how you want to add participants') %>

<div class="d-flex gap-1rem w-100" style='max-width: 500px;'>
  <%= render_component RadioButtonTileComponent.new(
    model: :interviewee_selection_method,
    name: :manual,
    checked: campaign.interviewee_selection_method == :manual.to_s || campaign.interviewee_selection_method.nil?,
    icon_klasses: "fas fa-check",
    title: "Manual",
    subtitle: "Select participants from your employee list"
  ) %>

  <%= render_component RadioButtonTileComponent.new(
    model: :interviewee_selection_method,
    name: :auto,
    checked: campaign.interviewee_selection_method == :auto.to_s,
    icon_klasses: "fas fa-rocket",
    title: "Auto",
    subtitle: "Add participants by their arrival date in the company",
    disabled: true
  ) %>
</div>


<%= render_component FormSectionTitleComponent.new(title: 'Chose interviewee(s) you want to participate this campaign') %>


<div data-controller='interviewee-ids campaign-draft-users-search'
  data-interviewee-ids-path-value='<%= campaign_draft_interviewees_ids_path %>'
  data-action='
  refreshIntervieweeIdsSearch@window->campaign-draft-users-search#debouncedSearch
  refreshIntervieweeIdsFilteredCount@window->interviewee-ids#refreshFilteredCount
  '
>
  <div class='fs-1_2rem mb-1rem'>
    Selected
    <span class='fs-1_2rem'
      data-interviewee-ids-target="selectedCount">
      <%= @campaign.interviewee_ids.count %>
    </span>
  </div>

  <%= hidden_field_tag 'interviewee_ids[]', @campaign.interviewee_ids.join(','), data: {
    interviewee_ids_target: 'array'
  } %>
  <div class="flex-row-between-centered mb-1rem">
    <div class="pos-rel">
      <i class="fas fa-search bkt-light-grey5 pos-abs" style='top: 1.2rem; left: 1rem;'></i>
        <%=
          text_field_tag(
            :search,
            nil,
            placeholder: 'Filter',
            data: {
              campaign_draft_users_search_target: 'search',
              action: 'keyup->campaign-draft-users-search#debouncedSearch keypress->campaign-draft-users-search#killEnter',
              path: campaign_draft_interviewees_users_path
            },
            class: 'height-4rem pl-3rem rounded-3px',
            style: 'border: 0.5px solid #CDCDCD;',
            autocomplete: 'off',
            label: false,
            required: false
          )
        %>
    </div>

    <div class="flex-row-between-centered">
      <div class='fs-1_2rem bkt-blue cursor-pointer'
        data-action="click->interviewee-ids#unselectAll"
      >Unselect all</div>

      <div class="mx-2">|</div>

      <div class='fs-1_2rem bkt-blue cursor-pointer'
        data-action="click->interviewee-ids#selectAll"
      >Select all</div>

      <div class="mx-2">|</div>

      <div class="cursor-pointer d-flex align-items-center">
        <div class='fs-1_2rem bkt-blue'>
          Select Filtered
          <span class='fs-1_2rem' data-interviewee-ids-target='filteredCount'></span>
        </div>
        <div class="mx-2"></div>
        <label
          class='centered-item rounded-3px mb-0'
          style='height: 2.4rem; width: 2.4rem; border: 0.5px solid #CDCDCD;'
          data-controller='toggle-checked-participants'
        >
          <%= check_box_tag(
            "_",
            nil,
            false,
            class: "hidden",
            data: {
              action: "change->toggle-checked-participants#toggle change->interviewee-ids#selectFiltered",
              toggle_checked_participants_target: "togglable"
            }
          ) %>
          <span
            class="iconify fs-1_8rem bkt-blue hidden"
            data-toggle-checked-participants-target="icon"
            data-icon="bi:check">
          </span>
        </label>
      </div>
    </div>
  </div>

  <div class='border-bkt-light-grey mb-2rem overflow-y-scroll' style='height: 400px;'
    data-campaign-draft-users-search-target="results"
    data-interviewee-ids-target="results"
  ></div>
</div>

<%= render_component FormSectionTitleComponent.new(title: 'Chose how you want to add participants') %>

<div class="d-flex gap-1rem w-100" style='max-width: 500px;'>

  <%= render_component RadioButtonTileComponent.new(
    model: :interviewer_selection_method,
    name: :manager,
    checked: campaign.interviewer_selection_method == :manager.to_s || campaign.interviewer_selection_method.nil?,
    icon_klasses: "fas fa-check",
    title: "Direct manager",
    subtitle: "Each participant is assigned to their manager",
    compact: true
  ) %>

  <%= render_component RadioButtonTileComponent.new(
    model: :interviewer_selection_method,
    name: :admin,
    checked: campaign.interviewer_selection_method == :admin.to_s,
    icon_klasses: "fas fa-rocket",
    title: "An admin",
    subtitle: "Chose an admin as the campaign sole interviewer",
    compact: true,
    disabled: true
  ) %>

  <%= render_component RadioButtonTileComponent.new(
    model: :interviewer_selection_method,
    name: :any,
    checked: campaign.interviewer_selection_method == :any.to_s,
    icon_klasses: "fas fa-rocket",
    title: "Chose an interviewer",
    subtitle: "Chose a specific user as the campaign sole interviewer",
    compact: true,
    disabled: true
  ) %>

</div>


<%= render_component FormSectionTitleComponent.new(title: 'Default interviewer') %>
<%= render_component FormSectionSubtitleComponent.new do %>
  For interviewees not linked to a manager in the database, please <br><%# TODO improve  %>
  chose a default interviewer
<% end %>

<%# TODO %>
<%= select_tag :default_interviewer_id, options_for_select(User.where(company_id: current_user.company_id).pluck(:email, :id), selected: @campaign.default_interviewer_id) %>
