<%= render_component FormSectionTitleComponent.new(title: 'Chose how you want to add participants') %>

<div class="d-flex gap-1rem w-100" style='max-width: 500px;'>
  <%= render_component RadioButtonTileComponent.new(
    model: :interviewee_selection_method,
    name: :manual,
    checked: campaign.interviewee_selection_method == :manual.to_s || campaign.interviewee_selection_method.nil?,
    title: "Manual",
    subtitle: "Select participants from your employee list"
  ) do %>
    <span class="iconify fs-3rem" data-icon="fluent:cursor-click-24-filled"></span>
  <% end %>

  <%= render_component RadioButtonTileComponent.new(
    model: :interviewee_selection_method,
    name: :auto,
    checked: campaign.interviewee_selection_method == :auto.to_s,
    title: "Auto",
    subtitle: "Add participants by their arrival date in the company",
    disabled: true
  ) do %>
    <%# TODOCHANGEICON %>
    <span class="iconify fs-3rem" data-icon="fluent:time-and-weather-20-filled"></span>
  <% end %>
</div>


<%= render_component FormSectionTitleComponent.new(title: 'Chose interviewee(s) you want to participate this campaign') %>


<div data-controller='participant-ids search-inject'
  data-participant-ids-path-value='<%= campaign_draft_interviewees_ids_path %>'
  data-action='
    refreshParticipantIdsSearch@window->search-inject#debouncedSearch
    refreshParticipantIdsFilteredCount@window->participant-ids#refreshFilteredCount
  '
>
  <div class='fs-1_2rem mb-1rem'>
    Selected
    <span class='fs-1_2rem'
      data-participant-ids-target="selectedCount">
      <%= @campaign.interviewee_ids.count %>
    </span>
  </div>

  <%= hidden_field_tag 'participant_ids[]', @campaign.interviewee_ids.join(','), data: {
    participant_ids_target: 'array'
  } %>

  <div class="flex-row-between-centered mb-1rem">
    <div class="pos-rel">
      <i class="fas fa-search bkt-light-grey5 pos-abs" style='top: 1.2rem; left: 1rem;'></i>
        <%=
          text_field_tag(
            :search,
            nil,
            placeholder: 'Filter',
            data: {
              search_inject_target: 'search',
              action: 'keyup->search-inject#debouncedSearch keypress->search-inject#killEnter',
              path: campaign_draft_interviewees_users_path
            },
            class: 'height-4rem pl-3rem rounded-3px border-bkt-light-grey5-0_5px',
            autocomplete: 'off',
            label: false,
            required: false
          )
        %>
    </div>

    <div class="flex-row-between-centered">
      <div class='fs-1_2rem bkt-blue cursor-pointer'
        data-action="click->participant-ids#unselectAll"
      >Unselect all</div>

      <div class="mx-2">|</div>

      <div class='fs-1_2rem bkt-blue cursor-pointer'
        data-action="click->participant-ids#selectAll"
      >Select all</div>

      <div class="mx-2">|</div>

      <div class="cursor-pointer d-flex align-items-center">
        <div class='fs-1_2rem bkt-blue'>
          Select Filtered
          <span class='fs-1_2rem' data-participant-ids-target='filteredCount'></span>
        </div>
        <div class="mx-2"></div>
        <label
          class='flex-row-center-centered rounded-3px mb-0 border-bkt-light-grey5-0_5px'
          style='height: 2.4rem; width: 2.4rem;'
          data-controller='toggle-checked-participants'
        >
          <%= check_box_tag(
            "_",
            nil,
            false,
            class: "hidden",
            data: {
              action: "change->toggle-checked-participants#toggle change->participant-ids#selectFiltered",
              toggle_checked_participants_target: "togglable"
            }
          ) %>
          <span
            class="iconify fs-1_8rem bkt-blue hidden"
            data-toggle-checked-participants-target="icon"
            data-icon="bi:check">
          </span>
        </label>
      </div>
    </div>
  </div>

  <div class='border-bkt-light-grey mb-2rem overflow-y-scroll' style='height: 400px;'
    data-search-inject-target="results"
    data-participant-ids-target="results"
  ></div>
</div>

<%= render_component FormSectionTitleComponent.new(title: 'Chose how you want to add interviewer') %>

<div data-controller="campaign-draft-participants">
  <div class="d-flex gap-1rem w-100" style='max-width: 500px;'>

    <%= render_component RadioButtonTileComponent.new(
      model: :interviewer_selection_method,
      name: :manager,
      checked: campaign.interviewer_selection_method == :manager.to_s || campaign.interviewer_selection_method.nil?,
      title: "Direct manager",
      subtitle: "Each participant is assigned to their manager",
      data_actions: 'click->campaign-draft-participants#chooseDirectManagerText'
      ) do %>
      <span class="iconify fs-3rem" data-icon="fluent:person-arrow-right-24-filled"></span>
    <% end %>

    <%= render_component RadioButtonTileComponent.new(
      model: :interviewer_selection_method,
      name: :specific_manager,
      checked: campaign.interviewer_selection_method == :specific_manager.to_s,
      title: "Chose an interviewer",
      subtitle: "Chose a specific user as the campaign sole interviewer",
      data_actions: 'click->campaign-draft-participants#choseInterviewerText'
      ) do %>
      <span class="iconify fs-3rem" data-icon="bx:search"></span>
    <% end %>

  </div>

  <%= render_component FormSectionTitleComponent.new(title: 'Interviewer') %>
  <%= render_component FormSectionSubtitleComponent.new do %>
    <span data-campaign-draft-participants-target="directManagerText" class="bkt-light-grey6">In case of interviewees not linked to a manager in the database,<br> please chose a default interviewer</span>
    <span data-campaign-draft-participants-target="interviewerText" class="d-none bkt-light-grey6">The interviewer will handle all interviews for selected participants</span>
  <% end %>
</div>

<%= hidden_field_tag :default_interviewer_id %>
