<%= render_component FormSectionTitleComponent.new(title: t('campaign_draft.edit.summary')) %>

<div class="fs-1_4rem my-2 bkt-dark-grey">
  <%= t('title') %> :
  <span class="font-weight-600">
    <%= campaign.title %>
  </span>
</div>

<div class="fs-1_4rem my-2 bkt-dark-grey">
  <%= t('template_used') %> :
  <span class="font-weight-600">
    <%= campaign.interview_form.title %>
  </span>
</div>

<div class="fs-1_4rem my-2 bkt-dark-grey">
  <%= t('selected_participants') %> :
  <span class="font-weight-600">
    <%= campaign.interviewee_ids.count %>
  </span>
</div>


<div class="fs-1_4rem my-2 bkt-dark-grey">
  <% if campaign.direct_manager? %>
    Interviewer(s) : Direct managers <%= t('or') %>
  <% end %>
  <% if campaign.specific_manager? %>
    Interviewer :
  <% end %>

  <span class="font-weight-600">
    <%= campaign.default_interviewer&.fullname.presence || campaign.default_interviewer&.email %>
  </span>
</div>

