<%= render_component FormSectionTitleComponent.new(title: 'Chose how you want to add participants') %>

<div class="d-flex gap-1rem w-100" style='max-width: 500px;'>
  <%= render_component RadioButtonTileComponent.new(
    model: :interviewee_selection_method,
    name: :manual,
    checked: campaign.interviewee_selection_method == :manual.to_s || campaign.interviewee_selection_method.nil?,
    icon_klasses: "fas fa-check",
    title: "Manual",
    subtitle: "Select participants from your employee list"
  ) %>

  <%= render_component RadioButtonTileComponent.new(
    model: :interviewee_selection_method,
    name: :auto,
    checked: campaign.interviewee_selection_method == :auto.to_s,
    icon_klasses: "fas fa-rocket",
    title: "Auto",
    subtitle: "Add participants by their arrival date in the company",
    disabled: true
  ) %>
</div>


<%= render_component FormSectionTitleComponent.new(title: 'Chose interviewee(s) you want to participate this campaign') %>

<%# TODO %>
<% User.last(5).each do |user| %>
  <%= check_box_tag 'interviewee_ids[]', user.id, @campaign.interviewee_ids.include?(user.id.to_s) %>
  <%= user.email %>
  <br>
<% end %>

<%= render_component FormSectionTitleComponent.new(title: 'Chose how you want to add participants') %>

<div class="d-flex gap-1rem w-100" style='max-width: 500px;'>

  <%= render_component RadioButtonTileComponent.new(
    model: :interviewer_selection_method,
    name: :manager,
    checked: campaign.interviewer_selection_method == :manager.to_s || campaign.interviewer_selection_method.nil?,
    icon_klasses: "fas fa-check",
    title: "Direct manager",
    subtitle: "Each participant is assigned to their manager",
    compact: true
  ) %>

  <%= render_component RadioButtonTileComponent.new(
    model: :interviewer_selection_method,
    name: :admin,
    checked: campaign.interviewer_selection_method == :admin.to_s,
    icon_klasses: "fas fa-rocket",
    title: "An admin",
    subtitle: "Chose an admin as the campaign sole interviewer",
    compact: true,
    disabled: true
  ) %>

  <%= render_component RadioButtonTileComponent.new(
    model: :interviewer_selection_method,
    name: :any,
    checked: campaign.interviewer_selection_method == :any.to_s,
    icon_klasses: "fas fa-rocket",
    title: "Chose an interviewer",
    subtitle: "Chose a specific user as the campaign sole interviewer",
    compact: true,
    disabled: true
  ) %>

</div>


<%= render_component FormSectionTitleComponent.new(title: 'Default interviewer') %>
<%= render_component FormSectionSubtitleComponent.new do %>
  For interviewees not linked to a manager in the database, please <br><%# TODO improve  %>
  chose a default interviewer
<% end %>

<%# TODO %>
<%= select_tag :default_interviewer_id, options_for_select(User.last(5).pluck(:email, :id), selected: @campaign.default_interviewer_id) %>
