<div class='bkt-bg-light-grey2 bkt-page-container-min-height d-flex justify-content-center align-items-start pb-10rem'>

  <div class="from_medium__h-60vh"
       style="position: sticky; top: calc(25vh - 7.5rem);">

    <div class="bkt-progress">

      <div class="bkt-progress-thread"></div>

      <% CampaignDraft::PROGRESS_STATES.each do |state, state_label| %>

        <%= link_to send "edit_campaign_draft_#{state}_path".to_sym do %>

          <div class="bkt-progress-pearl bkt-progress-pearl-blue <%= @campaign.progress_state_klass(state, controller_name) %>" data-title='<%= state_label %>'>
            <% if @campaign.state_set_or_above?(state) %>
              <i class="fas fa-check"></i>
            <% end %>
          </div>

        <% end %>

      <% end %>

    </div>

  </div>

  <div style='margin: 0 5%;'></div>

  <div class="bkt-box-shadow p-4 bkt-bg-white rounded-20px min-w-40vw pos-rel"
       style="margin-top: calc(25vh - 7.5rem);">

    <div class="width-100 d-flex justify-content-center pos-abs"
         style="top: calc(2rem - 12.5vh); left: 0; right: 0;">

      <h1 class="fs-2_4rem font-weight-600 bkt-dark-grey">New campaign</h1>

      <div class="pos-abs"
           style="top: 0; right: 0;">
        <%#= render_component Buttons::BackButton.new(fallback: campaigns_path, force_fallback: true) do %>

<!--          <div class="d-flex justify-content-center align-items-center height-4rem width-4rem rounded-20px bkt-box-shadow-medium bkt-bg-white bkt-bg-light-grey5-hover">-->
<!--            <span class="iconify bkt-dark-grey-important m-0" data-icon="bi:x" data-width="35" data-height="35"></span>-->
<!--          </div>-->

        <%# end %>
        <div id="app">
          <edit-campaign-draft campaign-draft-id="<%= @campaign.id %>"></edit-campaign-draft>
        </div>
      </div>

    </div>

    <%= form_with url: send("campaign_draft_#{controller_name}_path".to_sym), method: :patch, local: true do |f| %>

      <%= render "campaign_draft/form_#{controller_name}", campaign: @campaign %>

      <% if @controller_action.to_sym == :launches_edit %>

        <%= f.hidden_field :send_email %>

        <div class="d-flex justify-content-center pt-5">

          <a class='bkt-btn-blue' data-toggle='modal' data-target='#launchCampaign'>
            Launch Campaign
          </a>

          <%= f.submit '', class: 'hidden-submit hidden' %>

          <!----------->
          <!-- MODAL -->
          <!----------->

          <div id='launchCampaign'
               class='modal action-modal fade'
               tabindex='-1'
               role='dialog'
               data-keyboard="false"
               data-backdrop="static">

            <div class='modal-dialog action-modal__dialog' role='document'>
              <%= render 'campaigns/modals/send_notification_email_on_confirm' %>
            </div>

          </div>

          <!----------->
        </div>

      <% else %>

        <% unless @controller_action == :templates_edit %>

          <div class="d-flex justify-content-end pt-5">

            <button id="submit-button"
                    class='bkt-btn-blue'>
              <p class="mr-3">Next</p> <i class="fa fa-arrow-right"></i>
            </button>

          </div>

        <% end %>


      <% end %>

    <% end %>

  </div>

</div>

<% if params[:debug] %>
  <div class="fs-2_4rem">
    <%= @campaign.data %>
  </div>
<% end %>
