<% contents.each do |content| %>
  <% checked = content.id == @training.content_id %>

  <% lines = [
    content.title,
    content.content_type
    ] %>
  <% width = (1/lines.count.to_f)*100 %>
  <% toggle_all_event = 'trainingDraftcontentRadioBtn' %>
  <div
    data-interview-form-id="<%= content.id %>"
    class="d-flex justify-content-between align-items-center border-top-bkt-light-grey position-relative">
    <label
      data-controller='toggle-checked'
      data-toggle-checked-checked-classes-value='bkt-bg-orange border-bkt-orange'
      data-toggle-checked-unchecked-classes-value='border-bkt-light-grey5'
      data-toggle-checked-toggle-all-event-value='<%= toggle_all_event %>'
      class='centered-item mb-0 p-1rem'
    >
      <div
        data-toggle-checked-target="target"
        data-action='<%="
          click->toggle-checked#dispatchToggleAll
          #{toggle_all_event}@window->toggle-checked#debouncedToggle
        " %>'
        class="rounded-circle cursor-pointer height-1_6rem width-1_6rem p-1rem"
      ></div>
      <%= radio_button_tag(
        :content_id,
        content.id,
        checked,
        class: 'd-none',
        data: {
          toggle_checked_target: :togglable
      }
      ) %>
    </label>
    <% lines.each do |line| %>
      <div class='fs-1_6rem' style='flex-basis: <%= width %>%;'>
        <%= line %>
      </div>
    <% end %>
  </div>

<% end %>
