<div id='workshop-show__completed-options' class='flex-row-between-centered bkt-bg-white rounded-10px p-2rem mb-2rem mr-sm-5'>

  <p class="d-none d-sm-flex width-50">Is this training acquired ?</p>

  <div class="d-none d-sm-flex flex-row-between-centered ml-3">

    <div class="flex-row-start-centered mr-2rem">

      <a id='workshop-completed-button'
         class='rounded-10px mr-1rem cursor-pointer border-bkt-orange <%= 'bkt-bg-orange' if workshop_completed %>'
         style='height: 2rem; width: 2rem;'
         data-toggle='<%= "modal" if !workshop_completed %>'
         data-target='#confirmCompleted'></a>
      <p id='workshop-completed-text'
         class='<%= "bkt-orange" if workshop_completed %>'>Yes</p>

    </div>

    <div class="flex-row-start-centered">

      <div id='workshop-not-completed-button'
           class="rounded-10px mr-1rem cursor-pointer border-bkt-orange <%= 'bkt-bg-orange' if !workshop_completed %>"
           style='height: 2rem; width: 2rem;'
           onclick='selectCompletion(this);'
           data-value='Not completed'></div>
      <p id='workshop-not-completed-text'
         class='<%= "bkt-orange" if !workshop_completed %>'>No</p>

    </div>

    <%= link_to '', complete_workshop_path(id: workshop.id, user_id: current_user.id, status: ''), id: 'complete_workshop_link', class: 'hidden', remote: true %>
    <a id='congratulations-link'
       class='d-none'
       data-toggle='modal'
       data-target='#congratulations'></a>

  </div>


  <!------------>
  <!-- MODALS -->
  <!------------>

  <div id='confirmCompleted'
       class='modal action-modal fade'
       tabindex='-1'
       role='dialog'
       data-backdrop="static"
       data-keyboard="false">

    <div class='modal-dialog action-modal__dialog'
         role='document'>

      <%= render 'workshops/modals/confirm_completed', workshop: workshop %>

    </div>

  </div>

  <div id='congratulations'
       class='modal info-modal fade'
       tabindex='-1'
       role='dialog'
       data-backdrop="static"
       data-keyboard="false">

    <div class='modal-dialog info-modal__dialog'
         role='document'>

      <%= render 'workshops/modals/congratulations' %>

    </div>

  </div>

  <!------------>

</div>


<!------------>
<!-- MOBILE -->
<!------------>

<div class="flex-column width-100">

  <% if workshop_completed %>

    <button
      class=" d-sm-none rounded-5px p-4 <%= workshop_completed ? 'bkt-bg-light2-orange' : 'bkt-bg-orange' %> bkt-white width-100 text-center"
      disabled
    >
      Training acquiered ! 🙌
    </button>

    <button
      class="d-sm-none rounded-5px mt-1rem p-4 bkt-bg-white bkt-orange width-100 text-center border-bkt-orange"
      onclick='selectCompletion(this);'
      data-value='Not completed'
    >
      Cancel
    </button>

  <% else %>

    <button
      class=" d-sm-none rounded-5px p-4 <%= workshop_completed ? 'bkt-bg-light2-orange' : 'bkt-bg-orange' %> bkt-white width-100 text-center"
      <%= workshop_completed ? 'disabled' : '' %>
      data-target='#confirmCompleted'
      data-toggle="modal"
    >
      I acquiered this training ! 🙌
    </button>

  <% end %>

</div>

<!------------>
