<h2><b>Book Date for <%= @training_workshop.title %></b></h2>
<%= simple_form_for :training_workshop, url: update_book_training_workshop_path(@training_workshop), method: :patch, remote: true, input_html: {multipart: true} do |f| %>
  <h4>1. Select Date and Time</h4>
  <div class="mod-date">
    <%= f.input :date, label: 'Date:', input_html: { class: 'datepicker', value: @training_workshop.date.to_date }%>
    <div class="start-time">
    <%= f.input :starts_at, label: 'Start time:', as: :time, minute_step: 15, input_html: { class: 'timepicker', value: @training_workshop.starts_at }, default: Time.parse('9:00') %>
    <%= f.input :ends_at, label: 'End time:', as: :time, minute_step: 15, input_html: { class: 'timepicker', value: @training_workshop.ends_at}, default: Time.parse('17:00') %>
    </div>
  </div>
  <%= f.submit 'Saved', id: 'submit-date' %>
<% end %>
