<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Copy <%= training_workshop.title %> to :</h3>
    </div>
    <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for :copy, url: copy_training_workshop_path(training_workshop.training, training_workshop), method: 'GET' do |f| %>
      <div class="mod-date">
        <%= f.input :title, input_html: {value: training_workshop.workshop.title} %>
        <%= f.input :date, as: :string, input_html: { class: 'datepicker'} %>
      </div>
      <div style=" display: flex; justify-content: space-between;margin-top:3rem;">
          <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-icon' do %>
            <i class="fas fa-clipboard"></i>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
