<div id="show-controls" class='flex-row-between-centered'>
  <%= link_to dashboard_path(dashboard: params[:dashboard]), class: 'btn return-arrow' do %><i class='fas fa-arrow-left'></i><% end %>
  <div id='show-buttons'>
    <%= link_to view_training_workshop_path(@training_workshop), class: 'btn btn-edit-white btn-icon' do %>
      <i class="far fa-eye"></i>
    <% end %>
    <% if ['Super Admin', 'Admin', 'HR'].include? current_user.access_level %>
      <%= link_to update_book_training_workshop_path(@training_workshop) do %>
        <button class='btn-edit-white btn-icon'><i class='fas fa-pen'></i></button>
      <% end %>
      <%= link_to training_workshop_path(@training_workshop), method: :delete, data: { confirm: 'Are you sure ?'} do %>
        <button class='btn-edit-white btn-icon'><i class="far fa-trash-alt"></i></button>
      <% end %>
    <% end %>
  </div>
</div>
<div id="container-show">
  <div class='workshop-show-type'>
    <h3>Workshop</h3>
  </div>
  <div class='workshop-show-card'>
    <div class='workshop-show-card-main flex-column-centered'>
      <div class="book-time">
        <% @training_workshop.dates.each do |key, value| %>
          <% if value[:date].present? %>
            <p><%= value[:date].strftime('%d/%m/%Y') + ' from ' + value[:starts_at].strftime('%H:%M') + ' to ' + value[:ends_at].strftime('%H:%M') %></p>
          <% end %>
        <% end %>
      </div>
      <h1><%= @training_workshop.workshop.title %></h1>
      <h3>By <%= @training_workshop.workshop.author.firstname %></h3>
      <img src='<%= @training_workshop.workshop.author.picture %>' alt="" class='avatar-large-workshop-card' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
      <p><%= "#{@training_workshop.workshop.duration} min" %></p>
    </div>
    <div class="workshop-show-card-footer centered-item">
      <div>
        <p><%= @training_workshop.workshop.description %></p>
      </div>
    </div>
    <div id="container-workshop-booked">
      <div id="workshop-booked-infos">
        <div class="flex-row-between-centered">
          <% if Attendee.find_by(training_workshop_id: @training_workshop.id, user_id: current_user.id)&.status == 'Invited' %>
            <button id="workshop-booked-infos-main" class='btn btn-edit-green btn-disabled'>Session Available</button>
            <%= link_to attendee_path(status: 'Registered'), method: :patch do %>
              <button class="btn btn-edit-green">Register Now!</button>
            <% end %>
          <% elsif Attendee.find_by(training_workshop_id: @training_workshop.id, user_id: current_user.id)&.status == 'Completed' %>
            <button id="workshop-booked-infos-main" class='btn btn-edit-red btn-disabled'>Session Completed</button>
          <% elsif Attendee.find_by(training_workshop_id: @training_workshop.id, user_id: current_user.id)&.status == 'Registered' %>
            <button id="workshop-booked-infos-main" class='btn btn-edit-red btn-disabled'>Session Booked</button>
          <% end %>
        </div>

      </div>
      <div id="workshop-booked-participants">
        <div class="manage-users-btn">
          <% if @training_workshop.training.present? && (['Super Admin', 'Admin', 'HR', 'Manager'].include? current_user.access_level) %>
            <a data-toggle='modal' data-target='#inviteUsers'><button class='btn btn-edit-white' disabled>Manage Booking</button></a>
          <% elsif ['Super Admin', 'Admin', 'HR', 'Manager'].include? current_user.access_level %>
            <%= link_to 'Manage Booking', update_book_training_workshop_path(@training_workshop), class: 'btn btn-edit-white' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if ['Super Admin', 'Admin', 'HR', 'Manager'].include? current_user.access_level %>
    <div class="workshop-show-module-controls flex-row-between-centered">
      <h3>Modules</h3>
      <a data-toggle='modal' data-target='#editTrainingWorkshopContent'>
        <i class="fas fa-plus fa-1x" style='color:#F26419'></i>
      </a>
    </div>
    <% if @training_workshop.mods.present? %>
      <% @training_workshop.training_workshop_mods.each do |mod| %>
          <div class="workshop-show-content flex-row-start-centered">
            <div class="workshop-show-content-index centered-item">
              <p><%= mod.position %></p>
            </div>
            <p><%= "#{mod.mod.title} - #{mod.mod.duration} min" %></p>
          </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="workshop-show-module-controls flex-row-start-centered">
      <h3>Modules</h3>
    </div>
    <% if @training_workshop.date > Date.today %>
      <p>Modules will be available on <%= @training_workshop.date.strftime('%d/%m/%Y') %></p>
    <% else %>
      <% if @training_workshop.training_workshop_mods.present? %>
        <% @training_workshop.training_workshop_mods.each do |mod| %>
          <div class="workshop-show-content flex-row-start-centered">
            <div class="workshop-show-content-index centered-item">
              <p><%= mod.position %></p>
            </div>
            <p><%= "#{mod.mod.title} - #{mod.mod.duration} min" %></p>
          </div>
      <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>


<!-- Modal -->
<div class='modal fade' id='editTrainingWorkshop' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'edit', training_workshop: @training_workshop %>
  </div>
</div>

<div class='modal fade' id='editTrainingWorkshopContent' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'edit_content', training_workshop: @training_workshop %>
  </div>
</div>

<!-- <div class='modal fade' id='confirmPresence' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%# render 'attendees/confirm_presence', training_workshop: @training_workshop %>
  </div>
</div> -->
