<div id="show-controls" class='flex-row-between-centered'>
  <%= link_to dashboard_path, class: 'btn return-arrow' do %><i class='fas fa-arrow-left'></i><% end %>
  <div id='show-buttons'>
    <%= link_to view_training_workshop_path(@training_workshop), class: 'btn btn-edit-white btn-edit-icon' do %>
      <i class="far fa-eye"></i>
    <% end %>
    <% if ['Super Admin', 'Admin', 'HR'].include? current_user.access_level %>
      <a data-toggle='modal' data-target='#editTrainingWorkshop'><button class='btn-edit-white btn-edit-icon'><i class='fas fa-pen'></i></button></a>
      <%= link_to training_workshop_path(@training_workshop), method: :delete, data: { confirm: 'Are you sure ?'} do %>
        <button class='btn-edit-white btn-edit-icon'><i class="far fa-trash-alt"></i></button>
      <% end %>
    <% end %>
  </div>
</div>
<div id="container-workshop-booked" class='flex-row-between-start'>
  <div id="workshop-booked-infos" class='flex-column-between-left'>
    <div class="flex-row-between-centered">
      <% if Attendee.find_by(training_workshop_id: @training_workshop.id, user_id: current_user.id)&.status == 'Invited' %>
        <button id="workshop-booked-infos-main" class='btn btn-edit-green btn-disabled'>Session Available</button>
        <%= link_to attendee_path(status: 'Registered'), method: :patch do %>
          <button class="btn btn-edit-green">Register Now!</button>
        <% end %>
      <% elsif Attendee.find_by(training_workshop_id: @training_workshop.id, user_id: current_user.id)&.status == 'Completed' %>
        <button id="workshop-booked-infos-main" class='btn btn-edit-red btn-disabled'>Session Completed</button>
      <% elsif Attendee.find_by(training_workshop_id: @training_workshop.id, user_id: current_user.id)&.status == 'Registered' %>
        <button id="workshop-booked-infos-main" class='btn btn-edit-red btn-disabled'>Session Booked</button>
      <% end %>
    </div>
    <% if @training_workshop.workshop.workshop_type == 'Synchronous' %>
      <h3><%= "#{@training_workshop.date.strftime('%d/%m/%Y')} From #{@training_workshop.starts_at.strftime('%H:%M')} to #{@training_workshop.ends_at.strftime('%H:%M')}" %></h3>
    <% elsif @training_workshop.workshop.workshop_type == 'Synchronous' && @training_workshop.available_date.present? %>
      <h3><%= "From #{@training_workshop.date.strftime('%d/%m/%Y')} at #{@training_workshop.starts_at.strftime('%H:%M')} to #{@training_workshop.available_date.strftime('%d/%m/%Y')} at #{@training_workshop.ends_at.strftime('%H:%M')}" %></h3>
    <% else %>
      <h3><%= "From #{@training_workshop.date.strftime('%d/%m/%Y')} at #{@training_workshop.starts_at.strftime('%H:%M')}" %></h3>
    <% end %>
  </div>
  <div id="workshop-booked-participants">
    <% if @training_workshop.training.present? && (['Super Admin', 'Admin', 'HR', 'Manager'].include? current_user.access_level) %>
      <a data-toggle='modal' data-target='#inviteUsers'><button class='btn btn-edit-green' disabled>Manage Users</button></a>
    <% elsif ['Super Admin', 'Admin', 'HR', 'Manager'].include? current_user.access_level %>
      <a data-toggle='modal' data-target='#inviteUsers'><button class='btn btn-edit-green'>Manage Users</button></a>
      <a data-toggle='modal' data-target='#confirmPresence'><button class='btn btn-invite-users'>Confirm Presence</button></a>
    <% end %>
    <ul id='workshop-booked-attendee-list'>
      <% ind = 0 %>
      <% @training_workshop.attendees.each do |attendee| %>
        <% unless ind >= 10 %>
          <li><img src="<%= attendee.user.picture %>" alt="" class='avatar-sm' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'></li>
          <% ind += 1 %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div id="container-show">
  <div class='workshop-show-type'>
    <h3>Workshop</h3>
  </div>
  <div class='workshop-show-card'>
    <div class='workshop-show-card-main flex-column-centered'>
      <h1><%= @training_workshop.workshop.title %></h1>
      <h3>By <%= @training_workshop.workshop.author.firstname %></h3>
      <img src='<%= @training_workshop.workshop.author.picture %>' alt="" class='avatar-large-workshop-card' onerror='this.onerror=null;this.src="<%= asset_url('empty-avatar.png', type: :image) %>";'>
      <p><%= @training_workshop.workshop.workshop_type %></p>
      <p><%= "#{@training_workshop.workshop.duration} min" %></p>
    </div>
    <div class="workshop-show-card-footer centered-item">
      <div>
        <p><%= @training_workshop.workshop.description.html_safe %></p>
      </div>
    </div>
  </div>
  <% if ['Super Admin', 'Admin', 'HR', 'Manager'].include? current_user.access_level %>
    <div class="workshop-show-module-controls flex-row-between-centered">
      <h3>Modules</h3>
      <a data-toggle='modal' data-target='#editTrainingWorkshopContent'>
        <button class='btn btn-edit'><p>Add Module</p></button>
      </a>
    </div>
  <% else %>
    <div class="workshop-show-module-controls flex-row-start-centered">
      <h3>Modules</h3>
    </div>
  <% end %>
  <% if @training_workshop.workshop.mods.present? %>
    <% ind = 1 %>
    <% @training_workshop.workshop.mods.each do |mod| %>
        <div class="workshop-show-content flex-row-start-centered">
          <div class="workshop-show-content-index centered-item">
            <p><%= ind %></p>
          </div>
          <p><%= "#{mod.title} - #{mod.duration} min" %></p>
          <% ind += 1 %>
        </div>
    <% end %>
    <%= link_to view_training_workshop_path(@training_workshop) do %>
      <button class='btn btn-edit-red' style='margin-top: 5rem;'><p>Start</p></button>
    <% end %>
  <% end %>
</div>

<!-- Modal -->
<div class='modal fade' id='editTrainingWorkshop' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'edit', training_workshop: @training_workshop %>
  </div>
</div>

<div class='modal fade' id='editTrainingWorkshopContent' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'edit_content', training_workshop: @training_workshop %>
  </div>
</div>

<div class='modal fade' id='confirmPresence' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'attendees/confirm_presence', training_workshop: @training_workshop %>
  </div>
</div>
