<% form_title = {
  'separator' => 'Chapter',
  'open_question' => 'Open Question',
  'rating' => 'Rating',
  'mcq' => 'MCQ',
  'objective' => 'Objective'
} %>

<% question_icon = {
  'open_question' => 'fas fa-question-circle',
  'rating' => 'fas fa-star-half-alt',
  'mcq' => 'far fa-check-square',
  'objective' => 'fas fa-bullseye'
} %>

<% separator = question_type == 'separator' %>

<div class="line-top flex-row-between-centered height-2_4rem-forced mb-3rem">

  <div class="line-title <%= 'line-title-separator' if separator %>"
       data-action="click->interviews--interview-forms-edit#toggleMod">

    <i class="fas fa-angle-down" data-rotated='0'></i>

    <% unless separator %>
      <i class="<%= question_icon[question_type] %>"></i>
    <% end %>

    <p class="height-2_4rem-forced"><%= form_title[question_type] %></p>

  </div>

  <div class="line-controls-new">

    <a class="line-delete"
       onclick="
        this.closest('<%= ".add-#{question_type}" %>').remove();"
     >
     <span class="iconify fs-2_4rem bkt-light-grey5 ml-1rem" data-icon="uil:times"></span>
   </a>

  </div>

</div>

<%= simple_form_for InterviewQuestion.new, remote: true do |f| %>
  <%= f.hidden_field :interview_form_id, value: template_id %>
  <%= f.hidden_field :question_type, value: question_type %>
  <%= f.hidden_field :position %>

  <%= f.input(:question, {
    placeholder: 'Title (required)',
    input_html: {
      autocomplete: 'off'
    },
    required: true,
    label: (question_type == 'separator' ? 'Title' : false )
  }.compact) %>

  <%= button_tag type: 'submit', class: 'btn-blue__white-border' do %>
    <p>Create</p>
  <% end %>
<% end %>
