<div id='template-edit__settings-container' class='bkt-bg-white mb-2rem p-2rem rounded-10px'>
  <div class='mb-2rem pb-1rem border-bottom-bkt-light-grey5-1px'>
    <p>Template settings</p>
  </div>
  <%= simple_form_for template, remote: true do |f| %>
    <div class='mb-2rem'>

        <div class="flex-row-between-centered mb-1rem">

          <p class='fs-1_4rem font-weight-600 bkt-dark-grey'>Who can answer this form ?</p>

          <div class='booklet-select__template-edit-container pos-rel' style='width: 110px;'>
            <div class="flex-row-between-centered p-0_75rem bkt-bg-light-blue rounded-5px" onclick="<%= 'BookletSelectExpand(this);' %>">
              <p class='booklet-select__template-edit-selected fs-1_4rem font-weight-500 bkt-blue'><%= template.answerable_by.capitalize %></p>
              <div class="centered-item ml-1rem">
                <i class="fas fa-angle-down bkt-blue"></i>
              </div>
            </div>
            <div class="booklet-select__template-edit-dropdown bkt-bg-white rounded-5px bkt-box-shadow-compact z-index-150 pos-abs hidden" style='top: 3.5rem; left: 0;'>
              <div onclick='BookletSelectSubmit(this, "answerable_by");'>
                <p class='fs-1_4rem font-weight-500 p-1rem bkt-blue-hover cursor-pointer' style='width: 110px;'>Both</p>
              </div>
              <div onclick='BookletSelectSubmit(this, "answerable_by");'>
                <p class='fs-1_4rem font-weight-500 p-1rem bkt-blue-hover cursor-pointer' style='width: 110px;'>Manager</p>
              </div>
              <div onclick='BookletSelectSubmit(this, "answerable_by");'>
                <p class='fs-1_4rem font-weight-500 p-1rem bkt-blue-hover cursor-pointer' style='width: 110px;'>Employee</p>
              </div>
            </div>
          </div>

          <%= f.hidden_field :answerable_by %>
          <%= f.submit '', class: 'hidden-submit hidden' %>

        </div>

      <p class='fs-1_4rem font-weight-500 bkt-light-grey5'>Select the persons who will fill out this form</p>
    </div>

    <div>

      <div class="flex-row-between-centered mb-1rem">

        <p class='fs-1_4rem font-weight-600 bkt-dark-grey'>Enable cross review ?</p>

        <label id='template-edit__settings-cross-toggle' class="required-question-switch <%= 'switch_checked' if template.cross? && template.answerable_by_both? %> m-0">
          <input type="checkbox"
                 name='interview_form[cross]'
                 onclick='switchSide(this);'
                 <%= 'checked' if template.cross? && template.answerable_by_both? %>
                 <%= 'disabled' if !template.answerable_by_both? %>
          />
          <div><%# do not remove %></div>
        </label>

      </div>

      <p class='fs-1_4rem font-weight-500 bkt-light-grey5'>Manager and Employee both agree on the final version of the interview</p>

    </div>

  <% end %>

</div>


<div id="template-edit__tags-container" class='bkt-bg-white mb-2rem p-2rem rounded-10px'>
  <div class='flex-row-between-centered mb-2rem pb-1rem border-bottom-bkt-light-grey5-1px'>
    <p>Template tags</p>
    <% if params[:controller] == 'interview_forms' && page == 'edit' %>
      <a data-toggle='modal' data-target='#addTags' data-toggle='tooltip' title='Add Theme' class='flex-row-between-centered'>
        <p class='fs-1_4rem font-weight-500 bkt-blue'>Add a tag</p>
        <div class='add_button_show centered-item height-2_5rem width-2_5rem bkt-bg-light-blue ml-1rem' style='border-radius: 1.25rem;'>
          <span class="iconify fs-1_8rem bkt-blue" data-icon="akar-icons:plus"></span>
        </div>
      </a>
    <% end %>
  </div>
  <p class='fs-1_4rem font-weight-500 bkt-light-grey5'>Add tags to your template in order to search through templates efficiently and create accurate reports</p>
  <div id="template-edit__tags" class="flex-wrap mt-2rem">
    <%= render 'interview_forms/edit/edit_template_tags_list', template: template %>
  </div>
</div>
