<div id="template-info">
  <%= simple_form_for template, remote: true do |f| %>
    <p class='font-weight-600 mb-2rem'>Template</p>
    <%= f.input :title, label: false, input_html: {class: 'bkt-bg-light-blue border-bkt-light-grey5-0_5px', autocomplete: "off", onkeyup: 'saveForm(this, true);'}, placeholder: 'Untitled' %>
    <%= f.input :description, as: :trix_editor, placeholder: 'Description (optional)', input_html: { value: template.description } %>
    <%= f.input :video, label: false, input_html: {class: 'bkt-bg-light-blue border-bkt-light-grey5-0_5px', autocomplete: "off", onkeyup: 'checkVideoCompatibility(this);'}, placeholder: 'Video link (Youtube)' %>
    <%= f.submit '', class: 'hidden-submit hidden' %>
  <% end %>
  <div class="template-edit__content-right--mobile">
    <div class="template-show-infos-themes">
      <p style='color:#808080;'><b>Tags</b></p>
      <div class="theme-btns">
        <% template.tags.order(tag_name: :asc).group_by(&:tag_category_position).values.flatten.each do |tag| %>
          <p class="category-tag"><%= tag.tag_name %></p>
        <% end %>
        <a data-toggle='modal' data-target='#addTags' data-toggle='tooltip' title='Add Theme' class='add-theme'><i class="fas fa-plus" style='color:#3177B7;'></i></a><br>
      </div>
    </div>
  </div>
</div>
