<% form_title = {
  'separator' => 'interview_forms.edit.chapter',
  'open_question' => 'interview_forms.edit.open_question',
  'rating' => 'interview_forms.edit.rating',
  'mcq' => 'interview_forms.edit.multi_select',
  'objective' => 'interview_forms.edit.objective'
} %>

<% question_icon = {
  'open_question' => 'fas fa-question-circle',
  'rating' => 'fas fa-star-half-alt',
  'mcq' => 'far fa-check-square',
  'objective' => 'fas fa-bullseye'
} %>

<% separator = question_type == 'separator' %>

<div class="line-top flex-row-between-start mb-3rem">
  <div class="line-title <%= 'line-title-separator' if separator %>" onclick='toggleMod(this);'>
    <i class="fas fa-angle-down" data-rotated='0'></i>
    <% unless separator %>
      <i class="<%= question_icon[question_type] %>"></i>
    <% end %>
    <p><%= t form_title[question_type] %></p>
  </div>
  <div class="line-controls-new">
    <a class="line-delete"
       onclick="
        this.closest('<%= ".add-#{question_type}" %>').remove();"
     >
     <span class="iconify fs-2_4rem bkt-light-grey5 ml-1rem" data-icon="uil:times"></span>
   </a>
  </div>
</div>

<%= simple_form_for InterviewQuestion.new, remote: true do |f| %>
  <%= f.hidden_field :interview_form_id, value: template_id %>
  <%= f.hidden_field :question_type, value: question_type %>
  <%= f.hidden_field :position %>

  <%= f.input(:question, {
    placeholder: t('title_required').upcase_first,
    input_html: {
      autocomplete: 'off'
    },
    required: true,
    label: (question_type == 'separator' ? t('title').upcase_first : false )
  }.compact) %>

  <%= button_tag type: 'submit', class: 'btn-blue__white-border' do %>
    <p><%= t('create').upcase_first %></p>
  <% end %>
<% end %>
