<% question_icon = {
  'open_question' => 'fas fa-question-circle',
  'rating' => 'fas fa-star-half-alt',
  'mcq' => 'far fa-check-square',
  'objective' => 'fas fa-bullseye'
} %>

<% first_question = question.position == 1 %>
<% last_question = question.position >= template.interview_questions.count %>

<div class="line-top flex-row-between-centered height-2_4rem-forced mb-3rem">

  <div class="line-title <%= 'line-title-separator' if question.separator? %>"
       data-action="click->interviews--interview-forms-edit#toggleMod">

    <i class="fas fa-angle-down" data-rotated='0'></i>

    <% unless question.separator? %>
      <i class="<%= question_icon[question.question_type] %>"></i>
    <% end %>

    <p class='question-title height-2_4rem-forced' title='<%= question.question %>'><%= question.question %></p>

  </div>

  <div class="flex-row-between-centered">
    <% if CampaignPolicy.new(current_user, nil).create? && !params[:content_access].present? %>

      <% if first_question %>
        <a class='px-1' disabled style='cursor: default;'>
          <span class="iconify bkt-light-blue" data-icon="akar-icons:arrow-up"></span>
        </a>
      <% else %>
        <%= link_to move_up_interview_question_path(question), class: 'px-1', remote: true do %>
          <span class="iconify bkt-blue" data-icon="akar-icons:arrow-up"></span>
        <% end %>
      <% end %>

      <% if last_question %>
        <a class='px-1' disabled style='cursor: default;'>
          <span class="iconify bkt-light-blue" data-icon="akar-icons:arrow-down"></span>
        </a>
      <% else %>
        <%= link_to move_down_interview_question_path(question), class: 'px-1', remote: true do %>
          <span class="iconify bkt-blue" data-icon="akar-icons:arrow-down"></span>
        <% end %>
      <% end %>

      <%= link_to duplicate_interview_question_path(question), class: 'px-1', remote: true do %>
        <span class="iconify bkt-blue" data-icon="heroicons-outline:duplicate"></span>
      <% end %>

      <%= link_to interview_question_path(question), method: :delete, class: 'px-1', data: {confirm: 'Are you sure ?'}, remote: true do %>
        <span class="iconify bkt-red" data-icon="akar-icons:trash-can"></span>
      <% end %>

    <% end %>
  </div>

</div>

<%= simple_form_for question, remote: true do |f| %>

  <%= f.input(:question, {
      placeholder: 'Title (required)',
      input_html: {
        class: 'bkt-bg-light-blue border-bkt-light-grey5-0_5px mb-2rem',
        autocomplete: 'off',
        data: { action: 'keyup->interviews--interview-forms-edit#saveForm' }
      },
      required: true,
      label: (question.separator? ? 'Title' : false )
    }.compact) %>

  <%= render_component TrixInputComponent.new(
    name: 'interview_question[description]',
    value: question.description,
    placeholder: 'Description (optional)',
    klasses: "bkt-bg-light-blue border-bkt-light-grey5-0_5px mb-2rem fs-1_4rem"
  ) %>

  <% if question.rating? %>
    <div class="flex-row-between-centered mb-2rem">

      <div class="flex-row-between-centered">

        <label class='mr-1rem'>Max rating</label>

        <%= f.input(:options,
          as: :select,
          collection: (1..10),
          label: false,
          input_html: {
            data: { action: 'change->interviews--interview-forms-edit#saveForm' }
          },
          selected: question.options.keys.first
        ) %>

      </div>

      <div class="flex-row-between-centered">

        <% comments_status = question.allow_comments %>

        <label class='mb-0 mr-1rem'>Allow comments</label>

        <div class="flex-row-center-centered border-bkt-blue" style='height: 19.5333px; width: 19.533px;'
             data-action="click->interviews--interview-forms-edit#checkCustomCheckbox">

          <span class="iconify height-2_5rem-forced width-2_5rem-forced bkt-blue <%= 'hidden' unless comments_status %>" data-icon="ant-design:check-square-filled"></span>

          <%= f.hidden_field(
            :allow_comments,
            label: false,
            value: comments_status
          ) %>

        </div>

      </div>

    </div>

  <% end %>

  <%= f.submit '', class: 'hidden-submit hidden' %>
<% end %>

<% if question.mcq? || question.objective? %>

  <label class='fs-1_4rem font-weight-500'>Answer options</label>

  <div id='mcq-<%= question.id %>' class='mb-2rem'>
    <%= render 'interview_forms/edit/edit_show_mcq', question: question %>
  </div>

<% end %>

<% unless question.separator? %>

  <%= simple_form_for question, remote: true do |f| %>

    <%= f.hidden_field :requirement_and_visibility, value: true %>

    <div class="flex-row-between-centered">
      <div class='flex-column-between-left'>
        <label class='mb-2rem font-weight-500'>This question is visible for:</label>

        <div class="flex-row-start-centered mb-1rem pos-rel" style='width: 20rem;'>

          <% visible_for_employee_check = (question.visible_for_employee? || question.visible_for_all?) && (template.answerable_by_both? || template.answerable_by_employee?) || question.required_for_employee? || question.required_for_all? %>
          <% visible_for_employee_disable = !template.answerable_by_both? %>
          <% visible_for_employee_default_value = (!visible_for_employee_disable || !visible_for_employee_check) ? 'off' : 'on' %>

          <label class="required-question-switch <%= 'switch_checked' if visible_for_employee_check %>">

            <input type='hidden' value='<%= visible_for_employee_default_value %>' name='interview_question[visible_for_employee]'>

            <input value='on'
                   id='interview_question_visible_options-employee'
                   class='interview_question_visible_options'
                   type="checkbox"
                   name='interview_question[visible_for_employee]'
                   data-mode="visible_for"
                   data-save='true'
                   data-action="click->interviews--interview-forms-edit#checkSwitchCompatibility"
                   <%= 'checked' if visible_for_employee_check %>
                   <%= 'disabled' if visible_for_employee_disable %>
            />

            <div><%# do not remove %></div>

          </label>

          <label class='ml-1rem font-weight-500'>Employee</label>

          <% unless template.answerable_by_both? %>
            <div class="pos-abs z-index-100"
                 style='top: 0; bottom: 0; left: 0; right: 0;'
                 data-action="click->interviews--interview-forms-edit#displayMessage"></div>
          <% end %>

          <div class="message-container rounded-5px bkt-bg-white border-bkt-dark-grey bkt-box-shadow-compact p-1rem pos-abs hidden" style='width: 20rem; top: -8rem; left: -1rem;'>
            <p class="fs-1_6rem bkt-dark-grey">Only the <%= template.answerable_by %> can answer this form !</p>
          </div>

        </div>

        <div class="flex-row-start-centered pos-rel" style='width: 20rem;'>

          <% visible_for_manager_check = (question.visible_for_manager? || question.visible_for_all?) && (template.answerable_by_both? || template.answerable_by_manager?) || question.required_for_manager? || question.required_for_all? %>
          <% visible_for_manager_disable = !template.answerable_by_both? %>
          <% visible_for_manager_default_value = (!visible_for_manager_disable || !visible_for_manager_check) ? 'off' : 'on' %>

          <label class="required-question-switch <%= 'switch_checked' if visible_for_manager_check %>">

            <input type='hidden' value='<%= visible_for_manager_default_value %>' name='interview_question[visible_for_manager]'>

            <input value='on'
                   id='interview_question_visible_options-manager'
                   class='interview_question_visible_options'
                   type="checkbox"
                   name='interview_question[visible_for_manager]'
                   data-mode="visible_for"
                   data-save='true'
                   data-action="click->interviews--interview-forms-edit#checkSwitchCompatibility"
                   <%= 'checked' if visible_for_manager_check %>
                   <%= 'disabled' if visible_for_manager_disable %>
            />
            <div><%# do not remove %></div>

          </label>

          <label class='ml-1rem font-weight-500'>Manager</label>

          <% unless template.answerable_by_both? %>
            <div class="pos-abs z-index-100"
                 style='top: 0; bottom: 0; left: 0; right: 0;'
                 data-action="click->interviews--interview-forms-edit#displayMessage"></div>
          <% end %>

          <div class="message-container rounded-5px bkt-bg-white border-bkt-dark-grey bkt-box-shadow-compact p-1rem pos-abs hidden" style='width: 20rem; top: -8rem; left: -1rem;'>
            <p class="fs-1_6rem bkt-dark-grey">Only the <%= template.answerable_by %> can answer this form !</p>
          </div>

        </div>

      </div>
      <div  class='flex-column-between-right'>
        <label class='font-weight-500 mb-2rem'>This question is required for:</label>

        <div class="flex-row-end-centered mb-1rem pos-rel" style='width: 20rem;'>

          <% required_for_employee_check = question.required_for_employee? || question.required_for_all? %>

          <label class='mr-1rem font-weight-500'>Employee</label>

          <label class="required-question-switch <%= 'switch_checked' if required_for_employee_check %>">

            <input type='hidden' value='off' name='interview_question[required_for_employee]'>

            <input value='on'
                   id='interview_question_required_options-employee'
                   type="checkbox"
                   <%= title='Only the employee can answer this template questions.' if template.answerable_by_manager? %>
                   name='interview_question[required_for_employee]'
                   data-mode="required_for"
                   data-save='true'
                   data-action="click->interviews--interview-forms-edit#checkSwitchCompatibility"
                   <%= 'checked' if required_for_employee_check %>
                   <%= 'disabled' if template.answerable_by_manager? %>
            />

            <div><%# do not remove %></div>

          </label>

          <% if template.answerable_by_manager? %>
            <div class="pos-abs z-index-100"
                 style='top: 0; bottom: 0; left: 0; right: 0;'
                 data-action="click->interviews--interview-forms-edit#displayMessage"></div>
          <% end %>

          <div class="message-container rounded-5px bkt-bg-white border-bkt-dark-grey bkt-box-shadow-compact p-1rem pos-abs hidden" style='width: 20rem; top: -8rem; left: 0;'>
            <p class="fs-1_6rem bkt-dark-grey">Only the manager can answer this form !</p>
          </div>

        </div>

        <div class="flex-row-end-centered pos-rel" style='width: 20rem;'>

          <% required_for_manager_check = question.required_for_manager? || question.required_for_all? %>

          <label class='mr-1rem font-weight-500'>Manager</label>

          <label class="required-question-switch <%= 'switch_checked' if required_for_manager_check %>">

            <input type='hidden' value='off' name='interview_question[required_for_manager]'>

            <input value='on'
                   id='interview_question_required_options-manager'
                   type="checkbox"
                   name='interview_question[required_for_manager]'
                   data-mode="required_for"
                   data-save='true'
                   data-action="click->interviews--interview-forms-edit#checkSwitchCompatibility"
                   <%= 'checked' if required_for_manager_check %>
                   <%= 'disabled' if template.answerable_by_employee? %>
            />

            <div><%# do not remove %></div>

          </label>

          <% if template.answerable_by_employee? %>
            <div class="pos-abs z-index-100"
                 style='top: 0; bottom: 0; left: 0; right: 0;'
                 data-action="click->interviews--interview-forms-edit#displayMessage"></div>
          <% end %>

          <div class="message-container rounded-5px bkt-bg-white border-bkt-dark-grey bkt-box-shadow-compact p-1rem pos-abs hidden" style='width: 20rem; top: -8rem; left: 0;'>
            <p class="fs-1_6rem bkt-dark-grey">Only the employee can answer this form !</p>
          </div>

        </div>

      </div>
    </div>

    <%= f.submit '', class: 'hidden-submit hidden' %>

  <% end %>

<% end %>
