
  <div class="interview-question__form">
    <div class="flex-row-between-centered">
      <h3><%= j %>/ <%= question.question %></h3>
      <% if question.required %>
        <i class="fas fa-asterisk" data-toggle='tooltip' title='Required'></i>
      <% end %>
    </div>
    <% question_type = question.question_type %>
    <% existing_answer = InterviewAnswer.find_by(interview_id: @interview.id, interview_question_id: question.id, user_id: current_user.id) %>
    <% if existing_answer.nil? && @interview.label == 'Crossed' %>
      <% existing_answer = InterviewAnswer.find_by(interview_id: @interview.campaign.interviews.find_by(label: 'HR').id, interview_question_id: question.id, user_id: @interview.campaign.owner) %>
    <% elsif @interview.label == 'Employee' && read_only %>
      <% existing_answer = InterviewAnswer.find_by(interview_id: @interview.id, interview_question_id: question.id, user_id: @interview.employee_id) %>
    <% end %>
    <% if existing_answer.present? %>
      <% current_answer, current_comments = existing_answer.answer, existing_answer.comments %>
    <% else %>
      <% current_answer, current_comments = '', '' %>
    <% end %>
    <%= simple_form_for :interview_answer, url: answer_interview_question_path, remote: true do |f| %>
      <% if question_type == 'open_question' %>
        <% if read_only %>
          <p><%= current_answer %></p>
        <% else %>
          <%= f.input :answer, as: :text, label: false, input_html: {value: current_answer, onkeyup: 'enableNext(this);'} %>
        <% end %>
      <% elsif question_type == 'rating' %>
        <fieldset class="rating<%= ' read_only' if read_only %>">
          <% for i in 1..question.options.keys.first.to_i %>
            <% if current_answer.to_i == question.options.keys.first.to_i - i + 1 %>
              <input type="radio" class='radio-rating' id="star-position(<%= question.position %>)-<%= i %>" name="interview_answer[answer]" value="<%= question.options.keys.first.to_i - i + 1%>" onchange='enableNext(this);selectRating(this);' checked <%= 'disabled' if read_only %>/><label class = "full" for="star-position(<%= question.position %>)-<%= i %>" title="<%= question.options.keys.first.to_i - i + 1 %> stars"><%= question.options.keys.first.to_i - i + 1 %></label>
            <% else %>
              <input type="radio" class='radio-rating' id="star-position(<%= question.position %>)-<%= i %>" name="interview_answer[answer]" value="<%= question.options.keys.first.to_i - i + 1%>" onchange='enableNext(this);selectRating(this);' <%= 'disabled' if read_only %>/><label class = "full" for="star-position(<%= question.position %>)-<%= i %>" title="<%= question.options.keys.first.to_i - i + 1 %> stars"><%= question.options.keys.first.to_i - i + 1 %></label>
            <% end %>
          <% end %>
        </fieldset>
        <% if question.allow_comments %>
          <% if read_only %>
            <p><%= current_comments %></p>
          <% else %>
            <%= f.input :comments, as: :text, input_html: {value: current_comments}, required: false %>
          <% end %>
        <% end %>
      <% elsif question_type == 'mcq' %>
        <fieldset class="mcq">
          <%= f.collection_radio_buttons(:answer, question.options.keys.map{|c| [c, c]}, :first, :last) do |b| %>
            <label class="rad-label">
              <% if b.text == current_answer %>
                <%= b.radio_button class: 'rad-input', checked: 'checked', onchange: 'enableNext(this);', disabled: read_only %>
              <% else %>
                <%= b.radio_button class: 'rad-input' , onchange: 'enableNext(this);', disabled: read_only %>
              <% end %>
              <div class="rad-design"></div>
              <div class="rad-text"><%= b.text %></div>
            </label>
          <% end %>
        </fieldset>
      <% end %>
      <%= f.hidden_field :interview_id, value: @interview.id %>
      <%= f.hidden_field :interview_question_id, value: question.id %>
      <%= f.submit '', class: 'hidden-submit hidden' %>
    <% end %>
  </div>
  <div class="interview-question__controls">
    <% if @interview.label == 'Crossed' %>
      <button class="btn-blue" onclick='goToQuestion(this, "summary");'><p>Summary</p></button>
    <% else %>
      <button class="btn-blue" onclick='previousQuestion(this);'><p>Previous</p></button>
    <% end %>
    <% if j == questions.where.not(question_type: 'separator').count && read_only %>
      <%= link_to campaign_path(@interview.campaign, employee_id: @interview.employee_id) do %>
        <button class="btn-blue"><p>Validate</p></button>
      <% end %>
    <% elsif j == questions.where.not(question_type: 'separator').count && @interview.completed == true %>
      <button class="btn-blue btn-blue" onclick='submitAnswers(this)'><p>Submit Form</p></button>
    <% elsif j == questions.where.not(question_type: 'separator').count && question.required && current_answer.nil? %>
      <button class="btn-blue btn-blue-disabled" onclick='submitAnswers(this)' disabled><p>Submit Form</p></button>
    <% elsif j == questions.where.not(question_type: 'separator').count %>
      <button class="btn-blue" onclick='submitAnswers(this)'><p>Submit Form</p></button>
    <% elsif question.required && current_answer.nil? && !read_only %>
      <button class="btn-blue btn-blue-disabled" onclick='nextQuestion(this);' disabled><p>Next</p></button>
    <% else %>
      <button class="btn-blue" onclick='nextQuestion(this);'><p>Next</p></button>
    <% end %>
  </div>
