<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Add Categories</h3>
    </div>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <div class="categories-form">
      <% if !Category.where(company_id: current_user.company_id).present? %>
        <p style='margin-bottom: 50px !important;'>No themes have been created. Categorize your trainings by adding specific themes. It will allow to filter and find trainings more easily.</p>
      <% end %>
      <div class="categories-form-checkboxes">
        <% Category.where(company_id: current_user.company_id).order(title: :asc).each do |category| %>
          <div class="flex-row-between-centered">
            <input type="checkbox" id="<%= category.id %>" onclick="selectCategoryNewContent(this);">
            <div class="flex-row-between-centered" onmouseover="showCategoryDelete(this);" onmouseout="showCategoryDelete(this);">
              <p class='category-title'><%= category.title %></p>
              <%= link_to category_path(category, page: params[:action]), method: :delete, data: {confirm: 'Are you sure ?'}, class: 'category-delete', remote: true do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="flex-row-start-centered" onclick='fetchCategoryForm(this);'>
        <i class="fas fa-plus fa-plus-content" data-toggle='tooltip' title='Add Theme'></i>
        <p>New Category</p>
      </div>
      <div class='hidden-form-category-ajax hidden'>
        <%= simple_form_for Category.new, remote: true do |f| %>
          <%= f.text_field :title, placeholder: 'New Theme', style: 'height: 100%;' %>
          <%= f.hidden_field :page, value: request.path %>
          <%= f.submit '', class: 'hidden-submit hidden' %>
        <% end %>
      </div>
    </div>
    <div style=" display: flex; justify-content: center;margin-top:3rem;">
      <button type="button" class="btn-orange-text" data-dismiss="modal" aria-label="Close" onclick="showPreviousModal(this);">Close</button>
    </div>
  </div>
</div>
