<div class="campaign-container">
  <div class="campaign-controls">
    <button class='active'><div class="select-step-number">1</div><p>Select a Template</p></button>
    <%= image_tag('arrow-next.svg', height: '20', :class => "arrow-next") %>
    <% params[:campaign].present? ? selected_template = params[:campaign][:selected_template] : selected_template = '' %>
    <% params[:campaign].present? ? selected_users = params[:campaign][:selected_users] : selected_users = '' %>
    <% params[:campaign].present? ? selected_owner = params[:campaign][:selected_owner] : selected_owner = current_user.id %>
    <% params[:campaign].present? && params[:campaign][:selected_template].present? ? disabled = '' : disabled = 'disabled' %>
    <%= simple_form_for :campaign, url: campaign_select_users_path, method: :get do |f| %>
      <%= f.hidden_field :selected_template, value: selected_template %>
      <%= f.hidden_field :selected_users, value: selected_users %>
      <%= f.hidden_field :selected_owner, value: selected_owner %>
      <%= button_tag type: 'submit', class: "campaign__next-button " + disabled, disabled: disabled.present?, data: { toggle: 'tooltip' }, title: 'Please select a template' do %>
        <div class="select-step-number-disabled">2</div><p>Select Employees</p>
      <% end %>
    <% end %>
    <%= image_tag('arrow-next.svg', height: '20', :class => "arrow-next") %>
    <%= simple_form_for :campaign, url: campaign_select_dates_path, method: :get do |f| %>
      <%= f.hidden_field :selected_template, value: selected_template %>
      <%= f.hidden_field :selected_users, value: selected_users %>
      <%= f.hidden_field :selected_owner, value: selected_owner %>
      <%= button_tag type: 'submit', class: 'disabled', disabled: true, data: { toggle: 'tooltip' }, title: 'Please select a template' do %>
        <div class="select-step-number-disabled">3</div><p>Select Dates</p>
      <% end %>
    <% end %>
  </div>
  <button class="next-arrow-btn-mobile <%= disabled %>" onclick="document.querySelectorAll('.simple_form.campaign')[0].querySelector('button').click()"><i class="fas fa-arrow-right"></i></button>
    <div class="campaign-searchbar-right">
      <div id="main-controls">
        <%= render 'shared/searchbar_campaigns', path: campaign_select_template_path, reset_path: campaign_select_template_path(reset: "") %>
        <div class="assign-next">
          <label class="assign-label" for="owner-select">Manager :</label>
          <select name="owner" id="owner-select" onchange='selectOwner();'>
            <% User.where(company_id: current_user.company_id, access_level: ['HR', 'HR-light', 'Manager', 'Manager-light']).order(lastname: :asc).each do |user| %>
              <% if user == current_user %>
                <option value="<%= user.id %>" selected><%= user.fullname %></option>
                <% else %>
                  <option value="<%= user.id %>"><%= user.fullname %></option>
                <% end %>
              <% end %>
            </select>
          <button class='campaign__next-button-arrow <%= disabled %>' onclick='nextPage();'>
            <%= image_tag('Arrow-right.svg', :class => "arrow-right") %>
          </button>
          <div class="next-step-info">Next : Select <br/> Employee</div>
        </div>
      </div>
    </div>
    <div class="select-template-indication">Click on a card to select template</div>
  <div class="interview-forms-index">
    <%= render 'interview_forms/partials/campaign_select_template_list', templates: @templates, selected_template: @selected_template %>
  </div>
</div>


<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>

  function selectTemplate(element) {
    checkboxes = document.querySelectorAll('.select-template-checkbox')
    input = element.parentNode.querySelector('input')
    selected_id = input.id.split('-')[2]
    // document.getElementById('campaign_select_template').value = ''
    selected_storage = document.getElementById('campaign_selected_template')
    search_storage = document.getElementById('search_campaign_selected_template')
    next_button = document.querySelector('.campaign__next-button')
    next_button_arrow = document.querySelector('.campaign__next-button-arrow')
    next_arrow_btn_mobile = document.querySelector('.next-arrow-btn-mobile')
    input.checked = !input.checked
    if (input.checked == true) {
      checkboxes.forEach((checkbox) => {
        card_container = checkbox.closest('.template-card-container')
        if (checkbox != input) {
          checkbox.checked = false
          card_container.classList.add('disabled')
          card_container.classList.remove('selected')
          card_container.querySelector('.interview-form-card__select-button').querySelector('p').innerText = 'SELECT'
        } else {
          card_container.classList.add('selected')
          card_container.classList.remove('disabled')
          card_container.querySelector('.interview-form-card__select-button').querySelector('p').innerText = 'SELECTED'
        }
        selected_storage.value = selected_id
        search_storage.value = selected_id
        next_button.disabled = false
        next_button.classList.remove('disabled')
        next_button.classList.add('hilight-next-step')
        next_button.setAttribute('title', '')
        next_button_arrow.classList.remove('disabled')
        next_button_arrow.setAttribute('title', '')
        next_arrow_btn_mobile.classList.remove('disabled')
      })
    } else {
      checkboxes.forEach((checkbox) => {
        card_container = checkbox.closest('.template-card-container')
        card_container.classList.remove('disabled','selected')
        card_container.querySelector('.interview-form-card__select-button').querySelector('p').innerText = 'SELECT'
        next_button.classList.remove('hilight-next-step')
      })
      selected_storage.value = ''
      search_storage.value = ''
      next_button.disabled = true
      next_button.classList.add('disabled')
      next_button.setAttribute('title', 'Please select a template')
      next_button_arrow.classList.add('disabled')
      next_button_arrow.setAttribute('title', 'Please select a template')
      next_arrow_btn_mobile.classList.add('disabled')
    }
  }

  function resetAllFilter(element, recommendation = false) {
    searchbar = element.closest('.searchbar')
    searchbar.querySelectorAll('input').forEach((input) => {
      if (input.type == 'text') {
        input.value = ''
      } else if (input.type == 'checkbox') {
        input.checked = false
      }
    })
    searchbar.querySelectorAll('select').forEach((select) => {
      select.selectedIndex = 0
    })
    searchbar.querySelector('.btn-search').click()
  }

  function showResetMobile(boolean) {
    search_button = document.querySelector('.btn-search--mobile')
    reset_button = document.querySelector('.btn-reset--mobile')
    if (boolean) {
      search_button.classList.add('hidden')
      reset_button.classList.remove('hidden')
    } else {
      search_button.classList.remove('hidden')
      reset_button.classList.add('hidden')
    }
  }

  function selectOwner() {
    owner = document.querySelector('#owner-select').value
    document.querySelectorAll('#campaign_selected_owner').forEach((element) =>{
      element.value = owner
    })
  }

  function nextPage() {
    selected_template = document.querySelector('#campaign_selected_template').value
    submit = document.querySelector('.campaign__next-button')
    if (selected_template != '') {
      submit.click()
    }
  }

  checkboxes = document.querySelectorAll('.select-template-checkbox')
  if (document.querySelectorAll('input:checked').length != 0) {
    checkboxes.forEach((checkbox) => {
      card_container = checkbox.closest('.template-card-container')
      if (checkbox.checked != true) {
        card_container.classList.add('disabled')
      } else {
        card_container.classList.add('selected')
        card_container.querySelector('.interview-form-card__select-button').querySelector('p').innerText = 'SELECTED'
      }
    })
  }
</script>
