<div class="campaign-container">
  <div class="flex-row-between-centered">
    <div class="campaign-controls">
      <% params[:campaign].present? ? selected_template = params[:campaign][:selected_template] : selected_template = '' %>
      <% params[:campaign].present? ? selected_users = params[:campaign][:selected_users] : selected_users = '' %>
      <% params[:campaign].present? ? selected_owner = params[:campaign][:selected_owner] : selected_owner = current_user.id %>
      <%= simple_form_for :campaign, url: campaign_select_template_path, method: :get do |f| %>
        <%= f.hidden_field :selected_template, value: selected_template %>
        <%= f.hidden_field :selected_users, value: selected_users %>
        <%= f.hidden_field :selected_owner, value: selected_owner %>
        <%= button_tag type: 'submit' do %>
            <p>Select a Template</p>
        <% end %>
      <% end %>
      <%= image_tag('arrow-next.svg', height: '20', :class => "arrow-next") %>
      <%= simple_form_for :campaign, url: campaign_select_users_path, method: :get do |f| %>
        <%= f.hidden_field :selected_template, value: selected_template %>
        <%= f.hidden_field :selected_users, value: selected_users %>
        <%= f.hidden_field :selected_owner, value: selected_owner %>
        <%= button_tag type: 'submit' do %>
            <p>Select Employees</p>
        <% end %>
      <% end %>
      <%= image_tag('arrow-next.svg', height: '20', :class => "arrow-next") %>
      <button class='active'><p>Select Dates</p></button>
    </div>
    <div>
      <%= link_to '', send_notification_email_path(id: ''), class: 'send-email-button hidden' %>
      <%= link_to '', campaigns_path, class: 'confirm-button hidden' %>
      <% selected_template = InterviewForm.find(@selected_template) %>
      <%= simple_form_for Campaign.new, remote: true do |f| %>
        <%= f.hidden_field :title, value: selected_template.title %>
        <%= f.hidden_field :interview_form_id, value: selected_template.id %>
        <%= f.hidden_field :selected_owner, value: selected_owner %>
        <%= f.submit '', class: 'hidden-submit hidden' %>
      <% end %>
      <button id='campaign-confirm-button' class='btn-blue' style='margin-top: 30px' data-toggle='modal' data-target='#sendEmail'><p>LAUNCH CAMPAIGN</p> <i class="fas fa-paper-plane no-margin"></i></button>
    </div>
  </div>
  <div class="campaign-dates-container">
    <%= render 'campaigns/partials/campaign_select_dates_cards_index', selected_template: selected_template, selected_users: @selected_users %>
  </div>
</div>


<!------------>
<!-- MODALS -->
<!------------>

<div class='modal fade modal_folder' id='sendEmail' data-target='folder' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' data-keyboard="false" data-backdrop="static">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'campaigns/modals/send_notification_email_on_confirm' %>
  </div>
</div>


<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>
  function createCampaign(element, notification) {
    document.querySelector('#new_campaign').querySelector('.hidden-submit').click()
    submit_buttons = document.querySelector('.campaign-dates-container').querySelectorAll('.hidden-submit')
    send_email_button =  document.querySelector('.send-email-button')
    redirect_button = document.querySelector('.confirm-button')
    submit_buttons.forEach((element) => {
      setTimeout(function(){element.click()}, 500)
    })
    if (notification) {
      setTimeout(function(){send_email_button.click()}, 1000)
    } else {
      setTimeout(function(){redirect_button.click()}, 1000)
    }
  }
</script>
