<div style='display: flex; justify-content: center; align-items: center; flex-direction: column;'>
  <%# form %>
  <div>
    <%= simple_form_for CsvExport.new, url: companies_csv_exports_path do |f| %>
      <%= f.hidden_field :company_id, value: current_user.company.id %>

      <%= f.input :mode,
        collection: CsvExport::modes.keys,
        as: :radio_buttons,
        input_html: {
          onclick: 'selectAnalytics(this);',
          style: 'margin-top: 0;'
        }
      %>

      <%= f.input :category,
        collection: current_user.company.tag_categories.order(position: :asc),
        as: :radio_buttons,
        input_html: {
          onclick: 'selectAnalytics(this);',
          style: 'margin-top: 0;'
        }
      %>

      <%= f.input :start_time,
        input_html: {
          class: 'datepicker-defaulting-to-now',
        },
        as: :date,
        html5: true,
        placeholder: 'Select date'
      %>

      <%= f.input :end_time,
        input_html: {
          class: 'datepicker-defaulting-to-end-of-year',
        },
        as: :date,
        html5: true,
        placeholder: 'Select date'
      %>

      <%= f.submit 'generate', class: 'btn-blue__white-border' %>
    <% end %>
  </div>

  <%# csv_exports %>
  <div style="margin-top: 20px;">
    <h3>Csv Exports</h3>
    <% current_user.company.csv_exports.each do |csv_export| %>
      <div>
        <%= csv_export.filename %>
        <strong>
          <%= csv_export.state %>
        </strong>
        <%= link_to companies_csv_export_path(csv_export, format: :csv) do %>
          <i class="fas fa-file-export"></i>
        <% end %>
        <%=
          link_to(
            companies_csv_export_path(csv_export, format: :csv),
            method: :delete,
            data: {
              confirm: 'Etes vous sûr(e) ?'
            }
          ) do
        %>
          <i class="fas fa-times text-danger"></i>
        <% end %>
      </div>
    <% end %>

    <% unless current_user.company.csv_exports.any? %>
      Aucun export pour le moment!
    <% end %>
  </div>
</div>




<!-- <div class="campaigns-report-container"> -->
  <!-- <div class='campaigns-report__temp'> -->
    <%#= simple_form_for :select_period_temp, url: campaigns_report_path(format: :csv), method: :get do |f| %>
      <!-- <div class="report-mode-control"> -->
        <!-- <label>Mode</label> -->
        <%#= f.input :mode, collection: ['Data', 'Analytics'], as: :radio_buttons, legend_tag: false, input_html: {onclick: 'selectAnalytics(this);'} %>
      <!-- </div> -->
      <!-- <div class="report-tag-categories-control hidden"> -->
        <!-- <label>Choose a Category</label> -->
        <%#= f.input :category, collection: TagCategory.where(company_id: current_user.company_id).order(position: :asc), as: :radio_buttons, legend_tag: false %>
      <!-- </div> -->
      <!-- <div class='report-date-control'> -->
        <!-- <input type="date" class='datepicker' id="start_date" name="start_date" value='<%#= Date.today %>' onchange='changeDateTemp(this);'> -->
        <%#= f.input :start, label: 'From', input_html: {class: 'datepicker', value: Date.today}, placeholder: 'Select date' %>
        <!-- <input type="date" class='datepicker' id="end_date" name="end_date" value='<%#= Date.today.end_of_year %>' onchange='changeDateTemp(this);'> -->
        <%#= f.input :end, label: 'To', input_html: {class: 'datepicker', value: Date.today.end_of_year}, placeholder: 'Select date' %>
        <!-- <div class='campaigns-report-list__controls-export'> -->
          <%#= button_tag type: 'submit' do %>
            <!-- <i class="fas fa-file-export"></i> -->
          <%# end %>
        <!-- </div> -->
      <!-- </div> -->

    <%# end %>
  <!-- </div> -->
<!--   <div class="campaigns-report-managers">
    <%# render 'campaigns/partials/campaigns_report_managers', all_campaigns: @all_campaigns, campaigns: @campaigns, managers: @managers, selected_manager_id: '' %>
  </div>
  <div class="campaigns-report-index">
    <h1>All Managers</h1>
    <div class="campaigns-report-list">
      <div class="campaigns-report-list__controls">
        <%# render 'campaigns/partials/campaigns_report_controls_infos', campaigns: @campaigns, start_date: Date.today, end_date: Date.today.end_of_year %>
      </div>
      <div class="campaigns-report-list__index">
        <%# render 'campaigns/partials/campaigns_report_index', campaigns: @campaigns %>
      </div>
    </div>
  </div> -->
<!-- </div> -->


<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>

  // TEMP //

  function selectAnalytics(element) {
    if (element.value == 'Analytics') {
      document.querySelector('.report-tag-categories-control').classList.remove('hidden')
    } else {
      document.querySelector('.report-tag-categories-control').classList.add('hidden')
    }
  }

  /////////

  function checkDateInterval() {
    start = document.querySelector('#select_period_start')
    end = document.querySelector('#select_period_end')
    if (new Date(end.value.split('/').reverse().join('-')) < new Date(start.value.split('/').reverse().join('-'))) {
      end.value = start.value
    }
  }

  function setActiveManager(element) {
      document.querySelector('.campaigns-report-manager-card.active').classList.remove('active')
    element.classList.add('active')
    input = document.querySelector('#select_period_manager_id')
    search_input = document.querySelector('#select_period_name')
    if (element.id != '') {
      manager_id = element.id.split('-')[1]
      input.value = manager_id
    } else {
      input.value = ''
      search_input.value = ''
    }
    document.querySelector('body').classList.add('wait')
    input.closest('form').querySelector('button[type="submit"]').click()
  }

  function updateURLParameter(url, param, paramVal){
    var newAdditionalURL = "";
    var tempArray = url.split("?");
    var baseURL = tempArray[0];
    var additionalURL = tempArray[1];
    var temp = "";
    if (additionalURL) {
        tempArray = additionalURL.split("&");
        for (var i=0; i<tempArray.length; i++){
            if(tempArray[i].split('=')[0] != param){
                newAdditionalURL += temp + tempArray[i];
                temp = "&";
            }
        }
    }
    var rows_txt = temp + "" + param + "=" + paramVal;
    return baseURL + "?" + newAdditionalURL + rows_txt;
  }

  function selectManagerbyDate() {
    start = document.querySelector('#select_period_start')
    end = document.querySelector('#select_period_end')
    document.querySelectorAll('.select-manager-link').forEach((link) => {
      link.href = updateURLParameter(link.href, start.id.split('_')[2], start.value)
      link.href = updateURLParameter(link.href, end.id.split('_')[2], end.value)
    })
  }

  function autoSubmit(element) {
    form = element.closest('form')
    document.querySelector('body').classList.add('wait')
    form.querySelector('button[type="submit"]').click()
  }
</script>
