<div class="campaigns-my-interviews__container">
  <div class="campaigns-my-interviews__main">

    <div class="flex-row-between-centered rounded-30px bkt-bg-white bkt-box-shadow mb-5rem overflow-hidden">

      <div class='p-2rem'>
        <h1 class='mb-2rem'>Hello, <%= "#{current_user.firstname}" %> !</h1>
        <% if current_user.manager_or_above? %>
          <p class='d-none d-sm-block fs-1_4rem font-weight-500 bkt-dark-grey line-height-2rem mb-2rem'>
            You will find all interviews as interviewee here. <br>
            You have <span class="bkt-blue"><%= @interviews_to_fill_count %> interviews to fill</span> from your <span class="font-weight-700"><%= "#{@campaigns.count}"  %> current interviews.</span> <br>
            All reviews of an interview has to be locked to be a <span class="font-weight-700">‘Completed Interviews’</span> <br>
          </p>
        <% end %>
      </div>

      <%= render_component AsClAssetComponent.new(
        model: current_user.company,
        asset: :my_interviews_bg_picture,
        style: 'object-fit: cover; width: 50%; height: 30rem;',
        class_name: 'd-none d-sm-flex'
      ) %>

    </div>

    <div class="flex-row-start-centered height-2_4rem-forced width-100 mb-2rem border-bottom-bkt-light-grey5-0_5px">

      <%= link_to my_interviews_path(period: 'current'), class: "interviews-tab-control flex-row-start-centered height-2_4rem-forced mr-1rem pb-0_75rem z-index-5 cursor-pointer #{'active' unless params[:period] == 'completed'}" do %>
        <p class="fs-1_6rem font-weight-500">Ongoing interviews</p>
        <div class="interviews-tab-control__counter flex-row-center-centered height-2rem width-2rem rounded-10px ml-0_75rem">
          <p class="fs-1rem font-weight-600"><%= @ongoing_campaigns.count %></p>
        </div>
      <% end %>

      <%= link_to my_interviews_path(period: 'completed'), class: "interviews-tab-control flex-row-start-centered height-2_4rem-forced mr-1rem pb-0_75rem z-index-5 cursor-pointer  #{'active' if params[:period] == 'completed'}" do %>
        <p class="fs-1_6rem font-weight-500">Completed interviews</p>
        <div class="interviews-tab-control__counter flex-row-center-centered height-2rem width-2rem rounded-10px ml-0_75rem">
          <p class="fs-1rem font-weight-600"><%= @completed_campaigns.count %></p>
        </div></p>
      <% end %>

    </div>

    <div class="campaigns-my-interviews__tabs-display">
      <div class="campaigns-my-interviews__list">
        <%= render 'campaigns/my_interviews/my_interviews_interviews_list', campaigns: @campaigns %>
      </div>
    </div>

  </div>
</div>
