<div class="">

  <div class="width-100 height-40rem black-gradient mb-5rem">
    <%= render_component AsClAssetComponent.new(model: current_user.company,
                                          asset: :my_interviews_banner,
                                          class_name: 'width-100 h-inherit object-fit-cover',
                                          fallback: 'banners/my_interviews_banner.png') %>

    <div class="width-100 height-100 d-flex flex-column justify-content-center align-items-center pos-abs z-index-5"
         style="top: 0; left: 0; right: 0;">

         <div class="d-flex justify-content-center align-items-center">

          <h1 class="fs-1_4rem fs-sm-3rem font-weight-600 bkt-white my-2rem text-center bkt-text-shadow mr-1rem">
            Hello, <%= current_user.firstname %> !
          </h1>

          <%= render_component AsClAssetComponent.new(model: current_user.company,
                                          asset: :banner_gif,
                                          class_name: 'height-5rem',
                                          fallback: 'noto_waving-hand.png') %>

        </div>

        <p class="fs-1_2rem fs-sm-2_4rem font-weight-600 bkt-white text-center bkt-text-shadow mb-3rem">
          Here are your interviews as interviewee.
        </p>

        <div id="my_interviews_stats"
             class="d-flex justify-content-center align-items-center">

          <%= render 'campaigns/my_interviews/my_interviews_stats', ongoing_campaigns: @ongoing_campaigns, archived_campaigns: @archived_campaigns, todo_campaigns: @todo_campaigns %>

        </div>

    </div>

  </div>

  <% if current_company.color1 != "#000000" %>

    <div class="width-100 height-2rem"
         style="background-color: <%= current_company.color1 %>;"></div>

  <% end %>

</div>

<div id="app">
  <my-interviews></my-interviews>
</div>
