<div class="campaigns-my-interviews__container">
  <div class="campaigns-my-interviews__main">

    <div class="flex-row-between-centered rounded-30px bkt-bg-white bkt-box-shadow mb-5rem overflow-hidden">

      <div class='p-2rem'>
        <h1 class='mb-2rem'>Hello, <%= "#{current_user.firstname}" %> !</h1>
        <p class='fs-1_4rem font-weight-500 bkt-dark-grey line-height-2rem'>You have <%= "#{@personal_campaigns.count}"  %> personal reviews<%= " and #{@campaigns.count} campaigns in progress in your team" if current_user.manager_or_above? %>.</p>
        <p class='d-none d-sm-block fs-1_4rem font-weight-500 bkt-dark-grey line-height-2rem mb-2rem'>You can manage your personal reviews by clicking on <strong>My interviews.</strong></p>
        <% if current_user.manager_or_above? %>
          <%= link_to "My interviews", my_interviews_path, class: "d-none d-sm-block btn btn-blue__white-border width-fit-content" %>
        <% end %>

      </div>

      <%= render_component AsClAssetComponent.new(
        model: current_user.company,
        asset: :my_team_interviews_bg_picture,
        style: 'object-fit: cover; width: 50%; height: 30rem;',
        class_name: 'd-none d-sm-flex'
      ) %>

    </div>

    <div class="d-none d-sm-flex campaigns-my-interviews__tabs-controls">
      <div class="booklet-select__container" >
        <div class="booklet-select__selected" onclick='BookletSelectExpand(this);'>
          <p><%= params[:period].present? ? params[:period].capitalize : 'Current' %></p>
          <div class="booklet-select__controls">
            <div class="booklet-select__controls-icon">
              <i class="fas fa-angle-down"></i>
            </div>
          </div>
        </div>
        <div class="booklet-select__dropdown hidden">
          <%= link_to my_team_interviews_path(period: 'current'), class: 'booklet-select__option' do %>
            <p>Current</p>
          <% end %>
          <%= link_to my_team_interviews_path(period: 'completed'), class: 'booklet-select__option' do %>
            <p>Completed</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="campaigns-my-interviews__tabs-display">
      <div class="campaigns-my-interviews__list campaigns-my-interviews__list-crossed">
        <%= render 'campaigns/my_interviews/my_team_interviews_interviews_list', campaigns: @campaigns %>
      </div>
    </div>
  </div>
</div>


<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>

  ///////////
  // TOOLS //
  ///////////

  doubleClickGuardian = false

  function outsideClick(event, notelem) {
    notelem = $(notelem); // jquerize (optional)
    // check outside click for multiple elements
    var clickedOut = true, i, len = notelem.length;
    for (i = 0;i < len;i++)  {
        if (event.target == notelem[i] || notelem[i].contains(event.target)) {
            clickedOut = false;
        }
    }
    if (clickedOut) return true;
    else return false;
  }


  ////////////////////
  // BOOKLET SELECT //
  ////////////////////

  function BookletSelectExpand(element) {
    doubleClickGuardian = true
    dropdown = element.closest('.booklet-select__container').querySelector('.booklet-select__dropdown')
    setTimeout(() => {
      doubleClickGuardian = false
    }, 100);
    if (dropdown.classList.contains('hidden')) {
      dropdown.classList.remove('hidden')
      window.addEventListener('click', function(e) {
        if (outsideClick(e, dropdown) && !doubleClickGuardian) {
          dropdown.classList.add('hidden')
          this.removeEventListener('click', arguments.callee, false);
        }
      });
    } else {
      dropdown.classList.add('hidden')
    }
  }
</script>
