<div class="campaigns-container">
  <div id="main-page-title">
    <div class="show-campaign-title">
      <div class="title-return">

        <!-- Load previous page with search results, if applicable -->
        <% if request.referrer.present? && request.referrer.split('?')[0] = request.base_url + '/campaigns' %>
          <button class='btn-back' onclick='history.back()'>
            <i class="fas fa-angle-left"></i>
          </button>
        <% else %>
          <%= link_to campaigns_path, class: 'btn-back' do %>
            <i class="fas fa-angle-left"></i>
          <% end %>
        <% end %>
        <!------>

        <h1><%= @completion %>% - <%= @campaign.title %></h1>
      </div>
      <div class="main-page-title__tags show">
        <% @campaign.interview_form.tags.order(tag_name: :asc).group_by(&:tag_category_position).values.flatten.each do |tag| %>
          <p class="main-page-title__tag-pill"><%= tag.tag_name %></p>
        <% end %>
      </div>
    </div>

    <h3>
      <% if @current_user_employee %>
        Review on <strong>
          <%= @interviews_for_date.date %>
        </strong>
      <% else %>
          Reviews from <strong>
            <%= @interviews_for_date.first.date %>
          </strong> to <strong>
            <%= @interviews_for_date.last.date %>
          </strong>
      <% end %>
    </h3>

  </div>
  <div id="main-controls">
    <%= render 'shared/searchbar_campaigns', path: interview_forms_path, reset_path: interview_forms_path(reset: "") %>
  </div>
  <div class="campaign-interview-list">
    <%= render 'campaigns/partials/show_interview_list', campaign: @campaign, interviews: @interviews %>
  </div>
</div>


<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>
  window.onload = function(e){
    document.querySelector('.btn-search').click()
  }
</script>
