<div class="campaign-show__main"
     data-controller="change-page">

  <%= render_component BackComponent.new(fallback: campaigns_path) %>

  <div class="campaign-show__header">

    <div class="campaign-show__header-banner">

      <div class="campaign-show__header-banner-text">
        <h1 class="fs-3rem">Manage the campaign</h1>
        <p>There are <%= @campaign.employees.distinct.count %> employees in this campaign.<br>
          You can add or remove employees, change the reviews deadlines, <br>or change the campaign manager.
        </p>
      </div>

      <div class="campaign-show__header-banner-img">

        <%= render_component AsClAssetComponent.new(model: current_user.company,
                                          asset: :campaign_banner,
                                          class_name: 'width-100 object-fit-cover rounded-r-30px') %>

      </div>

    </div>

    <div class="campaign-show__header-infos">
      <%= render 'campaigns/show/show_header_infos', campaign: @campaign, selected_interviewer: @selected_interviewer %>
    </div>

  </div>

  <div class="campaign-show__interviews-list">
    <%= render 'campaigns/show/show_interviews', campaign: @campaign,
                                                 employees: @employees,
                                                 selected_interviewer: @selected_interviewer %>
  </div>

</div>


<!------------>
<!-- HIDDEN -->
<!------------>

<a id='campaignInfoMessageTrigger' class='hidden' data-toggle='modal' data-target='#campaignInfoMessage'></a>
<a id='sendEmailSuccessTrigger' class='hidden' data-toggle='modal' data-target='#sendEmailSuccess'></a>


<!------------>
<!-- MODALS -->
<!------------>

<% if CampaignPolicy.new(current_user, @campaign).add_interview_set? %>

  <div id='addParticipant'
       class='modal action-modal fade'
       tabindex='-1'
       role='dialog'
       data-keyboard="false"
       data-backdrop="static">

    <div id='add_participant-modal'
         class='modal-dialog action-modal__dialog'
         role='document'>
      <%= render 'campaigns/modals/add_participant', campaign: @campaign %>
    </div>

  </div>

<% end %>

<div id='sendEmailSuccess'
     class='modal fade'
     tabindex='-1'
     role='dialog'
     data-keyboard="false"
     data-backdrop="static">

  <div class='modal-dialog'
       role='document'>
    <%= render 'campaigns/modals/send_notification_email_done', email_type: 'Invitation' %>
  </div>

</div>

<div id='campaignInfoMessage'
     class='modal info-modal fade'
     tabindex='-1'
     role='dialog'
     aria-labelledby='myModalLabel'
     data-keyboard="false"
     data-backdrop="static">

  <div class='modal-dialog info-modal__dialog modal-sm'
       role='document'>
    <%= render 'campaigns/modals/campaign_info_message', message: '' %>
  </div>

</div>


<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>

<script>

  ///////////
  // TOOLS //
  ///////////

  formGuardian = false;

  function outsideClick(event, notelem) {
    notelem = $(notelem); // jquerize (optional)
    // check outside click for multiple elements
    var clickedOut = true, i, len = notelem.length;
    for (i = 0;i < len;i++)  {
        if (event.target == notelem[i] || notelem[i].contains(event.target)) {
            clickedOut = false;
        }
    }
    if (clickedOut) return true;
    else return false;
  }

  function updateURLParameter(url, param, paramVal){
    var newAdditionalURL = "";
    var tempArray = url.split("?");
    var baseURL = tempArray[0];
    var additionalURL = tempArray[1];
    var temp = "";
    if (additionalURL) {
        tempArray = additionalURL.split("&");
        for (var i=0; i<tempArray.length; i++){
            if(tempArray[i].split('=')[0] != param){
                newAdditionalURL += temp + tempArray[i];
                temp = "&";
            }
        }
    }
    var rows_txt = temp + "" + param + "=" + paramVal;
    return baseURL + "?" + newAdditionalURL + rows_txt;
  }

  function submitForm(element) {
    element.closest('form').querySelector('.hidden-submit').click()
  }

  ///////////////////////
  // CAMPAIGN DROPDOWN //
  ///////////////////////

  function openContentMenu(element) {
    dropdown = element.parentNode.querySelector('.content-dropdown')
    overlay = element.closest('.campaign-show__card').querySelector('.campaign-show__card-overlay')

    if (!dropdown.classList.contains('hidden')) {
      dropdown.classList.add('hidden')
      overlay.classList.add('hidden')
      return
    }
    dropdown.classList.remove('hidden')
    overlay.classList.remove('hidden')
    formGuardian = true
    setTimeout(function(){
      formGuardian = false
    }, 1);
    window.addEventListener('click', function(e) {
      if (outsideClick(e, dropdown) && formGuardian == false) {
        formGuardian = true
        setTimeout(function(){
          formGuardian = false
        }, 1);
        dropdown.classList.add('hidden')
        overlay.classList.add('hidden')
        this.removeEventListener('click', arguments.callee, false)
      }
    });
  }


  /////////////////
  // SELECT DATE //
  /////////////////

  function selectInterviewDate(element) {
    form = element.closest('form')
    date_display = element.closest('.campaign-show__card').querySelector('.campaign-show__card-deadline')

    date_display.innerText = '- Until ' + element.value
    form.querySelector('.hidden-submit').click()
    document.querySelector('.modal.show').querySelector('.cancel-close').click()
  }


  ///////////////////
  // AUTO COMPLETE //
  ///////////////////

  $input_participant = $("#search_participant");

  var options_participant = {
    listLocation: "users",
    getValue: 'name',
    url: function(phrase) {
      return `/campaigns/users.json?id=<%= @campaign.id %>&search=${phrase}`
    },
    list: {
      onChooseEvent: function() {
        user_id = $input_participant.getSelectedItemData().id
        button = document.getElementById('add-participant-button')
        button.href = updateURLParameter(button.href, 'user_id', user_id)
      },
      match: {
        enabled: true
      }
    }
  }

  $input_participant.easyAutocomplete(options_participant);
</script>
