<% employees = @campaign.employees.distinct %>
<% interviewers = @campaign.interviewers.distinct %>

<div class="d-flex flex-column justify-content-start align-items-center pt-5rem"
     data-controller="interviews--campaigns-show">

  <div class="d-flex justify-content-center align-items-center width-80 mb-5rem">

    <div class="d-flex justify-content-start align-items-center width-100">

      <h1 class="d-flex align-items-center fs-2_4rem font-weight-500 bkt-dark-grey mr-2rem">
        Campaigns <svg class="mx-1rem" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2.4rem" height="2.4rem" preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256"><path fill="#787878" d="M96 220a12.2 12.2 0 0 1-8.5-3.5a12 12 0 0 1 0-17L159 128L87.5 56.5a12 12 0 0 1 17-17l80 80a12 12 0 0 1 0 17l-80 80A12.2 12.2 0 0 1 96 220Z"/></svg> <%= @campaign.title %>
      </h1>

      <p class="d-flex align-items-center height-3rem fs-1_4rem font-weight-500 bkt-white px-2rem
                py-0_75rem rounded-15px <%= @campaign.completion_status_color(:all) %>">
        <%= @campaign.completion_status_string(:all) %>
      </p>

    </div>

    <div class="d-flex flex-column align-items-center">

      <p class="fs-1_6rem font-weight-600 bkt-dark-grey">Deadline :</p>
      <p class="fs-1_6rem font-weight-500 bkt-light-grey6"><%= @campaign.deadline.strftime('%d/%m/%Y') %></p>

    </div>

  </div>

  <div class="width-80" data-controller='tabs' data-tabs-target='tabContainer'>

    <div class="flex-row-start-centered width-100 mb-2rem border-bottom-bkt-light-grey5" style='height: 32.5px;'>

      <div id="control_overview"
         class="booklet-tab-control booklet-tab-blue fs-1_6rem px-1rem pb-0_75rem z-index-5
                cursor-pointer active"
         data-action='click->tabs#selectTab click->workshop-show#hideReminderButton'>
        <p>Overview</p>
      </div>

      <div id="control_participants"
         class="booklet-tab-control booklet-tab-blue d-flex align-items-center fs-1_6rem px-1rem pb-0_75rem z-index-5 cursor-pointer"
         data-action='click->tabs#selectTab'>
        <p>Participants</p>
        <div class="interviews-tab-control__counter flex-row-center-centered height-2rem
              width-2rem rounded-10px ml-0_75rem">
          <p class="fs-1rem font-weight-600"
             data-interviews--campaigns-show-target="employeeCount">
            <%= employees.count %>
          </p>
        </div>
      </div>

    </div>

    <div id="tab_attendees"
         class="width-100">

      <div id="tab_overview" class='booklet-tab'>

        <p>Overview</p>

      </div>

      <div id="tab_participants"
           class='booklet-tab hidden bkt-box-shadow-light px-3rem py-2rem rounded-20px'>

        <div class="d-flex justify-content-between align-items-start width-100">

          <div id="searchbar-wrap"
               class="d-flex justify-content-start align-items-start width-80 pos-rel">

            <i class="fas fa-search searchbar-icon"></i>

            <%= simple_form_for :search, url: campaign_path(@campaign),
                                         method: :get, remote: true do |f| %>

              <%= f.input :name, placeholder: 'Search',
                                 input_html: {
                                   autocomplete: 'off',
                                   data: {
                                    action: 'keyup->interviews--campaigns-show#searchSubmit'
                                   }
                                 },
                                 label: false,
                                 required: false %>

              <div class="d-flex align-items-center flex-wrap">

                <%= render_component(Tools::SelectComponent.new(width: '17rem',
                                                            menu_max_height: '20rem',
                                                            klasses: 'mb-1rem',
                                                            input_name: 'search[completion]',
                                                            title: 'All completions',
                                                            collection: ['All completions', 'Not started', 'In progress', 'Completed'],
                                                            data_action: 'click->interviews--campaigns-show#searchSubmit')) %>

                <%= render_component(Tools::SelectComponent.new(width: 'fit-content',
                                                            menu_max_height: '20rem',
                                                            klasses: 'mb-1rem',
                                                            title: 'All Interviewers',
                                                            input_name: 'search[interviewer]',
                                                            collection: [OpenStruct.new(id: nil, name: 'All Interviewers')] + interviewers.map{|x| OpenStruct.new(id: x.id, name: x.fullname)},
                                                            data_action: 'click->interviews--campaigns-show#searchSubmit')) %>

                <% @tag_categories.each do |tag_category| %>

                  <% tag_category_id = tag_category.id %>
                  <% tag_category_name = tag_category.name %>

                  <%= render_component(Tools::SelectComponent.new(width: '20rem',
                                                            menu_max_height: '20rem',
                                                            klasses: 'mb-1rem',
                                                            input_name: "search[tag_categories[#{tag_category_id}]]",
                                                            title: "All #{tag_category_name}",
                                                            collection: [OpenStruct.new(id: nil, name: "All #{tag_category_name}")] + Tag.where(tag_category_id: tag_category_id).order(tag_name: :asc).map{|x| OpenStruct.new(id: x.id, name: x.tag_name)},
                                                            data_action: 'click->interviews--campaigns-show#searchSubmit')) %>

                <% end %>

              </div>


              <%= f.hidden_field :tags %>
              <%= f.hidden_field :page, value: '1', data: { change_page_target: :pageInput } %>

              <%= f.submit '', class: 'hidden-submit d-none',
                               data: {
                                 interviews__campaigns_show_target: "searchSubmit",
                                 remember_search_target: :submit,
                                 change_page_target: :submit,
                                 search_form: :submit
                               } %>

            <% end %>

            <button class='btn-reset bkt-dark-grey'
                    data-action="interviews--campaigns-show#searchReset">
              Reset
            </button>

          </div>

          <div class="d-flex justify-content-center align-items-center height-5rem">

            <%= render_component Buttons::OptionsButton.new(vertical: true) do %>

              <a class="flex-row-start-centered fs-1_6rem font-weight-500 bkt-bg-light-grey10-hover
                        width-100 p-3"
                 data-toggle="modal"
                 data-target="#addEmployee">
                 <span class="iconify mr-0_75rem" data-icon="akar-icons:plus"></span>Add participant
              </a>

            <% end %>

          </div>


        </div>

        <div class="d-flex justify-content-start align-items-center border-bottom-bkt-light-grey pb-2rem">

          <div class="width-20 min-width-20 fs-1_6rem font-weight-700 bkt-light-grey6">
            Interviewee
          </div>
          <div class="width-20 min-width-20 fs-1_6rem font-weight-700 bkt-light-grey6">
            Template
          </div>
          <div class="width-20 min-width-20 fs-1_6rem font-weight-700 bkt-light-grey6">
            Interviewer
          </div>
          <div class="width-20 min-width-20 fs-1_6rem font-weight-700 bkt-light-grey6">
            Tags
          </div>
          <div class="width-20 min-width-20 fs-1_6rem font-weight-700 bkt-light-grey6">
            Completion
          </div>

        </div>

        <div id="employees-list">

          <%= render 'campaigns/show/show_employees', campaign: @campaign, employees: employees %>

        </div>

      </div>

    </div>

  </div>

</div>


<!------------>
<!-- HIDDEN -->
<!------------>

<a id='sendEmailSuccessTrigger' class='hidden' data-toggle='modal' data-target='#sendEmailSuccess'></a>


<!------------>
<!-- MODALS -->
<!------------>

<div id='sendEmailSuccess'
     class='modal fade'
     tabindex='-1'
     role='dialog'
     data-keyboard="false"
     data-backdrop="static">

  <div class='modal-dialog'
       role='document'>
    <%= render 'campaigns/modals/send_notification_email_done', email_type: 'Invitation' %>
  </div>

</div>

<div id='addEmployee'
     class='modal action-modal fade'
     tabindex='-1'
     role='dialog'
     data-keyboard="false"
     data-backdrop="static">

  <div class='modal-dialog action-modal__dialog'
       role='document'>
    <%= render 'campaigns/modals/add_employee', campaign: @campaign %>
  </div>

</div>

<!------------>
