<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Themes</h3>
    </div>
    <button type="button" class="btn btn-edit-icon" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <div id="themes-block">
      <div class="new-theme">
        <p>New Theme</p>
        <i class="fas fa-plus" onclick='openForm(this);'></i>
        <div class='hidden hidden-form-ajax'>
          <%= simple_form_for :category, url: categories_path(ajax: true), method: :post, remote: true, input_html: {multipart: true} do |f| %>
            <div class='flex-row-between-centered'>
              <%= f.text_field :title, placeholder: 'New Theme', style: 'height: 100%;' %>
              <%= button_tag :submit, class: 'hidden-submit' do %>
                <i class="fas fa-save"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <h3 style='color: #F26419;'>Existing Themes</h3>
      <% Category.where(company_id: current_user.company_id).order(title: :asc).each do |theme| %>
        <div class="accordion-module" onclick='openAccordion(this);'>
          <div class="theme-title">
            <p><%= theme.title %></p>
            <%= link_to category_path(theme, ajax: true), method: :delete, remote: true, input_html: {multipart: true}, data: {confirm: 'Are you sure ?'} do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
        <div class="panel-module">
          <p><%= theme.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  function openForm(element) {
    element.classList.toggle('hidden');
    element.parentNode.querySelector('.hidden-form-ajax').classList.toggle('hidden');
  }


  function openAccordion(element) {
    element.classList.toggle("active");
    var panel = element.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  }
</script>
