<div id='category-index'>
  <div id="category-index-controls">
    <h3>Categories List</h3>
    <div id="category-index-buttons">
      <%= simple_form_for :search, url: categories_path, method: 'GET' do |f| %>
        <%= f.input :title, placeholder: 'Search', label: false %>
        <% if params[:search] %>
          <%= link_to categories_path, class: 'category-index-search-close' do %>
            <i class="far fa-times-circle"></i>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.access_level == 'Super Admin' %>
        <%= link_to new_category_path do %>
          <button class="btn btn-edit">New Category</button>
        <% end %>
      <% end %>
    </div>
  </div>
  <ul class='category-index-list'>
    <% @categories.each do |category| %>
      <li>
        <%= link_to category_path(category) do %>
          <div class="category-index-card">
            <div class="category-index-infos">
              <div>
                <p><%= category.title %></p>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
