<div id="assessment-show-content">
  <div class='mcq-options-list'>
    <% i = 1 %>
    <ul>
      <% question.options.sort_by {|k, v| v}.each do |option| %>
        <div onclick="openEditOptionForm(this);">
          <% if page == 'edit' %>
          <li style='color: #888888; data-toggle='tooltip' title='Click to edit'><%= option[0] %></li>
          <% else %>
            <li style='color: #888888;cursor: default;'><%= option[0] %></li>
          <% end %>
          <% i += 1 %>
          <div class="hidden-form-ajax hidden">
            <%= simple_form_for :edit_option, url: edit_mcq_option_path, method: :patch, remote: true do |f| %>
              <div class="flex-row-between-centered">
                <div class="flex-row-start-centered mcq-input-div">
                  <li></li>
                  <%= f.text_field :option, value: option[0], autocomplete: 'off' %>
                </div>
                <div class="flex-row-end-centered">
                  <%= button_tag type: 'submit' do %>
                    <i class="fas fa-check"></i>
                  <% end %>
                  <%= link_to delete_mcq_option_path(id: question.id, option: option[0]), method: :patch, remote: true do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                </div>
              </div>
              <%= f.hidden_field :position, value: option[1] %>
              <%= f.hidden_field :question_id, value: question.id %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class='hidden-form-ajax add-option-form hidden'>
        <%= simple_form_for :add_option, url: add_mcq_option_path, remote: true do |f| %>
          <div class='flex-row-start-centered'>
            <li></li>
            <%= f.text_field :option, autocomplete: 'off' %>
            <div class="flex-row-end-centered">
              <%= button_tag type: 'submit' do %>
                <i class="fas fa-check"></i>
              <% end %>
              <a href="javascript:void(0)" onclick="this.closest('.hidden-form-ajax').classList.add('hidden');">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </div>
          <%= f.hidden_field :question_id, value: question.id %>
        <% end %>
      </div>
    </ul>
    <div class="mcq-add-answer" onclick="this.closest('.mcq-options-list').querySelector('.add-option-form').classList.remove('hidden');"><p class="mcd-add-answer-text">Add answer</p></div>  
  </div>
</div>
