

<% content_for :title do %>
  <% if params[:reset_password].present? %>
    Reset your password
  <% else %>
    Create your password
  <% end %>
<% end %>

<div class="flew-row">
  <%= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <%= f.hidden_field :invitation_token %>

    <%= f.input :email,
                input_html: { autocomplete: "email", class: 'bkt-bg-light-grey' },
                label_html: { class: 'font-weight-500' }
    %>
    <%= f.input :password,
                required: true,
                label_html: { class: 'font-weight-500' } %>
    <%= f.input :password_confirmation,
                required: true,
                label_html: { class: 'font-weight-500' } %>

    <div class="">
      <button class="width-100 fs-1_6rem bkt-bg-dark-grey bkt-white rounded-2px mt-4 p-3">Let’s start</button>
    </div>
  <% end %>
</div>
