<%= simple_form_for AssessmentQuestion.new, url: add_questions_assessment_path(form), method: :post, remote: true do |f| %>
  <div class='mod-assessment-questions-form'>
    <%= f.input :question, as: :text %>
    <div class='mod-assessment-questions-options-mcq'>
      <div class='flex-column-between-left'>
      </div>
      <a href="javascript:;" class='assessment_add_option btn btn-edit-white' onclick="addAnswer(this);">Add Answer</a>
      <%= hidden_field_tag 'answer[]', false %>
    </div>
    <div class="hidden" id="add_options_form">
      <div class="options_line">
        <div class="flex-row-between-centered">
          <%= label_tag 'Option' %>
          <%= text_field_tag 'options[]' %>
        </div>
        <div class="flex-row-between-centered">
          <%= label_tag 'Correct Answer' %>
          <%= check_box_tag 'test[]', true, false, class: 'checkbox', onclick: 'selectAnswer(this);' %>
        </div>
        <div style='cursor: pointer;' onclick='removeAnswer(this)'>
          <i class="fas fa-times"></i>
        </div>
      </div>
    </div>
  </div>
  <div style=" display: flex; justify-content: flex-start;margin-top:3rem;">
    <%= button_tag type: 'submit', class: 'btn-orange__white-border' do %>
      <p>Save Question</p>
    <% end %>
    <div class="btn-orange__white-border" onclick="removeQuestion(this)">
      <p>Cancel</p>
    </div>
  </div>
<% end %>
