<div class="modal-content action-modal__content">
  <div class="modal-header action-modal__header">
    <h5 class="modal-title action-modal__title">Manage tags</h5>
    <button type="button" class="action-modal__close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" class='action-modal__close-icon'>&times;</span>
    </button>
  </div>
  <div class="modal-body action-modal__body" style='max-height: 30rem;'>
    <div id='template-edit__tags-search' class='flex-row-start-centered pos-rel mb-2rem'>
      <%= simple_form_for :search, url: tags_path, method: :get do |f| %>
        <%= f.text_field :tags, placeholder: 'Search Tag', label: false, data: {behavior: 'autocomplete'} %>
      <% end %>
      <button class="height-5rem bkt-btn-blue pos-abs" style='left: 28rem;' onclick='manageTag(this, "add");'>Add tag</button>
    </div>
    <div class="interview-forms-categories" style='max-height: 30rem;'>
      <% checked = form.tags.ids %>
      <%= simple_form_for :add_tags, url: interview_form_link_tags_path, method: :get, remote: true do |f| %>
        <% TagCategory.where(company_id: current_user.company_id).order(position: :asc).each do |category| %>
          <div class="interview-forms-categories__block">
            <div class="interview-forms-categories__block-title">
              <div class='flex-row-start-centered'>
                <p><%= category.name %></p>
              </div>
              <div class="btn-icon" onclick='toggleTagCategoryDropdown(this);'>
                <i class="fas fa-angle-down" data-rotated='0'></i>
              </div>
            </div>
            <div class="interview-forms-categories__checkboxes">
              <%= collection_check_boxes(:interview_form, :tags, Tag.where(tag_category_id: category.id).order(tag_name: :asc), :id, :tag_name, checked: checked) do |b| %>
                <div class="flex-row-between-centered">
                  <%= b.check_box(onclick: 'autoSubmitTag(this);') %>
                  <div class="flex-row-between-centered">
                    <p class='category-title'><%= b.text %></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= f.hidden_field :form_id, value: form.id %>
        <%= f.submit '', class: 'hidden-submit hidden' %>
      <% end %>
    </div>
  </div>
  <div class="modal-footer action-modal__footer">
    <button type="button" class="bkt-btn-white cancel-close" data-dismiss="modal" aria-label="Close">Close</button>
  </div>
</div>
