<div class="modal-content action-modal__content">

  <div class="modal-header action-modal__header bkt-bg-blue">

    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title fs-2rem bkt-white"><%= t('interview_forms.index.create_new') %></h3>
    </div>

  </div>

  <div class="modal-body">

    <%= simple_form_for InterviewForm.new do |f| %>

      <%= f.input :title, input_html: {autocomplete: 'off'}, label: t('title'), required: true %>

      <div style=" display: flex; justify-content: center;margin-top:3rem;">

        <button type="button" class="bkt-btn-white mr-2rem" data-dismiss="modal" aria-label="Close">
          <%= t('cancel') %>
        </button>

        <%= button_tag type: 'submit', class: 'bkt-btn-blue', id: 'save_button' do %>
          <%= t('save') %>
        <% end %>

      </div>

    <% end %>

  </div>

</div>
