<div class="container-new-form">
  <div class="training-info-headers">
    <%= link_to url_for(:back), class: 'btn return-arrow' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
 <div class="interactive-form">
  <div class="form-wrapper">
    <h2>Create a new program</h2>
    <%= simple_form_for @training_program do |f| %>
      <%= f.input :title %>
      <%= f.input :participant_number %>
      <%= f.input :description %>
      <%# f.input :image, label: 'Image URL' %>
      <div style="display:flex;justify-content:center;margin-top:30px;">
        <%= button_tag :submit, class: 'btn btn-edit-green' do %>
          <p><b>SAVE </b><i class="fas fa-save"></i></p>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>
