<div id="container-show">
  <div id="show-controls">
    <%= link_to training_programs_path, class: 'btn return-arrow' do %><i class='fas fa-arrow-left'></i><% end %>
    <div id='show-buttons'>
      <% if ['Super Admin', 'HR'].include? current_user.access_level %>
        <a class='edit-fafa btn btn-edit btn-edit-pen' data-toggle='modal' data-target='#editTrainingProgram'><i class='fas fa-pen'></i></a>
      <% end %>
    </div>
  </div>
  <div class='training-program-show-card'>
    <div class='training-program-show-card-main centered-item' style="background-image: linear-gradient(to top, rgba(67, 67, 67, 0.3), rgba(0, 0, 0, 0.5)), url('<%= @training_program.image %>');background-position: center center;
  background-repeat: no-repeat;">
      <h2><%= @training_program.title %></h2>
    </div>
    <div class="training-program-show-card-footer flex-row-beetwen-centered">
      <div class="training-program-show-card-footer-description centered-item">
        <p><%= @training_program.description %></p>
      </div>
      <div class="training-program-show-card-footer-infos centered-item">
        <div>
          <% if @training_program.workshops.present? %>
            <p><%= "#{@training_program.workshops.count} Workshops" %></p>
            <% duration = 0 %>
            <% @training_program.workshops.each do |workshop| %>
              <% duration += workshop.duration %>
            <% end %>
            <p><%= "#{duration/60} hour long training" %></p>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Modal -->
<div class='modal fade' id='editTrainingProgram' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'edit', training_program: @training_program %>
  </div>
</div>
