<div id="show-controls"  class='flex-row-between-centered'>
  <%= link_to url_for(:back), class: 'btn return-arrow' do %><i class='fas fa-arrow-left'></i><% end %>
  <div id='show-buttons'>
    <% if ['Super Admin', 'Admin', 'HR'].include? current_user.access_level %>
      <a data-toggle='modal' data-target='#editTrainingProgram'><button class='btn-edit-white btn-edit-icon'><i class='fas fa-pen'></i></button></a>
      <a data-toggle='modal' data-target='#editCategory'><button class='btn-edit-white btn-edit-icon'><i class="far fa-flag"></i></button></a>
      <%= link_to training_program_path(@training_program), method: :delete, data: { confirm: 'Are you sure ?'} do %>
        <button class='btn-edit-white btn-edit-icon btn-last'><i class="far fa-trash-alt"></i></button>
      <% end %>
    <% end %>
  </div>
</div>
<div id="container-show">
  <div class='workshop-show-type'>
    <h3>Program</h3>
  </div>
  <div class='training-program-show-card'>
    <div class='training-program-show-card-main flex-column-between-left'>
      <h1><%= @training_program.title %></h1>
      <p>By <%= @training_program.author.firstname %></p>
      <p><%= @training_program.description %></p>
    </div>
  </div>
  <div class='training-program-workshop-index'>
    <div>
      <% duration = @training_program.workshops.map(&:duration).sum %>
      <% if duration >= 60 %>
        <% duration_hour = duration/60 %>
        <% duration_min = duration%60 %>
        <h3><%= "#{@training_program.workshops.count} workshops for a total of #{duration_hour} hours and #{duration_min} minutes" %></h3>
      <% else %>
        <h3><%= "#{@training_program.workshops.count} workshops for a total of #{duration} minutes" %></h3>
      <% end %>
    </div>
    <div id="workshops">
      <%= render 'workshops/index', training_program: @training_program %>
    </div>
  </div>
</div>


<!-- Modal -->
<div class='modal fade' id='editTrainingProgram' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'edit', training_program: @training_program %>
  </div>
</div>

<div class='modal fade' id='editCategory' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog modal-lg' role='document' style='border-radius: 20px'>
    <%= render 'program_categories/new', workshop: @workshop %>
  </div>
</div>
