<div class="flex-row-center-centered p-2rem bkt-bg-white bkt-box-shadow-light pos-fix z-index-150"
     style='top: 7.5rem; left: 0; right: 0; height: 9rem;'>

  <%= render_component BackComponent.new(fallback: interview_forms_path) %>

  <h2>1 to 1 template</h2>

  <div class="height-5rem flex-row-between-centered pos-abs"
       style='top: 2rem; right: 2rem;'>

    <p id='template-edit__update-status'
       class='bkt-green mr-2rem'
       data-controller="interviews--interview-forms-edit">Up to date</p>

    <%= link_to interview_form_path(@template), class: 'flex-row-between-centered rounded-10px p-2rem', style: 'background: rgba(49, 119, 183, 0.1);' do %>
      <span class="iconify bkt-blue mr-1rem" data-icon="akar-icons:eye"></span>
      <p class='bkt-blue'>See template preview</p>
    <% end %>
  </div>

</div>

<div id="template-show__container"
     class='flex-row-between-start bkt-bg-light-grey2 pos-rel bkt-box-shadow-compact-top'
     style='margin-top: 9rem;'
     data-controller="interviews--interview-forms-edit">

  <div id="template-show__container-left"
       class='bkt-bg-white py-3rem px-5rem border-right-bkt-light-grey pos-fix z-index-100'
       style='top: 16.5rem; left: 0;'>
    <%= render 'interview_forms/edit/edit_show_summary', template: @template %>
  </div>

  <div id="template-show__container-right" style='max-width: calc(100vw - 32rem); margin-left: 30rem;'>

    <div id="template-edit__content" class='flex-row-between-start'>

      <div id="template-edit__content-center" class='flex-column-start-centered'>

        <div id="template-show__attributes-center" class='bkt-bg-white rounded-10px p-2rem mb-2rem' style='width: 100%; max-width: 64rem;'>
          <%= render 'interview_forms/edit/edit_template_attributes', template: @template %>
        </div>

        <div style='width: 100%; max-width: 64rem;'>
          <%= render 'interview_forms/edit/edit_add_question', position: 0 %>
        </div>

        <div id="template-show__lines" style='width: 100%; max-width: 64rem;'>
          <%= render 'interview_forms/edit/edit_questions_index', template: @template %>
        </div>

      </div>

      <div id="template-edit__content-right" style=''>
        <div class="template-show-attributes-right">
          <%= render 'interview_forms/edit/edit_template_settings', template: @template %>
        </div>
      </div>

    </div>

  </div>

</div>

<div class='line-templates hidden'>

  <div class="add-separator add-separator-template hidden active">
    <%= render 'interview_forms/edit/edit_question_form_template', question_type: 'separator', template_id: @template.id %>
  </div>

  <div class="add-open_question add-open_question-template hidden active">
    <%= render 'interview_forms/edit/edit_question_form_template', question_type: 'open_question', template_id: @template.id %>
  </div>

  <div class="add-rating add-rating-template hidden active">
    <%= render 'interview_forms/edit/edit_question_form_template', question_type: 'rating', template_id: @template.id %>
  </div>

  <div class="add-mcq add-mcq-template hidden">
    <%= render 'interview_forms/edit/edit_question_form_template', question_type: 'mcq', template_id: @template.id %>
  </div>

  <div class="add-objective add-objective-template hidden">
    <%= render 'interview_forms/edit/edit_question_form_template', question_type: 'objective', template_id: @template.id %>
  </div>

</div>
