<div class='bkt-bg-light-grey2 bkt-page-container-min-height d-flex justify-content-start align-items-center flex-column' data-controller="change-page">
  <div class='bkt-page-container-content'>
    <div id='controls'
         class='d-flex justify-content-between align-items-center mb-2rem'>
      <h1 class="fs-2_4rem font-weight-700">Templates</h1>

      <% if InterviewFormPolicy.new(current_user, nil).create? %>
        <a data-toggle='modal' data-target='#newTemplate'>
          <div class="bkt-btn-blue" data-toggle='tooltip' title='Add a template' data-handle='add-a-template-cta'>
            <i class="fas fa-plus"></i>
            &nbsp;
            <span>Add a Template</span>
          </div>
        </a>
      <% end %>

    </div>

    <div class="bkt-box-shadow p-2rem bkt-bg-white rounded-20px mb-5rem"
         data-controller="change-page">

      <div id="searchbar"
           class="d-flex justify-content-start align-items-center position-relative"
           style="margin-bottom: 4rem;"
           data-controller="remember-search">

        <i class="fas fa-search position-absolute z-index-150 bkt-light-grey"
          style="left: 25rem; bottom: 16.6px;"
        ></i>

        <%= simple_form_for(:search, url: interview_forms_path, method: :get, remote: true,
          html: {
            class: 'd-flex align-items-center'
          },
          data: {
            remember_search_key_value: 'bookletInterviewFormsSearches',
          }
        ) do |f| %>

          <%=
            f.input(
              :title,
              placeholder: 'Search',
              wrapper_html: {
                class: 'my-0 height-5rem'
              },
              input_html: {
                class: 'border-bkt-light-grey bkt-bg-light-grey3 rounded-5px height-5rem',
                style: 'width: 28rem; padding: 0 4rem 0 1rem;',
                autocomplete: 'off',
                data: {
                  remember_search_target: :search,
                  action: 'keyup->remember-search#storeSearch'
                }
              },
              label: false,
              required: false
            )
          %>

          <%= f.hidden_field :page, value: '1', data: { change_page_target: :pageInput } %>
          <div class="mr-3"></div>

          <%=
            f.submit(
              'Search',
              class: 'py-0 px-3 border-bkt-light-grey bkt-bg-light-grey3 rounded-5px height-5rem',
              onclick: "document.querySelector('body').classList.add('wait');",
              data: {
                remember_search_target: :submit,
                change_page_target: :submit
              }
            )
          %>

          <button type='submit' class="btn-search d-block d-sm-none">
            <i class="fas fa-search"></i>
          </button>

          <button class='btn-reset bkt-blue ml-1rem'
                  data-action="click->remember-search#resetAllFilter">
            Reset
          </button>

        <% end %>
      </div>

      <% headers = ["Template title", "Type", "Questions", "Last Update"] %>
      <% width = (1/headers.count.to_f)*100 %>
      <div class="d-flex justify-content-between align-items-center px-0 pt-2rem pb-2rem">
        <% headers.each do |header| %>
          <div class='fs-1_6rem font-weight-bold' style='flex-basis: <%= width %>%;'><%= header %></div>
        <% end %>
      </div>

      <div id='lines'>
        <%= render 'interview_forms/index/index_interview_forms_list', templates: @templates %>
      </div>


    </div>
  </div>
</div>

<!------------>
<!-- MODALS -->
<!------------>

<div class='modal fade modal_folder' id='newTemplate' data-target='folder' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'  data-backdrop="static" data-keyboard="false">
  <div class='modal-dialog' role='document' style='border-radius: 20px'>
    <%= render 'interview_forms/modals/new_template' %>
  </div>
</div>


<!---------------->
<!-- JAVASCRIPT -->
<!---------------->

<script>
  formGuardian = false;

  <%# TODO refacto into stimulus controller %>
  function outsideClick(event, notelem) {
    notelem = $(notelem); // jquerize (optional)
    // check outside click for multiple elements
    var clickedOut = true, i, len = notelem.length;
    for (i = 0;i < len;i++)  {
        if (event.target == notelem[i] || notelem[i].contains(event.target)) {
            clickedOut = false;
        }
    }
    if (clickedOut) return true;
    else return false;
  }

  function openContentMenu(element) {
    dropdown = element.parentNode.querySelector('[data-actions="interview-form"]')
    dropdown.classList.remove('hidden')
    formGuardian = true
    card_link = element.closest('[data-interview-form-id]').querySelector('.stretched-link')
    card_link.classList.add('disabled')
    card_link_href = card_link.href
    card_link.href = "javascript:void(0)";
    setTimeout(function(){
      formGuardian = false
    }, 1);
    window.addEventListener('click', function(e) {
      if (outsideClick(e, dropdown) && formGuardian == false) {
        formGuardian = true
        setTimeout(function(){
          formGuardian = false
        }, 1);
        dropdown.classList.add('hidden')
        setTimeout(function(){
          card_link.classList.remove('disabled')
          card_link.href = card_link_href
        }, 1);
        this.removeEventListener('click', arguments.callee, false)
      }
    });
  }

  function showResetMobile(boolean) {
    return
    <%# TODO %>
    search_button = document.querySelector('.btn-search--mobile')
    reset_button = document.querySelector('.btn-reset--mobile')
    if (boolean) {
      search_button.classList.add('hidden')
      reset_button.classList.remove('hidden')
    } else {
      search_button.classList.remove('hidden')
      reset_button.classList.add('hidden')
    }
  }

  function hideOverflowingTags() {
    document.querySelectorAll('.interview-form-card__tags').forEach((tag_container) => {
      card_width = tag_container.parentNode.querySelector('.interview-form-card__controls').offsetWidth
      result = 0
      tooltip_content = ''
      tag_container.querySelectorAll('.interview-form-card__tag-pill').forEach((tag) => {
        result += tag.offsetWidth
        tooltip_content += tag.innerText + '\n'
        if (result > card_width - 37) {
          tag.remove()
        }
      })
      if (result > card_width - 37) {
        newDiv = document.createElement('div')
        newDiv.classList.add('interview-form-card__tag-plus')
        newDiv.innerHTML = '<i class="fas fa-ellipsis-h"></i>'
        newDiv.setAttribute('data-toggle', 'tooltip');
        newDiv.setAttribute('title', tooltip_content)
        tag_container.appendChild(newDiv)
      }
    })
  }

  hideOverflowingTags()
</script>
