<% campaigns.each do |campaign| %>
  <% selected = @selection ? current_user.interview_report.campaign_ids.include?(campaign.id.to_s) : false %>

  <div class='flex-row-between-centered height-5rem'>
    <% key = "check-box-campaign-id-#{campaign.id}" %>
    <% if mode == :answers %>
      <label
        class='centered-item rounded-3px my-1rem mx-2rem'
        for='<%= key %>'
      >
        <%= radio_button_tag(
              'campaign_ids',
              campaign.id,
              selected,
              id: key,
              data: {
                id: campaign.id,
                participant_ids_target: 'result',
                action: "change->participant-ids#storeRadio",
                toggle_checked_participants_target: "togglable"
              }) %>
      </label>

      <div class='flex-grow-1 fs-1_2rem'>
        <div class='font-weight-600'><%= campaign.title %></div>
        <div>Deadline: <%= campaign.deadline %></div>
      </div>

    <% else %>
      <div class='flex-grow-1 fs-1_2rem mx-2rem'>
        <div class='font-weight-600'><%= campaign.title %></div>
      </div>
      <label
        data-controller='toggle-checked-participants'
        class='centered-item rounded-3px my-1rem mx-2rem'
        style='height: 2.4rem; width: 2.4rem; border: 0.5px solid #CDCDCD;'
        for='<%= key %>'
      >
        <%= check_box_tag(
              "_",
              nil,
              selected,
              class: "hidden",
              id: key,
              data: {
                id: campaign.id,
                participant_ids_target: 'result',
                action: "change->participant-ids#store change->toggle-checked-participants#toggle",
                toggle_checked_participants_target: "togglable"
              }
            ) %>
        <span
          class="iconify fs-1_8rem bkt-blue"
          data-toggle-checked-participants-target="icon"
          data-selected='<%= selected %>'
          data-icon="bi:check">
      </span>
      </label>
    <% end %>
  </div>
<% end %>
