<% campaigns.each do |campaign| %>
  <% selected = current_user.interview_report.campaign_ids.include?(campaign.id.to_s) %>

  <div class='flex-row-between-centered height-5rem'>
    <div class='flex-grow-1 fs-1_2rem'>
      <div class='font-weight-600'><%= campaign.title %></div>
      <div><%= campaign.deadline %></div>
    </div>

    <% key = "check-box-campaign-id-#{campaign.id}" %>
    <label
      data-controller='toggle-checked-participants'
      class='centered-item rounded-3px my-1rem mx-2rem'
      style='height: 2.4rem; width: 2.4rem; border: 0.5px solid #CDCDCD;'
      for='<%= key %>'
    >
      <%= check_box_tag(
        "_",
        nil,
        selected,
        class: "hidden",
        id: key,
        data: {
          id: campaign.id,
          participant_ids_target: 'result',
          # action: "change->participant-ids#store change->toggle-checked-participants#toggle",
          # TODO: create a generic toggle check search
          action: "change->participant-ids#store",
          toggle_checked_participants_target: "togglable"
        }
      ) %>
      <span
        class="iconify fs-1_8rem bkt-blue"
        data-toggle-checked-participants-target="icon"
        data-selected='<%= selected %>'
        data-icon="bi:check">
      </span>
    </label>
  </div>
<% end %>
