<div class='bkt-bg-light-grey2 bkt-page-container-min-height d-flex justify-content-center align-items-start pt-2rem'
     data-controller='interview-report-form'
>

  <div class="bkt-box-shadow p-4 bkt-bg-white rounded-20px min-w-50vw" style='max-width: 50%;'>
    <%= simple_form_for current_user.interview_report, url: interviews_reports_path do |f| %>
      <%= f.hidden_field :company_id, value: current_user.company.id %>
      <%= f.hidden_field :creator_id, value: current_user.id %>


      <%= render_component FormSectionTitleComponent.new(title: 'Chose report type') %>


      <div class="d-flex gap-1rem w-100">
        <%= render_component RadioButtonTileComponent.new(
          model: 'interview_report[mode]',
          name: :data,
          checked: false,
          title: 'Global data',
          subtitle: "Global data contains all information about interviews (name, job title, completion, deadlines ...). You can handle results as you wish.",
          data_actions: 'click->interview-report-form#toggle'
        ) do %>
          <%# TODOCHANGEICON %>
          <i class="fas fa-clipboard"></i>
        <% end %>

        <%= render_component RadioButtonTileComponent.new(
          model: 'interview_report[mode]',
          name: :classic,
          checked: true,
          title: "Analytics",
          subtitle: "Analytics are selected datas already analysed with ratios. Very useful to se quickly how your campaigns are progressing.",
          data_actions: 'click->interview-report-form#toggle'
        ) do %>
          <%# TODOCHANGEICON %>
          <i class="fas fa-check"></i>
        <% end %>

        <%= render_component RadioButtonTileComponent.new(
          model: 'interview_report[mode]',
          name: :answers,
          checked: false,
          title: "Answers",
          subtitle: "Answers are all answers submited in campaigns",
          data_actions: 'click->interview-report-form#toggle'
        ) do %>
          <%# TODOCHANGEICON %>
          <i class="fas fa-comments"></i>
        <% end %>
      </div>



      <%= render_component FormSectionTitleComponent.new(title: 'Filter per period') %>

      <%= render_component FormSectionSubtitleComponent.new do %>
        The period is based on the interview deadline
      <% end %>


      <div class="d-flex align-items-center">
        <div class="fs-1_6rem mx-3">
          From
        </div>

        <%= f.input :start_time,
                    wrapper_html: { class: 'mb-0' },
                    input_html: {
                      class: 'datepicker-defaulting-to-now border-bkt-light-grey bkt-bg-light-grey3 rounded-5px height-5rem',
                    },
                    as: :date,
                    html5: true,
                    placeholder: 'Select date',
                    label: false
        %>

        <div class="fs-1_6rem mx-3">
          to
        </div>

        <%= f.input :end_time,
                    wrapper_html: { class: 'mb-0' },
                    input_html: {
                      class: 'datepicker-defaulting-to-end-of-year border-bkt-light-grey bkt-bg-light-grey3 rounded-5px height-5rem',
                    },
                    as: :date,
                    html5: true,
                    placeholder: 'Select date',
                    label: false
        %>
      </div>


      <div data-interview-report-form-target='analytics'>
        <%= render_component FormSectionTitleComponent.new(title: 'Select TagCategory') %>


        <%= render_component(SelectComponent.new(width: '200px', title: 'Select Tag Category')) do  %>
          <% current_user.company.tag_categories.order(position: :asc).each do |tag_category| %>
            <% key = "interview_report_tag_category_id_#{tag_category.id}" %>
            <input
              class="hidden"
              type="radio"
              value="<%= tag_category.id %>"
              name="interview_report[tag_category_id]"
              id='<%= key %>'>
            <label
              data-action="click->dropdown#toggle click->replace-text#replace"
              class="fs-1_4rem font-weight-500 p-1rem m-0 bkt-blue-hover cursor-pointer w-100"
              for="<%= key %>">
              <%= tag_category.name %>
            </label>
          <% end %>
        <% end %>
      </div>

      <div data-interview-report-form-target='answers' class="d-none mt-5">
        <%= render 'by_campaign' %>
      </div>

      <div class="d-flex justify-content-center pt-5">
        <%= f.submit 'Create Report', class: 'bkt-btn-blue' %>
      </div>
    <% end %>

  </div>
</div>
