<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Booklet by Seven</title>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- <script src="https://cdn.ckeditor.com/4.13.0/full/ckeditor.js"></script> -->
    <%# javascript_include_tag Ckeditor.cdn_url %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= javascript_pack_tag 'application' %>

  </head>
  <body>
    <% if user_signed_in? %>

      <% if ['campaigns', 'interview_forms', 'interviews', 'users', 'pages'].include?(params[:controller]) || params[:redirected_from] == 'campaigns' %>
        <%= render 'shared/navbar_campaign' %>
        <%= render 'shared/navbar_campaign_mobile' %>
      <% else %>
        <%= render 'shared/navbar' %>
        <%= render 'shared/navbar_mobile' %>
      <% end %>

    <% end %>
    <div id="booklet-wrapper">
      <%= render 'shared/flashes' %>
      <% if user_signed_in? %>
        <% if params[:controller] == 'users' && params[:action] == 'show' %>
          <%= yield %>
        <% else %>
          <div id="booklet-container">
            <%= yield %>
          </div>
        <% end %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>

  <script>
    $(document).ready(function(){
      $('#dropdownMenuButton').click(function(){
        $(this).toggleClass('open');
      });

      $(function() {
        $(document).on("click", function() {
          $("#dropdownMenuButton").removeClass('open');
        });
      });
    });
  </script>

</html>

