<!DOCTYPE html>
<html class='hide-scrollbar'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Booklet by Seven</title>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%# stylesheet_pack_tag 'booklet_vue' %>
    <%# javascript_pack_tag 'booklet_vue' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>
  <body data-controller="mobile-displayer">
    <%= render 'shared/impersonations' %>
    <% if user_signed_in? %>

      <% if @show_navbar_home %>
        <%= render 'shared/navbar_home' %>
        <%= render 'shared/navbar_mobile' %>
      <% elsif @show_navbar_training %>
        <%= render 'shared/navbar_trainings' %>
        <%= render 'shared/navbar_mobile' %>
      <% elsif @show_navbar_campaign %>
        <%= render 'shared/navbar_campaign' %>
        <%= render 'shared/navbar_mobile' %>
      <% elsif @show_navbar_objective %>
        <%= render 'shared/navbar_objective' %>
        <%= render 'shared/navbar_mobile' %>
    <% end %>

    <% end %>
    <div data-mobile-displayer-target="body">
      <%= render 'shared/flashes' %>
      <% if user_signed_in? %>
        <% if params[:controller] == 'users' && params[:action] == 'show' %>
          <%= yield %>
        <% else %>
          <div id="booklet-container"
            class="
            <%= 'overflow-y-scroll overflow-x-hidden' unless @multi_step_form_navbar_content.present? %>
            <%=
              'container-admin-height' if
                (@show_navbar_admin && Navigation::InterviewsAdminLink.new(user: current_user).should_render?) ||
                (@show_navbar_admin && Navigation::TrainingsAdminLink.new(user: current_user).should_render?)
            %>">
            <%= yield %>
          </div>
        <% end %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>

    <%= render_component MobileMenuComponent.new(current_user) %>

  </body>

</html>
