<!DOCTYPE html>
<html class='hide-scrollbar'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Booklet by Seven</title>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_pack_tag 'booklet_vue' %>
    <%= javascript_pack_tag 'booklet_vue' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>
  <body data-controller="mobile-displayer" class="overflow-y-auto hide-scrollbar">

    <%= render 'shared/impersonations' %>

    <% active_app = {interviews: @show_navbar_campaign, trainings: @show_navbar_training, objectives: @show_navbar_objective} %>

    <% if user_signed_in? %>

      <%= render_component Navigation::NavbarComponent.new(active_app: active_app.key(true).to_s, user: current_user, controller_action: @controller_action) do %>

        <% if active_app.key(true).present? %>

          <%= render "shared/navbar_#{active_app.key(true).to_s}" %>

        <% end %>

      <% end %>

      <%= render 'shared/navbar_mobile' %>

    <% end %>

    <div data-mobile-displayer-target="body">
      <%= render 'shared/flashes' %>
      <% if user_signed_in? %>
        <div id="booklet-container"
             class="overflow-x-hidden pos-rel">
          <%= yield %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>

    <div id="bkt-blockDiv"
         class="d-none"
         onclick='return false'>
    </div>

    <%= render_component MobileMenuComponent.new(current_user) %>

  </body>

</html>
