<div class="content-show-infos-delete orange">
  <% if current_user.hr_or_above? %>
    <% unless params[:action] == 'edit' %>
      <% if params[:controller] == "trainings" %>
        <%= link_to training_path(folder), method: :delete, data: {confirm: 'Are you sure ?'} do %>
          <i class="fas fa-trash-alt py-3"></i>
        <% end %>
      <% elsif params[:controller] == "folders" %>
        <%= link_to folder_path(folder), method: :delete, data: {confirm: 'Are you sure ?'} do %>
          <i class="fas fa-trash-alt py-3"></i>
        <% end %>
        <%= link_to edit_folder_path(folder) do %>
          <i class="fas fa-pencil-alt py-3 pr-3 mr-3"></i>
        <% end %>
      <% end %>

    <% end %>

  <% end %>
</div>
<div class="content-show-infos-duration" >
  <p style='color:#808080;'><b>Duration</b> <i class="fas fa-info-circle" data-toggle='tooltip' title='Duration is automatically calculated from the duration of each text, video, or quiz element.'></i></p>
  <p><i class="far fa-clock"></i><%= TimeConversion.convert(folder.duration) %></p>
</div>

<% if folder.class == Training  %>
  <% folder = folder.folder unless folder.folder.nil? %>
<% end %>
<div class="content-show-infos-themes">
    <p style='color:#808080;'><b>Themes</b></p>
    <div class="theme-btns">
      <% categories = folder.categories %>
      <% unless categories.empty? %>
        <% categories.each do |category| %>
          <p class="category-tag__folder"><%= category.title %></p>
        <% end %>
      <% end %>
      <% if params[:action] == 'edit' || params[:action] == 'folder_link_category' %>
        <a data-toggle='modal' data-target='#addTheme' data-toggle='tooltip' title='Add Theme' class='add-theme'><i class="fas fa-plus" style='color:#5b92c5;'></i></a><br>
      <% end %>
    </div>
</div>
